- @title = t('printable_directories.heading')

= form_tag printable_directories_path, method: 'post' do
  %p= t('printable_directories.intro')
  .form-group
    = check_box_tag 'with_pictures', true, false
    %label.inline{ for: 'with_pictures' }= t('printable_directories.include_family_pictures')
    = t('printable_directories.will_take_longer')
  .form-group
    = button_tag class: 'btn btn-success' do
      = t('printable_directories.generate_custom_directory')
