<h1><%= t('admin.file.assets') %></h1>

<p>
  <%= link_to '&laquo; ' + t('admin.file.back_to_theme_editor'), administration_theme_path %>
</p>

<table>
  <tr><th><%= t('admin.file.filename') %></th><th><%= t('admin.file.size') %></th></tr>
  <% @files.each do |file| %>
    <tr>
      <td><%= link_to file[:filename], file[:url] %></td>
      <td><%= number_to_human_size file[:size] %></td>
      <td><%= link_to t('delete'), administration_file_path(file[:filename]), method: :delete, confirm: t('are_you_sure'), class: 'discreet' %></td>
    </tr>
  <% end %>
  <% if @files.empty? %>
    <tr><td colspan="2"><em><%= t('admin.file.no_files') %></em></td></tr>
  <% end %>
</table>

<%= form_tag(administration_files_path, method: :post, multipart: true) do %>
  <p>
    <%= t('admin.file.upload_new') %>:<br/>
    <%= file_field_tag :file %>
  </p>
  <p>
    <%= t('admin.file.enter_filename') %>:<br/>
    <%= text_field_tag :filename %>
  </p>
  <p>
    <%= submit_tag t('admin.file.upload') %>
  </p>
<% end %>
