<% unless @person.services.empty? %>

	<table>
	  <tr>
	    <td style="padding-right:25px;" id="current_services">
	      <h3 style="border:none;">Current services:</h3>
	      <ul>
	        <% @person.services.current.each do |pp| %>
	          <li>
	            <%= h pp.service_category.name %>
	          </li>
	        <% end %>
	      </ul>
	    </td>
	    <td style="padding-left:25px;border-left:1px dotted #ccc;padding-right:25px;" id="pending_services">
	      <h3 style="border:none;">Would like to serve in:</h3>
	      <ul id="pending_services">
	        <% @person.services.pending.each do |pp| %>
	          <li>
	            <%= h pp.service_category.name %>
	          </li>
	        <% end %>
	      </ul>
	    </td>
	    <td style="padding-left:25px;border-left:1px dotted #ccc;" id="historical_services">
	      <h3 style="border:none;">Previously served in:</h3>
	      <ul>
	        <% @person.services.historical.each do |pp| %>
	          <li>
		          <%= h pp.service_category.name %>
		        </li>
	        <% end %>
	      </ul>
	    </td>
	  </tr>
	</table>

  <% if @logged_in.admin? %>
		<p><%= link_to image_tag('add_small.gif', :alt => 'edit services', :class => 'icon') + ' Edit Services',
		  edit_person_path(@person) + "#serving" %></p>
  <% end %>

<% else %>

  <p><%=h @person.first_name %> had not participated in the running of the Church.</p>

  <% if @logged_in.admin? %>
		<p><%= link_to image_tag('add_small.gif', :alt => 'add services', :class => 'icon') + ' Add Services',
		  edit_person_path(@person) + "#serving" %></p>
  <% end %>

<% end %>

