<% content_for :subnav do %>
  <% if @logged_in.admin?(:manage_checkin) %>
    <li><%= link_to 'Dashboard',      administration_checkin_path        %></li>
    <li><%= link_to 'Assigned Cards', administration_checkin_cards_path  %></li>
    <li><%= link_to 'Checkin Times',  administration_checkin_times_path  %></li>
    <li><%= link_to 'Checkin Groups', administration_checkin_groups_path %></li>
  <% end %>
  <% if @logged_in.admin?(:manage_attendance) %>
    <li><%= link_to 'Attendance', administration_attendance_index_path %></li>
  <% end %>
<% end %>