- if message.attachments.any?
  %h3= t('messages.attachments')
  %p
    - message.attachments.images.each do |attachment|
      = link_to [message, attachment] do
        = image_tag attachment.file.url, style: 'width: 75px', class: 'thumbnail'
  %ul
    - message.attachments.non_images.each do |attachment|
      %li
        = link_to [message, attachment] do
          = icon 'fa fa-file-o'
        = link_to attachment.name, [message, attachment]
        (#{number_to_human_size(attachment.file.size) rescue t('messages.file_missing')})
