<% form_for :message, @message, :url => messages_path, :method => 'post', :html => {:enctype => 'multipart/form-data', :id => 'message'} do |form| %>
  <%= hidden_field_tag :group_id, @message.group_id %>
  <%= hidden_field_tag :parent_id, @message.parent_id %>
  <p>
    <% unless @message.parent %>
      <label for="subject">Subject:</label>
      <%= form.text_field :subject %><br/>
    <% end %>
    <label for="body">Message:</label>
    <%= form.text_area :body, :rows => 15 %><br/>
    <label for="file">Attachment (optional):</label>
    <%= file_field_tag :file %><br/>
    <em>You are about to send a message to everyone in the group.</em><br/>
    <%= submit_tag 'Send Message' %>
  </p>
<% end %>

<div id="preview" style="display:none;">
  <h2>Preview</h2>
  <div id="preview-from"></div>
  <div id="preview-email" style="width:600px;border:1px solid #999;padding:10px;">
</div>

<script type="text/javascript">
  function preview() {
    new Ajax.Request('<%= preview_message_path %>', {asynchronous:true, evalScripts:true, parameters:Form.serialize($('message'))});
  }
</script>

<%= observe_field :message_subject, :url => preview_message_path, :function => 'preview()', :frequency => 2 %>
<%= observe_field :message_body, :url => preview_message_path, :function => 'preview()', :frequency => 2 %>
