<% form_for :message, @message, :url => messages_path, :method => 'post', :html => {:enctype => 'multipart/form-data', :id => 'message'} do |form| %>
  <%= form.hidden_field :group_id %>
  <%= form.hidden_field :to_person_id %>
  <%= form.hidden_field :parent_id %>
  <p>
    <% unless @message.parent %>
      <%= form.label :subject %>
      <%= form.text_field :subject %><br/>
    <% else %>
      <%= form.hidden_field :subject %>
    <% end %>
    <%= form.label :body, 'Message' %>
    <%= form.text_area :body, :rows => 15, :cols => 80 %><br/>
    <label for="file">Attachment (optional):</label>
    <%= file_field_tag :file %>
  </p>
  <p>
    <%= submit_tag 'Send Message' %>
  </p>
<% end %>
