<%= form_for @message, html: {enctype: 'multipart/form-data', id: 'message'} do |form| %>
  <%= form.hidden_field :group_id %>
  <%= form.hidden_field :to_person_id %>
  <%= form.hidden_field :parent_id %>
  <p>
    <% unless @message.parent %>
      <%= form.label :subject, t('messages.subject') %>
      <%= form.text_field :subject %><br/>
    <% else %>
      <%= form.hidden_field :subject %>
    <% end %>
    <%= form.label :body, t('messages.message') %>
    <%= form.text_area :body, rows: 15, cols: 80 %><br/>
    <label for="file"><%= t('messages.attachment_optional') %>:</label>
    <input type="file" id="file" name="files[]" multiple="multiple"/><br/>
    <em><%= t('multiple_files') %></em>
  </p>
  <p>
    <%= submit_tag t('messages.send_message') %>
  </p>
<% end %>
