<h2><%= t('messages.messages_in_html', url: group_path(@group), name: @group.name) %></h2>

<% @messages.each do |message| %>

  <div class="stream-item">
    <div class="stream-item-meta">
      <% if message.person %>
        <span class="nowrap">
          <a href="<%= url_for message.person %>">
            <%= image_tag message.person.photo.exists? ? message.person.photo.url(:tn) : (message.person.gender == 'Female' ? 'clean/womanoutline.tn.png' : 'clean/manoutline.tn.png'),
              alt: message.person.name %>
          </a>
        </span>
      <% else %>
        <%= image_tag 'clean/manoutline.tn.png', alt: '' %>
      <% end %>
      <div style="clear:left;"></div>
    </div>
    <div class="stream-item-body">
      <h2><%= link_to message.subject, message %></h2>
      <%= render partial: 'meta', locals: {message: message} %>
      <div>
        <%= render_message_body(message) %>
      </div>

      <% if (count = message.children.count) > 0 %><p><%= pluralize count, t('messages.reply') %></p><% end %>
    </div>
</div>

<% end %>

<%= will_paginate @messages %>
