<% if @message.to %>
  <h1><%= I18n.t('messages.email_message_to', :name => h(@message.to.name)) %></h1>
  <p>
    <%= I18n.t('messages.this_will_send_a_private_email') %>
  </p>
<% elsif @message.group %>
  <h1><%= I18n.t('messages.group_message_to', :group => h(@message.group.name)) %></h1>
  <p>
    <%= I18n.t('messages.this_will_send_an_email_to', :group => h(@message.group.name)) %>
    <% unless @group.private? %>
      <strong><%= I18n.t('messages.this_group_is_not_private') %></strong>
    <% end %>
  </p>
<% end %>

<%= render :partial => 'form_with_preview' %>
