<h1>Private Message to <%=h @person.name %></h1>

<p>
  This will send an email to <%=h @person.name %>.
  <strong>Please respect the privacy of others. Abusing this system will get you banned from the site.</strong>
</p>

<% form_for(:message, @message, :url => messages_path, :method => 'post', :html => {:id => 'email'}) do |form| %>
  <%= hidden_field_tag :to_person_id, @person.id %>
  <%= hidden_field_tag :preview, true %>
  <p>
    <%= form.label :subject %> <%= form.text_field :subject %><br/>
    <%= form.label :body, 'Message' %> <%= form.text_area :body, :rows => 5 %><br/>
    <%= submit_tag 'Send Message' %>
  </p>
<% end %>

<div id="preview" style="display:none;">
  <h2>Preview</h2>
  <div id="preview-from"></div>
  <div id="preview-email" style="width:600px;border:1px solid #999;padding:10px;"></div>
</div>

<script type="text/javascript">
  function preview() {
    new Ajax.Request("<%= messages_path %>", {asynchronous:true, evalScripts:true, parameters:Form.serialize($('email'))});
  }
</script>

<%= observe_field :message_subject, :function => 'preview()', :frequency => 2 %>
<%= observe_field :message_body, :function => 'preview()', :frequency => 2 %>