<% content_for :sidebar do %>
  <% if @message.group %>
    <p><%= link_to '&laquo; back to group', @message.group %></p>
  <% elsif person = (@message.to || @message.wall) and @logged_in.sees? person %>
    <p><%= link_to "&laquo; back to #{person.name}", person %></p>
  <% end %>
  <% if @message.person == @logged_in or @logged_in.can_edit? @message %>
    <p>
      <%= link_to 'Delete Message', @message, :method => 'delete', :confirm => 'Are you sure?' %>
    </p>
  <% end %>
<% end %>

<h1><%=h @message.subject %></h1>

<% if @message.wall %>
  <p>
    <strong>Wall:</strong>
    <%= link_to @message.wall.name, person_path(@message.wall_id) %>
  </p>
<% end %>

<div class="message-details">
  <div style="width:32px;float:left;margin:4px;">
    <a href="<%= url_for @message.person %>">
      <%= render :partial => 'people/thumbnail', :locals => {:person => @message.person} %>
    </a>
  </div>
  <%= image_tag 'comment.gif', :alt => 'Message', :class => 'icon' %>
  Message by <%= link_to h(@message.person.name), @message.person %><br/>
  <%= @message.created_at.strftime '%B %d, %Y %I:%M %p' %>
</div>

<% if @message.html_body.to_s.any? %>
  <p><%= white_list(hide_contact_details(@message.html_body)) %></p>
<% else %>
  <p><%= preserve_breaks(remove_excess_breaks(hide_contact_details(@message.body))) %></p>
<% end %>

<%= render :partial => 'attachments', :locals => {:message => @message} %>

<% @message.children.each do |reply| %>
  <div class="message">
    <div class="message-details">
      <div style="width:32px;float:left;margin:4px;">
        <a href="<%= url_for reply.person %>">
          <%= render :partial => 'people/thumbnail', :locals => {:person => reply.person} %>
        </a>
      </div>
      <%= image_tag 'comment.gif', :alt => 'Reply', :class => 'icon' %>
      Reply by <%= link_to h(reply.person.name), reply.person %><br/>
      <%= reply.created_at.strftime '%B %d, %Y %I:%M %p' %>
    </div>
    <p>
      <% if reply.html_body.to_s.any? %>
        <%= white_list(hide_contact_details(reply.html_body)) %>
      <% elsif params[:show_quoted] %>
        <%= preserve_breaks(remove_excess_breaks(hide_contact_details(reply.body))) %>
      <% else %>
        <% trimmed = remove_bulk_quoting(hide_contact_details(reply.body)) %>
        <%= preserve_breaks(remove_excess_breaks(trimmed)) %>
        <% if reply.body.split(/\n/).length != trimmed.split(/\n/).length %>
          <br/>
          <em style="color:#009;">
            Some quoted text in this message is hidden;
            <%= link_to 'Click here', :show_quoted => true %>
            to show the entire message.
          </em>
        <% end %>
      <% end %>
    </p>
    <%= render :partial => 'attachments', :locals => {:message => reply} %>
  </div>
<% end %>

<% if @message.group and @message.group.can_post? @logged_in %>
  <p>
    <%= link_to_remote 'Reply to this message &raquo;', :url => new_message_path(:parent_id => @message.id), :method => 'get' %>
  </p>
<% end %>

<div id="reply"></div>
