- @title = @message.subject

- if @message.group
  - content_for(:sub_title, link_to(@message.group.name, @message.group))

.row
  .col-md-2
    = link_to @message.person do
      = avatar_tag @message.person, size: :medium
    = link_to @message.person.name, @message.person

  -#%p
    -#%a{:href => url_for @message.person}
      -#= render partial: 'people/thumbnail', locals: {person: @message.person}
    -#- if @message.person
      -#= t('messages.message_by')
      -#= link_to @message.person.name, @message.person
  -#%p
    -#= @message.created_at.strftime '%B %d, %Y %I:%M %p'
  -#- if @logged_in.can_edit?(@message)
    -#%p= link_to t('messages.delete_message'), @message, method: 'delete', data: { confirm: t('are_you_sure') }, class: 'delete-icon discreet'

  .col-md-8
    = render_message_body(@message)

    = render partial: 'attachments', locals: { message: @message }

    - @message.children.each do |reply|
      .message
        .message-details
          %div{:style => "width:32px;float:left;margin:4px;"}
            %a{:href => url_for(reply.person)}
              = render partial: 'people/thumbnail', locals: {person: reply.person}
          - if reply.person
            = t('messages.reply_by')
            = link_to reply.person.name, reply.person
            %br/
          = reply.created_at.strftime '%B %d, %Y %I:%M %p'
        %div
          = render_message_body(reply)
        = render partial: 'attachments', locals: {message: reply}
    - if @message.group and @message.group.can_post? @logged_in
      #reply.push-down
        = link_to new_message_path(parent_id: @message.id), remote: true, method: :get, class: 'btn btn-info' do
          = icon 'fa fa-envelope'
          = t('messages.reply_to_this_message')
