<% content_for :subnav do %>
  <% if @message.group %>
    <li><%= link_to '&laquo; ' + t('groups.back_to'), @message.group %></li>
  <% elsif person = (@message.to || @message.wall) and @logged_in.sees? person %>
    <li><%= link_to t('people.back_to', :name => person.name), person %></li>
  <% end %>
  <% if @message.person == @logged_in or @logged_in.can_edit? @message %>
    <li><%= link_to image_tag('delete.png', :alt => t('messages.delete_message'), :class => 'icon') + ' ' + t('messages.delete_message'), @message, :method => 'delete', :confirm => t('are_you_sure') %></li>
  <% end %>
<% end %>

<% content_for :sidebar do %>
  <h2><%= @message.subject %> <% if @message.wall %>for <%= @message.wall.name %><% end %></h2>

  <p>
    <a href="<%= url_for @message.person %>">
      <%= render :partial => 'people/thumbnail', :locals => {:person => @message.person} %>
    </a>
    <%= t('messages.message_by') %> <%= link_to @message.person.name, @message.person %>
  </p>

  <p>
    <%= @message.created_at.strftime '%B %d, %Y %I:%M %p' %>
  </p>
<% end %>

<%= render_message_body(@message) %>

<%= render :partial => 'attachments', :locals => {:message => @message} %>

<% @message.children.each do |reply| %>
  <div class="message">
    <div class="message-details">
      <div style="width:32px;float:left;margin:4px;">
        <a href="<%= url_for reply.person %>">
          <%= render :partial => 'people/thumbnail', :locals => {:person => reply.person} %>
        </a>
      </div>
      <%= image_tag 'comment.gif', :alt => t('messages.reply'), :class => 'icon' %>
      <%= t('messages.reply_by') %> <%= link_to reply.person.name, reply.person %><br/>
      <%= reply.created_at.strftime '%B %d, %Y %I:%M %p' %>
    </div>
    <p>
      <% if reply.html_body.to_s.any? %>
        <%= render_message_html_body(reply.html_body) %>
      <% elsif params[:show_quoted] %>
        <%= render_message_text_body(reply.body) %>
      <% else %>
        <%= html = render_message_text_body(reply.body, :hide_bulk_quoting) %>
        <% if html != render_message_text_body(reply.body) %>
          <br/>
          <em style="color:#009;">
            <%= t('messages.some_quoted_text_is_hidden') %>
            <%= link_to t('click_here'), :show_quoted => true %>
            <%= t('messages.to_show_the_entire_message') %>
          </em>
        <% end %>
      <% end %>
    </p>
    <%= render :partial => 'attachments', :locals => {:message => reply} %>
  </div>
<% end %>

<% if @message.group and @message.group.can_post? @logged_in %>
  <p class="double-margin-top">
    <%= link_to t('messages.reply_to_this_message'), new_message_path(:parent_id => @message.id), :remote => true, :method => :get %>
  </p>
<% end %>

<div id="reply"></div>
