<%= content_tag :tr, :id => "person#{person.id}" do %>
  <td class="icon">
    <a href="<%= url_for person %>">
      <%= render :partial => 'people/thumbnail', :locals => {:person => person} %>
    </a>
  </td>
  <td class="name"><%= link_to person.name, person %></td>
  <% if @can_edit %>
    <td class="action">
      <%= link_to '', group_membership_path(@group, person.id), :remote => true, :method => :delete, :class => 'delete-icon delete-action', :style => 'display:none;' %>
    </td>
  <% end %>
<% end %>
