<p><%= link_to '&laquo; back to the group', group_url(:id => @group) %></p>

<h1><%= @group.name %></h1>

<% if @logged_in.can_edit?(@group) and @requests.any? %>
  <h2>Requests</h2>
  <% form_tag batch_group_memberships_path(@group) do |form| %>
    <table>
      <% @requests.each do |req| %>
        <tr>
          <td><%= check_box_tag 'ids[]', req.person.id, false, :class => 'checkbox' %></td>
          <td><%= link_to h(req.person.name), person_url(:id => req.person) %></td>
        </tr>
      <% end %>
    </table>
    <p>
      Select one or more above and choose an action:<br/>
      <input type="submit" name="commit" value="Accept" style="font-weight:bold;"><br/>
      <input type="submit" name="commit" value="Ignore">
    </p>
  <% end %>
<% end %>

<%= render :partial => 'groups/people' %>
