<p><%= link_to '&laquo; ' + I18n.t('groups.back_to'), group_url(:id => @group) %></p>

<h1><%= @group.name %></h1>

<% if @logged_in.can_edit?(@group) and @requests.any? %>
  <h2><%= I18n.t('groups.requests') %></h2>
  <% form_tag batch_group_memberships_path(@group) do |form| %>
    <table>
      <% @requests.each do |req| %>
        <tr>
          <td><%= check_box_tag 'ids[]', req.person.id, false, :class => 'checkbox' %></td>
          <td><%= link_to h(req.person.name), person_url(:id => req.person) %></td>
        </tr>
      <% end %>
    </table>
    <p>
      <%= I18n.t('groups.select_one_or_more') %>:<br/>
      <input type="submit" name="commit" value="<%= I18n.t('groups.accept') %>" style="font-weight:bold;"><br/>
      <input type="submit" name="commit" value="<%= I18n.t('groups.ignore') %>">
    </p>
  <% end %>
<% end %>

<%= render :partial => 'groups/people' %>
