<%= javascript_include_tag 'rsa.min.js' %>

<script type="text/javascript">
  function encrypt_password() {
    var rsa = new RSAKey();
    rsa.setPublic('<%= @public_modulus %>', '<%= @public_exponent %>');
    var res = rsa.encrypt($('password').value);
    if (res) {
      encrypted = linebrk(hex2b64(res), 64);
      $('encrypted_password').setAttribute('value', encrypted);
      $('password').setAttribute('value', '');
      return true;
    }
    return false;
  }
</script>

<%= render_page_content 'system/sign_in_header' %>

<h2>Please sign in.</h2>

<form method="post" action="/session" method="post" onsubmit="return encrypt_password()">
  <%= hidden_field_tag :from, params[:from] %>
  <%= hidden_field_tag :encrypted_password %>
  <div style="width:150px;float:right;margin:10px;text-align:center;">
    <%= link_to image_tag('help.gif', :alt => 'Help Signing In', :class => 'no-border'), help_path %><br/>
    <%= link_to 'I need help.', help_path %>
  </div>
  
  <p><%= link_to 'Sign Up', new_account_path %> for an account, or sign in:</p>
  
  <table>
    <tr>
      <td><label for="email">Email Address:</label></td>
      <td><%= text_field_tag :email, params[:email], :size => 30 %></td>
    </tr>
    <tr>
      <td><label for="password">Password:</label></td>
      <td><input type="password" id="password"/></td>
    </tr>
    <tr>
      <td></td>
      <td>
        <span style="color:#f00;">Never share your password with anyone!</span><br/>
        <input type="submit" value="Sign In"/><br/>
        <br/>
        <strong>You may read our Privacy Policy <%= link_to 'here', help_path('privacy_policy') %>.</strong>
      </td>
    </tr>
  </table>
</form>

<script type="text/javascript"> $('<%= params[:email].to_s.any? ? 'password' : 'email' %>').focus(); </script>
