- @title = t('session.form.header')
- @hide_title = true
- @body_class = 'hold-transition login-page bg-black centered-header'
- @section_class = 'content-centered'

#login-box.login-box
  = form_tag session_path do
    = hidden_field_tag :from, params[:from]
    = hidden_field_tag :for, params[:for]
    .login-box-body.bg-gray
      .login-box-msg
        = flash_messages
        %h3
          = t('session.form.header')
      .form-group.has-feedback
        = text_field_tag :email, params[:email], placeholder: t('session.form.placeholder.email'), class: 'form-control', autofocus: !@focus_password
        %span{:class => 'form-control-feedback fa fa-envelope'}
      .form-group.has-feedback
        = password_field_tag :password, '', placeholder: t('session.form.placeholder.password'), class: 'form-control', autofocus: @focus_password
        %span{:class => 'form-control-feedback fa fa-lock'}
      .form-group
        = check_box_tag :remember_me, true, params[:remember_me]
        = label_tag :remember_me, t('session.form.remember_me')

      - if has_social_logins
        %legend.text-muted.text-center
          or

        - if support_facebook_login
          .text-center
            %a.btn.btn-social-icon.btn-facebook{href: "/auth/facebook"}
              %i.fa.fa-facebook

      .main-footer.text-center.no-margin-left
        %button.btn.bg-olive.btn-block{type: 'submit'}
          = icon 'fa fa-sign-in'
          = t('session.sign_in_button')
        - if Setting.get(:features, :sign_up)
          = link_to t('session.sign_up_button'), new_account_path, class: 'btn btn-info btn-block'
        = link_to t('session.forgot_password_button'), new_account_path(forgot: true), class: 'btn btn-warning btn-block'
