<% content_for :toolbar do %>
  <h1 style="width:200px;margin-left:-100px;"><%= Setting.get(:name, :site) %></h1>
<% end %>

<%= javascript_include_tag 'rsa.min.js' %>

<div class="info">
  <%= render_page_content 'system/sign_in_header' %>
</div>

<script type="text/javascript">
  function encrypt_password() {
    var rsa = new RSAKey();
    rsa.setPublic('<%= @public_modulus %>', '<%= @public_exponent %>');
    var res = rsa.encrypt(document.getElementById('password').value);
    if (res) {
      encrypted = linebrk(hex2b64(res), 64);
      document.getElementById('encrypted_password').setAttribute('value', encrypted);
      document.getElementById('password').setAttribute('value', '');
      return true;
    }
    return false;
  }
</script>

<form method="post" action="/session" onsubmit="return encrypt_password()" id="signin_form" class="external">
  <%= hidden_field_tag :from, params[:from] %>
  <%= hidden_field_tag :encrypted_password %>
  <div class="info"><%= t('session.sign_up_or_sign_in_html', :url => new_account_path) %></div>
  <ul class="edit rounded">
    <li><%= text_field_tag :email, params[:email], :placeholder => t('session.email_address'), :type => 'email', :autocapitalize => 'off' %></li>
    <li><input type="password" id="password" placeholder="<%= t('session.password') %>" <% if Setting.get(:privacy, :allow_unencrypted_logins) %>name="password"<% end %>/></li>
    <li class="arrow"><a href="#" onclick="if(encrypt_password())document.getElementById('signin_form').submit();return false;"><%= t('session.sign_in') %></a></li>
  </ul>
</form>

<script type="text/javascript"> document.getElementById('<%= params[:email].to_s.any? ? 'password' : 'email' %>').focus(); </script>

<div class="info"><%= t("session.you_may_read_our_privacy_policy_here_html", :url => help_path('privacy_policy')) %></div>
