<%= javascript_include_tag 'rsa.min.js' %>

<%= render_page_content 'system/sign_in_header' %>

<h2 class="line-bottom"><%= t('session.please_sign_in') %></h2>

<div style="width:150px;float:right;margin:10px;text-align:center;">
  <%= link_to image_tag('help.gif', :alt => t('session.help_signing_in'), :class => 'no-border'), help_path %><br/>
  <%= link_to t('session.i_need_help'), help_path %>
</div>

<script type="text/javascript">
  function encrypt_password() {
    var rsa = new RSAKey();
    rsa.setPublic('<%= @public_modulus %>', '<%= @public_exponent %>');
    var res = rsa.encrypt(document.getElementById('password').value);
    if (res) {
      encrypted = linebrk(hex2b64(res), 64);
      document.getElementById('encrypted_password').setAttribute('value', encrypted);
      document.getElementById('password').setAttribute('value', '');
      return true;
    }
    return false;
  }
</script>

<form method="post" action="/session" onsubmit="return encrypt_password()">
  <%= hidden_field_tag :from, params[:from] %>
  <%= hidden_field_tag :encrypted_password %>
  
  <p><%= t('session.sign_up_or_sign_in_html', :url => new_account_path) %></p>
  
  <table class="spaced">
    <tr>
      <td><label for="email"><%= t('session.email_address') %></label></td>
      <td><%= text_field_tag :email, params[:email], :size => 30, :autocomplete => 'off' %></td>
    </tr>
    <tr>
      <td><label for="password"><%= t('session.password') %></label></td>
      <td><input type="password" id="password" <% if Setting.get(:privacy, :allow_unencrypted_logins) %>name="password"<% end %>/></td>
    </tr>
    <tr>
      <td></td>
      <td>
        <input type="submit" value="<%= t('session.sign_in') %>"/><br/>
      </td>
    </tr>
  </table>
</form>

<script type="text/javascript"> document.getElementById('<%= params[:email].to_s.any? ? 'password' : 'email' %>').focus(); </script>
