<div class="left-sidebar line-right">
  <%= render_page_content 'system/sign_in_header' %>
  <div class="double-margin-top" style="text-align:center;">
    <%= link_to image_tag('clean/help.png', alt: t('session.help_signing_in'), class: 'no-border'), help_path %><br/>
    <%= link_to t('session.i_need_help'), help_path %>
  </div>
</div>

<form method="post" action="/session">
  <%= hidden_field_tag :from, params[:from] %>

  <h2 class="double-margin-bottom"><%= t('session.please_sign_in') %></h2>

  <table class="spaced">
    <tr>
      <td><label for="email"><%= t('session.email_address') %></label></td>
      <td><%= text_field_tag :email, params[:email], size: 30, autocomplete: 'off' %></td>
    </tr>
    <tr>
      <td><label for="password"><%= t('session.password') %></label></td>
      <td><input type="password" id="password" size="30" name="password"/></td>
    </tr>
    <tr>
      <td></td>
      <td>
        <input type="submit" value="<%= t('session.sign_in') %>"/><br/>
        <p class="double-margin-top"><%= t('session.sign_up_or_sign_in_html', url: new_account_path) %></p>
      </td>
    </tr>
  </table>
</form>

<script type="text/javascript"> document.getElementById('<%= params[:email].to_s.any? ? 'password' : 'email' %>').focus(); </script>
