<h1><%= I18n.t('session.no_users') %></h1>

<p><%= I18n.t('session.there_are_no_users_in_the_system') %></p>

<% if @show_help %>
  <p>
    <%= I18n.t('session.create_the_first_user') %>
    <code>rake onebody:new_user <% unless Site.current.default? %>SITE="<%=h Site.current.name %>"<% end %></code>
  </p>
  <p>
    <%= I18n.t('session.load_sample_data') %>
    <code>rake onebody:load_sample_data <% unless Site.current.default? %>SITE="<%=h Site.current.name %>"<% end %></code>
  </p>
<% end %>
