<%= javascript_include_tag 'tiny_mce/tiny_mce.js' %>
<script type="text/javascript">
  tinyMCE.init({
  	mode: "exact",
  	elements: "note_body",
  	theme: "advanced",
  	convert_newlines_to_brs : true,
  	invalid_elements: "pre,font"
  });
</script>

<% form_for @note do |form| %>

  <%= form.hidden_field :group_id %>
  <% if @note.group %>
    <p><em>This note will be posted to the <%=h @note.group.name %> blog.</em></p>
    <% if @note.group.private? %>
      <p class="very-strong">This note will <strong>not</strong> be private since it is a blog post. To send a private message, send an email to the group.</p>
    <% end %>
  <% end %>

  <p>
    <%= form.label :title %> <%= form.text_field :title %><br/>
    <%= form.label :body %>  <%= form.text_field :body, :value => white_list(@note.body), :rows => 15, :cols => 80, :style => 'width:100%' %><br/>
    <%= form.submit 'Save Note' %>
  </p>
<% end %>
