<p class="timestamp">
  <% if note.person %><%= t('notes.posted_by') %> <%= link_to h(note.person.name), note.person %><% end %>
  <% if note.group %><%= t('in') %> <%= link_to h(note.group.name), note.group %><% end %>
  <%= time_ago_in_words note.created_at %> ago
</p>
