<div class="note">
  <div class="note-heading">
    <div class="note-timestamp">
      <%= t('notes.posted') %> <%= note.created_at.to_s %>
      <% if note.group %>
        <%= t('by') %> <%= link_to(note.person.name, note.person) rescue '?' %>
      <% end %>
    </div>
    <%= link_to note.title, note %>
    <% if @logged_in.can_edit?(note) %>
      <%= link_to '[' + t('edit') + ']', edit_note_path(note), class: 'discreet' %>
      <%= link_to '[' + t('delete') + ']', note_path(note), class: 'discreet', data: { confirm: t('are_you_sure') }, method: 'delete' %>
    <% end %>
  </div>

  <div class="note-body"><%= sanitize_html auto_link(note.body) %></div>

  <div class="note-comments">
    <div class="comment-summary">
      <%= render partial: 'comments/comment_summary', locals: {object: note} %>
    </div>
    <p>
      <%= link_to t('comments.add_read_comments'), note, class: 'comment-icon' %>
    </p>
  </div>
</div>
<br/>
