<h2>
  <%= t('notes.notes') %>
  <% if @person %>
    <%= t('by') %> <%= link_to @person.name, @person %>
  <% elsif @group %>
    <%= t('in') %> <%= link_to @group.name, @group %>
  <% end %>
</h2>

<% @notes.each do |note| %>

  <div class="stream-item">
    <div class="stream-item-meta">
      <% if note.person %>
        <span class="nowrap">
          <a href="<%= url_for note.person %>">
            <%= image_tag note.person.photo.exists? ? note.person.photo.url(:tn) : (note.person.gender == 'Female' ? 'clean/womanoutline.tn.png' : 'clean/manoutline.tn.png'),
              alt: note.person.name %>
          </a>
        </span>
      <% else %>
        <%= image_tag 'clean/manoutline.tn.png', alt: '' %>
      <% end %>
      <div style="clear:left;"></div>
    </div>
    <div class="stream-item-body">
      <% if note.title.to_s.any? %>
        <h2><%= link_to note.title, note %></h2>
        <%= render partial: 'meta', locals: {note: note} %>
        <div>
          <%= sanitize_html auto_link(note.body) %>
        </div>
      <% else %>
        <h2></h2>
        <%= sanitize_html auto_link(note.body) %>
        <%= render partial: 'meta', locals: {note: note} %>
      <% end %>

      <% if note.original_url %>
        <p class="small"><%= t('notes.note_imported_from') %> <%= link_to domain_name_from_url(note.original_url), note.original_url %>.</p>
      <% end %>

      <% if (count = note.comments.count) > 0 %><p><%= pluralize count, t('comment') %></p><% end %>
    </div>
</div>

<% end %>

<%= will_paginate @notes %>
