<% if @logged_in.can_edit?(@note) %>
  <% content_for :subnav do %>
    <%= link_to 'Edit Note', edit_note_url(:id => @note), :class => 'discreet' %>
    <%= link_to 'Delete Note', @note, :class => 'discreet', :method => 'delete', :confirm => 'Are you sure?' %>
  <% end %>
<% end %>

<% content_for :sidebar do %>
  <%= render :partial => 'people/photo' %>
  <p>
    posted <%= @note.created_at.to_time.to_s %>
    <% if @note.group %>to <%= link_to @note.group.name, group_url(:id => @note.group) %><% end %>
    by <%= link_to @note.person.name, person_url(:id => @note.person) %>
  </p>
<% end %>

<h1><%=h @note.title %></h1>

<div><%= white_list @note.body %></div>

<h2>Comments</h2>
<%= render :partial => 'comments/comments', :locals => {:comments => @note.comments, :params => {:note_id => @note}, :intro => 'about this note.'} %>
