<% if @logged_in.can_edit?(@note) %>
  <% content_for :subnav do %>
    <%= link_to image_tag('pencil.png', :alt => t('notes.edit_note'), :class => 'icon') + ' ' + t('notes.edit_note'), edit_note_url(:id => @note), :class => 'discreet' %>
    <%= link_to image_tag('delete.png', :alt => t('notes.delete_note'), :class => 'icon') + ' ' + t('notes.delete_note'), @note, :class => 'discreet', :method => 'delete', :confirm => t('are_you_sure') %>
  <% end %>
<% end %>

<% content_for :sidebar do %>
  <%= render :partial => 'people/photo' %>
  <p>
    <%= t('notes.posted') %> <%= @note.created_at.to_time.to_s %>
    <% if @note.group %><%= t('to') %> <%= link_to @note.group.name, group_url(:id => @note.group) %><% end %>
    <%= t('notes.by') %> <%= link_to @note.person.name, person_url(:id => @note.person) %>
  </p>
<% end %>

<h1><%= @note.title %></h1>

<div <% if @note.title.to_s.empty? and @note.body.length <= 200 %>class="note-content-big"<% end %>>
  <%= white_list_with_removal auto_link(@note.body) %>
</div>

<% if @note.original_url %>
  <p class="small"><%= t('notes.note_imported_from') %> <%= link_to domain_name_from_url(@note.original_url), @note.original_url %>.</p>
<% end %>

<h2><%= t('Comments') %></h2>
<%= render :partial => 'comments/comments', :locals => {:object => @note, :intro => t('notes.about_this_note') + '.'} %>
