<h1><%= t('feeds.all') %></h1>

<% if params[:order] == 'errors' %>
  <p><%= link_to t('feeds.sort_by_person'), feeds_path %></p>
<% else %>
  <p><%= link_to t('feeds.sort_by_error'), feeds_path(:order => 'errors') %></p>
<% end %>

<table>
  <tr><th><%= t('person') %></th><th><%= t('stream.feed') %></th><th><%= t('Errors') %></th><th><%= t('feeds.url') %></th><th></th></tr>
  <% @feeds.each do |feed| %>
    <tr>
      <td><%= link_to feed.person.name, feed.person %></td>
      <td><%= feed.name %></td>
      <td><%= pluralize(feed.error_count, 'error') %></td>
      <td>
        <%= link_to_function 'url', "Element.show('feed#{feed.id}');Element.hide(this);" %>
        <span id="feed<%= feed.id %>" style="display:none;font-family:monospace;"><%= feed.url %></span>
      </td>
      <td>
        <%= link_to image_tag('delete.png', :alt => t('Delete'), :class => 'icon'), feed, :method => 'delete', :confirm => t('are_you_sure') %>
      </td>
    </tr>
  <% end %>
</table>
