<% content_for :subnav do %>
  <li><%= link_to image_tag('eye.png', :alt => 'View Profile', :class => 'icon') + ' View Profile', person_path(@person) %></li>
<% end %>

<h1>Feeds for <%=h @person.name %></h1>

<p>
  You can import content and updates from external services, social networks, and blogs by adding "feeds" below.
</p>

<ul>
  <%= render :partial => @feeds %>
</ul>

<% if @feeds.empty? %><p><em>none added yet</em></p><% end %>

<h2>Add a Feed</h2>
<p style="padding-left:10px;">
  <%= link_to image_tag('facebook.png', :alt => 'Link with your Facebook status updates...', :class => 'icon') + ' Facebook', new_person_feed_path(@logged_in, :type => 'facebook'), :style => 'text-decoration:none;' %><br/>
  <%= link_to image_tag('twitter.png', :alt => 'Link with your Twitter updates...', :class => 'icon') + ' Twitter', new_person_feed_path(@logged_in, :type => 'twitter'), :style => 'text-decoration:none;' %><br/>
  <%= link_to image_tag('flickr.png', :alt => 'Link with your Flickr photos...', :class => 'icon') + ' Flickr', new_person_feed_path(@logged_in, :type => 'flickr'), :style => 'text-decoration:none;' %><br/>
  <%= link_to image_tag('rss.png', :alt => 'Link with your RSS feed...', :class => 'icon') + ' RSS', new_person_feed_path(@logged_in, :type => 'rss'), :style => 'text-decoration:none;' %><br/>
</p>
