<h2><%= t('feeds.preview') %></h2>

<p>
  <%= t('feeds.looks_right') %>
  <%= form_for [@person, @feed], html: {onsubmit: "$('#finalize_feed')[0].disabled=true;$('#please_wait').show();"} do |form| %>
    <%= form.hidden_field :name %>
    <%= form.hidden_field :url %>
    <%= hidden_field_tag :type, params[:type] %>
    <%= hidden_field_tag :final, true %>
    <%= form.submit t('feeds.add_the_feed'), id: 'finalize_feed' %>
    <span id="please_wait" style="display:none;">
      <%= image_tag('spinner_small.gif', alt: t('feeds.please_wait'), class: 'icon') %>
      <%= t('feeds.please_wait') %>
    </span>
  <% end %>
</p>

<% @entries.each do |entry| %>
  <h3><%= %w(twitter facebook).include?(params[:type]) ? nil : entry.title %></h3>
  <p><%= t('feeds.posted') %>: <%= entry.published.to_s %></p>
  <p>
    <%= sanitize_html entry.content || entry.summary %>
  </p>
<% end %>
