<h1><%= t('admin.settings.settings') %></h1>

<%= form_tag(batch_administration_settings_path, :method => 'put', :style => "border:none;") do %>
  <% if params[:site_id] %><%= hidden_field_tag :site_id, params[:site_id] %><% end %>
  <% @settings.each do |section_name, section| %>
    <h2 class="tab" id="<%= section_name %>"><%=h t(:name, :scope => [:admin, :settings, section_name], :default => section_name) %></h2>
    <div class="section">
      <table>
        <% section.each_with_index do |setting, index| %>
          <tr class="<%= index % 2 == 0 ? 'even' : 'odd' %>">
            <td style="white-space:nowrap;font-weight:bold;">
              <%=h setting.name %>:
              <% if setting.format == 'list' %><br/><%= t('admin.settings.one_per_line') %><% end %>
            </td>
            <td style="white-space:nowrap;">
              <% if setting.format == 'list' %>
                <%= text_area_tag setting.id, setting.value.to_a.join("\n"), :rows => 3, :style => 'width:300px;' %>
              <% elsif setting.format == 'boolean' %>
                <%= select_tag setting.id, options_for_select([[t('admin.settings.enabled'), true], [t('admin.settings.disabled'), false]], setting.value?) %>
              <% elsif setting.format == 'password' %>
                <%= password_field_tag setting.id, setting.value %>
              <% else %>
                <% if @lists and @lists[setting.section] and vals = @lists[setting.section][setting.read_attribute(:name)] %>
                  <%= select_tag setting.id, options_for_select(vals, setting.value) %>
                <% else %>
                  <%= text_field_tag setting.id, setting.value %>
                <% end %>
              <% end %>
            </td>
            <td style="color:#666;padding-bottom:20px;"><%=h setting.description %></td>
          </tr>
        <% end %>
      </table>
    </div>
  <% end %>
  
  <p><%= submit_tag t('admin.settings.save') %></p>
<% end %>
               
<%= javascript_include_tag 'tabs' %>
<%= stylesheet_link_tag 'tabs' %>
<style type="text/css">
  div.section { border-style: solid none none none; }
</style>
<script type="text/javascript">
//<![CDATA[
  set_up_tabs();
//]]>
</script>
