<% content_for :sidebar do %>
  <h2><%= t('admin.settings.settings') %></h2>

  <ul class="list">
    <li><%= link_to_function t('admin.settings.name_heading'),                  "scrollTo('name')"                  %></li>
    <li><%= link_to_function t('admin.settings.contact_heading'),               "scrollTo('contact')"               %></li>
    <li><%= link_to_function t('admin.settings.features_heading'),              "scrollTo('features')"              %></li>
    <li><%= link_to_function t('admin.settings.sharing_heading'),               "scrollTo('sharing')"               %></li>
    <li><%= link_to_function t('admin.settings.membership_management_heading'), "scrollTo('membership_management')" %></li>
    <li><%= link_to_function t('admin.settings.locale_heading'),                "scrollTo('locale')"                %></li>
    <li><%= link_to_function t('admin.settings.formats_heading'),               "scrollTo('formats')"               %></li>
    <li><%= link_to_function t('admin.settings.privacy_heading'),               "scrollTo('privacy')"               %></li>
    <li><%= link_to_function t('admin.settings.services_heading'),              "scrollTo('services')"              %></li>
  </ul>

  <% if @logged_in.super_admin? %>
    <p class="small discreet double-margin-top"><%= link_to t('admin.settings.reload'), reload_administration_settings_path, method: 'put', title: t('admin.settings.reload_message') %></p>
  <% end %>
<% end %>


<%= form_tag(batch_administration_settings_path, method: 'put', style: "border:none;") do %>

  <table class="members">

    <%= section_row(t('admin.settings.name_heading'), :name) %>

      <%= setting_row('Name', 'Community') %>
      <%= setting_row('Name', 'Site') %>
      <%= setting_row('Name', 'Slogan') %>

    <%= section_row(t('admin.settings.contact_heading'), :contact) %>

      <%= subsection_row(t('admin.settings.contact_automated_email_about')) %>
      <%= setting_row('Contact', 'Send Email Changes To') %>
      <%= setting_row('Contact', 'Send Updates To') %>
      <%= setting_row('Contact', 'Birthday Verification Email') %>

      <%= subsection_row(t('admin.settings.contact_community_info_about')) %>
      <%= setting_row('Contact', 'Community Office Phone') %>
      <%= setting_row('Contact', 'Community Address') %>
      <%= setting_row('Contact', 'Community Email') %>

    <%= section_row(t('admin.settings.features_heading'), :features) %>

      <%= setting_row('Features', 'Friends') %>
      <%= setting_row('Features', 'Groups') %>

    <%= section_row(t('admin.settings.sharing_heading'), :sharing) %>

      <%= subsection_row(t('admin.settings.sharing_communications_about')) %>
      <%= setting_row('Features', 'News Page') %>

      <%= subsection_row(t('admin.settings.sharing_about')) %>
      <%= setting_row('Features', 'News by Users') %>
      <%= setting_row('Features', 'Notes') %>
      <%= setting_row('Features', 'Pictures') %>
      <%= setting_row('Features', 'Verses') %>

    <%= section_row(t('admin.settings.membership_management_heading'), :membership_management) %>

      <%= setting_row('Features', 'Updates Must Be Approved') %>
      <%= setting_row('Features', 'Sign Up') %>
      <%= setting_row('Features', 'Sign Up Approval Email') %>
      <%= setting_row('Features', 'Custom Person Type') %>
      <%= setting_row('Features', 'Custom Person Fields') %>
      <%= setting_row('System', 'Adult Age', options: (13..21)) %>
      <%= setting_row('System', 'Suffixes') %>

    <%= section_row(t('admin.settings.locale_heading'), :locale) %>

      <%= setting_row('System', 'Language', options: ONEBODY_LOCALES.invert) %>
      <%= setting_row('System', 'Time Zone', options: @timezones) %>

    <%= section_row(t('admin.settings.formats_heading'), :formats) %>

      <%= subsection_row(t('admin.settings.formats_date_about_html')) %>
      <%= setting_row('Formats', 'Full Date and Time') %>
      <%= setting_row('Formats', 'Date') %>
      <%= setting_row('Formats', 'Date Without Year') %>
      <%= setting_row('Formats', 'Time') %>

      <%= subsection_row(t('admin.settings.formats_phone_about')) %>
      <%= setting_row('Formats', 'Mobile Phone') %>
      <%= setting_row('Formats', 'Phone') %>

    <%= section_row(t('admin.settings.privacy_heading'), :privacy) %>

      <%= setting_row('Privacy', 'Allow Picture Comments') %>
      <%= setting_row('Privacy', 'Max Sign in Attempts', options: [5, 10, 20, 50]) %>

      <%= subsection_row(t('admin.settings.privacy_defaults_about')) %>
      <tr>
        <td class="label"><label><%= t('admin.settings.privacy_defaults') %></label></td>
        <td>
          <%= setting_field(section: 'Privacy', name: 'Share Email by Default',        label: :name) %><br/>
          <%= setting_field(section: 'Privacy', name: 'Share Home Phone by Default',   label: :name) %><br/>
          <%= setting_field(section: 'Privacy', name: 'Share Mobile Phone by Default', label: :name) %><br/>
          <%= setting_field(section: 'Privacy', name: 'Share Work Phone by Default',   label: :name) %><br/>
          <%= setting_field(section: 'Privacy', name: 'Share Fax by Default',          label: :name) %><br/>
          <%= setting_field(section: 'Privacy', name: 'Share Address by Default',      label: :name) %><br/>
          <%= setting_field(section: 'Privacy', name: 'Share Birthday by Default',     label: :name) %><br/>
          <%= setting_field(section: 'Privacy', name: 'Share Anniversary by Default',  label: :name) %>
        </td>
      </tr>

    <%= section_row(t('admin.settings.services_heading'), :services) %>

      <%= setting_row('URL', 'Visitor') %>
      <%= setting_row('URL', 'News Feed') %>
      <%= setting_row('Services', 'Analytics') %>

  </table>

  <p><%= submit_tag t('save_changes') %></p>

<% end %>

<script type="text/javascript">
  function toggleSetting(control_id, target_ids) {
    for(var i=0; i<target_ids.length; i++) {
      $('.setting'+target_ids[i]).css('display', $('#'+control_id).attr('checked') ? '' : 'none');
    }
  }
  function setupToggler(control_id, target_ids) {
    $('#'+control_id).click(function(){ toggleSetting(control_id, target_ids) });
    toggleSetting(control_id, target_ids);
  }
  setupToggler(<%= @settings['Features']['Sign Up'].id %>,      [<%= @settings['Features']['Sign Up Approval Email'].id %> ]);
  setupToggler(<%= @settings['Features']['News Page'].id %>,    [<%= @settings['Features']['News by Users'].id %>          ]);

  function scrollTo(id) {
    $('html, body').animate({'scrollTop':$('#'+id).offset().top}, 'slow');
  }
</script>
