= render 'heading'

= form_for @import do |form|
  = hidden_field_tag :status, 'matched'

  .form-group
    = form.label :match_strategy, t('.form.match_strategy')
    = form.select :match_strategy, import_match_strategies, {}, class: 'form-control'

  .form-group
    = form.check_box :create_as_active, class: 'form-control'
    = form.label :create_as_active, t('.form.create_as_active')

  %table.table
    %thead
      %tr
        %th Column from File
        %th Attribute in Database
        %th Example Data
    %tbody
      - @import.mappings.each do |from, to|
        %tr.row-with-controls
          %td
            = from
          %td
            = select_tag "import[mappings][#{from}]", |
              import_mapping_option_tags(from, to), |
              include_blank: true, |
              class: 'form-control'
          %td
            = @example[from]

  .page-controls
    = button_tag class: 'btn btn-success' do
      Save and Contiue
      = icon 'fa fa-arrow-right'
    - if @import.destroyable?
      = link_to @import, data: { method: :delete, confirm: t('are_you_sure') }, class: 'btn btn-delete pull-right' do
        = icon 'fa fa-trash-o'
        Delete Import
