- @title = 'There was a problem.'

%p
  = icon 'fa fa-warning text-red'
  = t('.message')

%pre
  = @import.error_message

%p
  = link_to @import, data: { method: :delete, confirm: t('are_you_sure') }, class: 'btn btn-delete pull-right' do
    = icon 'fa fa-trash-o'
    = t('administration.imports.show.delete.button')
  = link_to t('.new.button'), new_administration_import_path, class: 'btn btn-success'
