= render 'heading'

- if @import.working?
  :javascript
    var current_status = #{ json_escape @import.status.to_json };
    setInterval(function() {
      $.getJSON('#{administration_import_path(@import, format: :json)}', function(data) {
        if (data.status != current_status) location.reload();
      });
    }, 1000);

.row
  .col-md-4
    .box.box-info
      .box-body
        %table.table.table-no-top-border
          %tr
            %th Filename:
            %td= @import.filename
          - if @import.person
            %tr
              %th By:
              %td= link_to @import.person.name, @import.person
          %tr
            %th Uploaded:
            %td= @import.created_at.to_s(:full)
          %tr
            %th Completed:
            - if @import.completed_at
              %td= @import.completed_at.to_s(:full)
            - else
              %td <em>pending</em>
          - if @import.status_at_least?(:parsed)
            %tr
              %th Rows:
              %td= @import.rows.count

  .col-md-8
    - if @import.status_at_least?('previewed')
      .box.box-info
        .box-header
          %h3.box-title
            Update Stats
            - unless @import.complete?
              (Pending)
        .box-body
          %table.table
            %thead
              %tr
                %th
                %th People
                %th Families
            %tr
              %td Creates
              %td
                = @import.rows.created.count
                = icon 'fa fa-circle text-green'
              %td
                ?
                = icon 'fa fa-circle text-green'
            %tr
              %td Updates
              %td
                = @import.rows.updated.count
                = icon 'fa fa-circle text-yellow'
              %td
                ?
                = icon 'fa fa-circle text-yellow'
            %tr
              %td No Change
              %td
                = @import.rows.unchanged.count
                = icon 'fa fa-circle text-gray'
              %td
                ?
                = icon 'fa fa-circle text-gray'

.page-controls
  - if @import.previewed?
    = link_to edit_administration_import_path(@import), class: 'btn btn-warning' do
      = icon 'fa fa-arrow-left'
      Edit Import
    = link_to execute_administration_import_path(@import), class: 'btn btn-danger', |
      data: { method: 'patch', confirm: t('are_you_sure') } do
      = icon 'fa fa-bolt'
      Import Data Now!
  = link_to @import, data: { method: :delete, confirm: t('are_you_sure') }, class: 'btn btn-delete pull-right' do
    = icon 'fa fa-trash-o'
    Delete Import
  .clearfix
