<div class="col-md-6">
  <h3>
    <%= @meeting.name %>
  </h3>
    <table class="table">
      <tr>
        <th>Name</th>
        <th>Membership Type</th>
      </tr>
      <% @meeting_memberships.each do |membership| %>
      <tr>
        <td><%= membership.person.name%></td>
        <td><%= membership.meeting_membership_type.name%></td>
      </tr>
      <% end %>
    </table>
  <hr/>
  <%= link_to 'Back to All Meetings', meetings_path, class: 'btn btn-warning' %>
</div>
<div class="col-md-6">
  <%= render partial: 'meeting_memberships/form' %>
</div>