<% if @pictures.any? %>
  <p>
    <% @pictures.each do |object| %>
      <%= link_to image_tag(photo_with_size_path(object, :size => 'small', :type => 'small'), :alt => 'click to enlarge'),
        large_picture_path(object), :title => 'click to enlarge' %>
    <% end %>
  </p>
<% end %>

<% if @non_pictures.any? %>
  <p>
    <% @non_pictures.each do |object| %>
      <% if object.is_a? Verse %>
        <%= render :partial => 'verses/verse', :locals => {:verse => object} %>
      <% elsif object.is_a? Recipe %>
        <%= render :partial => 'recipes/recipe', :locals => {:recipe => object} %>
      <% elsif object.is_a? Note %>
        <%= render :partial => 'notes/note', :locals => {:note => object} %>
      <% end %>
      <br/>
    <% end %>
  </p>
<% end  %>

<% if @objects.empty? %>
  <% unless @logged_in == @person %>
    <p><em>Nothing here yet.</em></p>
  <% end %>
<% end %>

<% if @person == @logged_in %>
  <p style="margin-top:-10px;">
    <em>Share stuff by clicking on an item blow.</em><br/>
    <%= link_to image_tag('add_small.gif', :alt => 'Add a note.', :class => 'icon') + ' Add a Note', new_note_path %> &nbsp;&nbsp;
    <%= link_to image_tag('add_small.gif', :alt => 'Add a verse.', :class => 'icon') + ' Add a Verse', verses_path(:anchor => 'add') %> &nbsp;&nbsp;
    <%= link_to image_tag('add_small.gif', :alt => 'Add a recipe.', :class => 'icon') + ' Add a Recipe', new_recipe_path %> &nbsp;&nbsp;
    <%= link_to image_tag('add_small.gif', :alt => 'Add a picture.', :class => 'icon') + ' Add a Picture', events_path, :confirm => 'To add a picture, first select/create an event on the following page. Click OK to get started.' %>
  </p>
<% end %>
