<%
  blog_pictures = @blog_items.select { |i| i.bloggable_type == 'Picture' }
  blog_items    = @blog_items.select { |i| i.bloggable_type != 'Picture' }
%>

<% if blog_pictures.any? %>
  <p>
    <% blog_pictures.each do |picture| %>
      <%= link_to image_tag(small_album_picture_photo_path(picture.album_id, picture.bloggable_id, :m => picture.created_at.to_s(:number)), :alt => 'click to enlarge'),
        album_picture_path(picture.album_id, picture.bloggable_id), :title => 'click to enlarge' %>
    <% end %>
  </p>
<% end %>

<% if blog_items.any? %>
  <% blog_items.each do |item| %>
    <p>
      <strong><%= link_to h(item.name), send(item.bloggable_type.downcase + '_path', :id => item.bloggable_id) %></strong><br/>
      <%= item.body %>
    </p>
  <% end %>
<% end  %>

<% if @blog_items.empty? %>
  <% unless me? %>
    <p><em>Nothing here yet.</em></p>
  <% end %>
<% end %>

<% if me? %>
  <p>
    <em>Share stuff by clicking on an item blow.</em><br/>
    <% if Setting.get(:features, :notes   ) %><%= link_to image_tag('add_small.gif', :alt => 'Add a note.',    :class => 'icon') + ' Add a Note',    new_note_path                 %> &nbsp;&nbsp;<% end %>
    <% if Setting.get(:features, :verses  ) %><%= link_to image_tag('add_small.gif', :alt => 'Add a verse.',   :class => 'icon') + ' Add a Verse',   verses_path(:anchor => 'add') %> &nbsp;&nbsp;<% end %>
    <% if Setting.get(:features, :recipes ) %><%= link_to image_tag('add_small.gif', :alt => 'Add a recipe.',  :class => 'icon') + ' Add a Recipe',  new_recipe_path               %> &nbsp;&nbsp;<% end %>
    <% if Setting.get(:features, :pictures) %><%= link_to image_tag('add_small.gif', :alt => 'Add a picture.', :class => 'icon') + ' Add a Picture', albums_path                   %><% end %>
  </p>
<% end %>
