- @report = report
= render partial: 'title'
.row
  .col-md-9
    %table.table
      %thead
        %tr
          %th= t('report.group_name')
          %th= t('report.attended_at')
          %th= t('report.count')
          = render partial: 'body'
  .col-md-3
    .box.box-info.hidden-print
      .box-heading
      .box-body
        = form_for report, as: :options, url: url_for, html: {method: :get} do |f|
          .form-group
          = f.label t('report.fromdate')
          .input-group
            = render partial: 'date'
            = f.date_field :fromdate, class: 'form-control', value: report.fromdate ? report.fromdate.to_s(:date) : nil
          .form-group
          = f.label t('report.thrudate')
          .input-group
            = render partial: 'date'
            = f.date_field :thrudate, class: 'form-control', value: report.thrudate ? report.thrudate.to_s(:date) : nil
          .form-group
          = f.submit t('report.submit'), class: 'btn btn-info'
          =  render partial: 'submit'                   

= render partial: 'count'