<div style="float:left;margin-right:5px;">
  <a href="<%= person_url(comment.person) %>">
    <%= render :partial => 'people/thumbnail', :locals => {:person => comment.person} %>
  </a>
</div>
<%= link_to h(comment.person.name), person_path(comment.person) %>
<% if params[:controller] == 'shares' %>
  commented on
  <%= link_to h(on.title), comment.on %>
<% end %>
<%= comment.created_at.strftime 'on %m/%d/%Y at %I:%M %p' %>
<% if comment.admin? @logged_in %>
  <%= link_to '[delete]', delete_comment_path(comment), :class => 'discreet', :confirm => 'Are you sure?', :method => 'post' %>
<% end %>
<br/>
<%= preserve_breaks comment.text %>