<% if object.comments.any? %>
  <table class="comments">
    <% object.comments.each do |comment| %>
      <tr>
        <td>
          <a href="<%= url_for comment.person %>">
            <%= render partial: 'people/thumbnail', locals: {person: comment.person} %>
          </a>
        </td>
        <td>
          <h4>
            <%= link_to comment.person.name, comment.person %>
            <%= comment.created_at.to_s %>
            <% if @logged_in.can_edit?(comment) %>
              <%= link_to '', comment_path(comment), class: 'delete-icon', method: 'delete', data: { confirm: t('are_you_sure') } %>
            <% end %>
          </h4>
          <p><%= preserve_breaks comment.text %></p>
        </td>
      </tr>
    <% end %>
  </table>
<% else %>
  <p><em><%= t('comments.none_yet') %></em></p>
<% end %>

<p>
  <%= link_to_function t('comments.add_a_comment'), "$('#new_comment').show(); $('#new_comment_textarea')[0].focus();", id: 'new_comment_link', style: 'display:none;', class: 'add-icon' %>
  <%= intro %>
  <div id="new_comment">
    <%= form_for Comment.new, html: {style: 'border:none;'} do |form| %>
      <%= hidden_field_tag object.class.name.downcase + '_id', object.id %>
      <%= hidden_field_tag :return_to, request.fullpath %>
      <%= text_area_tag 'text', '', rows: 3, cols: 40, id: 'new_comment_textarea' %><br/>
      <%= form.submit t('comments.save') %>
    <% end %>
  </div>
  <script type="text/javascript">$('#new_comment').hide(); $('#new_comment_link').show();</script>
</p>
