<% if object.comments.any? %>
  <ul>
    <% object.comments.each do |comment| %>
      <li>
        <a href="<%= url_for comment.person %>">
          <div class="thumbnail">
            <%= render :partial => 'people/thumbnail', :locals => {:person => comment.person} %>
          </div>
          <%= comment.person.name %><br/>
          <span class="byline"><%= time_ago_in_words comment.created_at %> <%= t('comments.ago') %></span>
        </a>
        <br/>
        <%= preserve_breaks comment.text %>
      </li>
    <% end %>
  </ul>
<% else %>
  <div class="info"><em><%= t('comments.none_yet') %></em></div>
<% end %>

<%= form_for Comment.new, :html => {:style => 'border:none;', :id => 'comment_form'} do |form| %>
  <%= hidden_field_tag object.class.name.downcase + '_id', object.id %>
  <%= hidden_field_tag :return_to, request.fullpath %>

  <ul class="edit form">
    <li><%= t('comments.add_a_comment') %><br/><%= text_area_tag 'text', '', :rows => 3, :cols => 40, :id => 'new_comment_textarea', :placeholder => 'Comment' %></li>
    <li class="arrow"><a href="#" onclick="document.getElementById('comment_form').submit();return false;"><%= t('comments.save') %></a></li>
  </ul>
<% end %>
