<div style="float:left;margin-right:5px;">
  <a href="<%= person_url(comment.person) %>">
    <%= render partial: 'people/thumbnail', locals: {person: comment.person} %>
  </a>
</div>
<%= link_to comment.person.name, comment.person %>
<% if params[:controller] == 'shares' %>
  <%= t('comments.commented_on') %>
  <%= link_to on.title, comment.on %>
<% end %>
<%= comment.created_at.to_s %>
<% if @logged_in.can_edit?(comment) %>
  <%= link_to '[' + t('delete') + ']', comment_path(comment), class: 'discreet', method: 'delete', data: { confirm: t('are_you_sure') } %>
<% end %>
<br/>
<%= preserve_breaks comment.text %>
