<%= form_for @person do |form| %>
  <%= hidden_field_tag :anchor, 'access' %>
    
  <p>
    <% if (attributes = @person.access_attributes).any? %>
      <% attributes.each do |attribute| %>
        <%= form.check_box attribute %> <%= form.label attribute, nil, class: 'inline' %><br/>
      <% end %>
    <% else %>
      <em><%= t('people.no_additional_access_avaiable') %></em>
    <% end %>
  </p>
  <p><%= submit_tag t('people.save_access') %></p>
<% end %>
