<% if params[:action] == 'simple_view' and not @person.visible? %>
  <p>
    <%= image_tag 'lock.gif', :alt => 'Hidden Profile', :class => 'icon' %>
    This profile is hidden from most people.
  </p>
<% end %>

<table>
  <% if sharing = @person.share_home_phone_with(@logged_in) and @person.home_phone.to_i > 0 %>
    <tr>
      <td>Home:</td>
      <td>
        <%= number_to_phone @person.home_phone, :area_code => true %>
        <%= render :partial => 'people/private_attribute', :locals => {:sharing => sharing, :attribute => 'home_phone'} %>
      </td>
    </tr>
  <% end %>
  <% if sharing = @person.share_mobile_phone_with(@logged_in) and @person.mobile_phone.to_i > 0 %>
    <tr>
      <td>Mobile:</td>
      <td>
        <%= number_to_phone @person.mobile_phone, :area_code => true %>
        <%= render :partial => 'people/private_attribute', :locals => {:sharing => sharing, :attribute => 'mobile_phone'} %>
      </td>
    </tr>
  <% end %>
  <% if sharing = @person.share_work_phone_with(@logged_in) and @person.work_phone.to_i > 0 %>
    <tr>
      <td>Work:</td>
      <td>
        <%= number_to_phone @person.work_phone, :area_code => true %>
        <%= render :partial => 'people/private_attribute', :locals => {:sharing => sharing, :attribute => 'work_phone'} %>
      </td>
    </tr>
  <% end %>
  <% if sharing = @person.share_fax_with(@logged_in) and @person.fax.to_s.any? %>
    <tr>
      <td>Fax:</td>
      <td>
        <%= number_to_phone @person.fax, :area_code => true %>
        <%= render :partial => 'people/private_attribute', :locals => {:sharing => sharing, :attribute => 'fax'} %>
      </td>
    </tr>
  <% end %>
  <% if sharing = @person.share_address_with(@logged_in) and @person.address1.to_s.any? and @person.city.to_s.any? and @person.state.to_s.any? and @person.zip.to_s.any? %>
    <tr>
      <td>Address:</td>
      <td>
        <%=h @person.address1 %>
        <%= render :partial => 'people/private_attribute', :locals => {:sharing => sharing, :attribute => 'address'} %><br/>
        <% if @person.address2.to_s.any? %><%=h @person.address2 %><br/><% end %>
        <%= link_to h(@person.city), search_path(:city => @person.city), :title => 'search for people in this city' %>,
        <%= link_to h(@person.state), search_path(:state => @person.state), :title => 'search for people in this state' %>
        <% if @person.zip %>
          <%= link_to h(@person.zip.split('-').first), search_path(:zip => @person.zip.split('-').first), :title => 'search for people in this zip code' %><% if @person.zip =~ /\-/ %>-<%= link_to h(@person.zip.split('-').last), search_path(:zip => @person.zip), :title => 'search for people in this zip code' %><% end %>
        <% end %>
        <%= render :partial => 'families/map_link' %>
      </td>
    </tr>
  <% end %>
  <% if sharing = @person.share_email_with(@logged_in) and @person.email.to_s.any? %>
    <tr>
      <td>Email:</td>
      <td>
        <%= mail_to @person.email, h(@person.email) %>
        <%= render :partial => 'people/private_attribute', :locals => {:sharing => sharing, :attribute => 'email'} %>
      </td>
    </tr>
  <% end %>
  <% if @person.website.to_s.any? %>
    <tr><td>Website:</td><td><%= link_to h(@person.website.gsub(/^https?:\/\//, '')), @person.website.gsub(/javascript\:/, '') %></td></tr>
  <% end %>
  <% if sharing = @person.share_birthday_with(@logged_in) and @person.birthday %>
    <tr>
      <td>Birthday:</td>
      <td>
        <%= link_to @person.birthday.strftime('%B'), search_path(:birthday_month => @person.birthday.month), :title => "search for #{@person.birthday.strftime('%B')} birthdays" %>
        <%= link_to @person.birthday.strftime('%d'), search_path(:birthday_month => @person.birthday.month, :birthday_day => @person.birthday.day), :title => "search for #{@person.birthday.strftime('%B %d')} birthdays" %>
        <%= render :partial => 'people/private_attribute', :locals => {:sharing => sharing, :attribute => 'birthday'} %>
      </td>
    </tr>
  <% end %>
  <% if sharing = @person.share_anniversary_with(@logged_in) and @person.anniversary %>
    <tr>
      <td>Anniversary:</td>
      <td>
        <%= link_to @person.anniversary.strftime('%B'), search_path(:anniversary_month => @person.anniversary.month), :title => "search for #{@person.anniversary.strftime('%B')} anniversaries" %>
        <%= link_to @person.anniversary.strftime('%d'), search_path(:anniversary_month => @person.anniversary.month, :anniversary_day => @person.anniversary.day), :title => "search for #{@person.anniversary.strftime('%B %d')} anniversaries" %>
        <%= render :partial => 'people/private_attribute', :locals => {:sharing => sharing, :attribute => 'anniversary'} %>
      </td>
    </tr>
  <% end %>
  <% if @person.service_name.to_s.any? %>
    <tr><td>Services:</td><td><%= link_to h(@person.service_name), person_path(@person, :services => true) %><br/><%=h truncate(@person.service_description, 200) %></td></tr>
  <% end %>
</table>
