%table.table
  %tr.row-with-avatar
    %td= link_to avatar_tag(@family), @family
    %td= link_to t('people.show.details.family', family: @family.try(:name)), @family
  - if @logged_in.admin?(:edit_profiles)
    %tr
      %td= t('people.show.details.created')
      %td{ title: @person.created_at.to_s(:full) }= @person.created_at.to_s(:date)
    %tr
      %td= t('people.show.details.edited')
      %td{ title: @person.updated_at.to_s(:full) }= @person.updated_at.to_s(:date)
    %tr
      %td= t('people.show.details.last_seen')
      %td{ title: @person.last_seen_at.to_s(:full) }= @person.last_seen_at.to_s(:date)
  = show_attribute(:website) do
    %tr
      %td= t('people.show.details.website')
      %td= link_to simple_url(@person.website), safe_url(@person.website)
  = show_attribute(:email) do
    %tr
      %td
        = t('people.show.details.email')
        = showing_attribute_because_admin_icon(:email)
      %td= mail_to @person.email
  = show_attribute(:mobile_phone) do
    %tr
      %td
        = t('people.show.details.mobile_phone')
        = showing_attribute_because_admin_icon(:mobile_phone)
      %td= link_to_phone @person.mobile_phone, mobile: true
  = show_attribute(:home_phone) do
    %tr
      %td
        = t('people.show.details.home_phone')
        = showing_attribute_because_admin_icon(:home_phone)
      %td= link_to_phone @person.home_phone
  = show_attribute(:work_phone) do
    %tr
      %td
        = t('people.show.details.work_phone')
        = showing_attribute_because_admin_icon(:work_phone)
      %td= link_to_phone @person.work_phone
  = show_attribute(:address) do
    %tr
      %td
        = t('people.show.details.address')
        = showing_attribute_because_admin_icon(:address)
      %td
        = preserve_breaks @person.address
        %br
        == #{@person.city}, #{@person.state} #{@person.short_zip}
        %br
        = link_to t('people.show.details.map'), "https://www.google.com/maps/place/#{@person.address.tr("\n","")} #{@person.city}, #{@person.state} #{@person.short_zip}/", :target => "_blank"
  = show_attribute(:birthday) do
    %tr
      %td
        = t('people.show.details.birthday')
        = showing_attribute_because_admin_icon(:birthday)
      %td= @person.birthday.to_s(:date_without_year)
  - unless @person.child?
    = show_attribute(:anniversary) do
      %tr
        %td
          = t('people.show.details.anniversary')
          = showing_attribute_because_admin_icon(:anniversary)
        %td= @person.anniversary.to_s(:date_without_year)
  - if has_social_networks?(@person)
    %tr
      %td= t('people.show.details.social')
      %td
        - if @person.twitter.present?
          .social-link
            = link_to(twitter_url(@person), target: '_blank') do
              = icon 'fa fa-twitter'
              = @person.twitter
        - if @person.facebook_url.present?
          .social-link
            = link_to(@person.facebook_url, target: '_blank') do
              = icon 'fa fa-facebook'
              = simple_url(@person.facebook_url, www: false)
  = show_attribute(:about) do
    %tr
      %td
        = t('people.show.details.about')
      %td
        = preserve_breaks @person.about
