%table.table
  %tr.row-with-avatar
    %td= link_to avatar_tag(@family), @family
    %td= link_to t('people.show.details.family', family: @family.try(:name)), @family
  = show_attribute?(:website) do
    %tr
      %td= t('people.show.details.website')
      %td= link_to simple_url(@person.website), @person.website
  = show_attribute?(:email) do
    %tr
      %td= t('people.show.details.email')
      %td= mail_to @person.email
  = show_attribute?(:mobile_phone) do
    %tr
      %td= t('people.show.details.mobile_phone')
      %td= link_to_phone @person.mobile_phone, mobile: true
  = show_attribute?(:home_phone) do
    %tr
      %td= t('people.show.details.home_phone')
      %td= link_to_phone @person.home_phone
  = show_attribute?(:work_phone) do
    %tr
      %td= t('people.show.details.work_phone')
      %td= link_to_phone @person.work_phone
  = show_attribute?(:address) do
    %tr
      %td= t('people.show.details.address')
      %td
        = preserve_breaks @person.address
        %br
        == #{@person.city}, #{@person.state} #{@person.short_zip}
  = show_attribute?(:birthday) do
    %tr
      %td= t('people.show.details.birthday')
      %td= @person.birthday.to_s(:date_without_year)
  = show_attribute?(:anniversary) do
    %tr
      %td= t('people.show.details.anniversary')
      %td= @person.anniversary.to_s(:date_without_year)
  - if has_social_networks?(@person)
    %tr
      %td= t('people.show.details.social')
      %td
        - if @person.twitter.present?
          .social-link
            = link_to(twitter_url(@person), target: '_blank') do
              = icon 'fa fa-twitter'
              = @person.twitter
        - if @person.facebook_url.present?
          .social-link
            = link_to(@person.facebook_url, target: '_blank') do
              = icon 'fa fa-facebook'
              = simple_url(@person.facebook_url, www: false)
