<% if flash[:send_verification_email] %>
  <div id="notice" class="warning">
    The user can now sign in.
    <%= link_to 'Send verification email.', account_path(:email => @person.email), :method => 'post', :confirm => 'Are you sure?' %>
  </div>
<% end %>

<% if @logged_in.admin?(:edit_profiles) %>
  <p>
    If your system is set up to synchronize its data with an external source
    (a church managment system database perhaps), changes you make here may
    be overwritten on the next sync.
  </p>
<% else %>
  <p>
    Changes to the details below must be <strong>reviewed by staff</strong>. To request changes,
    enter the details below and click "Submit." Your record will be updated as soon as possible.
    <span class="very-strong">If you wish to remove something below in order to keep others from
    seeing it, instead go to the <%= link_to 'Privacy', edit_person_privacy_path(@person) %> page
    and hide it.</span>
  </p>
<% end %>

<% form_for @person do |form| %>
  <%= form.error_messages %>
  <%= form.hidden_field :family_id %>
  <% if @logged_in.admin?(:edit_profiles) %>
    <div style="width:250px;float:right;">
      <fieldset>
        <legend>Person Type</legend>
        <em>These do not control access &mdash; only appearance.</em><br/>
        <%= form.check_box :member %> <%= form.label :member, nil, :class => 'inline' %><br/>
        <%= form.check_box :staff %>  <%= form.label :staff,  nil, :class => 'inline' %><br/>
        <%= form.check_box :elder %>  <%= form.label :elder,  nil, :class => 'inline' %><br/>
        <%= form.check_box :deacon %> <%= form.label :deacon, nil, :class => 'inline' %>
      </fieldset>
      <fieldset>
        <legend>Visibility</legend>
        <%= form.check_box :can_sign_in %>                  <%= form.label :can_sign_in,                  nil, :class => 'inline' %><br/>
        <%= form.check_box :visible_to_everyone %>          <%= form.label :visible_to_everyone,          nil, :class => 'inline' %><br/>
        <%= form.check_box :visible_on_printed_directory %> <%= form.label :visible_on_printed_directory, nil, :class => 'inline' %><br/>
        <%= form.check_box :full_access %>                  <%= form.label :full_access,                  nil, :class => 'inline' %>
      </fieldset>
      <fieldset>
        <legend>Advanced</legend>
        <%= form.label :legacy_id,        'Legacy/External ID' %>        <%= form.text_field :legacy_id, :size => 6 %>
        <%= form.label :legacy_family_id, 'Family Legacy/External ID' %> <%= form.text_field :legacy_family_id, :size => 6 %>
      </fieldset>
    </div>
  <% end %>
  <%= hidden_field_tag :anchor, 'basics' %>
  <%= form.label :first_name %>   <%= form.text_field :first_name %><br/>
  <%= form.label :last_name %>    <%= form.text_field :last_name %><br/>
  <%= form.label :suffix %>       <%= form.select :suffix, [nil]+Setting.get(:system, :suffixes) %><br/>
  <%= form.label :gender %>       <%= form.select :gender, Setting.get(:system, :genders) %><br/>
  <%= form.label :mobile_phone %> <%= form.phone_field :mobile_phone %><br/>
  <%= form.label :work_phone %>   <%= form.phone_field :work_phone %><br/>
  <%= form.label :fax %>          <%= form.phone_field :fax %><br/>
  <%= form.label :birthday %>     <%= form.date_field :birthday %><br/>
  <%= form.label :anniversary %>  <%= form.date_field :anniversary %>
  <% unless @logged_in.admin?(:edit_profiles) %>
    <% fields_for :family, @family do |family| %>
      <%= render :partial => 'families/form_fields', :locals => {:form => family} %>
    <% end %>
  <% end %>
  <p><%= submit_tag 'Submit' %></p>
<% end %>

<script type="text/javascript"> $('person_first_name').focus() </script>
<%= calendar_date_select_includes 'silver' %>