<% Setting.get(:features, :custom_person_fields).each_with_index do |field, index| %>
  <% if field.include?('*') or @logged_in.admin?(:edit_profiles) %>
    <% field = field.sub(/\*/, '') %>
    <br/>
    <label><%= field %></label>
    <% if field =~ /[Dd]ate/ %>
      <%= date_field_tag "person[custom_fields][#{index}]", @person.custom_fields[index], id: "person_custom_field_#{index}"  %>
      <script type="text/javascript">
        $('#person_custom_field_<%= index %>').datepicker({changeYear:true, yearRange:'1900:2025', dateFormat:'<%= datepicker_format %>'});
      </script>
    <% else %>
      <%= text_field_tag "person[custom_fields][#{index}]", @person.custom_fields[index], id: "person_custom_field_#{index}"  %>
    <% end %>
  <% end %>
<% end %>
