<% if @family_people.length > 1 %>
  <h2>
    Family <%= render :partial => 'families/thumbnail', :locals => {:family => @family} %>
  <% if @logged_in.admin?(:edit_profiles)  %>
    <%= link_to 'edit', @family, :class => 'discreet' %>
  <% elsif me? %>
    <%= link_to 'edit', edit_person_path(@logged_in), :class => 'discreet' %>
  <% end %>
  </h2>
  <table>
    <% @family_people.each do |person| %>
      <tr class="family-member">
        <td>
          <a href="<%= url_for person %>">
            <%= render :partial => 'people/thumbnail', :locals => {:person => person} %>
          </a>
        </td>
        <td>
          <%= link_to h(person.name), person %>
          <% unless person.visible?(@family) %>
            <%= image_tag('lock.gif', :alt => 'Hidden Profile', :class => 'icon') %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>
