<% if @family_people.length > 1 %>
  <% unless @skip_heading %>
    <h2>
      Family
      <a href="<%= url_for @family %>">
        <%= render :partial => 'families/thumbnail', :locals => {:family => @family} %>
      </a>
    <% if @logged_in.admin?(:edit_profiles)  %>
      <%= link_to 'edit', @family, :class => 'discreet' %>
    <% elsif me? %>
      <%= link_to 'edit', edit_person_path(@logged_in), :class => 'discreet' %>
    <% end %>
    </h2>
  <% end %>
  <table>
    <% @family_people.each do |person| %>
      <tr class="family-member">
        <td>
          <a href="<%= url_for person %>">
            <%= render :partial => 'people/thumbnail', :locals => {:person => person} %>
          </a>
        </td>
        <td>
          <%= link_to h(person.name), person %>
          <% unless person.visible?(@family) %>
            <%= image_tag('lock.gif', :alt => 'Hidden Profile', :class => 'icon') %>
          <% end %>
          <% if @include_alerts %>
            <br/>
            <% if person.can_pick_up.to_s.any? %><strong>Can pick up:</strong> <%= person.can_pick_up %><br/><% end %>
            <% if person.cannot_pick_up.to_s.any? %><strong>Cannot pick up:</strong> <%= person.cannot_pick_up %><br/><% end %>
            <% if person.medical_notes.to_s.any? %><strong>Medical notes:</strong> <%= person.medical_notes %><% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>
