%div
  .form-group
    = form.label :employer
    = form.text_field :employer, class: 'form-control'
  .form-group
    = form.label :job_title
    = form.text_field :job_title, class: 'form-control'
  .form-group
    = form.label :work_phone
    = form.text_field :work_phone, class: 'form-control'