.form-group
  %span.help-block= t('people.edit.person_type_hint')
  = form.check_box :member
  = form.label :member, t('search.member'), class: 'inline'
.form-group
  = form.check_box :staff
  = form.label :staff,  t('search.staff'),  class: 'inline'
.form-group
  = form.check_box :elder
  = form.label :elder,  t('search.elder'),  class: 'inline'
.form-group
  = form.check_box :deacon
  = form.label :deacon, t('search.deacon'), class: 'inline'
- if setting(:features, :custom_person_type)
  .form-group
    = form.label :custom_type
    = react_component 'SelectWithNew', name: 'person[custom_type]', value: @person.custom_type, options: custom_types, className: 'form-control', includeBlank: true
