- unless @person.adult_or_consent?
  %em= t('people.this_person_is_not_an_adult', years: Setting.get(:system, :adult_age))
  %br/
%span.help-block
  - if @person.can_sign_in? and !@person.new_record?
    = link_to t('people.click_to_send_verification_email'), account_path(email: @person.email), method: 'post', data: { confirm: t('are_you_sure') }, class: 'email-icon'
= content_tag :div, style: @person.adult_or_consent? ? nil : 'text-decoration:line-through;' do
  .form-group
    = form.check_box :can_sign_in
    = form.label :can_sign_in,                  t('people.can_sign_in'),                  class: 'inline'
  .form-group
    = form.check_box :visible_to_everyone
    = form.label :visible_to_everyone,          t('people.visible_to_everyone'),          class: 'inline'
  .form-group
    = form.check_box :visible_on_printed_directory
    = form.label :visible_on_printed_directory, t('people.visible_on_printed_directory'), class: 'inline'
  .form-group
    = form.check_box :full_access
    = form.label :full_access,                  t('people.full_access'),                  class: 'inline'
- if Setting.get(:features, :edit_legacy_ids)
  .box.box-info
    .box-header
      %h3.box-title= t('people.advanced')
    .box-body
      .form-group
        = form.label :legacy_id,        t('people.legacy_external_id')
        = form.text_field :legacy_id, size: 6, class: 'form-control'
      .form-group
        = form.label :legacy_family_id, t('people.family_legacy_external_id')
        = form.text_field :legacy_family_id, size: 6, class: 'form-control'
