- @title = 'Meeting Memberships'

.row
  .col-md-8
    = form_for MeetingMembership.new do |form|

      %p= t('pictures.new.existing_album.intro')

      .form-group
        = label_tag :album_id
        = select_tag :album_id, options_from_collection_for_select(@albums, :id, :name, params[:album_id]), include_blank: true, class: 'form-control'

      = picture_upload

  .col-md-4
    .box.box-info
      .box-body
        %p= t('pictures.new.new_album.intro')

        %p
          = link_to new_person_album_path(@logged_in), class: 'btn btn-info' do
            = icon 'ion ion-images'
            = t('pictures.new.new_album.button')