%div
  .form-group
    = form.label :facebook_url
    = form.text_field :facebook_url, class: 'form-control', placeholder: t('people.edit.facebook_url.placeholder')
  .form-group
    = form.label :twitter
    = form.text_field :twitter, class: 'form-control', placeholder: t('people.edit.twitter.placeholder')
  .form-group
    = form.label :website
    = form.text_field :website, class: 'form-control'
  .form-group
    = form.label :testimony
    %span.help-block= t('people.share_your_personal_testimony')
    = form.text_area :testimony, rows: 15, class: 'form-control'
  .form-group
    = form.label :about
    %span.help-block= t('people.tell_us_about_yourself')
    = form.text_area :about, rows: 10, class: 'form-control'
