%span.help-block= t('people.if_you_wish_to_be_listed_business_dir_html', url: search_path(business: true))

.form-group
  = form.label :business_category
  = react_component 'SelectWithNew', name: 'person[business_category]', value: @person.business_category, options: business_categories, className: 'form-control', includeBlank: true

.form-group
  = form.label :business_name
  = form.text_field :business_name, class: 'form-control'

.form-group
  = form.label :business_description
  = form.text_area :business_description, rows: 3, class: 'form-control'

.form-group
  = form.label :business_phone
  = form.text_field :business_phone, class: 'form-control'

.form-group
  = form.label :business_email
  = form.text_field :business_email, class: 'form-control'

.form-group
  = form.label :business_website
  = form.text_field :business_website, class: 'form-control'

.form-group
  = form.label :business_address
  = form.text_area :business_address, rows: 2, class: 'form-control'
