<% if (count = @person.friendships.count) > 0 %>
  <h2>
    Friends
    <% if me? %>
      <%= link_to 'edit', person_friends_path(@person), :style => 'font-size:10pt;color:#999;text-decoration:none;' %>
    <% end %>
  </h2>
  <% if count > MAX_FRIENDS_ON_PROFILE %>
    <p><%= MAX_FRIENDS_ON_PROFILE %> of <%= count %></p>
  <% end %>
  <table>
    <% @friends.each do |friend| %>
      <tr>
        <td>
          <a href="<%= url_for friend %>">
            <%= render :partial => 'people/thumbnail', :locals => {:person => friend} %>
          </a>
        </td>
        <td class="friend">
          <%= link_to h(friend.name), person_url(:id => friend) %>
          <% if friend.birthday_soon? %>
            <br/>
            <%= image_tag('birthday.png', :alt => 'Birthday', :class => 'icon') %>
            birthday <%= friend.birthday.to_time.to_s :date rescue nil %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
  <% if count > MAX_FRIENDS_ON_PROFILE %>
    <p><%= link_to "more...", person_friends_path(@person) %></p>
  <% end %>
<% elsif me? %>
  <p class="highlight"><%= link_to 'Add your friends', search_path(:search_friends => true) %> to your profile page!</p>
<% end %>
