- if setting(:features, :friends)
  - if @logged_in.can_request_friendship_with?(@person)
    = link_to person_friends_path(@logged_in, friend_id: @person), remote: true, method: :post, data: { confirm: t('friends.add_friend_are_you_sure'), 'pending-label' => t('friends.add_to_friends_pending') }, id: "add_friend_#{@person.id}", class: 'btn btn-info add-friend' do
      = icon 'fa fa-smile-o'
      %span.text= t('friends.add_to_friends')
  - elsif @logged_in.friendship_waiting_on? @person
    = link_to person_friends_path(@logged_in, friend_id: @person), remote: true, method: :post, data: { confirm: t('friends.add_friend_are_you_sure') }, id: "add_friend_#{@person.id}", class: 'btn btn-success add-friend disabled' do
      = icon 'fa fa-smile-o'
      = t('friends.add_to_friends_pending')
