<% form_tag :remote => true, :url => batch_memberships_path do %>
  <%= hidden_field_tag 'person_id', @person.id %>
  <% @person.groups.each do |group| %>
    <%= check_box_tag 'ids[]', group.id, true, :class => 'checkbox' %><%= link_to h(group.name), group %><br/>
  <% end %>
  <% if @person.groups.empty? %>
    <em><%= I18n.t('people.no_groups_yet') %></em><br/>
  <% end %>
  <div id="group_results"></div>
  <%= submit_tag I18n.t('Save') %> <span id="group_list_status"></span>
<% end %>

<% form_tag :remote => true, :url => groups_path, :method => 'get' do %>
  <p>
    <label for="name"><%= I18n.t('people.add_group') %>:</label> <%= text_field_tag 'name' %>
    <br/>
    <%= submit_tag I18n.t('search.search_by_name') %>
  </p>
<% end %>
