<% if @logged_in %>
  <div id="home-tab-menu" style="display:none;">
    <ul class="popup-menu">
      <% if mobile? %><li style="width:100px"><em><%= t('menus.home.mobile_tap_again') %></em></li><% end %>
      <li><%= link_to t('menus.home.feed'), stream_path(format: 'xml', code: @logged_in.feed_code), class: 'feed-icon'    %></li>
      <% if Setting.get(:features, :pictures) %>
        <li><%= link_to t('menus.home.pictures'), albums_path, class: 'picture-icon' %></li>
      <% end %>
      <% if Setting.get(:features, :verses) %>
        <li><%= link_to t('menus.home.verses'), verses_path, class: 'verse-icon' %></li>
      <% end %>
      <% if Setting.get(:features, :news_page) %>
        <li><%= link_to t('menus.home.news'), news_path, class: 'news-icon' %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<% if (@person and @logged_in and @logged_in.can_edit?(@person)) or (!@person and @logged_in) %>
  <div id="profile-tab-menu" style="display:none;">
    <ul class="popup-menu">
      <% if mobile? %><li style="width:100px"><em><%= t('menus.profile.mobile_tap_again') %></em></li><% end %>
      <li><%= link_to t('menus.profile.edit'),            edit_person_path(submenu_target(@person)),          class: 'edit-icon'   %></li>
      <li><%= link_to t('menus.profile.privacy'),         edit_person_privacy_path(submenu_target(@person)),  class: 'lock-icon'   %></li>
      <li><%= link_to t('menus.profile.email'),           edit_person_path(submenu_target(@person)),          class: 'email-icon'  %></li>
      <li><%= link_to t('menus.profile.password'),        edit_person_account_path(submenu_target(@person)),  class: 'dots-icon'   %></li>
      <% if @logged_in.admin?(:edit_profiles) %>
        <li><%= link_to t('menus.profile.relationships'), person_relationships_path(submenu_target(@person)), class: 'people-icon' %></li>
        <li class="divider"></li>
        <% if not @family or @family.persisted? %>
          <li><%= link_to t('menus.profile.edit_family'), family_path(submenu_target(@family || @person.try(:family), :family_id)), class: 'edit-icon' %></li>
        <% end %>
        <li><%= link_to t('menus.profile.new_family'),    new_family_path, class: 'add-icon' %></li>
      <% end %>
    </ul>
  </div>
<% end %>
