<p class="user-type">
  <% if @person.elder? %>
    <%= image_tag 'elder.png', :alt => 'Elder', :class => 'icon' %> Elder
  <% end %>
  <% if @person.deacon? %>
    <%= image_tag 'deacon.png', :alt => 'Deacon', :class => 'icon' %> Deacon
  <% end %>
  <% if @person.staff? %>
    <%= image_tag 'staff.png', :alt => 'Staff', :class => 'icon' %> Staff
  <% end %>
  <% if @person.member? %>
    <%= image_tag 'star.gif', :alt => 'Member', :class => 'icon' %> Member
  <% end %>
  <% if Setting.get(:features, :custom_person_type) and @person.custom_type.to_s.any? %>
    <%= image_tag 'staff.png', :alt => @person.custom_type, :class => 'icon' %> <%=h @person.custom_type %>
  <% end %>
</p>