<div>
  <% if @person.has_photo? %>
    <%= link_to image_tag(medium_person_photo_path(@person, :m => @person.updated_at.to_s(:number)), :alt => h(@person.name)),
      defined?(url) ? url : large_person_photo_path(@person) %>
  <% elsif @family and @family.has_photo? and params[:action] != 'edit' %>
    <%= render :partial => 'families/photo', :locals => defined?(url) ? {:url => url} : nil %>
  <% elsif me? and params[:controller] == 'people' and params[:action] == 'show' %>
    <div id="profile-pic" class="profile-pic-<%= @person.gender.to_s == 'Female' ? 'woman' : 'man' %>" onclick="location.href = '<%= edit_person_path %>#picture'">
      <%= link_to image_tag('person_picture.gif', :alt => t('people.change_your_picture'), :class => 'icon') + ' ' + t('people.change_your_picture'), edit_person_path + '#picture' %>
    </div>
  <% else %>
    <% if defined?(url) %><a href="<%= url_for(url) %>"><% end %>
    <%= render :partial => 'people/silhouette' %>
    <% if defined?(url) %></a><% end %>
  <% end %>
</div>
