<% if (pic_count = @person.pictures.count) > 0 %>
  <h3 style="background-color:#eee;">Pictures</h3>
  <div>
    <% @person.pictures.find(:all, :order => 'rand()', :limit => 5).each do |picture| %>
      <%= link_to image_tag(picture_photo_path("#{picture.id}.small.jpg"), :alt => 'click to enlarge'), picture, :title => 'click to enlarge' %>
    <% end %>
    <%= link_to 'More...', person_pictures_path(@person) %><br/>
    <%= link_to image_tag('add_small.gif', :alt => 'Add a picture.', :class => 'icon') + ' Add a Picture', :controller => "pictures" %>
  </div>
<% end %>

<% if (verse_count = @person.verses.count) > 0 %>
  <h3 style="background-color:#eee;">Verses</h3>
  <div>
    <%= render :partial => 'verses' %>
  </div>
<% end %>

<% if (recipe_count = @person.recipes.count) > 0 %>
  <h3 style="background-color:#eee;">Recipes</h3>
  <div>
    <%= render :partial => 'recipes/list', :locals => {:recipes => @person.recipes} %>
    <% if @person == @logged_in %>
      <p><%= link_to image_tag('add_small.gif', :alt => 'Add a recipe.', :class => 'icon') + ' Add a Recipe', new_recipe_path %></p>
    <% end %>
  </div>
<% end %>

<% if pic_count == 0 and verse_count == 0 and recipe_count == 0 %>
  <% if @logged_in == @person %>
    <p><em>Share pictures, Bible verses, and recipes <%= link_to 'here', shares_url %>.</em></p>
  <% end %>
<% end %>