<h2>Groups</h2>
<% if @person.has_groups? %>
  <table>
    <% @person.groups.each do |group| %>
      <% if not group.hidden? or @logged_in.admin?(:manage_groups) %>
        <tr <% if group.hidden? %>class="grayed hidden-group" style="display:none;"<% end %>>
          <td>
            <% if group.has_photo? %>
              <%= image_tag tn_group_photo_path(group), :alt => group.name, :class => 'no-border' %>
            <% else %>
              <%= image_tag 'group.tn.jpg', :alt => group.name, :class => 'no-border' %>
            <% end %>
          </td>
          <td class="group">
            <%= link_to h(group.name), group %><br/>
          </td>
        </tr>
      <% end %>
    <% end %>
  </table>
  <% if @logged_in.admin?(:manage_groups) and @person.groups.detect { |g| g.hidden? } %>
    <p><%= link_to_function 'Show Hidden Groups', "$$('.hidden-group').each(function(e){Element.toggle(e)})" %></p>
  <% end %>
<% elsif me? %>
  <p>
    You aren't in any groups yet.
    <% if params[:person_id] %>
      Find a group <%= link_to 'here', groups_url %>.
    <% end %>
  </p>
<% else %>
  <p><%=h @person.first_name %> isn't in any groups right now.</p>
<% end %>
