<% if @person.sidebar_group_people.any? %>
  <h2><%= Setting.get(:features, :sidebar_group_heading) %></h2>
  <table>
    <% @person.sidebar_group_people.each do |person| %>
      <tr>
        <td>
          <a href="<%= url_for person %>">
            <%= render :partial => 'thumbnail', :locals => {:person => person} %>
          </a>
        </td>
        <td class="person">
          <%= link_to h(person.name), person %>
          <% if person.birthday_soon? %>
            <br/>
            <%= image_tag('birthday.png', :alt => 'Birthday', :class => 'icon') %>
            birthday <%= person.birthday.to_time.to_s :date rescue nil %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>
