<% if (count = @person.sidebar_group_people_count) > 0 %>
  <h2><%= Setting.get(:features, :sidebar_group_heading) %></h2>
  <% if count > MAX_GROUPIES_ON_PROFILE %>
    <p><%= MAX_GROUPIES_ON_PROFILE %> of <%= count %></p>
  <% end %>
  <table>
    <% @sidebar_group_people.each do |person| %>
      <tr>
        <td>
          <a href="<%= url_for person %>">
            <%= render :partial => 'thumbnail', :locals => {:person => person} %>
          </a>
        </td>
        <td class="person">
          <%= link_to h(person.name), person %>
          <% if person.birthday_soon? %><span class="small">
            <br/>
            <%= image_tag('birthday.png', :alt => 'Birthday', :class => 'icon') %>
            <%= person.birthday.to_s(:date_without_year) %></span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
  <% if count > MAX_GROUPIES_ON_PROFILE %>
    <p><%= link_to "more...", person_groupies_path(@person) %></p>
  <% end %>
<% end %>
