<h2><%= t('people.groups') %></h2>
<% if (groups = @person.groups.all).any? %>
  <table>
    <% groups.sort_by(&:name).each do |group| %>
      <% if not group.hidden? or @logged_in.admin?(:manage_groups) %>
        <tr <% if group.hidden? %>class="grayed hidden-group" style="display:none;"<% end %>>
          <td>
            <% if group.has_photo? %>
              <%= image_tag tn_group_photo_path(group), :alt => group.name, :class => 'no-border' %>
            <% else %>
              <%= image_tag 'group.tn.jpg', :alt => group.name, :class => 'no-border' %>
            <% end %>
          </td>
          <td class="group">
            <%= link_to h(group.name), group %><br/>
          </td>
        </tr>
      <% end %>
    <% end %>
  </table>
  <% if @logged_in.admin?(:manage_groups) and groups.detect { |g| g.hidden? } %>
    <p><%= link_to_function t('people.show_hidden_groups'), "$$('.hidden-group').each(function(e){Element.toggle(e)})" %></p>
  <% end %>
<% elsif me? %>
  <p>
    <%= t('people.you_arent_in_any_groups') %>
    <% if params[:person_id] %>
      <%= t('people.find_a_group', :group => groups_url) %>
    <% end %>
  </p>
<% else %>
  <p><%=h t('people.person_isnt_any_groups', :person => @person.first_name) %></p>
<% end %>
