<h2>Twitter Integration</h2>

<% if @act = Setting.get(:features, :twitter_account) %>
  <ol>
    <li>Sign up for an account at <a href="http://twitter.com">Twitter</a> and enter your
      account details below.</li>
    <li>Add <%= link_to @act, 'http://twitter.com/' + @act %>
      as a friend.</li>
    <li>Send direct messages to <%= @act %> from the Web, from IM, or from your phone
      and get contact info:
      <ul style="list-style-type:none;">
        <li><code>d <%= @act %> lookup john doe</code></li>
        <li><code>d <%= @act %> mobile john doe</code></li>
        <li><code>d <%= @act %> home john doe</code></li>
        <li><code>d <%= @act %> work john doe</code></li>
        <li><code>d <%= @act %> address john doe</code></li>
      </ul>
    </li>
  </ol>
  <% form_for :person, @person, :url => edit_person_path(:id => @person) do |form| %>
    <p><%= form.label :twitter_account, 'Your Twitter username:' %>
    <%= form.text_field :twitter_account %><br/>
    <%= submit_tag 'Save Changes' %>
  <% end %>
<% else %>
  <p>Twitter Integration has not been enabled.</p>
<% end %>