- @title = t('people.edit.header')

- if @person.account_frozen?
  .callout.callout-danger
    = t('people.account_frozen.callout')

- if @person.updates.pending.any? and @logged_in.can_update?(@person)
  .callout.callout-info
    = icon 'fa fa-clock-o'
    = t('people.updates.pending_callout')

= error_messages_for @person

= render partial: 'form'
