<% content_for :sidebar do %>
  <div class="highlight">
    <p>
      <% if @person.email.to_s.any? %>
        <%= @person == @logged_in ? t('your') : @person.name_possessive %> <%= t('people.email_address') %>:<br/>
        <span style="font-size:2em;"><%= @person.email %></span>
      <% else %>
        <%= t('people.no_email', name: @person.name) %>
      <% end %>
    </p>
    <p><%= t('people.click_to_change_email_html', url: edit_person_account_path(@person)) %></p>
  </div>
<% end %>

<h2><%= t('people.email') %></h2>

<%= form_for @person do |form| %>
  <%= error_messages_for(form) %>
  <%= hidden_field_tag :email, true %>

  <h3><%= t('groups.group_emails') %></h3>
  <%= render partial: 'groups/person_groups' %>

  <h3><%= t('people.alternate_email') %></h3>
  <p>
    <%= t('people.if_you_have_another_email') %>
    <%= t('please_note') %>:
  </p>
  <ul class="list">
    <li><%= t('people.this_email_will_not_be_visible') %></li>
    <li><%= t('people.you_will_not_able_use_this_address') %></li>
  </ul>
  <label for="person_alternate_email"><%= t('people.alternate_email') %>:</label>
  <%= form.text_field :alternate_email %>

  <p class="double-margin-top"><%= submit_tag t('save_changes') %></p>
<% end %>
