- @title = t('import.people')

- if @records.any?
  = form_tag({}, method: 'put') do
    %p
      = t('import.the_changes_will_be_made')
    - if @records.any?
      %table.table
        %tr
          %th
          %th Person
          %th
          %th Old Value
          %th New Value
        - @records.each_with_index do |record, index|
          - person, changes = record
          %tr.row-with-avatar
            - if person.new_record?
              %td
              %td
                = check_box_tag "record#{index}", true, true, onclick: "$('.new_#{index}').prop('checked', $('#record#{index}').prop('checked'))", class: 'simple'
                = person.name
                (new)
            - else
              %td.avatar
                = avatar_tag(person)
              %td
                = check_box_tag "record#{index}", true, true, onclick: "$('.changes_#{person.id}').prop('checked', $('#record#{index}').prop('checked'))", class: 'simple'
                = link_to person.name, person
            %td
              = t('import.changes.count', count: changes.length)
              = link_to_function t('import.changes.show_button'), "$('.details#{index}').toggle()", class: 'btn btn-xs btn-info'
            %td{ colspan: 2 }
          - changes.each do |key, (old_val, new_val)|
            %tr.details{ style: 'display:none', class: "details#{index}" }
              %td
              %td
                - if person.new_record?
                  = check_box_tag "new[#{index}][#{key}]", new_val.to_s, true, class: "new_#{index} simple"
                - else
                  = check_box_tag "changes[#{person.id}][#{key}]", new_val.to_s, true, class: "changes_#{person.id} simple"
                = key
              %td
              %td
                = import_change_value(old_val)
              %td
                = import_change_value(new_val)
    .form-group
      = button_tag t('import.import_selected_people'), class: 'btn btn-success'

- else
  %p
    %em= t('import.no_records_were_found')
