<h1><%= I18n.t('import.import_results') %></h1>

<p><%= I18n.t('import.the_import_is_complete') %><% if @errored.any? %> <%= I18n.t('import.with_errors') %><% end %>.</p>

<h2><%= I18n.t('import.completed_records') %></h2>

<table>
  <tr><th><%= I18n.t('import.first') %></th><th><%= I18n.t('import.last') %></th><th><%= I18n.t('import.status') %></th></tr>
  <% @completed.each do |record| %>
    <tr>
      <td><%=h record[:first_name] %></td>
      <td><%=h record[:last_name] %></td>
      <td><%=h record[:status] %></td>
    </tr>
  <% end %>
</table>

<% if @errored.any? %>
  <h2><%= I18n.t('import.errored_records') %></h2>

  <table>
    <tr><th><%= I18n.t('import.first') %></th><th><%= I18n.t('import.last') %></th><th><%= I18n.t('import.status') %></th></tr>
    <% @errored.each do |record| %>
      <tr>
        <td><%=h record[:first_name] %></td>
        <td><%=h record[:last_name] %></td>
        <td><%=h record[:status] %></td>
      </tr>
      <tr>
        <td colspan="3" style="padding-left:20px;font-size:smaller;"><%=h record[:message] %></td>
      </tr>
    <% end %>
  </table>
<% end %>
