- @title = t('import.import_results')

%p
  = t('import.the_import_is_complete')
  - if @errored.any?
    = t('import.with_errors')

%h3= t('import.completed_records')

%table.table
  %tr
    %th
    %th= t('import.results.name')
    %th= t('import.results.status')
  - @completed.each do |record|
    %tr.row-with-avatar
      %td.avatar
        = link_to record[:person] do
          = avatar_tag(record[:person])
      %td
        = link_to record[:person] do
          = record[:person].try(:name)
      %td= record[:status]

- if @errored.any?
  %h3= t('import.errored_records')
  %table.table
    %tr
      %th= t('import.results.first_name')
      %th= t('import.results.last_name')
      %th= t('import.results.status')
    - @errored.each do |record|
      %tr
        %td= record[:first_name]
        %td= record[:last_name]
        %td= record[:status]
      %tr.details
        %td{ colspan: "3", style: "padding-left:20px;" }
          = record[:message]
