<h2><%= t('import.people') %></h2>

<% if @records.any? %>
  <%= form_tag({}, method: 'put') do %>
    <p>
      <%= t('import.the_changes_will_be_made') %>
    </p>
    
    <% if @records.any? %>
      <ul style="list-style:none;">
        <% @records.each_with_index do |record, index| %>
          <% person, changes = record %>
          <li>
            <% if person.new_record? %>
              <%= check_box_tag "record#{index}", true, true, onclick: "$('.new_#{index}').attr('checked', $('#record#{index}').attr('checked'))" %>
              <%= person.name %> <strong>(new)</strong>
            <% else %>
              <%= check_box_tag "record#{index}", true, true, onclick: "$('.changes_#{person.id}').attr('checked', $('#record#{index}').attr('checked'))" %>
              <%= link_to person.name, person %>
            <% end %>
            <%= link_to_function t('changes'), "$('#details#{index}').toggle()", class: 'discreet' %>
            <ul id="details<%= index %>" style="list-style:none;padding-left:25px;display:none;">
              <% changes.each do |key, val| %>
                <li>
                  <label class="inline">
                    <% if person.new_record? %>
                      <%= check_box_tag "new[#{index}][#{key}]", val.last.to_s, true, class: "new_#{index}" %>
                    <% else %>
                      <%= check_box_tag "changes[#{person.id}][#{key}]", val.last.to_s, true, class: "changes_#{person.id}" %>
                    <% end %>
                    <%= key %>: <%= val.first.inspect %> =&gt; <%= val.last.inspect %>
                  </label>
                </li>
              <% end %>
            </ul>
          </li>
        <% end %>
      </ul>
    <% end %>
    
    <p><%= submit_tag t('import.import_selected_people') %></p>
    
  <% end %>
<% else %>
  <p><em><%= t('import.no_records_were_found') %></em></p>
<% end %>
