<h1>Import People</h1>

<% form_tag({}, :method => 'post', :multipart => true) do %>
  <p>
    Select a Comma Separated Values (CSV) file to import with attribute names as the header row.
    <%= link_to_function 'Click here', "Element.toggle('attributes')" %> for a list of available attributes
    (not all attributes are required).
  </p>
  <p>
    <strong>Only the first <%= pluralize Person::MAX_RECORDS_TO_IMPORT, 'record' %> will be imported.
    For larger files, you must divide records into multiple files, or use the
    <a href="http://wiki.github.com/seven1m/onebody/updateagent">UpdateAgent</a> to
    import a large batch at once.</strong>
  </p>
  <ul id="attributes" style="display:none;">
    <% @column_names.each do |name| %>
      <li><%=h name %></li>
    <% end %>
  </ul>
  <p>
    <%= file_field_tag :file %><br/>
    <%= check_box_tag 'match_by_name', true, true %>
    <label for="match_by_name" class="inline">Attempt to match existing people by name if no IDs are included.</label>
  </p>
  <fieldset>
    <legend>Visibility/Access</legend>
    Apply the following settings to all imports:<br/>
    <%= check_box_tag 'attributes[can_sign_in]', true, true, :id => 'attributes_can_sign_in' %>
    <label for="attributes_can_sign_in" class="inline">Can Sign In</label><br/>
    <%= check_box_tag 'attributes[full_access]', true, true, :id => 'attributes_full_access' %>
    <label for="attributes_full_access" class="inline">Full Access</label><br/>
    <%= check_box_tag 'attributes[visible_to_everyone]', true, true, :id => 'attributes_visible_to_everyone' %>
    <label for="attributes_visible_to_everyone" class="inline">Visible to Everyone</label><br/>
    <%= check_box_tag 'attributes[visible_on_printed_directory]', true, true, :id => 'attributes_visible_on_printed_directory' %>
    <label for="attributes_visible_on_printed_directory" class="inline">Visible on Printed Directory</label>
  </fieldset>
  <p>
    <%= submit_tag 'Import Data...' %>
  </p>
<% end %>
<p>
  Hint: Excel documents can be exported as CSV from the File &mdash;&gt; Save As menu.
</p>
