<%= stylesheet_link_tag 'tabs' %>
<%= javascript_include_tag 'tabs' %>

<h1>Privacy</h1>

<% if @person %>
  <% content_for :subnav do %>
    <li><%= link_to 'View Profile', person_path(@person) %></li>
    <li><%= link_to 'Edit Profile', edit_person_path(@person) %></li>
    <li><%= link_to 'Change Email/Password', :controller => 'account', :action => 'edit', :id => @person %></li>
  <% end %>
<% end %>

<% unless @logged_in.adult? %>
  <p style="font-weight:bold;">
    Only an adult can edit these settings. According to our records,
    you are not. Please contact the church office if you believe this
    to be an error.
  </p>
<% end %>

<p>
  Modify the privacy settings for you and your family below. To understand how we use the personal information
  of you and your family, please read our <%= link_to 'Privacy Policy', :controller => 'help', :action => 'privacy_policy' %>.
</p>

<h2 class="tab" id="f">Family Privacy<% unless @family.visible? %> <%= image_tag('lock.gif', :alt => 'Invisible', :class => 'icon', :style => 'height:12px;') %><% end %></h2>

<div class="section">
<p>
  These settings affect your whole family. Person Privacy settings (the other tabs)
  may override these settings.
</p>

<% form_for :family, @family, :url => {:action => 'privacy', :id => @family.people.first}, :html => {:style => 'border:none;padding:0;'} do |form| %>

  <p>
    <%= form.check_box 'visible', :class => 'checkbox', :onclick => "check_visibility();if($('notice')) new Effect.Fade('notice');if(!changed_sections.include('family'))changed_sections.push('family')" %>
    <strong class="very-strong">visible on site</strong><br/>
    <em>By turning off site visibility, <%= @family == @logged_in.family ? 'your' : 'this' %> entire
      family will not appear in any searches. It is still possible to join groups and receive email
      from site administrators, though.</em>
  </p>

  <div id="family">

    <table>
      <tr><th>Detail</th><th>Visible</th><th>Hidden</th></tr>
      <tr>
        <td>Address</td>
        <td><%= form.radio_button :share_address, true, :class => 'checkbox' %></td>
        <td><%= form.radio_button :share_address, false, :class => 'checkbox' %></td>
      </tr>
      <tr>
        <td>Mobile Phone</td>
        <td><%= form.radio_button :share_mobile_phone, true, :class => 'checkbox' %></td>
        <td><%= form.radio_button :share_mobile_phone, false, :class => 'checkbox' %></td>
      </tr>
      <tr>
        <td>Work Phone</td>
        <td><%= form.radio_button :share_work_phone, true, :class => 'checkbox' %></td>
        <td><%= form.radio_button :share_work_phone, false, :class => 'checkbox' %></td>
      </tr>
      <tr>
        <td>Fax</td>
        <td><%= form.radio_button :share_fax, true, :class => 'checkbox' %></td>
        <td><%= form.radio_button :share_fax, false, :class => 'checkbox' %></td>
      </tr>
      <tr>
        <td>Email</td>
        <td><%= form.radio_button :share_email, true, :class => 'checkbox' %></td>
        <td><%= form.radio_button :share_email, false, :class => 'checkbox' %></td>
        <td><em>People can still send your family email <%= link_to_function 'through the site', "alert('#{SITE_MAIL_DESCRIPTION}')" %> if Private Messages are enabled.</em></td>
      </tr>
      <tr>
        <td>Birthday</td>
        <td><%= form.radio_button :share_birthday, true, :class => 'checkbox' %></td>
        <td><%= form.radio_button :share_birthday, false, :class => 'checkbox' %></td>
        <td><em>The year is never shown.</em></td>
      </tr>
      <tr>
        <td>Anniversary</td>
        <td><%= form.radio_button :share_anniversary, true, :class => 'checkbox' %></td>
        <td><%= form.radio_button :share_anniversary, false, :class => 'checkbox' %></td>
        <td><em>The year is never shown.</em></td>
      </tr>
      <tr>
        <td>Home Phone*</td>
        <td><input type="radio" checked="checked" disabled="disabled" class="checkbox" name="home_phone"/></td>
        <td><input type="radio" disabled="disabled" class="checkbox" name="home_phone"/></td>
      </tr>
      <tr>
        <td>Activity</td>
        <td><%= form.radio_button :share_activity, true, :class => 'checkbox' %></td>
        <td><%= form.radio_button :share_activity, false, :class => 'checkbox' %></td>
        <td>
          <% if Setting.get(:features, :friends) %>
            <em>Your friends may see your activity online (public messages, verses, etc.) conveniently in their "Recently" tab.</em>
          <% end %>
          <% if Setting.get(:features, :sidebar_group_category) %>
            <em>Fellow group members may see your group messages, blog posts, and prayer requests conveniently in their "Recently" tab.</em>
          <% end %>
        </td>
      </tr>
      <tr>
        <td>Wall</td>
        <td><%= form.radio_button :wall_enabled, true, :class => 'checkbox' %></td>
        <td><%= form.radio_button :wall_enabled, false, :class => 'checkbox' %></td>
        <td><em>A space for people to post messages for you and others to see.</em></td>
      </tr>
    </table>
  
    <p style="font-style:italic;">
      *Your home phone number needs to remain visible to facilitate basic communication, but
      if you wish to make it private, you may contact the church office to have it unlisted.
    </p>
    
  </div>
  
  <p><%= submit_tag 'Save Family Settings' %></p>
<% end %>

</div>

<div id="privacy-people">

<% @family.people.each do |person| %>

  <h2 class="tab" id="p<%= person.id %>"><%=h person.name %><% if not person.consent_or_13? %> <%= image_tag('lock_red.gif', :alt => 'Invisible', :class => 'icon', :style => 'height:12px;') %><% elsif not person.visible? %> <%= image_tag('lock.gif', :alt => 'Invisible', :class => 'icon', :style => 'height:12px;') %><% end %></h2>
  
  <div class="section">
  
  <% form_for :person, person, :url => {:action => 'privacy', :id => person}, :html => {:style => 'border:none;padding:0;'} do |form| %>
  
    <%= hidden_field_tag :anchor, "p#{person.id}" %>
    
    <% if person.consent_or_13? %>
    
      <% if not person.at_least_13? %>
        <p class="highlight">
          This child's profile has parental consent from <%=h person.parental_consent %>.
          If you have concerns regarding this, please contact the church office at
          <%=h Setting.get(:contact, :church_office_phone) %> immediately.
        </p>
      <% end %>
    
      <p>You may override the family settings for <%=h person.name %> by making changes below.</p>
      
      <p class="person-visible-link">
        <%= form.check_box 'visible', :class => 'checkbox person-visible-checkbox', :id => "person-visible#{person.id}", :onclick => "check_visibility();" %>
        <strong>visible on site</strong><br/>
        <em>By turning off site visibility, <%=h person.first_name %> will not appear
          anywhere on the site.</em>
      </p>
      
      <div id="person<%= person.id %>" class="person">
      
        <table>
          <tr><th>Detail</th><th>Visible</th><th>Hidden</th><th>Default</th></tr>
          <tr>
            <td>Mobile Phone</td>
            <td><%= radio_button_tag 'person[share_mobile_phone]', true, person.attributes['share_mobile_phone'] == true, :class => 'checkbox' %></td>
            <td><%= radio_button_tag 'person[share_mobile_phone]', false, person.attributes['share_mobile_phone'] == false, :class => 'checkbox' %></td>
            <td><%= radio_button_tag 'person[share_mobile_phone]', 'nil', person.attributes['share_mobile_phone'] == nil, :class => 'checkbox' %></td>
          </tr>
          <tr>
            <td>Work Phone</td>
            <td><%= radio_button_tag 'person[share_work_phone]', true, person.attributes['share_work_phone'] == true, :class => 'checkbox' %></td>
            <td><%= radio_button_tag 'person[share_work_phone]', false, person.attributes['share_work_phone'] == false, :class => 'checkbox' %></td>
            <td><%= radio_button_tag 'person[share_work_phone]', 'nil', person.attributes['share_work_phone'] == nil, :class => 'checkbox' %></td>
          </tr>
          <tr>
            <td>Fax</td>
            <td><%= radio_button_tag 'person[share_fax]', true, person.attributes['share_fax'] == true, :class => 'checkbox' %></td>
            <td><%= radio_button_tag 'person[share_fax]', false, person.attributes['share_fax'] == false, :class => 'checkbox' %></td>
            <td><%= radio_button_tag 'person[share_fax]', 'nil', person.attributes['share_fax'] == nil, :class => 'checkbox' %></td>
          </tr>
          <tr>
            <td>Email</td>
            <td><%= radio_button_tag 'person[share_email]', true, person.attributes['share_email'] == true, :class => 'checkbox' %></td>
            <td><%= radio_button_tag 'person[share_email]', false, person.attributes['share_email'] == false, :class => 'checkbox' %></td>
            <td><%= radio_button_tag 'person[share_email]', 'nil', person.attributes['share_email'] == nil, :class => 'checkbox' %></td>
          </tr>
          <tr>
            <td>Birthday</td>
            <td><%= radio_button_tag 'person[share_birthday]', true, person.attributes['share_birthday'] == true, :class => 'checkbox' %></td>
            <td><%= radio_button_tag 'person[share_birthday]', false, person.attributes['share_birthday'] == false, :class => 'checkbox' %></td>
            <td><%= radio_button_tag 'person[share_birthday]', 'nil', person.attributes['share_birthday'] == nil, :class => 'checkbox' %></td>
            <td><em>The year is never shown.</em></td>
          </tr>
          <tr>
            <td>Activity</td>
            <td><%= radio_button_tag 'person[share_activity]', true, person.attributes['share_activity'] == true, :class => 'checkbox' %></td>
            <td><%= radio_button_tag 'person[share_activity]', false, person.attributes['share_activity'] == false, :class => 'checkbox' %></td>
            <td><%= radio_button_tag 'person[share_activity]', 'nil', person.attributes['share_activity'] == nil, :class => 'checkbox' %></td>
            <td>
              <% if Setting.get(:features, :friends) %>
                <em>Your friends may see your activity online (public messages, verses, etc.) conveniently in their "Recently" tab.</em>
              <% end %>
              <% if Setting.get(:features, :sidebar_group_category) %>
                <em>Fellow group members may see your group messages, blog posts, and prayer requests conveniently in their "Recently" tab.</em>
              <% end %>
            </td>
          </tr>
          <tr>
            <td>Wall</td>
            <td><%= radio_button_tag 'person[wall_enabled]', true, person.attributes['wall_enabled'] == true, :class => 'checkbox' %></td>
            <td><%= radio_button_tag 'person[wall_enabled]', false, person.attributes['wall_enabled'] == false, :class => 'checkbox' %></td>
            <td><%= radio_button_tag 'person[wall_enabled]', 'nil', person.attributes['wall_enabled'] == nil, :class => 'checkbox' %></td>
            <td><em>A space for people to post messages for <%=h @logged_in == person ? 'you' : person.first_name %> and others to see.</em></td>
          </tr>
        </table>
      
        <p>
          <%= image_tag 'message.gif', :alt => 'Private Message', :class => 'icon' %>
          Private Messages Enabled:<br/>
          <%= check_box_tag 'person[messages_enabled]', true, person.attributes['messages_enabled'], :class => 'checkbox', :onclick => "if(!this.checked) return confirm('Disabling private messages will prevent #{person.name} from receiving email through the web site. Also, #{person.name} will not be able to send messages to groups or to other people directly because there will be no way for people to reply. Are you sure you want to disable private messages?')" %>
          <input name="person[messages_enabled]" type="hidden" value="false" />
          If this is unchecked and <%=h @logged_in == person ? 'your' : person.name_possessive %> email address is hidden, others will have no way to send a private email directly to <%=h @logged_in == person ? 'you' : person.first_name %> through this site.
        </p>
      
      </div>
      
      <p><%= submit_tag 'Save Personal Settings' %></p>
      
    <% elsif @logged_in.family == @family and @logged_in.adult? %>
    
      <p class="alert">
        This child is under the age of 13, and you have not given consent to 1) allow
        their information to be displayed, and 2) allow them to sign into and use this
        web site.
      </p>
      
      <p>
        To show <%=h person.name %> on this site, please:
      </p>
      <ol>
        <li>Read our page about <%= link_to 'Safeguarding Children', :controller => 'help', :action => 'safeguarding_children' %>.</li>
        <li>Read our <%= link_to 'Privacy Policy', :controller => 'help', :action => 'privacy_policy' %>.</li>
        <li>Read the statement below and agree to it by checking the corresponding checkbox.</li>
        <li>Click the "I Agree" button.</li>
      </ol>
      
      <p>
        <%= check_box_tag 'agree', 'I Agree.', false, :class => 'checkbox' %>
        I, as a parent or legal gaurdian of <%=h person.name %>, hereby agree that I have read
        this site's <%= link_to 'Privacy Policy', :controller => 'help', :action => 'privacy_policy' %>,
        that the personal information of <%=h person.name %> may be displayed for other users of the
        web site (as determined by the privacy settings on this page), and that <%=h person.name %> may, if able, utilize this
        website as a normal user (including profile customization, and communication via private message,
        the wall, groups, etc.).<br/>
        <%= submit_tag 'I Agree', :style => 'font-size:12pt;border-style:outset;border-width:2px;' %>
      </p>
      
    <% else %>
    
      <p class="alert">
        This child is under the age of 13, and his/her parents have not given consent
        to allow their information to be displayed.
      </p>
      
    <% end %>
  <% end %>
  
  </div>

<% end %>

</div>

<script type="text/javascript">
//<![CDATA[
  function check_visibility() {
    var checked = $('family_visible').checked;
    $('family').style.display = checked ? '' : 'none';
    for(var i=1; i<tabs.length; i++) {
      tabs[i].style.display = checked ? '' : 'none';
    }
    $$('.person-visible-checkbox').each(function(e){
      $('person' + e.id.substring(14)).style.display = e.checked ? '' : 'none';
    });
  }
  set_up(); // tabs
  check_visibility();
  changes = false;
  $$('.section input').concat($$('.section textarea')).each(function(e){
    e.onchange = function() { changes = true };
    if(e.type == 'submit') e.onclick = function() { changes = false };
  });
  original_tab_click = tab_click;
  tab_click = function(e) {
    if(changes) {
      changes = false;
      if(confirm('Looks like you made a change to something on this tab. Be sure to save your changes before going to another tab. Click OK to save your changes first.')) {
        sections[lastSection].getElementsByTagName('form')[0].submit();
      } else {
        original_tab_click(e);
      }
    } else {
      original_tab_click(e);
    }
  };
  set_handlers();
  onbeforeunload = function() {
    if(changes) return 'Looks like you made a change to something on this page. Be sure to save your changes before leaving.';
  };
//]]>
</script>