<% content_for :toolbar do %>
  <h1><%=h @person.name %></h1>
  <%= iphone_back_button %>
<% end %>

<div class="info">
  <% unless @person.visible?(@family) %>
    <p>
      <%= image_tag('lock.gif', :alt => I18n.t('people.hidden_profile'), :class => 'icon') %>
      <%= I18n.t('people.this_profile_is_hidden') %>.
    </p>
  <% end %>
  <%= render :partial => 'photo' %>
  <ul>
    <% render :layout => 'people/detail_row_iphone', :locals => { :attribute => :website, :label => I18n.t('people.website') } do %>
      <%= link_to h(simple_url(@person.website)), @person.website, :rel => 'external' %>
    <% end %>
    <% render :layout => 'people/detail_row_iphone', :locals => { :attribute => :email, :label => I18n.t('people.email') } do %>
      <%= mail_to @person.email, @person.email, :rel => 'external' %>
    <% end %>
    <% render :layout => 'people/detail_row_iphone', :locals => { :attribute => :home_phone, :label => I18n.t('profile.home') } do %>
      <%= link_to format_phone(@person.home_phone) + ' (home)', "tel:#{@person.home_phone}", :rel => 'external' %>
    <% end %>
    <% render :layout => 'people/detail_row_iphone', :locals => { :attribute => :mobile_phone, :label => I18n.t('profile.mobile') } do %>
      <%= link_to format_phone(@person.mobile_phone) + ' (mobile)', "tel:#{@person.mobile_phone}", :rel => 'external' %>
    <% end %>
    <% render :layout => 'people/detail_row_iphone', :locals => { :attribute => :work_phone, :label => I18n.t('profile.work') } do %>
      <%= link_to format_phone(@person.work_phone) + ' (work)', "tel:#{@person.work_phone}", :rel => 'external' %>
    <% end %>
    <% render :layout => 'people/detail_row_iphone', :locals => { :attribute => :fax, :label => I18n.t('privacies.fax') } do %>
      <%= link_to format_phone(@person.fax) + ' (fax)', "tel:#{@person.fax}", :rel => 'external' %>
    <% end %>
    <% render :layout => 'people/detail_row_iphone', :locals => { :attribute => :address, :label => 'Address' } do %>
      <%= link_to preserve_breaks(@person.family.pretty_address), "http://maps.google.com/maps?q=#{url_encode(@person.family.mapable_address)}", :rel => 'external' %>
    <% end %>
    <% render :layout => 'people/detail_row_iphone', :locals => { :attribute => :birthday, :label => 'Birthday' } do %>
      birthday: <%=h @person.birthday.to_s(:date) %>
    <% end %>
    <% render :layout => 'people/detail_row_iphone', :locals => { :attribute => :anniversary, :label => 'Anniversary' } do %>
      anniversary: <%=h @person.anniversary.to_s(:date) %>
    <% end %>
  </ul>
</div>

<% if @family_people.length > 1 %>
  <h2>Family</h2>
  <ul>
    <% @family_people.each do |person| %>
      <li class="arrow">
        <a href="<%= url_for person %>">
          <div class="thumbnail">
            <%= render :partial => 'people/thumbnail', :locals => {:person => person} %>
          </div>
          <%=h person.name %>
          <% unless person.visible?(@family) %>
            <%= image_tag('lock.gif', :alt => 'Hidden Profile', :class => 'icon') %>
          <% end %>
        </a>
      </li>
    <% end %>
  </ul>
<% end %>

<% if Setting.get(:features, :friends) and (count = @person.friendships.count) > 0 %>
  <h2>
    Friends
    <% if count > MAX_FRIENDS_ON_PROFILE %>
      (<%= MAX_FRIENDS_ON_PROFILE %> of <%= count %>)
    <% end %>
  </h2>
  <ul>
    <% @friends.each do |friend| %>
      <li class="arrow">
        <a href="<%= url_for friend %>">
          <div class="thumbnail">
            <%= render :partial => 'people/thumbnail', :locals => {:person => friend} %>
          </div>
          <%=h friend.name %>
          <% if friend.birthday_soon? %>
            <br/>
            <span class="detail">
              <%= image_tag('birthday.png', :alt => 'Birthday', :class => 'icon') %>
              birthday <%= friend.birthday.to_time.to_s :date rescue nil %>
            </span>
          <% end %>
        </a>
      </li>
    <% end %>
    <% if count > MAX_FRIENDS_ON_PROFILE %>
      <li class="arrow"><%= link_to "more...", person_friends_path(@person) %></li>
    <% end %>
  </ul>
<% end %>

<% if Setting.get(:features, :sidebar_group_category) and (count = @person.sidebar_group_people_count) > 0 %>
  <h2>
    <%= Setting.get(:features, :sidebar_group_heading) %>
    <% if count > MAX_GROUPIES_ON_PROFILE %>
      (<%= MAX_GROUPIES_ON_PROFILE %> of <%= count %>)
    <% end %>
  </h2>
  <ul>
    <% @sidebar_group_people.each do |person| %>
      <li class="arrow">
        <a href="<%= url_for person %>">
          <div class="thumbnail">
            <%= render :partial => 'people/thumbnail', :locals => {:person => person} %>
          </div>
          <%=h person.name %>
          <% if person.birthday_soon? %>
            <br/>
            <span class="detail">
              <%= image_tag('birthday.png', :alt => 'Birthday', :class => 'icon') %>
              birthday <%= person.birthday.to_time.to_s :date rescue nil %>
            </span>
          <% end %>
        </a>
      </li>
    <% end %>
    <% if count > MAX_GROUPIES_ON_PROFILE %>
      <li class="arrow"><%= link_to "more...", person_groupies_path(@person) %></li>
    <% end %>
  </ul>
<% end %>

<% if Setting.get(:features, :groups) and (groups = @person.groups.all).any? %>
  <h2>Groups</h2>
  <ul>
    <% groups.sort_by(&:name).each do |group| %>
      <% if not group.hidden? %>
        <li class="arrow">
          <a href="<%= url_for group %>">
            <div class="thumbnail">
              <% if group.has_photo? %>
                <%= image_tag tn_group_photo_path(group), :alt => group.name, :class => 'no-border' %>
              <% else %>
                <%= image_tag 'group.tn.jpg', :alt => group.name, :class => 'no-border' %>
              <% end %>
            </div>
            <%=h group.name %>
          </a>
        </li>
      <% end %>
    <% end %>
  </ul>
<% end %>


<!--
<div id="share" style="margin-bottom:20px;display:none;">
  <% if me? %>
    <%# render :partial => 'streams/share' %>
  <% elsif @person.wall_enabled? %>
    <h2 class="tab" id="message"><%= image_tag('comments.png', :alt => 'Message', :class => 'icon') %> Message</h2>
    <div class="section">
      <% form_for Message.new(:wall => @person) do |form| %>
        <%= form.hidden_field :wall_id %>
        <p>
          <%= image_tag('comments.png', :alt => "Note for #{@person.first_name}", :class => 'icon') %>
          Leave a message for <%=h @person.first_name %>:
          <%= radio_button_tag 'note_private', false, true %><%= label_tag 'note_private_false', 'Public', :class => 'inline' %>
          <%= radio_button_tag 'note_private', true, false, :onclick => "this.form.submit()", :disabled => !@person.messages_enabled?, :readonly => !@person.messages_enabled? %><%= label_tag 'note_private_true', 'Private', :class => 'inline' %>
          <% unless @person.messages_enabled? %>(disabled)<% end %>
          <br/>
          <%= form.text_area :body, :rows => 2, :cols => 70, :style => 'width:375px;' %>
          <%= form.submit 'Save Message', :id => 'note_submit' %>
          <span class="small discreet">
            This message will be visible to anyone who can see
            <%=h @person.first_name_possessive %> profile.
          </span>
        </p>
      <% end %>
    </div>
  <% end %>
  <h2 class="tab" id="info"><%= image_tag('information.png', :alt => 'Info', :class => 'icon') %> Info</h2>
  <div class="section">
    <%= render :partial => 'details' %>
  </div>
</div>

<div style="float:right;width:150px;">
  <ul id="my-stuff">
    <% if @person.testimony.to_s.any? %>
      <li><%= link_to image_tag('lightbulb.png', :alt => 'My Testimony', :class => 'icon') + ' My Testimony', testimony_person_path(@person) %></li>
    <% end %>
    <% if @person.has_favs? %>
      <li><%= link_to image_tag('emoticon_smile.png', :alt => 'My Favorites', :class => 'icon') + ' My Favorites', favs_person_path(@person) %></li>
    <% end %>
    <% if Setting.get(:features, :notes    ) %><li><%= link_to image_tag('note.png',     :alt => 'My Pictures', :class => 'icon') + ' My Notes',    person_notes_path(@person)   %></li><% end %>
    <% if Setting.get(:features, :pictures ) %><li><%= link_to image_tag('picture.png',  :alt => 'My Pictures', :class => 'icon') + ' My Pictures', person_albums_path(@person)  %></li><% end %>
    <% if Setting.get(:features, :verses   ) %><li><%= link_to image_tag('verse.png',    :alt => 'My Verses',   :class => 'icon') + ' My Verses',   person_verses_path(@person)  %></li><% end %>
    <% if Setting.get(:features, :recipes  ) %><li><%= link_to image_tag('recipe.png',   :alt => 'My Recipes',  :class => 'icon') + ' My Recipes',  person_recipes_path(@person) %></li><% end %>
    <% if @person.wall_enabled?              %><li><%= link_to image_tag('comments.png', :alt => 'My Messages', :class => 'icon') + ' My Messages', person_wall_path(@person)    %></li><% end %>
  </ul>
</div>

<div id="about" <% if @person.about.to_s.length > 500 %>class="scrolling-about"<% end %>>
  <%= white_list_with_removal @person.about %>
</div>

<%# Main Content %>
<div id="profile-body">
  
  <%# render :partial => 'streams/stream_item', :collection => @stream_items %>

  <% if nil and Setting.get(:features, :verses) and @verses.any? %>
    <h2 class="profile tab" id="verses">Verses</h2>
    <div id="verses_content" class="section">
      <%= render :partial => @verses %>
    </div>
  <% end %>

  <% if nil %>

  <h2 class="profile tab" id="about">About</h2>
  <div id="about_content" class="section">
    <% if @person.about.to_s.any? %>
      <%= preserve_breaks @person.about %>
    <% else %>
      <% if me? %>
        <p><em>Write something <%= link_to 'about yourself', edit_person_path(@person, :anchor => 'about') %>.</em></p>
      <% else %>
        <p><em>Nothing here yet!</em></p>
      <% end %>
    <% end %>
  </div>

  <% if @person.testimony.to_s.any? %>
    <h2 class="profile tab" id="testimony">Testimony</h2>
    <div id="testimony_content" class="section">
      <%= preserve_breaks @person.testimony %>
      <p><%= link_to 'Read more testimonies...', search_path(:testimony => true) %></p>
    </div>
  <% end %>

  <h2 class="profile tab" id="favorites">Favorites</h2>
  <div id="favorites_content" class="section">
    <%= render :partial => 'favorites' %>
  </div>
  
  <% end %>

</div>

<style type="text/css">
  .stream-item { display: block; }
</style>

<script type="text/javascript"> ALBUMS_JSON_PATH = '<%= person_albums_path(@person.id) %>'; </script>
<%= javascript_include_tag 'load_albums.js' %>

<%= stylesheet_link_tag 'tabs.css' %>
<%= javascript_include_tag 'tabs.js' %>
<script type="text/javascript">
  set_up_tabs();
  Element.show('share');
</script>

<% if session[:touring] %><%= tour_popup('Profile Tab', '/pages/help/tour_profile', 450, 'right') %><% end %>

-->
