<% content_for :toolbar do %>
  <h1><%= @person.name %></h1>
  <%= iphone_back_button %>
<% end %>

<div class="info">
  <% unless @person.visible?(@family) %>
    <p>
      <%= image_tag('lock.gif', :alt => t('people.hidden_profile'), :class => 'icon') %>
      <%= t('people.this_profile_is_hidden') %>.
    </p>
  <% end %>
  <%= render :partial => 'photo' %>
  <ul>
    <%= render :layout => 'people/detail_row_iphone', :locals => { :attribute => :website, :label => t('people.website') } do %>
      <%= link_to simple_url(@person.website), @person.website, :rel => 'external' %>
    <% end %>
    <%= render :layout => 'people/detail_row_iphone', :locals => { :attribute => :email, :label => t('people.email') } do %>
      <%= mail_to @person.email, @person.email, :rel => 'external' %>
    <% end %>
    <%= render :layout => 'people/detail_row_iphone', :locals => { :attribute => :home_phone, :label => t('profile.home') } do %>
      <%= link_to format_phone(@person.home_phone) + ' (home)', "tel:#{@person.home_phone}", :rel => 'external' %>
    <% end %>
    <%= render :layout => 'people/detail_row_iphone', :locals => { :attribute => :mobile_phone, :label => t('profile.mobile') } do %>
      <%= link_to format_phone(@person.mobile_phone) + ' (mobile)', "tel:#{@person.mobile_phone}", :rel => 'external' %>
    <% end %>
    <%= render :layout => 'people/detail_row_iphone', :locals => { :attribute => :work_phone, :label => t('profile.work') } do %>
      <%= link_to format_phone(@person.work_phone) + ' (work)', "tel:#{@person.work_phone}", :rel => 'external' %>
    <% end %>
    <%= render :layout => 'people/detail_row_iphone', :locals => { :attribute => :fax, :label => t('privacies.fax') } do %>
      <%= link_to format_phone(@person.fax) + ' (fax)', "tel:#{@person.fax}", :rel => 'external' %>
    <% end %>
    <%= render :layout => 'people/detail_row_iphone', :locals => { :attribute => :address, :label => 'Address' } do %>
      <%= link_to preserve_breaks(@person.family.pretty_address), "http://maps.google.com/maps?q=#{url_encode(@person.family.mapable_address)}", :rel => 'external' %>
    <% end %>
    <%= render :layout => 'people/detail_row_iphone', :locals => { :attribute => :birthday, :label => 'Birthday' } do %>
      birthday: <%= @person.birthday.to_s(:date) %>
    <% end %>
    <%= render :layout => 'people/detail_row_iphone', :locals => { :attribute => :anniversary, :label => 'Anniversary' } do %>
      anniversary: <%= @person.anniversary.to_s(:date) %>
    <% end %>
  </ul>
</div>

<% if @family_people.length > 1 %>
  <h2>Family</h2>
  <ul>
    <% @family_people.each do |person| %>
      <li class="arrow">
        <a href="<%= url_for person %>">
          <div class="thumbnail">
            <%= render :partial => 'people/thumbnail', :locals => {:person => person} %>
          </div>
          <%= person.name %>
          <% unless person.visible?(@family) %>
            <%= image_tag('lock.gif', :alt => 'Hidden Profile', :class => 'icon') %>
          <% end %>
        </a>
      </li>
    <% end %>
  </ul>
<% end %>

<% if Setting.get(:features, :friends) and (count = @person.friendships.count) > 0 %>
  <h2>
    Friends
    <% if count > MAX_FRIENDS_ON_PROFILE %>
      (<%= MAX_FRIENDS_ON_PROFILE %> of <%= count %>)
    <% end %>
  </h2>
  <ul>
    <% @friends.each do |friend| %>
      <li class="arrow">
        <a href="<%= url_for friend %>">
          <div class="thumbnail">
            <%= render :partial => 'people/thumbnail', :locals => {:person => friend} %>
          </div>
          <%= friend.name %>
          <% if friend.birthday_soon? %>
            <br/>
            <span class="detail">
              <%= image_tag('birthday.png', :alt => 'Birthday', :class => 'icon') %>
              birthday <%= friend.birthday.to_time.to_s :date rescue nil %>
            </span>
          <% end %>
        </a>
      </li>
    <% end %>
    <% if count > MAX_FRIENDS_ON_PROFILE %>
      <li class="arrow"><%= link_to "more...", person_friends_path(@person) %></li>
    <% end %>
  </ul>
<% end %>

<% if Setting.get(:features, :sidebar_group_category) and (count = @person.sidebar_group_people_count) > 0 %>
  <h2>
    <%= Setting.get(:features, :sidebar_group_heading) %>
    <% if count > MAX_GROUPIES_ON_PROFILE %>
      (<%= MAX_GROUPIES_ON_PROFILE %> of <%= count %>)
    <% end %>
  </h2>
  <ul>
    <% @sidebar_group_people.each do |person| %>
      <li class="arrow">
        <a href="<%= url_for person %>">
          <div class="thumbnail">
            <%= render :partial => 'people/thumbnail', :locals => {:person => person} %>
          </div>
          <%= person.name %>
          <% if person.birthday_soon? %>
            <br/>
            <span class="detail">
              <%= image_tag('birthday.png', :alt => 'Birthday', :class => 'icon') %>
              birthday <%= person.birthday.to_time.to_s :date rescue nil %>
            </span>
          <% end %>
        </a>
      </li>
    <% end %>
    <% if count > MAX_GROUPIES_ON_PROFILE %>
      <li class="arrow"><%= link_to "more...", person_groupies_path(@person) %></li>
    <% end %>
  </ul>
<% end %>

<% if Setting.get(:features, :groups) and (groups = @person.groups.all).any? %>
  <h2>Groups</h2>
  <ul>
    <% groups.sort_by(&:name).each do |group| %>
      <% if not group.hidden? %>
        <li class="arrow">
          <a href="<%= url_for group %>">
            <div class="thumbnail">
              <% if group.photo.exists? %>
                <%= image_tag group.photo.url(:tn), :alt => group.name, :class => 'no-border' %>
              <% else %>
                <%= image_tag 'group.tn.jpg', :alt => group.name, :class => 'no-border' %>
              <% end %>
            </div>
            <%= group.name %>
          </a>
        </li>
      <% end %>
    <% end %>
  </ul>
<% end %>
