<% content_for :subnav do %>
  <% if @logged_in.admin?(:edit_profiles) %>
    <div style="float:right;">
      <%= link_to 'Edit Family', @person.family %>
      <%= link_to 'New Family', new_family_path %>
    </div>
  <% end %>
  <% if @logged_in.can_edit? @person %>
    <%= render :partial => 'edit_person' %>
  <% end %>
  <% unless me? %>
    <%= render :partial => 'friendship' %>
    <% if @person.messages_enabled? %>
      <li><%= link_to image_tag('message.gif', :alt => 'Send Email', :class => 'icon') + ' Send Email', new_message_path(:to_person_id => @person) %></li>
    <% end %>
    <% if @logged_in.can_sync_remotely? %>
      <li><%= link_to_remote 'Sync &raquo;', :url => person_sync_path(@person, :where => 'extra'), :method => 'get' %></li>
    <% end %>
  <% end %>
<% end %>

<% content_for :sidebar do %>
  <%= render :partial => 'photo' %>
  <h1><%=h @person.name %></h1>
  <%= render :partial => 'person_type' %>
  <%= render :partial => 'family' %>
  <%= render :partial => 'hidden_children' %>
  <% if Setting.get(:features, :friends) %>
    <%= render :partial => 'friends' %>
  <% end %>
  <% if Setting.get(:features, :sidebar_group_category) %>
    <%= render :partial => 'sidebar_people' %>
  <% end %>
  <% if Setting.get(:features, :groups) %>
    <%= render :partial => 'sidebar_groups' %>
  <% end %>
<% end %>

<% if me? and @logged_in.pending_friendship_requests.count > 0 %>
  <p class="highlight">
    You have <%= link_to 'pending friend requests', person_friends_path(@person) %>.
  </p>
<% end %>

<%# render :partial => 'map' %>

<% unless @person.visible?(@family) %>
  <p>
    <%= image_tag('lock.gif', :alt => 'Hidden Profile', :class => 'icon') %>
    This profile is hidden
  </p>
<% end %>

<%= render :partial => 'pending_updates' %>

<%# render :partial => 'details' %>
<!--
<% unless @person.messages_enabled? %>
  <p>
    <%= image_tag('lock.gif', :alt => 'Email Disabled', :class => 'icon') %>
    Sending email to <%=h @person.first_name %> is disabled.
  </p>
<% end %>
-->

<% if Setting.get(:features, :pictures) and @albums.any? %>
  <div style="overflow:auto;float:right;width:85px;">
    <% @albums.each do |album| %>
      <div style="float:left;text-align:center;">
        <%= link_to image_tag(album.cover ? small_picture_path(album.cover) : 'camera.gif', :alt => album.name), album, :title => 'click to view' %><br/>
        <%= link_to h(album.name), album %>
      </div>
    <% end %>
    <div style="clear:left;"></div>
  </div>
<% end %>

<% if nil and Setting.get(:features, :verses) and @verses.any? %>
  <h2 class="profile tab" id="verses">Verses</h2>
  <div id="verses_content" class="section">
    <%= render :partial => @verses %>
  </div>
<% end %>

<!--
<h2 class="profile tab" id="about">About</h2>
<div id="about_content" class="section">
  <% if @person.about.to_s.any? %>
    <%= preserve_breaks @person.about %>
  <% else %>
    <% if me? %>
      <p><em>Write something <%= link_to 'about yourself', edit_person_path(@person, :anchor => 'about') %>.</em></p>
    <% else %>
      <p><em>Nothing here yet!</em></p>
    <% end %>
  <% end %>
</div>

<% if @person.testimony.to_s.any? %>
  <h2 class="profile tab" id="testimony">Testimony</h2>
  <div id="testimony_content" class="section">
    <%= preserve_breaks @person.testimony %>
    <p><%= link_to 'Read more testimonies...', search_path(:testimony => true) %></p>
  </div>
<% end %>

<h2 class="profile tab" id="favorites">Favorites</h2>
<div id="favorites_content" class="section">
  <%= render :partial => 'favorites' %>
</div>

<% if @person.wall_enabled? %>
  <h2 class="profile tab" id="wall">Wall</h2>
  <div id="wall_content" class="section">
    <%= render :partial => 'walls/wall' %>
  </div>
<% end %>
-->
<% if @show_map %>
  <%= render :partial => 'map_scripts' %>
<% end %>