<% content_for :sidebar do %>
  <%= t('people.limited_access') %>
<% end %>

<h2><%= @person.name %></h2>

<table>
  <% if @person.home_phone.to_s.any? %>
    <tr><td><%= t('privacies.home_phone') %>:</td><td><%= format_phone @person.home_phone %></td></tr>
  <% end %>
</table>

<h3><%= t('people.groups') %></h3>
<%= render partial: 'groups/person_groups' %>
