<% content_for :subnav do %>
  <li><%= link_to image_tag('eye.png', :alt => t('privacies.view_profile'), :class => 'icon') + ' ' + t('privacies.view_profile'), person_path(@person) %></li>
  <% if me? %>
    <%= link_to image_tag('pencil.png', :alt => t('people.edit_testimony'), :class => 'icon') + ' ' + t('people.edit_testimony'), edit_person_path(@person) + '#about' %>
  <% end %>
<% end %>

<h1><%=h @person.name_possessive %> <%= t('people.testimony') %></h1>

<%= white_list_with_removal @person.testimony %>