<h1>Shares</h1>

<%= render :partial => 'shares/subnav' %>

<p>
  <%= SETTINGS['name']['site'] %> is a place to connect and share inspirational Bible verses,
  good recipes, pictures, and more. From here, you can browse through the
  collection of things our members have shared and add some of your own!
</p>

<table style="margin:0 auto 0 auto;">
  <tr>
    <td style="padding-right:50px;text-align:center;"><%= link_to image_tag('event.medium.gif', :alt => 'Events', :class => 'no-border') + '<br/>Events', {:controller => 'events'}, :style => 'text-decoration:none;' %></td>
    <td style="padding-right:50px;text-align:center;"><%= link_to image_tag('camera.gif', :alt => 'Pictures', :class => 'no-border') + '<br/>Pictures', {:controller => 'pictures'}, :style => 'text-decoration:none;' %></td>
    <td style="padding-right:50px;text-align:center;"><%= link_to image_tag('bible.gif', :alt => 'Bible Verses', :class => 'no-border') + '<br/>Verses', {:controller => 'verses'}, :style => 'text-decoration:none;' %></td>
    <td style="vertical-align:bottom;text-align:center;"><%= link_to image_tag('recipe.gif', :alt => 'Recipes', :class => 'no-border') + '<br/>Recipes', {:controller => 'recipes'}, :style => 'text-decoration:none;' %></td>
  </tr>
</table>