<h2><%= t('setup.heading') %></h2>

<% if @error %>
  <p class="very-strong"><%= @error %></p>
<% end %>

<%= form_for @person, url: setup_path, method: 'POST' do |form| %>
  <p><%= t('setup.congratulations') %></p>

  <p class="very-strong"><%= t('setup.do_right_away') %></p>

  <%= error_messages_for(form) %>

  <p>
    <label for="domain_name"><%= t('setup.domain_name') %>:</label>
    <%= text_field_tag 'domain_name', Site.current.host %><br/>
    <em><%= t('setup.domain_name_note') %></em>
  </p>

  <h3><%= t('setup.admin_account') %></h3>
  <p><%= t('setup.more_accounts_later') %></p>
  <p><label><%= t('accounts.first_name') %>:</label><%= form.text_field :first_name %></p>
  <p><label><%= t('accounts.last_name') %>:</label><%= form.text_field :last_name %></p>
  <p><label><%= t('session.email_address') %></label><%= form.text_field :email %><br/><em><%= t('setup.email_note') %></em></p>
  <p><label><%= t('session.password') %></label><%= password_field_tag 'password' %></p>
  <p><label><%= t('session.password_confirm') %></label><%= password_field_tag 'password_confirmation' %></p>

  <p style="margin-top:25px;"><%= submit_tag t('save_changes') %></p>

<% end %>
