<% content_for :sidebar do %>
  <%= render partial: 'people/photo' %>
  <h2><%= t('friends.personal_friends', name: @person.name_possessive) %></h2>
<% end %>

<% if @pending.any? %>
  <div>
    <h3><%= t('friends.pending_requests') %></h3>
    <p><%= t('friends.people_requested') %></p>
    <table class="spaced">
      <% @pending.each do |friendship_request| %>
        <tr>
          <td>
            <a href="<%= url_for person_url(id: friendship_request.from) %>">
              <%= render partial: 'people/thumbnail', locals: {person: friendship_request.from} %>
            </a>
          </td>
          <td>
            <%= link_to friendship_request.from.name, friendship_request.from %>
          </td>
          <td>
            <%= link_to t('friends.accept'), person_friend_path(@logged_in, friendship_request, accept: true), method: 'put', class: 'add-icon' %><br/>
          </td>
          <td>
            <%= link_to t('friends.decline'), person_friend_path(@logged_in, friendship_request, reject: true), method: 'put', data: { confirm: t('are_you_sure') }, class: 'delete-icon' %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
<% end %>

<h3><%= t('friends.friends') %></h3>

<% if @friendships.any? %>
  <ul id="friends" style="list-style-type:none;">
    <% @friendships.each do |friendship| %>
      <li id="friendship_<%= friendship.id %>">
        <a href="<%= url_for person_url(id: friendship.friend) %>">
          <%= render partial: 'people/thumbnail', locals: {person: friendship.friend} %>
        </a>
        <%= link_to friendship.friend.name, friendship.friend %>
        (added <%= friendship.created_at.to_time.to_s %>)
        <% if me? %>
          <%= link_to t('friends.remove_from_friends'), person_friend_path(@person, friendship.friend), class: 'delete-icon', method: 'delete', data: { confirm: t('are_you_sure') } %>
        <% end %>
      </li>
    <% end %>
  </ul>
  
  <%= javascript_include_tag 'dragdrop.js' %>
<% else %>
  <p><%= t('groups.nobody_yet') %></p>
<% end %>

<% if me? %>
  <p class="double-margin-top">
    <%= link_to t('friends.search_in_the_directory'), new_search_path(search_friends: true), class: 'add-icon' %></p>
  </p>
<% end %>

