<h1>24/7 Prayer - <%= @first.strftime('%b %d') %>-<%= @last.strftime('%d') %></h1>

<p>
  Churches throughout the area are joining together to
  make <%= @first.strftime('%Y') %> a year of prayer. We have chosen
  <%= @first.strftime('%b %d') %>-<%= @last.strftime('%d') %>
  as our week to pray together 24 hours-a-day for <%= (@last - @first).to_i + 1 %> days.
  The prayer room will be manned around the clock all that week.
</p>

<p style="font-weight:bold;">
  Sign up to pray below. You may sign up for multiple hours.
</p>

<% content_for :sidebar do %>
  <h2>Taken Time Slots</h2>
  <div id="taken_slots"><%= render :partial => 'taken_slots' %></div>

  <% if @logged_in.admin?(:manage_prayer_signups) %>
    <%= form_tag search_path, :remote => true do %>
      <%= hidden_field_tag :select_person, true %>
      <%= hidden_field_tag :select_one, true %>
      <p>
        <label for="add_person_name"><%= t('prayer_signups.add_somebody') %>:</label>
        <%= text_field_tag 'name', nil %>
        <%= submit_tag t('search.search_by_name') %>
      </p>
    <% end %>

    <div id="add_member" style="display:none;">
      <%= form_tag prayer_signups_path, :remote => true do %>
        <div id="results"></div>
        <%= label_tag 'other_name', t('prayer_signups.other_name') %>
        <%= radio_button_tag 'ids[]', 0, false, :onclick => "$('#other_name')[0].focus()" %>
        <%= text_field_tag 'other_name', '', :size => 10, :onfocus => "$('#ids__0').attr('checked', true); $('#other_name_note').show()", :style => 'width:80px;' %>
        <div id="other_name_note" style="display:none;"><%= t('prayer_signups.other_name_note') %></div>
        <%= label_tag 'start', t('prayer_signups.select_time_slot') %>
        <%= select_tag 'start', options_for_select([''] + range_of_hours(@first, @last).map { |h| [h.strftime("%a %H:%M %p"), h.strftime('%Y/%m/%d %H:%M')] }) %>
        <p><%= submit_tag t('search.add_selected') %></p>
        <div id="admin_add_status"></div>
      <% end %>
    </div>
  <% end %>
<% end %>

<% day = nil %>
<% range_of_hours(@first, @last).each do |hour| %>
  <% if hour.day != day %>
    <a name="<%= hour.strftime('%Y%m%d') %>"></a>
    <h2><%= hour.strftime '%A, %B %d' %></h2>
    <% day = hour.day %>
    <table>
  <% end %>
  <% start = hour.strftime('%Y/%m/%d %H:%M') %>
  <tr>
    <td style="text-align:right;">
      <%= case hour.strftime('%I:%M %p')
        when '12:00 AM' then 'Midnight'
        when '12:00 PM' then 'Noon'
        else hour.strftime('%I:%M %p')
      end %>
    </td>
    <td id="signup<%= hour.strftime('%Y-%m-%d-%H') %>">
      <%= render :partial => 'signup_action', :locals => {:hour => hour} %>
    </td>
  </tr>
  <% if hour.hour == 23 or hour == @last %>
    </table>
  <% end %>
<% end %>
