<% today = Date.today %> 
<table class="spaced">
  <% if @publications.any? %>
    <% @publications.each do |publication| %>
      <tr>
        <td>
          <%= link_to image_tag(icon_image(publication), :alt => publication.name, :class => 'icon'), publication.file.url, :target => '_new' %>
        </td>
        <td>
          <%= link_to publication.name, publication.file.url, :target => '_new' %>
          <% if publication.created_at >= today - DAYS_NEW %><%= image_tag 'new.gif', :alt => t('new') + '!', :class => 'no-border' %><% end %>
          <% if @logged_in.admin?(:manage_publications) %>
            <%= link_to '', publication, :remote => true, :method => 'delete', :confirm => t('are_you_sure'), :class => 'delete-icon' %>
          <% end %>
          <br/>
          <%= publication.description %>
        </td>
      </tr>
    <% end %>
  <% else %>
    <tr>
      <td></td>
      <td><em><%= t('publications.no_publications_available') %></em></td>
    </tr>
  <% end %>
  <% if @logged_in.admin?(:manage_publications) %>
    <tr>
      <td></td>
      <td><%= link_to t('publications.add_publication'), new_publication_path, :class => 'add-icon' %></td>
    </tr>
  <% end %>
</table>
