<% today = Date.today %> 
<% if @publications.any? %>
  <table>
    <% @publications.each do |publication| %>
      <tr>
        <td>
          <%= link_to image_tag(publication.file_content_type == 'application/pdf' ? 'acrobat.gif' : 'publication.gif', :alt => publication.name, :class => 'no-border'), publication, :target => '_new' %>
        </td>
        <td>
          <%= link_to h(publication.name), publication, :target => '_new' %>
          <% if publication.created_at >= today - DAYS_NEW %><%= image_tag 'new.gif', :alt => t('new') + '!', :class => 'no-border' %><% end %>
          <% if @logged_in.admin?(:manage_publications) %>
            <%= link_to '[' + t('delete') + ']', publication, :method => 'delete', :confirm => t('are_you_sure'), :class => 'discreet' %>
          <% end %>
          <br/>
          <%=h publication.description %>
        </td>
      </tr>
    <% end %>
  </table>
  
  <p>
    <%= t('publications.files_with_acrobat_icon', {:img => image_tag('acrobat.gif', :alt => 'Adobe Acrobat', :class => 'icon'), :url => link_to('Adobe Reader', 'http://www.adobe.com/products/acrobat/readstep2.html')}) %>
  </p>
<% else %>
  <p><em><%= t('publications.no_publications_available') %></em></p>
<% end %>
