<h1>Publications</h1>

<%= render :partial => 'list' %>

<% if @logged_in.admin?(:manage_publications) %>
  <p>
    <%= link_to image_tag('add_small.gif', :alt => 'New Publication', :class => 'icon'), new_publication_path %>
    <%= link_to 'New Publication', new_publication_path %>
  </p>
<% end %>

<h2>Update Notifications</h2>
<% if @logged_in.member_of?(@group) %>
  <p>
    <%= image_tag 'message.gif', :alt => 'Email Notifications', :class => 'icon' %>
    You are currently signed up to receive email notifications when new publications are made available here.
    <%= link_to 'Click here', leave_group_path(@group, :return_to => request.request_uri) %>
    to stop receiving these notifications.
  </p>
<% else %>
  <p>
    <%= image_tag 'message.gif', :alt => 'Email Notifications', :class => 'icon' %>
    If you wish to recieve email notifications when new publications are made available on this page,
    <%= link_to 'click here', join_group_path(@group, :return_to => request.request_uri) %>.
  </p>
<% end %>

<% if @logged_in.admin?(:manage_publications) %>
  <p style="background-color:#ffc;">
    <%= l = @group.people.length %> <%= l == 1 ? 'person is' : 'people are' %>
    signed up to recieve notifications
    |
    <%= link_to 'View Group', @group %>
  </p>
<% end %>
