<% content_for :head do %>
  <link rel="alternate" type="application/atom+xml" title="<%= t('publications.feed') %>" href="<%= url_for publications_path(:format => 'xml', :code => @logged_in.feed_code) %>"/>
<% end %>

<% content_for :sidebar do %>
  <h3><%= t('publications.update_notifications') %></h3>

  <p>
    <%= link_to image_tag('clean/feed.png', :alt => t('publications.feed'), :class => 'big-icon'), publications_path(:format => 'xml', :code => @logged_in.feed_code) %>
    <%= t('publications.subscribe_feed_html', :url => publications_path(:format => 'xml', :code => @logged_in.feed_code)) %>
  </p>

  <% if @groups.any? %>
    <h3><%= t('publications.email_notifications') %></h3>
    <p><%= t('publications.start_receiving_notifications') %></p>
  <% end %>
  <% @groups.each do |group| %>
    <% if @logged_in.member_of?(group) %>
      <p>
        <%= image_tag 'clean/email.png', :alt => t('publications.email_notifications'), :class => 'big-icon' %>
        <strong><%= group.name %></strong>
        <%= link_to t('publications.unsubscribe'), group_membership_path(group, @logged_in), :method => 'delete', :confirm => t('are_you_sure') %>
        <% if @logged_in.admin?(:manage_publications) %>
          <br/><%= link_to t('groups.view_group'), group %>
        <% end %>
      </p>
    <% else %>
      <p>
        <%= image_tag 'clean/email.png', :alt => t('publications.email_notifications'), :class => 'big-icon' %>
        <strong><%= group.name %></strong><br/>
        <%= link_to t('publications.subscribe'), group_memberships_path(group, :id => @logged_in), :method => 'post', :confirm => t('are_you_sure') %>
        <% if @logged_in.admin?(:manage_publications) %>
          <br/><%= link_to t('groups.view_group'), group %>
        <% end %>
      </p>
    <% end %>

  <% end %>
<% end %>

<h2><%= t('publications.publications') %></h2>
<p><%= t('publications.files_with_acrobat_icon_html', {:img => image_tag('clean/acrobat.png', :alt => 'Adobe Acrobat', :class => 'icon'), :url => link_to('Adobe Reader', 'http://www.adobe.com/products/acrobat/readstep2.html')}) %></p>
<div id="publications"><%= render :partial => 'list' %></div>
