<h1>New Publication</h1>

<% form_for @publication, :html => {:multipart => true} do |form| %>
  <%= form.error_messages %>
  <p>
    <%= form.label :name %>         <%= form.text_field :name %><br/>
    <%= form.label :description %> <%= form.text_area :description, :rows => 3 %><br/>
    <%= form.label :file %>         <%= form.file_field :file %><br/>
    <%= radio_button_tag :send_update_to_group_id, 0, true, :class => 'checkbox' %>
    <%= label_tag :send_update_to_group_id_0, 'Notify no one', :class => 'inline' %>
    <br/>
    <% @groups.each do |group| %>
      <%= radio_button_tag :send_update_to_group_id, group.id, false, :class => 'checkbox' %>
      <%= label_tag "send_update_to_group_id_#{group.id}", "Notify the #{group.name} group", :class => 'inline' %>
      <br/>
    <% end %>
    <%= form.submit 'Save Publication' %>
  </p>
<% end %>
