<%= @msg.html_body.html_safe %>
<p style="border-top:1px solid #ccc;margin-top:15px;padding-top:15px;">
  <%=raw @msg.reply_instructions(@to).gsub(/\n/, "<br/>\n") %><br/>
  <%=raw @msg.disable_email_instructions(@to).gsub(/\n/, "<br/>\n") %>
</p>
<% if @id_and_code %>
<p style="font-size:smaller;color:gray;"><%= t('notifier.message_id') %>: <%= @id_and_code %></p>
<% end -%>
