<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
  <p style="margin-top:15px;padding-top:15px;font-size:12px; font-family:courier new,courier,monospace;">
<%=raw t('notifier.pending_sign_up.intro',
         person: @person.name,
         site: Setting.get(:url, :site)) %></br></br>

<%=raw Person.human_attribute_name(:first_name) %>: <%=raw @person.first_name %></br>
<%=raw Person.human_attribute_name(:last_name) %>: <%=raw @person.last_name %></br>
<%=raw Person.human_attribute_name(:email) %>: <%=raw @person.email %></br>
  </p>
  <p style="border-top:1px solid #ccc;margin-top:15px;padding-top:15px;font-size:12px; font-family:courier new,courier,monospace;">
<%=raw t('notifier.pending_sign_up.instruction_first') %>
    </br>
<%= link_to "#{Setting.get(:url, :site)}people/#{@person.id}/edit#tab-visibility", "#{Setting.get(:url, :site)}people/#{@person.id}/edit#tab-visibility" %>
    </br>
<%=raw t('notifier.pending_sign_up.instruction_last') %>
  </p>
  </body>
</html>
