<% content_for :toolbar do %>
  <h1><%= t('groups.groupies') %></h1>
  <%= iphone_back_button %>
<% end %>

<% if @people.any? %>
  <ul>
    <% @people.each do |person| %>
      <li class="arrow">
        <a href="<%= url_for person %>">
          <div class="thumbnail">
            <%= render :partial => 'people/thumbnail', :locals => {:person => person} %>
          </div>
          <%= person.name %>
        </a>
      </li>
    <% end %>
  </ul>
<% else %>
  <div class="info"><%= t('groups.nobody_yet') %>!</div>
<% end %>
