<h1><%= @person.name_possessive %> <%= t('groups.groupies') %></h1>

<% if @people.any? %>
  <ul style="list-style-type:none;">
    <% @people.each do |person| %>
      <li>
        <a href="<%= url_for person %>">
          <%= render partial: 'people/thumbnail', locals: {person: person} %>
        </a>
        <%= link_to person.name, person %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p class="highlight"><%= t('groups.nobody_yet') %>!</p>
<% end %>
