- @title = 'Meeting Membership Types'

= form_for @meeting_membership_type, url: @formUrl do |form|
    = error_messages_for(form)
    
    .form-group
        = form.label :name
        = icon 'fa fa-star text-red'
        .input-group
            = form.text_field :name, class: 'form-control'
            
    .form-group
        = form.button t('save_changes'), class: 'btn btn-success'
  