= link_to '#', class: 'btn checkin-btn print-btn' do
  = icon 'fa fa-print'
  = t('checkin.interface.print.button')
  .badge.pull-right.tag-count

= link_to '#', class: 'btn checkin-btn cancel-btn' do
  = icon 'fa fa-times-circle'
  = t('checkin.interface.cancel.button')
