.checkin-inner
  .row
    .col-lg-3
      %ul.list-unstyled.checkin-people
        - @checkins.each do |checkin|
          %li{ style: checkin.person.persisted? ? '' : 'display:none' }
            = link_to '#', class: 'btn checkin-btn checkin-select-person', data: { id: checkin.person.id || 'new' } do
              .pull-right
                = icon 'fa fa-chevron-right status'
              = avatar_tag(checkin.person, variation: :dark)
              %span.name= checkin.person.name
      %ul.list-unstyled
        %li
          = link_to '#', class: 'btn checkin-btn', id: 'add-a-guest' do
            .pull-right
              = icon 'fa fa-chevron-right'
            = icon 'fa fa-plus'
            = t('checkin.interface.add_guest.button')

      .hidden-md.hidden-sm.hidden-xs
        .checkin-actions{ style: 'display:none' }
          = render partial: 'action_buttons'

    .col-lg-9
      - @checkins.each do |checkin|
        %div.checkin-person{ id: "person_#{checkin.id || 'new'}", style: 'display:none', data: { id: checkin.id } }

          - if checkin.can_choose_same?
            .checkin-same
              = link_to '#', class: 'btn same-as-last-week', data: { ids: checkin.last_week_records.map { |r| "#{r.checkin_time_id}-#{r.group_id}" }.join(',') } do
                %i.icon
                = t('checkin.interface.same_as_last_week.button')

          - checkin.times.each do |time|
            .box.checkin-destinations.checkin-time{ id: dom_id(time), data: { id: time.id } }
              .box-header
                %h2.box-title
                  = time.time_to_s
                  .checkin-selection-header
                  .checkin-not-attending-header{ style: 'display:none' }
                    = t('checkin.interface.not_attending')
                .pull-right
                  = link_to '#', class: 'checkin-close' do
                    .icon
                  = link_to '#', class: 'checkin-open', style: 'display:none' do
                    .icon
                  = link_to '#', class: 'checkin-change', style: 'display:none' do
                    .icon
                    change
              .box-body
                - time.group_times.each_with_index do |(section, group_times), index|
                  - if section.present?
                    %h3
                      = link_to '#', class: 'checkin-open-section', data: { id: "#checkin#{checkin.id}_time#{time.id}_section#{index}" } do
                        = icon 'checkin-folder'
                        = section
                  %ul.class-list{ id: "checkin#{checkin.id}_time#{time.id}_section#{index}", class: section.present? ? "collapsed indented" : nil }
                    - group_times.each do |group_time|
                      %li
                        = link_to '#', data: { id: group_time.id, 'group-id' => group_time.group_id }, class: 'checkin-select-class' do
                          = icon 'fa fa-users'
                          %span.name
                            = group_time.group.name

      .hidden-lg
        .checkin-actions{ style: 'display:none' }
          = render partial: 'action_buttons'

      .add-a-guest-entry.box{ style: 'display:none' }
        .box-header
          %h2.box-title= t('checkin.interface.add_guest.heading')
          .pull-right
            = link_to '#', class: 'checkin-close' do
              .icon
        .box-body
          %p= t('checkin.interface.add_guest.intro')
          %input
          = link_to t('checkin.interface.add_guest.save'), '#', class: 'btn btn-success save-btn'


- content_for :css do
  = stylesheet_link_tag 'checkin-print', media: 'print'

- content_for :js do
  :javascript
    window.checkin_labels = #{ json_escape(checkin_labels_as_json.to_json) }
    attendance_records = #{ json_escape(@checkins.each_with_object({}) { |c, h| h[c.id] = c.attendance_records.group_by(&:checkin_time_id) }.to_json) };
    checkin.load(attendance_records);
