<%= javascript_include_tag 'tiny_mce/tiny_mce.js' %>
<script type="text/javascript">
  tinyMCE.init({
  	mode: "exact",
  	elements: "recipe_ingredients,recipe_directions",
  	theme: "simple",
  	convert_newlines_to_brs : true,
  	invalid_elements: "pre,font"
  });
</script>

<%= form_for @recipe, :html => {:multipart => true} do |form| %>
  <%= error_messages_for(form) %>
  <p>
    <%= form.label :title, t('recipes.title') %>               <%= form.text_field :title %>                  <br/>
    <%= form.label :tag_list, t("tags.tags") %>                <%= form.text_field :tag_list %>               <br/>
    <%= form.label :serving_size, t('recipes.serving_size') %> <%= form.select :serving_size, 1..100 %>       <br/>
    <%= form.label :description, t('recipes.description') %>   <%= form.text_area :description, :rows => 3 %> <br/>
    <%= form.label :prep, t('recipes.prep_cook_time') %>       <%= form.text_field :prep %>                   <br/>
    <%= form.label :bake, t('recipes.bake_time') %>            <%= form.text_field :bake %>                   <br/>
    <%= form.label :ingredients, t('recipes.ingredients') %>   <%= form.text_area :ingredients, :rows => 10 %><br/>
    <%= form.label :directions, t('recipes.directions') %>     <%= form.text_area :directions, :rows => 10 %> <br/>
    <%= form.label :notes, t('recipes.other_notes') %>         <%= form.text_area :notes, :rows => 3 %>
    <%= form.submit t('recipes.save_recipe') %>
  </p>
<% end %>
