<% content_for :subnav do %>
  <% if @person %>
    <li><%= link_to image_tag('user.png', :alt => @person.name, :class => 'icon') + ' ' + h(@person.name), @person %></li>
  <% end %>
  <li><%= link_to image_tag('plus.png', :alt => t('recipes.add_a_recipe'), :class => 'icon') + ' ' + t('recipes.add_a_recipe'), new_recipe_path %></li>
<% end %>

<h1><%= t('recipes.recipes') %></h1>

<p><%= t('recipes.share_your_recipes', :community => h(Setting.get(:name, :community))) %></p>

<% content_for :sidebar do %>
  <h2><%= t('tags.tags') %></h2>
  <div class="tag-cloud">
    <%= tag_cloud @tags, %w(size1 size2 size3 size4) do |tag, css_class| %>
      <%= link_to h(tag.name), tag, :class => css_class %>
    <% end %>
    <% if @tags.empty? %>
      <em><%= t('tags.no_tags_yet') %></em>
    <% end %>
  </div>
<% end %>

<% if @recipes.any? %>
  <%= render :partial => 'list', :locals => {:recipes => @recipes} %>
<% else %>
  <p><em><%= t('recipes.no_recipes_yet') %></em></p>
<% end %>
