<% content_for :subnav do %>
  <% if @person %>
    <li><%= link_to image_tag('user.png', :alt => I18n.t("person"), :class => 'icon') + ' ' + I18n.t("back_to") + h(@person.name), @person %></li>
  <% end %>
  <li><%= link_to image_tag('plus.png', :alt => I18n.t("add_a_recipe"), :class => 'icon') + ' ' + I18n.t("add_a_recipe"), new_recipe_path %></li>
<% end %>

<h1><%= I18n.t("recipes") %></h1>

<p><%= I18n.t("share_your_favorite_recipes_with") %> <%=h Setting.get(:name, :community) %> <%= I18n.t("family") %>.</p>

<% content_for :sidebar do %>
  <h2><%= I18n.t("tags") %></h2>
  <div class="tag-cloud">
    <% tag_cloud @tags, %w(size1 size2 size3 size4) do |tag, css_class| %>
      <%= link_to h(tag.name), tag, :class => css_class %>
    <% end %>
    <% if @tags.empty? %>
      <em><%= I18n.t("no_tags_yet") %></em>
    <% end %>
  </div>
<% end %>

<% if @recipes.any? %>
  <%= render :partial => 'list', :locals => {:recipes => @recipes} %>
<% else %>
  <p><em><%= I18n.t("no_recipes_yet") %></em></p>
<% end %>
