<%= render :partial => 'shares/subnav' %>
<div id="searchresults">
  <h1>Search Results</h1>

  <%= will_paginate recipes %>

  <p>
    <% if @items && @items.length > 0 %>
     <ul id="searchResultsul">
      <% for recipe in @items %>
        <li>
          <%= link_to h(recipe.title), recipe %> &nbsp; &nbsp; &mdash; &nbsp; &nbsp;
          <small><%= @mark_term ? highlight(recipe.description, @mark_term) : h(recipe.description) %></small><br/>
          <div class="smaller"><%= @mark_term ? highlight(recipe.ingredients, @mark_term) : h(recipe.ingredients) %></div>
        </li>
      <% end %>
      </ul>
    <% elsif @mark_term && @mark_term.length > 0 %>
      No Results
    <% else %>
      &nbsp;
    <% end %>
  </p>

  <%= will_paginate recipes %>

  <%= link_to "Back", recipes_path %>
</div>
