<% content_for :subnav do %>
  <li><%= link_to image_tag('recipe.png', :alt => t('recipes.all_recipes'), :class => 'icon') + ' ' + t('recipes.all_recipes'), recipes_path %></li>
  <% if @logged_in.can_edit?(@recipe) %>
    <li><%= link_to image_tag('pencil.png', :alt => t('recipes.edit_recipe'), :class => 'icon') + ' ' + t('recipes.edit_recipe'), edit_recipe_path(@recipe) %></li>
    <li><%= link_to image_tag('delete.png', :alt => t('recipes.delete_recipe'), :class => 'icon') + ' ' + t('recipes.delete_recipe'), recipe_path(@recipe), :method => 'delete', :confirm => t('are_you_sure') %></li>
  <% end %>
<% end %>

<% if @recipe.has_photo? %>
  <div style="width:200;float:right;">
    <%= image_tag(medium_recipe_photo_path(@recipe), :alt => @recipe.title) %>
  </div>
<% end %>

<h1><%=h @recipe.title %></h1>
<p class="below-h1">
  Added by:
  <% if @recipe.person %>
    <%= link_to h(@recipe.person.name), person_path(@recipe.person) %>
  <% else %>
    ???
  <% end %>
  <%=h @recipe.created_at.to_s %>
</p>
  
<table>
  <tr>
    <td><%= t('tags.tags') %>:</td>
    <td>
      <%= form_tag(@recipe, :method => 'put', :style => 'border:none;padding:0;') %>
        <p>
          <%= render :partial => 'tags/tags_with_delete', :locals => {:object => @recipe} %><br/>
          <%= t('tags.add_tags') %>: <%= text_field_tag :add_tags, nil, :style => 'width:125px;' %>
        </p>
      </form>
    </td>
  </tr>
  <tr>
    <td style="white-space:nowrap;"><%= t('recipes.serving_size') %>:</td>
    <td><%=h @recipe.serving_size %></td>
  </tr>
  <% if @recipe.prep.to_s.any? %>
    <tr>
      <td style="white-space:nowrap;"><%= t('recipes.prep_cook_time') %>:</td>
      <td><%=h @recipe.prep %></td>
    </tr>
  <% end %>
  <% if @recipe.bake.to_s.any? %>
    <tr>
      <td style="white-space:nowrap;"><%= t('recipes.bake_time') %>:</td>
      <td><%=h @recipe.bake %></td>
    </tr>
  <% end %>
  <% if @recipe.description.to_s.any? %>
    <tr>
      <td style="white-space:nowrap;"><%= t('recipes.description') %>:</td>
      <td><%= white_list_with_removal @recipe.description %></td>
    </tr>
  <% end %>
  <tr>
    <td style="white-space:nowrap;"><%= t('recipes.ingredients') %>:</td>
    <td><%= white_list_with_removal @recipe.ingredients %></td>
  </tr>
  <tr>
    <td style="white-space:nowrap;"><%= t('recipes.directions') %>:</td>
    <td><%= white_list_with_removal @recipe.directions %></td>
  </tr>
  <% if @recipe.notes.to_s.any? %>
    <tr>
      <td style="white-space:nowrap;"><%= t('recipes.other_notes') %>:</td>
      <td><%= white_list_with_removal @recipe.notes %></td>
    </tr>
  <% end %>
</table>

<h2><%= t('Comments') %></h2>
<%= render :partial => 'comments/comments', :locals => {:object => @recipe, :intro => t('recipes.about_this_recipe')} %>
