<%= form_for [@group, @req] do |form| %>
  <%= form.hidden_field :group_id %>
  <h3><%= t('prayer.request') %></h3>
  <p>
    <%= form.label :person_id, t('prayer.by') %>
    <% if @req.new_record? %>
      <%= form.select :person_id, @req.group.people.map { |p| [p.name, p.id] } %><br/>
    <% else %>
      <%= form.hidden_field :person_id %>
      <%= @req.person.name %>
    <% end %>
  </p>
  <p>
    <%= form.label :request, t('prayer.request') %>
    <%= form.text_area :request, rows: 5 %>
  </p>

  <p><%= form.submit t('prayer.save_prayer_request') %></p>

  <h3><%= t('prayer.answer') %></h3>
  <p><%= t('prayer.remember_to_come_back') %></p>
  <p>
    <%= form.label :answered_at, t('prayer.answer_date') %>
    <%= form.text_field :answered_at, value: @req.answered_at && @req.answered_at.to_s(:date) %>
  </p>
  <p>
    <%= form.label :answer, t('prayer.answer') %>
    <%= form.text_area :answer, rows: 5 %>
  </p>

  <p><%= form.submit t('prayer.save_prayer_request') %></p>
<% end %>

<script type="text/javascript">
  $('#prayer_request_answered_at').datepicker({changeYear:true, dateFormat:'<%= datepicker_format %>'});
</script>
