<p>
  <%= link_to h(req.person.name), req.person %> |
  <%= req.created_at.to_s :date %>
  <% if @logged_in.can_edit?(req) %>
    <%= link_to '[' + I18n.t('edit') + ']', edit_group_prayer_request_path(req.group, req), :class => 'discreet' %>
  <% end %>
  <% if (req.group and req.group.admin? @logged_in) or req.person == @logged_in %>
    <%= link_to '[' + I18n.t('delete') + ']', group_prayer_request_path(req.group, req), :class => 'discreet', :confirm => I18n.t('prayer.are_you_sure'), :method => 'delete' %>
  <% end %>
  <br/>
  <%=h req.request %>
  <% if req.answered_at %>
    <br/><strong><%= I18n.t('prayer.answered_on') %> <%= req.answered_at.to_s :date %>:</strong> <%=h req.answer %>
  <% end %>
</p>
