<p>
  <%= link_to req.person.name, req.person %> |
  <%= req.created_at.to_s :date %>
  <% if @logged_in.can_edit?(req) %>
    <%= link_to '[' + t('edit') + ']', edit_group_prayer_request_path(req.group, req), class: 'discreet' %>
  <% end %>
  <% if (req.group and req.group.admin? @logged_in) or req.person == @logged_in %>
    <%= link_to '[' + t('delete') + ']', group_prayer_request_path(req.group, req), class: 'discreet', data: { confirm: t('are_you_sure') }, method: 'delete' %>
  <% end %>
  <br/>
  <%= req.request %>
  <% if req.answered_at %>
    <br/><strong><%= t('prayer.answered_on') %> <%= req.answered_at.to_s :date %>:</strong> <%= req.answer %>
  <% end %>
</p>
