<h1>Edit Prayer Request</h1>
<% form_for :prayer_request, @req, :url => edit_prayer_request_path(@req) do |form| %>
  <%= form.hidden_field :group_id %>
  <h2>Request</h2>
  <p>
    <label for="prayer_request_person_id">By:</label>
    <%= form.select :person_id, @req.group.people.map { |p| [p.name, p.id] } %><br/>
    <label for="prayer_request_request">Request:</label>
    <%= form.text_area :request, :rows => 5 %>
  </p>
  <p><%= submit_tag 'Save Prayer Request' %></p>
  
  <h2>Answer</h2>
  <p>Remember to come back and fill this section so your group can have a record of answered prayers.</p>
  <p>
    <label for="prayer_request_answered_at">Answer Date:</label>
    <%= form.text_field :answered_at %> <em>MM/DD/YYYY</em><br/>
    <label for="prayer_request_answer">Answer:</label>
    <%= form.text_area :answer, :rows => 5 %>
  </p>
  
  <p><%= submit_tag 'Save Prayer Request' %></p>
<% end %>