<h2>
  <% if params[:answered] %><%= t('prayer.answered') %><% end %>
  <%= t('prayer.prayer_requests_in') %> <%= link_to @group.name, @group %>
</h2>

<% @reqs.each do |req| %>

  <div class="stream-item">
    <div class="stream-item-meta">
      <% if req.person %>
        <span class="nowrap">
          <a href="<%= url_for req.person %>">
            <%= image_tag req.person.photo.exists? ? req.person.photo.url(:tn) : (req.person.gender == 'Female' ? 'clean/womanoutline.tn.png' : 'clean/manoutline.tn.png'),
              alt: req.person.name %>
          </a>
        </span>
      <% else %>
        <%= image_tag 'clean/manoutline.tn.png', alt: '' %>
      <% end %>
      <div style="clear:left;"></div>
    </div>
    <div class="stream-item-body">
      <div><%= sanitize_html auto_link(req.body) %></div>
      <%= render partial: 'meta', locals: {req: req} %>
    </div>
  </div>

<% end %>

<%= will_paginate @reqs %>
