- @title = t('prayer_requests.index.heading')

- @reqs.each do |req|
  .prayer-request.box
    .box-header
      %h3.box-title
        = link_to req.created_at.to_s(:date), req
    .box-body
      = preserve_breaks req.request
      - if req.answer.present?
        .prayer-answer
          - if req.answered_at
            %h4= t('prayer_requests.answer.on_date', date: req.answered_at.to_s(:date))
          - else
            %h4= t('prayer_requests.answer.heading')
          = preserve_breaks req.answer

%p
  = link_to new_group_prayer_request_path(@group), class: 'btn btn-success' do
    = icon 'fa fa-plus'
    = t('prayer_requests.new.button')
