- @title = t('prayer_requests.show.heading')
- content_for :sub_title, link_to(@req.group.name, @req.group)

.row
  .col-md-3
    - if @req.answered_at
      %p= t('prayer_requests.answer.on_date', date: @req.answered_at.to_s(:date))
    - if @logged_in.can_edit?(@req)
      %p
        = link_to edit_group_prayer_request_path(@req.group, @req), class: 'btn btn-info' do
          = icon 'fa fa-pencil'
          = t('prayer_requests.edit.button')
      %p
        = link_to [@req.group, @req], method: :delete, data: { confirm: t('are_you_sure') }, class: 'btn bg-gray text-red' do
          = icon 'fa fa-trash-o'
          = t('prayer_requests.delete.button')

  .col-md-9
    %p= @req.request
    - if @req.answer.present?
      %h3= t('prayer_requests.answer.heading')
      %p= @req.answer
