<% content_for :sidebar do %>
  <p><%= link_to t('groups.back_to_group', :name => @req.group.name), @req.group, :class => 'left-icon' %></p>
  <p><%= t('prayer.submitted_by', :group_name => @req.group.name, :person_name => @req.person.try(:name) || '?', :date => @req.created_at.to_s(:date)) %></p>
  <% if @req.answered_at %>
    <p><%= t('prayer.answered_on', :date => @req.answered_at.to_s(:date)) %>
  <% end %>
  <% if @logged_in.can_edit?(@req) %>
    <p><%= link_to t('prayer.edit_request'), edit_group_prayer_request_path(@req.group, @req), :class => 'edit-icon' %></p>
    <p><%= link_to t('prayer.delete_request'), [@req.group, @req], :method => :delete, :confirm => t('are_you_sure'), :class => 'delete-icon' %></p>
  <% end %>
<% end %>

<h2><%= t('prayer.prayer_request') %></h2>

<p style="font-size:larger;"><%= @req.request %></p>

<% if @req.answer.to_s.any? %>
  <h3><%= t('prayer.answer') %></h3>
  <p style="font-size:larger;"><%= @req.answer %></p.>
<% end %>
