<% if @logged_in.can_edit?(@req) %>
  <% content_for :subnav do %>
    <li><%= link_to image_tag('pencil.png', :alt => I18n.t('prayer.edit_request'), :class => 'icon') + ' ' + I18n.t('prayer.edit_request'), edit_group_prayer_request_path(@req.group, @req) %></li>
    <% if @req.group and @req.group.admin?(@logged_in) %>
      <li><%= link_to image_tag('delete.png', :alt => I18n.t('prayer.delete_request'), :class => 'icon') + ' ' + I18n.t('prayer.delete_request'), group_prayer_request_path(@req.group, @req), :confirm => I18n.t('are_you_sure'), :method => 'delete' %></li>
    <% end %>
  <% end %>
<% end %>

<h1>
  <span style="font-size:10pt"><%= link_to h(@req.group.name), @req.group %></span><br/>
  <%= I18n.t('prayer.prayer_request') %>
</h1>

<p>
  <%= I18n.t('prayer.submitted_by') %> <%= link_to h(@req.person.name), person_url(:id => @req.person) %>
  on <%= @req.created_at.to_time.to_s :date %>
</p>

<p style="font-size:larger;"><%=h @req.request %></p>

<% if @req.answer.to_s.any? %>
  <h2><%= I18n.t('prayer.answer') %></h2>
  <% if @req.answered_at %>
    <p><%= I18n.t('prayer.answered_on') %> <%= @req.answered_at.to_time.to_s :date %></p>
  <% end %>
  <p style="font-size:larger;"><%=h @req.answer %></p.>
<% end %>
