<% content_for :subnav do %>
  <li><%= link_to h(@family.name), @family %></li>
<% end %>

<h1>Family Relationships for <%=h @family.name %></h1>

<% if @relationships.any? %>

  <table id="unique_relationships">
    <tr>
      <th><%= I18n.t('name') %></th>
      <th><%= I18n.t('relationships.relationship') %>
    <th>
    <% @unique_relationships.each do |person, relationship_names| %>
      <tr>
        <td><%= link_to h(person.name), person_relationships_path(person) %></td>
        <td><%=h relationship_names.join(', ') %></td>
      </tr>
    <% end %>
  </table>
  
  <table id="individual_relationships" style="display:none;">
    <tr>
      <th><%= I18n.t('From') %></th>
      <th></th>
      <th><%= I18n.t('To') %></th>
      <th><%= I18n.t('relationships.relationship') %>
    <th>
    <% @relationships.each do |relationship| %>
      <tr>
        <td><%= link_to h(relationship.person.name), person_relationships_path(relationship.person) %></td>
        <td><%= image_tag('arrow_right.png', :class => 'icon') %></td>
        <td><%= link_to h(relationship.related.name), person_relationships_path(relationship.related) %></td>
        <td><%=h relationship.name_or_other %></td>
      </tr>
    <% end %>
  </table>
  
  <p><%= link_to_function I18n.t('relationships.toggle_individual'), "Element.toggle('unique_relationships'); Element.toggle('individual_relationships');" %></p>
  
<% else %>

  <p><em><%= I18n.t('none') %></em></p>
  
<% end %>

<p><%= link_to_function I18n.t('relationships.create_family_relationships'), "Element.show('auto_generate');Element.hide(this)" %></p>

<div id="auto_generate" style="display:none;">
  <% form_tag family_relationships_path(@family) do %>
    <p><%= I18n.t('relationships.create_family_relationships_description') %></p>
    <table>
      <tr>
        <th><%= I18n.t('From') %></th>
        <th></th>
        <th><%= I18n.t('To') %></th>
        <th><%= I18n.t('relationships.relationship') %>
      <th>
      <% @suggested_relationships.each do |person, relationships| %>
        <% relationships.each do |related, relationship| %>
          <tr>
            <td><%= link_to h(person.name), person %></td>
            <td><%= image_tag('arrow_right.png', :class => 'icon') %></td>
            <td><%= link_to h(related.name), related %></td>
            <td><%= select_tag "people[#{person.id}][#{related.id}]", options_for_select([["(#{I18n.t('none')})", '']]+I18n.t('relationships.names').invert.sort, relationship.to_sym) %></td>
          </tr>
        <% end %>
      <% end %>
    </table>
    <%= submit_tag I18n.t('relationships.create_family_relationships') %>
  <% end %>
</div>
