<% content_for :subnav do %>
  <li><%= link_to @family.name, @family %></li>
<% end %>

<h2>Family Relationships for <%= @family.name %></h2>

<% if @relationships.any? %>

  <table id="unique_relationships" class="spaced">
    <tr>
      <th><%= t('name') %></th>
      <th><%= t('relationships.relationship') %>
    <th>
    <% @unique_relationships.each do |person, relationship_names| %>
      <tr>
        <td><%= link_to person.name, person_relationships_path(person) %></td>
        <td><%= relationship_names.join(', ') %></td>
      </tr>
    <% end %>
  </table>
  
  <table id="individual_relationships" style="display:none;" class="spaced">
    <tr>
      <th><%= t('From') %></th>
      <th></th>
      <th><%= t('To') %></th>
      <th><%= t('relationships.relationship') %>
    <th>
    <% @relationships.each do |relationship| %>
      <tr>
        <td><%= link_to relationship.person.name, person_relationships_path(relationship.person) %></td>
        <td><div class="right-icon" style="width:10px;height:16px;"></td>
        <td><%= link_to relationship.related.name, person_relationships_path(relationship.related) %></td>
        <td><%= relationship.name_or_other %></td>
      </tr>
    <% end %>
  </table>
  
  <p><%= link_to_function t('relationships.toggle_individual'), "$('#unique_relationships, #individual_relationships').toggle();" %></p>
  
<% else %>

  <p><em><%= t('none') %></em></p>
  
<% end %>

<% if @family.people.count > 0 %>
  <p><%= link_to_function t('relationships.create_family_relationships'), "$('#auto_generate').show();$(this).hide()" %></p>

  <div id="auto_generate" style="display:none;">
    <%= form_tag family_relationships_path(@family) do %>
      <p><%= t('relationships.create_family_relationships_description') %></p>
      <table class="spaced">
        <tr>
          <th><%= t('From') %></th>
          <th></th>
          <th><%= t('To') %></th>
          <th><%= t('relationships.relationship') %>
        <th>
        <% @suggested_relationships.each do |person, relationships| %>
          <% relationships.each do |related, relationship| %>
            <tr>
              <td><%= link_to person.name, person %></td>
              <td><div class="right-icon" style="width:10px;height:16px;"></td>
              <td><%= link_to related.name, related %></td>
              <td><%= select_tag "people[#{person.id}][#{related.id}]", options_for_select([["(#{t('none')})", '']]+t('relationships.names').invert.sort, relationship.to_sym) %></td>
            </tr>
          <% end %>
        <% end %>
      </table>
      <%= submit_tag t('relationships.create_family_relationships') %>
    <% end %>
  </div>
<% end %>
