<% content_for :sidebar do %>
  <%= form_tag search_path, remote: true %>
    <%= hidden_field_tag :select_person, true %>
    <p>
      <%= t('relationships.add_a_relationship') %><br/>
      <label for="name"><%= t('search.search_by_name') %></label> <%= text_field_tag 'name' %>
      <br/>
      <%= submit_tag t('relationships.add_relationship_button') %>
    </p>
    <p class="double-margin-top">
      <%= link_to t('relationships.family'), family_relationships_path(@person.family), class: 'people-icon' %>
    </p>
  </form>

  <div id="add_member" style="display:none;">
    <%= form_tag person_relationships_path(@person) do %>
      <label for="relationship_name"><%= t('relationships.relationship_type') %></label>
      <%= select_tag :name, options_for_select(['']+t('relationships.names').invert.sort),
        id: 'relationship_name',
        onchange: "if(this.value=='other') { $('#other_name').show()[0].focus() } else { $('#other_name').hide() }" %>
      <%= text_field_tag :other_name, nil, style: 'display:none;' %>
      <script type="text/javascript">
        $('#other_name').autocomplete({source: <%=raw json_escape(@other_names.to_json) %>});
        $('#relationship_name').trigger('change');
      </script>
      <div id="results"></div>
      <p><%= submit_tag t('search.add_selected') %></p>
    <% end %>
  </div>
<% end %>

<h2><%= @person.name %></h2>

<h3><%= t('relationships.outward') %></h3>

<% if @relationships.any? %>
  <%= form_tag batch_person_relationships_path(@person) do %>
    <table class="spaced">
      <tr>
        <th><input type="checkbox" onclick="$('.outward_relationship_checkbox').attr('checked', this.checked)"/></th>
        <th><%= t('name') %></th>
        <th><%= t('relationships.relationship') %>
      <th>
      <% @relationships.each do |relationship| %>
        <tr>
          <td><%= check_box_tag 'ids[]', relationship.id, false, class: 'outward_relationship_checkbox' %></td>
          <td><%= link_to relationship.related.name, person_relationships_path(relationship.related) %></td>
          <td><%= relationship.name_or_other %></td>
        </tr>
      <% end %>
    </table>
    <p>
      <%= submit_tag t('Delete'), name: 'delete', data: { confirm: t('are_you_sure') } %>
      <%= submit_tag t('relationships.Reciprocate'), name: 'reciprocate' %>
    </p>
  <% end %>
<% else %>
  <p><em><%= t('none') %></em></p>
<% end %>

<h3><%= t('relationships.inward') %></h3>

<% if @inward_relationships.any? %>
  <%= form_tag batch_person_relationships_path(@person) do %>
    <table class="spaced">
      <tr>
        <th><input type="checkbox" onclick="$('.inward_relationship_checkbox').attr('checked', this.checked)"/></th>
        <th><%= t('From') %></th>
        <th></th>
        <th><%= t('To') %></th>
        <th><%= t('relationships.relationship') %>
      <th>
      <% @inward_relationships.each do |relationship| %>
        <tr>
          <td><%= check_box_tag 'ids[]', relationship.id, false, class: 'inward_relationship_checkbox' %></td>
          <td><%= link_to relationship.person.name, person_relationships_path(relationship.person) %></td>
          <td><div class="right-icon" style="width:10px;height:16px;"></td>
          <td><%= @person.name %></td>
          <td><%= relationship.name_or_other %></td>
        </tr>
      <% end %>
    </table>
    <p>
      <%= submit_tag t('Delete'), name: 'delete', data: { confirm: t('are_you_sure') } %>
      <%= submit_tag t('relationships.Reciprocate'), name: 'reciprocate' %>
    </p>
  <% end %>
<% else %>
  <p><em><%= t('none') %></em></p>
<% end %>
