<% if @family.photo.exists? %>
  <%= render :partial => 'families/photo' %>
<% end %>
<h2><%= link_to @family.name, @family %></h2>
<p><%= preserve_breaks @family.pretty_address %> <%= render(:partial => 'map_link') %></p>
<p><%= format_phone @family.home_phone %></p>
