<% if @family.has_photo? %>
  <%= render :partial => 'families/photo' %>
<% else %>
  <%= image_tag 'family.jpg', :alt => 'no family photo' %>
<% end %>
<h1><%= link_to h(@family.name), @family %></h1>
<p><%= preserve_breaks @family.pretty_address %> <%= render(:partial => 'map_link') %></p>
<p><%= format_phone @family.home_phone %></p>
