<%= form_for @family do |form| %>
  <% if params[:compact] %><%= hidden_field_tag :compact, true %><% end %>
  <% if params[:people] %> <%= hidden_field_tag :people,  true %><% end %>
  <% if params[:barcode] %><%= hidden_field_tag :barcode, true %><% end %>
  
  <%= error_messages_for(form) %>
  
  <p>
    <%= render partial: 'form_fields', locals: {form: form} %>
  </p>
  
  <p>
    <%= submit_tag t('families.save') %>
  </p>
<% end %>
