.form-group
  = form.label :home_phone
  = form.phone_field :home_phone, class: 'form-control'
= form.fields_for :addresses do |address_fields|
  = render partial: 'families/address_fields', locals: { address_fields: address_fields }
= fields_for @family.addresses.new do |address_fields|
  = render partial: 'families/address_fields', locals: { address_fields: address_fields, hidden: true }
.form-group.text-right
  %span.btn.btn-success.add-address-button
    = icon 'fa fa-plus-circle'
    = t('families.edit.add_address.button')
