<% if @logged_in.admin?(:edit_profiles) %>
  <% content_for :subnav do %>
    <li><%= link_to 'Edit Family', edit_family_path(@family) %></li>
    <li><%= link_to 'Delete Family', @family, :method => 'delete', :confirm => 'Are you sure?' %></li>
  <% end %>
<% end %>

<h1><%=h @family.name %></h1>

<p><%= number_to_phone @family.home_phone, :area_code => true %></p>

<p><%= @family.pretty_address %></p>

<h2>People</h2>

<ol id="people">
  <% @people.each do |person| %>
    <li class="family-member" id="person_<%= person.id %>">
      <a href="<%= url_for person %>">
        <%= render :partial => 'people/thumbnail', :locals => {:person => person} %>
      </a>
      <%= link_to h(person.name), person %>
      <% unless person.visible? %>
        <%= image_tag('lock.gif', :alt => 'Hidden Profile', :class => 'icon') %>
      <% end %>
      <%= image_tag('reorder.png', :alt => 'reorder family members', :class => 'handle icon') %>
      <%= link_to '[edit]', edit_person_path(person), :class => 'discreet' %>
      <%= link_to '[delete]', person, :confirm => 'Are you sure?', :method => :delete, :class => 'discreet' %>
    </li>
  <% end %>
</ol>

<p class="discreet">Drag the green arrows to reorder family members.</p>

<% if @people.empty? %>
  <p><em>No one in this family yet.</em></p>
<% end %>

<p><%= link_to image_tag('add_small.gif', :alt => 'add person', :class => 'icon') + ' Add a person to this family.',
  new_person_path(:family_id => @family) %></p>
  
<%= javascript_include_tag 'dragdrop.js' %>
<%= sortable_element('people', :url => reorder_family_path(@family)) %>

