<% content_for :sidebar do %>
  <%= render partial: 'families/details' %>
  <% if @logged_in.can_edit?(@family) %>
    <p>
      <%= link_to t('families.edit'), edit_family_path(@family), class: 'edit-icon' %>
    </p>
    <p>
      <%= link_to t('families.delete'), @family, method: :delete, data: { confirm: t('families.are_you_sure') }, class: 'delete-icon' %>
    </p>
    <p>
      <%= link_to t('relationships.family'), family_relationships_path(@family), class: 'people-icon' %>
    </p>
  <% end %>
  <% if @logged_in.admin? %>
    <p class="discreet">
      <%= t('families.legacy_id') %>: <%= @family.legacy_id || t('none') %>
    </p>
  <% end %>
<% end %>

<%= render partial: 'map' %>

<h3><%= t('people.people') %></h3>

<table id="people" class="spaced">
  <tbody>
    <% @people.each do |person| %>
      <tr class="family-member" id="person_<%= person.id %>">
        <td>
          <%= content_tag :a, href: person_path(person) do %>
            <%= render partial: 'people/thumbnail', locals: {person: person} %>
          <% end %>
        </td>
        <td><%= link_to person.name, person %></td>
        <td><span class="updown-icon handle"></span></td>
        <td>
          <%= link_to '', edit_person_path(person), class: 'edit-icon' %>
          <%= link_to '', person, data: { confirm: t('are_you_sure') }, method: :delete, class: 'delete-icon' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @people.empty? %>
  <p><em><%= t('families.no_one_yet') %></em></p>
<% else %>
  <p class="discreet"><%= t('families.drag_to_reorder_members') %></p>
<% end %>

<p>
  <strong><%= t('families.add_members') %>:</strong><br/>
  <%= link_to t('people.new_person'), new_person_path(family_id: @family), class: 'add-icon' %><br/>
  <%= link_to_function t('families.existing_person'), "$('#add_existing').toggle(); $('#add_person_name')[0].focus()", id: 'add_existing_link', class: 'add-icon' %>
</p>

<%= form_tag search_path, remote: true, id: 'add_existing', style: 'display:none;' do %>
  <%= hidden_field_tag :select_person, true %>
  <p>
    <label for="add_person_name"><%= t('families.add_existing_person_html') %>:</label>
    <%= text_field_tag 'name', nil, id: 'add_person_name' %>
    <%= submit_tag t('search.search_by_name') %>
  </p>
<% end %>

<div id="add_member" style="display:none;">
  <%= form_tag batch_people_path, remote: true do %>
    <%= hidden_field_tag :family_id, @family.id %>
    <div id="results"></div>
    <p class="very-strong"><%= t('families.adding_will_remove_from_their_family_html') %></p>
    <p><%= submit_tag t('search.add_selected') %></p>
  <% end %>
</div>

<script type="text/javascript">
  $('#people tbody').sortable({
    axis: 'y',
    handle: '.handle',
    update: function(){
      $.post(
        '<%= escape_javascript reorder_family_path(@family) %>',
        $(this).sortable('serialize')
      );
    }
  }).disableSelection();
</script>
