<% if @logged_in.admin?(:edit_profiles) %>
  <% content_for :subnav do %>
    <li><%= link_to image_tag('pencil.png', :alt => t('families.edit'), :class => 'icon') + ' ' + t('families.edit') + ' ', edit_family_path(@family) %></li>
    <li><%= link_to image_tag('delete.png', :alt => t('families.delete'), :class => 'icon') + ' ' + t('families.delete') + ' ', @family, :method => 'delete', :confirm => t('families.are_you_sure') %></li>
    <li><%= link_to image_tag('link.png', :alt => t('relationships.family'), :class => 'icon') + ' ' + t('relationships.family'), family_relationships_path(@family) %></li>
  <% end %>
<% end %>

<% content_for :sidebar do %>
  <%= render :partial => 'families/details' %>
  <% if @logged_in.admin? %>
    <p class="discreet">
      <%= t('families.legacy_id') %>: <%= @family.legacy_id %>
    </p>
  <% end %>
<% end %>

<%= render :partial => 'map' %>

<h2><%= t('people.people') %></h2>

<ol id="people">
  <% @people.each do |person| %>
    <li class="family-member" id="person_<%= person.id %>">
      <a href="<%= url_for person %>">
        <%= render :partial => 'people/thumbnail', :locals => {:person => person} %>
      </a>
      <%= link_to person.name, person %>
      <% unless person.visible? %>
        <%= image_tag('lock.gif', :alt => t('search.hidden_profile'), :class => 'icon') %>
      <% end %>
      <%= image_tag('reorder.png', :alt => t('families.reorder'), :class => 'handle icon') %>
      <%= link_to image_tag('pencil.png', :alt => t('families.edit_person'), :class => 'icon'), edit_person_path(person), :class => 'discreet' %>
      <%= link_to image_tag('delete.png', :alt => t('families.delete_person'), :class => 'icon'), person, :confirm => t('are_you_sure'), :method => :delete, :class => 'discreet' %>
    </li>
  <% end %>
</ol>

<p class="discreet"><%= t('families.drag_to_reorder_members') %></p>

<% if @people.empty? %>
  <p><em><%= t('families.no_one_yet') %></em></p>
<% end %>

<p>
  <strong><%= t('families.add_members') %>:</strong><br/>
  <%= link_to image_tag('add_small.gif', :alt => t('people.new_person'), :class => 'icon') + ' ' + t('people.new_person'),
    new_person_path(:family_id => @family) %>
  <%= link_to_function image_tag('add_small.gif', :alt => t('families.existing_person'), :class => 'icon') + ' ' + t('families.existing_person'),
    "$('#add_existing').toggle(); $('#add_person_name')[0].focus()", :id => 'add_existing_link' %>
</p>

<%= form_tag search_path, :remote => true, :id => 'add_existing', :style => 'display:none;' do %>
  <%= hidden_field_tag :select_person, true %>
  <p>
    <label for="add_person_name"><%= t('families.add_existing_person_html') %>:</label>
    <%= text_field_tag 'name', nil, :id => 'add_person_name' %>
    <%= submit_tag t('search.search_by_name') %>
  </p>
<% end %>

<div id="add_member" style="display:none;">
  <%= form_tag batch_people_path, :remote => true do %>
    <%= hidden_field_tag :family_id, @family.id %>
    <div id="results"></div>
    <p class="very-strong"><%= t('families.adding_will_remove_from_their_family_html') %></p>
    <p><%= submit_tag t('search.add_selected') %></p>
  <% end %>
</div>

<script type="text/javascript">
  $('#people').sortable({
    axis: 'y',
    handle: '.handle',
    update: function(){
      $.post(
        '<%= escape_javascript reorder_family_path(@family) %>',
        $(this).sortable('serialize')
      );
    }
  }).disableSelection();
</script>
