- @title = @family.name
- content_for :sub_title do
  = link_to edit_family_path(@family) do
    = icon 'fa fa-pencil'
    = t('families.show.edit_link')

- if @logged_in.admin?(:edit_profiles) and @family.suggested_name != @family.name
  .callout.callout-warning
    = icon 'fa fa-info-circle'
    = t('families.show.suggested_name_html', count: @family.people.adults.count, url: edit_family_path(@family), name: @family.suggested_name)

.row
  .col-md-4
    = avatar_tag @family, size: :large

    %table.table
      - if @family.show_attribute_to?(:home_phone, @logged_in)
        %tr
          %td Home Phone
          %td= link_to_phone @family.home_phone
      - if @family.show_attribute_to?(:address, @logged_in)
        %tr
          %td Home Address
          %td
            = preserve_breaks @family.address
            %br
            == #{@family.city}, #{@family.state} #{@family.short_zip}
      - if anniversary = @family.anniversary_sharable_with(@logged_in)
        %tr
          %td Anniversary
          %td= anniversary.to_s(:date_without_year)

  .col-md-4

    %table.table.family
      - @people.each do |person|
        %tr.row-with-avatar
          %td.avatar= link_to avatar_tag(person), person
          %td
            = link_to person.name, person
            - unless person.visible?
              %i.fa.fa-lock
          %td.actions
            - if @logged_in.can_edit?(person)
              = link_to edit_person_path(person), class: 'btn bg-gray btn-xs text-yellow' do
                = icon 'fa fa-pencil'
            - if @logged_in.can_delete?(person)
              = link_to person, method: :delete, class: 'btn bg-gray btn-xs text-red' do
                = icon 'fa fa-minus-circle'

    - if @logged_in.can_edit?(@family)
      .well
        = link_to new_family_person_path(@family), class: 'btn btn-success' do
          = icon 'fa fa-plus-circle'
          = t('families.add.new')
        = link_to family_search_path(@family), class: 'btn btn-warning pull-right' do
          = icon 'fa fa-arrow-circle-left'
          = t('families.add.existing')
