<% content_for :subnav do %>
  <%= link_to 'Edit Family', edit_family_path(:id => @family) %>
<% end %>

<h1><%=h @family.name %></h1>

<p><%= number_to_phone @family.home_phone, :area_code => true %></p>

<p><%= @family.mapable_address %></p>

<h2>People</h2>

<% if @family.people.count > 0 %>
  <table>
    <% @family.people.each do |person| %>
      <tr class="family-member">
        <td>
          <a href="<%= url_for :action => 'view', :id => person %>">
            <%= render :partial => 'people/thumbnail', :locals => {:person => person} %>
          </a>
        </td>
        <td>
          <%= link_to h(person.name), person_url(:id => person) %>
          <% unless person.visible? %>
            <%= image_tag('lock.gif', :alt => 'Hidden Profile', :class => 'icon') %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
<% else %>
  <p><em>No one in this family yet.</em></p>
<% end %>

<p id="add_person_link" style="display:none;"><%= link_to_function image_tag('add_small.gif', :alt => 'Add a person.', :class => 'icon') + ' Add a Person', "Element.show('add_person');Element.hide('add_person_link');$('person_first_name').focus();" %></p>
<div id="add_person">
  <% form_for :person, @person, :url => {:action => 'add_person', :id => @family} do |form| %>
    <p>
      <%= form.label :first_name %>  <%= form.text_field :first_name %><br/>
      <%= form.label :last_name %>   <%= form.text_field :last_name %><br/>
      <%= form.label :gender %>      <%= form.select :gender, SETTINGS['system']['genders'] %><br/>
      <%= form.label :email %>       <%= form.text_field :email %><br/>
      <%= submit_tag 'Add Person' %>
    </p>
  <% end %>
</div>
<script type="text/javascript">
  if(location.hash == '#add') {
    $('reference').focus();
  } else {
    Element.hide('add_person');
    Element.show('add_person_link');
  }
</script>
