<table width="100%">
	<thead>
		<tr>
			<th>Service Category Name</th>
			<th></th>
		</tr>
	</thead>
	<tbody id="edit_service_categories">
		<% @service_categories.each do |service_category| %>
		<%= render :partial => "edit_service_category", :locals => {:service_category => service_category} %>
		<% end %>
	</tbody>
</table>
<p/>
<table width="100%">
	<tr class="odd">
		<td>
			<%= image_tag('add_small.gif', :class => 'icon') %>&nbsp;<%= link_to_remote 'Add New',
			  {:url => ServiceCategory.new, :method => :post, :with => "'service_category[name]=' + prompt('New service category:')"}, {:title => 'new service category'} %>
		</td>
		<td style="text-align: right;">
			<%= image_tag('back.gif', :class => 'icon') %>&nbsp;<%= link_to_remote 'Done Editing', {:url => close_batch_edit_service_categories_path, :method => :get}, {:title => 'done editing'} %>
		</td>
	</tr>
</table>