%table.table
  %tr
    %th{ style: 'width:30%' }= t('checkin.times.table.time')
    %th= t('checkin.times.table.campus')
    %th= t('checkin.times.table.groups.heading')
    %th
  - times.each do |time|
    %tr.row-with-actions
      %td= time
      %td= time.campus
      %td= t('checkin.times.table.groups.count', count: time.all_group_times.count)
      %td.actions
        = link_to administration_checkin_time_groups_path(time), class: 'btn btn-info' do
          = icon 'fa fa-bars'
          = t('checkin.times.groups.button')
        = link_to edit_administration_checkin_time_path(time), class: 'btn btn-warning' do
          = icon 'fa fa-pencil'
          = t('checkin.times.edit.button')
        = link_to administration_checkin_time_path(time), data: { method: 'delete', confirm: t('are_you_sure') }, class: 'btn btn-danger' do
          = icon 'fa fa-trash-o'
