<% if (count = @info.people_count).nil? %>
  <h2 class="status">Data: <strong class="stop">None</strong></h2>
  <p>Perhaps your database isn't up-to-date?</p>
<% elsif count > 0 %>
  <h2 class="status">Data: <strong class="go">Imported</strong> <%= image_tag 'checkmark.png', :alt => 'Up-to-date', :class => 'icon' %></h2>
  <p>There are currently <%= count %> <%= count == 1 ? 'person' : 'people' %>
    in the database (across all sites).</p>
<% else %>
  <h2 class="status">Data: <strong class="stop">None</strong></h2>
  <p>Your database is empty. Please visit
    <%= link_to 'OneBodyConnector', 'http://github.com/seven1m/onebody/wikis/OneBodyConnector' %>
    on the wiki for help setting up a Connector and getting data in your database.</p>
  <p>Note: if you really just want to play with OneBody, you can go to the
    <%= link_to 'Database tab', setup_database_url %> and click "Load Sample Data."</p>
<% end %>
