<p>
  <% @group.admins.each do |person| %>
    <%= link_to person.name, person %>
    <%= link_to 'x', group_membership_path(@group, person.id), method: 'put', data: { confirm: t('are_you_sure') }, class: 'discreet' %>
    <br/>
  <% end %>
  <% if (non_admins = @group.people.select { |p| not @group.admin?(p, true) }).any? %>
    <%= form_tag group_memberships_path(@group), method: 'put', onsubmit: "if($('promote_id').value != '') this.action += '/' + $('promote_id').value; else return false" do %>
      <%= select_tag 'id', options_for_select([''] + non_admins.map { |p| [p.name, p.id] }), id: 'promote_id' %><br/>
      <%= submit_tag t('groups.promote'), name: 'promote' %>
    <% end %>
  <% end %>
</p>
