%p= t('groups.edit.files.description')

%table.table
  %tr
    %th= t('groups.files.heading.name')
    %th= t('groups.files.heading.size')
    %th= t('groups.files.heading.created_at')
    %th
  - @group.attachments.order(:name).each do |attachment|
    %tr
      %td= link_to attachment.name, get_attachment_path(attachment)
      %td= number_to_human_size(attachment.file.size) rescue 'file missing'
      %td= attachment.created_at.to_s(:date)
      %td.actions
        = link_to attachment, data: { confirm: t('are_you_sure'), method: :delete }, class: 'btn btn-delete btn-xs' do
          = icon 'fa fa-trash-o'
          = t('groups.edit.files.delete_button')
- if @group.attachments.count == 0
  %p
    %em= t('none')

= form_for [@group, @group.attachments.new], html: { multipart: true } do |form|
  .form-group
    = form.file_field :file
  .form-group
    = form.button t('attachments.upload_file'), class: 'btn btn-success'
