<% form_for @group, :html => {:multipart => true, :style => 'border:none;padding:0;'} do |form| %>

  <%= form.error_messages %>
  
  <h2 class="tab" id="details">Details</h2>
  <div class="section">
    <%= form.label :name, 'Name (required)' %>         <%= form.text_field :name, :onkeyup => 'update_address(this.value)' %><br/>
    <%= form.label :category, 'Category (required)' %> <%= form.select :category, [''] + @categories + [['[new category]', '!']], {} ,{:onChange => "if(this.value=='!') custom_select_val(this, 'Enter the new category.')"} %><br/>
    <%= form.label :description %>                     <%= form.text_area :description, :rows => 3 %><br/>
    <%= form.label :other_notes %>                     <%= form.text_area :other_notes, :rows => 3 %><br/>
    <%= form.label :creator %>                         <%= form.text_field :creator, :value => (@group.creator ? @group.creator.name : nil), :readonly => true, :name => 'creator_name' %><br/>
  </div>

  <h2 class="tab" id="picture">Picture</h2>
  <div class="section">
    <%= render :partial => 'photo' %>
    <%= form.file_field :photo %><br/>
    <strong>Only JPEG photos are accepted at this time. Please make sure the picture is appropriate and not offensive to others.</strong><br/>
    <% if @group.has_photo? %>
      <%= link_to 'Remove Group Photo', group_path(@group, :group => {:photo => 'remove'}), :method => 'put', :confirm => 'Are you sure?' %>
      <br/>
    <% end %>
    <em>Click "Save Changes" at the bottom of this form to upload a new picture.</em>
  </div>
  
  <h2 class="tab" id="meets">Meets</h2>
  <div class="section">
    <%= form.label :meets, 'Meets When' %>             <%= form.text_field :meets %><br/>
    <%= form.label :location, 'Address or Location' %> <%= form.text_field :location %><br/>
    <%= form.label :directions %>                      <%= form.text_area :directions, :rows => 3 %>
  </div>
  
  <h2 class="tab" id="features">Features</h2>
  <div class="section">
    <%= form.check_box :blog,       :class => 'checkbox' %> <%= form.label :blog,       'Enable Blog',                :class => 'inline' %><br/>
    <%= form.check_box :email,      :class => 'checkbox' %> <%= form.label :email,      'Enable Email',               :class => 'inline' %><br/>
    <%= form.check_box :prayer,     :class => 'checkbox' %> <%= form.label :prayer,     'Enable Prayer Requests',     :class => 'inline' %><br/>
    <%= form.check_box :attendance, :class => 'checkbox' %> <%= form.label :attendance, 'Enable Attendance Tracking', :class => 'inline' %><br/>
    <%= form.label :address, 'Email Address:', :class => 'inline' %>
    <%= form.text_field :address, :style => 'width:150px;', :onkeyup => "this.value = remove_symbols(this.value)" %>@<%=h Site.current.host %>
    <%= form.label :gcal_private_link, 'Google Calendar Private Link' %>
    <%= form.text_field :gcal_private_link, :size => 50 %>
    <%= link_to_function 'help', "alert('In your Google Calendar, in Calendar Settings, copy your \"Private\" XML Link and paste in this box to display your calendar on the group page.')" %>
  </div>
  
  <h2 class="tab" id="privacy">Privacy &amp; Security</h2>
  <div class="section">
    <%= form.check_box :approval_required_to_join, :class => 'checkbox', :onclick => "check_mutual_exclusion()" %>
    <%= form.label :approval_required_to_join, 'Approval required for people to join group', :class => 'inline' %><br/>
    <%= form.check_box :private, :class => 'checkbox', :onclick => "check_mutual_exclusion()" %>
    <%= form.label :private, 'Private Group', :class => 'inline' %>
    <em>If checked, message are only visible to members of the group.</em><br/>
    <%= form.check_box :members_send, :class => 'checkbox' %>
    <%= form.label :members_send, 'Group Members Can Post Messages', :class => 'inline' %>
  </div>
  
  <% if @logged_in.admin?(:manage_groups) %>
    <h2 class="tab" id="advanced">Advanced</h2>
    <div class="section">
      The settings below are for advanced users.<br/>
      <%= form.label :link_code, 'Class Link Code(s):', :class => 'inline' %>
      <%= form.text_field :link_code %>
      <em>Separate multiple codes with a space.</em><br/>
      <%= form.label :parents_of, 'Parents of:', :class => 'inline' %>
      <%= form.select :parents_of, [['(none)', '']] + (Group.find_all_by_hidden(false, :order => 'name')-[@group]).map { |g| [g.name, g.id] } %><br/>
      <%= form.check_box :hidden, :class => 'checkbox' %>
      <%= form.label :hidden, 'Hidden Group', :class => 'inline' %>
      <em>Group won't be visible on members' profiles or other group lists (unless your an admin).</em>
    </div>
  <% end %>
  
  <p><%= form.submit 'Save Changes' %></p>
<% end %>

<script type="text/javascript">
  function update_address(name) {
    var address = '';
    name.toLowerCase().scan(/[a-z0-9]/, function(s) {address += s});
    $('group_address').value = address;
  }
  function check_mutual_exclusion() {
    if(!$('group_approval_required_to_join').checked && $('group_private').checked) {
      alert('By allow anyone to join this group without requiring admin approval, potentially any site user could see messages in this "private" group.');
    }
  }
</script>

<%= stylesheet_link_tag 'tabs.css' %>
<%= javascript_include_tag 'tabs.js' %>
<script type="text/javascript"> set_up_tabs(); </script>
