.form-group
  = form.label :name
  .input-group
    = form.text_field :name, onkeyup: 'update_address(this.value)', class: 'form-control'
    %span.input-group-addon{ title: t('groups.edit.required_field') }
      = icon 'fa fa-star text-red'
.form-group
  = form.label :category
  .input-group
    = react_component 'SelectWithNew', name: 'group[category]', value: @group.category, options: group_categories, className: 'form-control', includeBlank: true
    %span.input-group-addon{ title: t('groups.edit.required_field') }
      = icon 'fa fa-star text-red'
  %span.help-block
    = t('groups.edit.category.help')
.form-group
  = form.label :description
  = form.text_area :description, rows: 3, class: 'form-control'
  %span.help-block
    = t('groups.edit.description.help')
.form-group
  = form.label :other_notes
  = form.text_area :other_notes, rows: 3, class: 'form-control'
.form-group
  = form.label :creator
  = form.text_field :creator, value: (@group.creator ? @group.creator.name : nil), readonly: true, name: 'creator_name', class: 'form-control'
.form-group
  = form.submit t('save_changes'), class: 'btn btn-success'
