%p= t('groups.edit.advanced.description')

.form-group
  = form.label :link_code
  = form.text_field :link_code, class: 'form-control'
  %span.help-block= t('groups.edit.class_link_code.help_html')
.form-group
  = form.label :parents_of
  = form.select :parents_of, [['(' + t('none') + ')', '']] + (Group.where(hidden: false).order('name').to_a - [@group]).map { |g| [g.name, g.id] }, {}, class: 'form-control'
  %span.help-block= t('groups.edit.parents_of.help')
.form-group
  = form.label :hidden
  = form.check_box :hidden, class: 'form-control'
.form-group
  = form.submit t('save_changes'), class: 'btn btn-success'

.box.box-danger{ style: 'margin-top:50px' }
  .box-header
    %h3.box-title= t('groups.delete.heading')
  .box-body
    %p= t('groups.delete.intro')
    = link_to @group, data: { method: 'delete', confirm: t('are_you_sure') }, class: 'btn btn-danger' do
      = icon 'fa fa-trash'
      = t('groups.delete.button')
