.form-group
  = form.check_box :approval_required_to_join, class: 'checkbox'
  = form.label :approval_required_to_join, nil, class: 'inline'
  %span.help-block
    = t('groups.edit.approval_required_to_join.help')
.form-group
  = form.check_box :private, class: 'checkbox'
  = form.label :private, nil, class: 'inline'
  %span.help-block
    = t('groups.edit.private_group.help')
.form-group
  = form.check_box :members_send, class: 'checkbox'
  = form.label :members_send, nil, class: 'inline'
  %span.help-block
    = t('groups.edit.members_send.help')
.form-group
  = form.submit t('save_changes'), class: 'btn btn-success'
