<table>
    <% @group.people_names_and_ids.each do |person| %>
      <% if person and @logged_in.sees? person %>
      <tr>
        <td>
          <a href="<%= url_for person %>">
            <%= render :partial => 'people/thumbnail', :locals => {:person => person} %>
          </a>
        </td>
        <td class="person">
          <%= link_to h(person.name), person %> 
            <% if @group.admin?(person, true) %><br />(admin)<% end %>
      <% if @logged_in.can_edit?(@group) and (person.email.to_s.empty? or !@group.get_options_for(person).get_email?) %>
        <em><br />(no mail)</em>
      <% end %>
      
          <% if person.birthday_soon? %><span class="small">
            <br/>
            <%= image_tag('birthday.png', :alt => 'Birthday', :class => 'icon') %>
            <%= person.birthday.strftime('%m/%d') %></span>
          <% end %>


        </span>
        </td>
      </tr>
      <% end %>
    <% end %>
</table>

