<h2><%= I18n.t('people.person', :count => group_people_count = @group.people.count) %></h2>

<% if group_people_count > 25 and params[:action] == 'show' %>
  <p>
    (<%= I18n.t('groups.25_of') %> <%= group_people_count %>)
    <%= link_to I18n.t('groups.show_all'), group_memberships_path(@group) %>
  </p>
<% end %>

<table>
  <% @group.memberships.all(params[:action] == 'show' ? {:include => :person, :limit => 25, :order => sql_random} : {:include => :person, :order => 'people.last_name, people.first_name'}).each do |membership| %>
    <% if person = membership.person %>
      <tr>
        <td>
          <a href="<%= url_for person %>">
            <%= render :partial => 'people/thumbnail', :locals => {:person => person} %>
          </a>
        </td>
        <td class="person">
          <%= link_to h(person.name), person %> 
          <% if person.birthday_soon? %>
            <br/>
            <span class="small">
              <%= image_tag('birthday.png', :alt => I18n.t('privacies.birthday'), :class => 'icon') %>
              <%= person.birthday.to_s(:date_without_year) %>
            </span>
          <% end %>
        </td>
      </tr>
    <% end %>
  <% end %>
</table>
