<h1><%= I18n.t('groups.batch_edit_groups') %></h1>

<p><em><%= I18n.t('groups.scroll_left_and_right') %></em></p>

<% form_remote_tag :url => batch_groups_path,
  :loading  => "Element.show('loading')",
  :complete => "Element.hide('loading')",
  :html     => {:style => 'overflow:auto;width:90%;background-color:#fff;'} do %>
  <table>
    <tr>
      <th><%= I18n.t('groups.category') %></th>
      <th><%= I18n.t('name') %></th>
      <th><%= I18n.t('privacies.address') %></th>
      <th><%= I18n.t('groups.members_send') %></th>
      <th><%= I18n.t('privacies.private') %></th>
      <th><%= I18n.t('privacies.hidden') %></th>
      <th><%= I18n.t('groups.approved') %></th>
      <th><%= I18n.t('groups.class_link_code') %></th>
      <th><%= I18n.t('stream.blog') %></th>
      <th><%= I18n.t('people.email') %></th>
      <th><%= I18n.t('prayer.prayer') %></th>
      <th><%= I18n.t('groups.attendance') %></th>
      <th><%= I18n.t('pictures.pictures') %></th>
      <th><%= I18n.t('groups.calendar_private_link') %></th>
      <th><%= I18n.t('groups.approval_required_to_join') %></th>
    </tr>
    <% @groups.each do |group| %>
      <tr id="group<%= group.id %>" class="group">
        <td><%= text_field_tag "groups[#{group.id}][category]",                  group.category,  :size => 10           %></td>
        <td><%= text_field_tag "groups[#{group.id}][name]",                      group.name,      :size => 10           %></td>
        <td><%= text_field_tag "groups[#{group.id}][address]",                   group.address,   :size => 10           %></td>
        <td><%= check_box_tag  "groups[#{group.id}][members_send]",              true, group.members_send?              %></td>
        <td><%= check_box_tag  "groups[#{group.id}][private]",                   true, group.private?                   %></td>
        <td><%= check_box_tag  "groups[#{group.id}][hidden]",                    true, group.hidden?                    %></td>
        <td><%= check_box_tag  "groups[#{group.id}][approved]",                  true, group.approved?                  %></td>
        <td><%= text_field_tag "groups[#{group.id}][link_code]",                 group.link_code, :size => 5            %></td>
        <td><%= check_box_tag  "groups[#{group.id}][blog]",                      true, group.blog?                      %></td>
        <td><%= check_box_tag  "groups[#{group.id}][email]",                     true, group.email?                     %></td>
        <td><%= check_box_tag  "groups[#{group.id}][prayer]",                    true, group.prayer?                    %></td>
        <td><%= check_box_tag  "groups[#{group.id}][attendance]",                true, group.attendance?                %></td>
        <td><%= check_box_tag  "groups[#{group.id}][pictures]",                  true, group.pictures?                  %></td>
        <td><%= text_field_tag "groups[#{group.id}][gcal_private_link]",         group.gcal_private_link, :size => 5    %></td>
        <td><%= check_box_tag  "groups[#{group.id}][approval_required_to_join]", true, group.approval_required_to_join? %></td>
        <td class="errors"></td>
      </tr>
    <% end %>
  </table>
  <p>
    <%= submit_tag I18n.t('save_changes') %>
    <span id="loading" style="display:none;">
      <%= image_tag 'spinner_small.gif', :alt => I18n.t('saving') + '...', :class => 'icon' %>
      <%= I18n.t('saving') %>...
    </span>
  </p>
<% end %>
