<script type="text/javascript">
//<![CDATA[
  SAFE_CHARS = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789';
  function remove_symbols(text) {
    var sanitized = '';
    for(var i=0; i<text.length; i++) {
      var c = text.substring(i, i+1);
      if(SAFE_CHARS.indexOf(c) > -1) sanitized += c;
    }
    return sanitized.toLowerCase();
  };
//]]>
</script>

<% content_for :sidebar do |wants| %>

  <div id="memberships">
    <%= render :partial => 'memberships' %>
  </div>
  
<% end %>

<% if @group.private? %><%= render :partial => 'private' %><% end %>

<% if @group.hidden? %><%= render :partial => 'hidden' %><% end %>

<h1>Edit Group</h1>

<%= render :partial => 'subnav' %>

<%= render :partial => 'form' %>
