<% if @unapproved_groups.any? %>
  <p class="highlight">
    <%= t('groups.following_are_pending_approval', :count => @unapproved_groups.length) %>
    <%= @unapproved_groups.map { |g| link_to(g.name, group_path(g)) }.join(', ') %>
  </p>
<% end %>

<% content_for :sidebar do %>

  <%= render :partial => 'search' %>

  <h3><%= t('groups.browse_by_category') %></h3>
  <p><%= select_tag 'category', options_for_select(@categories), :include_blank => true, :onchange => "location.href='?category='+this.value" %></p>

  <h3><%= t('groups.create_a_group') %></h3>
  <p>
    <%= t('groups.if_cant_find_create_it') %>
  </p>
  <p>
    <%= link_to t('groups.create_a_group'), new_group_path, :class => 'add-icon' %>
  </p>

<% end %>

<h2><%= t('groups.your_groups') %></h2>
<%= render :partial => 'person_groups' %>

<% if nil %>
<table>
  <tr>
    <td style="padding-right:25px;">
    </td>
    <td style="padding-left:25px;border-left:1px dotted #ccc;padding-right:25px;">
      <h3><%= t('search.browse_by_category') %></h3>
      <ul>
        <% @categories.keys.sort.each do |category| %>
          <% group_count = @categories[category] %>
          <li>
            <%= link_to category, groups_path(:category => category) %>
            (<%= group_count %>)
          </li>
        <% end %>
      </ul>
    </td>
    <td style="padding-left:25px;border-left:1px dotted #ccc;">
    </td>
  </tr>
</table>
<% end %>
