- if @groups.any?
  %table.table.group-list
    %tr
      %th
      %th= t('groups.table.group_name')
      %th= Leader
      %th= t('groups.table.member_count')

    - if not group.hidden? or @logged_in.admin?(:manage_groups)
      %tr.row-with-avatar{class: group.hidden? ? 'grayed hidden-group' : ''}
        %td.avatar
          = group_avatar_tag(group)
        %td.group
          = link_to group.name, group
          - if group.private?
            %span.badge
              = icon 'fa fa-lock'
              = t('groups.private_group')
        %td
          = group.leader
        %td
          = group.memberships.count
      %tr.description
        = group.description
    - if @logged_in.admin?(:manage_groups) and @person.groups.detect { |g| g.hidden? }
      %tr
        %td
        %td= link_to_function t('people.show_hidden_groups'), "$('.hidden-group').toggle()", class: 'discreet'
            - if group.description.to_s.any?
              %br/
              = group.description
            - if group.leader
              %br/
              = t('groups.leader')
              \: #{link_to group.leader.name, person_path(group.leader)}
            %br/
            = t('people.person', count: group.people.count)
- else
  %p
    %em= t('groups.no_groups_found')
- if @logged_in.admin?(:manage_groups) and @hidden_groups.any?
  %h3= t('groups.hidden_groups')
  %p
    = t('groups.only_admins_see_this_list')
    \:
    %br/
    = @hidden_groups.map { |g| link_to(g.name, g) }.join(', ')
