<% content_for :sidebar do %>
  <p><%= link_to t('groups.back_to_homepage'), groups_path, class: 'left-icon' %></p>

  <%= render partial: 'search' %>

  <h3><%= t('groups.browse_by_category') %></h3>
  <p><%= select_tag 'category', options_for_select(@categories, params[:category]), include_blank: true, onchange: "location.href='?category='+this.value" %></p>
<% end %>

<% if @groups.any? %>
  <table class="spaced">
    <% @groups.each do |group| %>
      <% if @logged_in.can_see?(group) %>
        <tr>
          <td>
            <%= render partial: 'thumbnail', locals: {group: group} %>
          </td>
          <td class="group">
            <%= link_to group.name, group %>
            <% if group.private? %>(private)<% end %>
            <% if group.description.to_s.any? %>
              <br/>
              <%= group.description %>
            <% end %>
            <% if group.leader %>
              <br/>
              <%= t('groups.leader') %>: <%= link_to group.leader.name, person_path(group.leader) %>
            <% end %>
            <br/>
            <%= t('people.person', count: group.people.count) %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </table>
<% else %>
  <p><em><%= t('groups.no_groups_found') %></em></p>
<% end %>

<% if @logged_in.admin?(:manage_groups) and @hidden_groups.any? %>
  <h3><%= t('groups.hidden_groups') %></h3>
  <p>
    <%= t('groups.only_admins_see_this_list') %>:<br/>
    <%= @hidden_groups.map { |g| link_to(g.name, g) }.join(', ') %>
  </p>
<% end %>
