- @title = t('groups.search.results_heading')

- if @groups.any?
  %table.table.group-list
    %tr
      %th
      %th= t('groups.table.group_name')
      %th= t('groups.table.leader')
      %th= t('groups.table.member_count')

    - @groups.each do |group|
      - if not group.hidden? or @logged_in.admin?(:manage_groups)
        %tr.row-with-avatar{class: group.hidden? ? 'grayed hidden-group' : ''}
          %td.avatar
            = group_avatar_tag(group)
          %td.group
            = link_to group.name, group
            - if group.private?
              %span.label.label-warning
                = icon 'fa fa-lock'
                = t('groups.private.label')
            - if group.hidden?
              %span.label.label-danger
                = icon 'fa fa-eye-slash'
                = t('groups.hidden.label')
          %td
            = link_to(group.leader.try(:name), group.leader) if group.leader
          %td
            = group.memberships.count
        - if group.description.present?
          %tr.description{class: group.hidden? ? 'grayed hidden-group' : ''}
            %td
            %td{colspan: 3}
              = group.description

  - if @logged_in.admin?(:manage_groups) and @groups.detect { |g| g.hidden? }
    %p
      = link_to_function t('people.show_hidden_groups'), "$('.hidden-group').toggle()", class: 'btn btn-danger'

- else
  %p
    %em= t('groups.no_groups_found')
- if @logged_in.admin?(:manage_groups) and @hidden_groups.any?
  %h3= t('groups.hidden_groups.heading')
  %p
    = t('groups.hidden_groups.description')
  %p
    = @hidden_groups.map { |g| link_to(g.name, g) }.join(', ')
