- @title = @group.name

- if @group.mapable?
  #map{ data: { latitude: @group.latitude, longitude: @group.longitude, notice: t('maps.notice') } }

.row
  .col-md-6.col-md-push-6
    = group_avatar_tag(@group, size: :large)
    %table.table
      - if @group.created_at
        %tr
          %td created
          %td= @group.created_at.to_s(:date)
      %tr
        %td members
        %td
          = link_to @group.people.count, group_memberships_path(@group)
  .col-md-6.col-md-pull-6
    = timeline @stream_items

    -#%h2= @group.name
    -#- if @group.description.to_s.any?
      -#%p= @group.description
    -#- if @group.meets.to_s.any?
      -#%p= @group.meets
    -#- if @group.location.to_s.any?
      -#%p= @group.location
    -#- if @group.linked? or @group.parents_of
      -#%p
        -#%em= I18n.x('groups.linked_group')
    -#- elsif not @group.approved
      -#%p.very-strong= I18n.x('groups.pending_approval.this_group')
    -#- else
      -#- if @group.membership_requests.where(person_id: @logged_in.id).count > 0
        -#%p.very-strong= I18n.x('groups.join.pending')
      -#- elsif not @member_of
        -#%p= link_to I18n.x('groups.join.button'), group_memberships_path(@group, id: @logged_in), method: 'post', data: { confirm: @group.admin?(@logged_in) ? x('are_you_sure') : x('groups.join.confirm') }, class: 'add-icon'
      -#- elsif not @group.last_admin?(@logged_in)
        -#%p= link_to I18n.x('groups.leave.button'), group_membership_path(@group, @logged_in), method: 'delete', data: { confirm: x('are_you_sure') }, class: 'delete-icon'
    -#- if @group.attendance? and (@logged_in.can_edit?(@group) or @logged_in.admin?(:manage_attendance))
      -#%p
        -#= link_to x('groups.attendance.button'), group_attendance_index_path(@group), class: 'people-icon'
    -#- if @logged_in.can_edit?(@group)
      -#%p
        -#= link_to x('groups.birthdays.button'), birthdays_group_memberships_path(@group), class: 'people-icon'
    -#- if @group.attachments.count > 0
      -#%h3= x('attachments.files')
      -#%table.spaced
        -#- @group.attachments.order(:name).each do |attachment|
          -#%tr
            -#%td= link_to attachment.name, get_attachment_path(attachment)
            -#%td= attachment.created_at.to_s(:date)
    -#- cache(fragment: 'members') do
      -#%h3= x('groups.members')
      -#- @members.each do |member|
        -#= content_tag :a, href: person_path(member), class: 'styleless' do
          -#= render partial: 'people/thumbnail', locals: {person: member}
      -#- if @members.empty?
        -#%p
          -#%em= x('groups.nobody_yet')
    -#%p.margin-top
      -#- if @logged_in.can_edit?(@group)
        -#= link_to x('groups.edit_members'), group_memberships_path(@group), class: 'edit-icon discreet'
        -#%br/
        -#= link_to x('groups.edit_group'), edit_group_path(@group), class: 'edit-icon discreet'
      -#- else
        -#= link_to x('groups.view_members'), group_memberships_path(@group), class: 'discreet'
    -#- if @albums.any?
      -#%h3= x('albums.picture_albums')
      -#%p
        -#- @albums.each do |album|
          -#= link_to image_tag(album.cover ? album.cover.photo.url(:tn) : 'missing_tn.png', alt: album.name), |
            -#album, title: album.name                                                                         |

  -#.col-md-9
    -#- if !@group.approved? and @logged_in.admin?(:manage_groups)
      -#.alert
        -#%p= x('groups.this_group_is_pending_approval')
        -#= form_for @group do |form|
          -#= hidden_field_tag 'group[approved]', true
          -#= form.submit x('groups.approve_group')
    -#- if @group.private?
      -#%p.highlight= x('groups.this_group_is_private')
    -#- if @group.hidden?
      -#%p.highlight= x('groups.this_group_is_hidden')
    -#- if @show_map
      -##map-container{:style => "display:none;margin-bottom:30px;"}
        -##map{:style => "width:600px;height:250px;"}
        -##map-link
          -#= x('people.only_an_approximation')
          -#|
          -#\#{link_to x('people.show_full_screen'), "http://maps.yahoo.com/broadband/#mvt=m&q1=#{url_encode(@group.location)}", target: '_new'}
      -#= render partial: 'map_scripts'
    -#- if @show_cal
      -##cal-container
        -#%iframe{:frameborder => "0", :height => "400", :src => @group.gcal_url, :style => "border: 0", :width => "600"}
    -#- if @can_post and (@group.email? or @group.prayer? or @group.pictures?)
      -#.share
        -#= text_field_tag 'share-starter', '', size: 50, placeholder: x('share.group')
        -#%ul.share-details.share-selector{:style => "display:none;"}
          -#- if @group.email?
            -#%li= link_to_function x('share.email'), "selectShare('share-email')", class: 'email-icon', id: 'share-email-icon'
          -#- if @group.prayer?
            -#%li= link_to_function x('share.prayer_request'), "selectShare('share-prayer')", class: 'heart-icon', id: 'share-prayer-icon'
          -#- if @group.pictures?
            -#%li= link_to_function x('share.picture'), "selectShare('share-picture')", class: 'picture-icon', id: 'share-picture-icon'
          -#%li.cancel-link= link_to_function '', 'hideShare()', class:  'delete-icon'
        -#- if @group.email?
          -#= form_for Message.new(group: @group), html: {enctype: 'multipart/form-data', id: 'share-email', class: 'share-type', onsubmit: "if($('#message_subject').val() == '' || $('#message_body').val() == '') { alerx('Please fill in the subject and body.'); return false; }"} do |form|
            -#= form.hidden_field :group_id
            -#= form.text_field :subject, size: 50
            -#= form.text_area :body, rows: 5
            -#%br/
            -#%label.inline{:for => "file"}
              -#= x('messages.attachment_optional')
              -#\:
            -#%input#file{:multiple => "multiple", :name => "files[]", :type => "file"}/
            -#%br/
            -#= submit_tag x('messages.send_message')
        -#- if @group.prayer?
          -#= form_for PrayerRequest.new, html: {id: 'share-prayer', class: 'share-type'} do |form|
            -#= hidden_field_tag :group_id, @group.id
            -#= form.text_area :request, rows: 5
            -#%br/
            -##prayer-answer{:style => "display:none"}
              -#= form.text_area :answer, rows: 5, placeholder: x('share.prayer_answer')
              -#%br/
              -#= form.text_field :answered_at, size: 10, placeholder: x('share.prayer_answered_at')
            -#= submit_tag x('share.share')
            -#= link_to_function x('share.prayer_share_answer'), "$('#prayer-answer').show();$(this).hide();", class: 'discreet'
        -#- if @group.pictures?
          -#= form_for Picture.new, html: {multipart: true, id: 'share-picture', class: 'share-type'} do |form|
            -#= hidden_field_tag :group_id, @group.id
            -#= file_field_tag 'pictures[]', multiple: true
            -#= text_field_tag 'album', '', size: 10, placeholder: x('share.default_album_name')
            -#= submit_tag x('share.share')
      -#:javascript
        -#$('#album').autocomplete({source: #{raw @albums.map { |a| a.name }.inspect}});
        -#function selectShare(share) {
          -#$('.share-type').hide();
          -#$('#'+share).show();
          -#$('#'+share+' :input[type!="hidden"]')[0].focus();
          -#$('.share-selector a').removeClass('active');
          -#$('#'+share+'-icon').addClass('active');
        -#}
        -#function showShare() {
          -#$('.share-details').show();
          -#$('#share-starter').hide();
          -#var first = $('.share .share-type:first').attr('id');
          -#selectShare(first);
        -#}
        -#function hideShare() {
          -#$('.share-type, .share-details').hide();
          -#$('#share-starter').show();
        -#}
        -#$('#share-starter').bind('focus', showShare);
    -#.group-stream
      -#= timeline @stream_items
    -#- unless @show_map or @show_cal or @stream_items.any?
      -#%p
        -#%em= x('groups.no_activity_yet')
