- @title = @group.name

- content_for :sub_title do
  - if @group.membership_requests.where(person_id: @logged_in.id).any?
    %em= t('groups.join.pending')
  - if @member_of
    = link_to group_membership_path(@group, @logged_in), method: 'delete', data: { confirm: t('are_you_sure') }, class: 'btn btn-danger btn-xs' do
      = icon 'fa fa-times'
      = t('.controls.leave')
  - else
    = link_to group_memberships_path(@group, id: @logged_in), method: 'post', data: { confirm: must_request_group_join?(@group) ? t('groups.join.confirm') : t('are_you_sure') }, class: 'btn btn-success btn-xs' do
      = icon 'fa fa-plus'
      = t('.controls.join')

- if @group.mapable?
  - content_for :header do
    #map{ data: { latitude: @group.latitude, longitude: @group.longitude, address: preserve_breaks(@group.location), notice: t('maps.notice') } }
    %section.content-header.map-overlay
      = breadcrumbs
      %h1
        = @title
        = yield(:sub_title)

- if not @group.approved
  .alert.alert-warning.alert-dismissable
    = icon 'fa fa-warning'
    %button{ type: 'button', class: 'close', 'data-dismiss' => 'alert', 'aria-hidden' => 'true'} ×
    %p
      = t('groups.pending_approval.this_group')
    %p
      = form_for @group do |form|
        = form.hidden_field 'approved', value: true
        = form.button t('groups.approve.button'), class: 'btn btn-success'

.row
  .col-sm-6.col-sm-push-6

    .row
      - if @group.email?
        = group_content_column do
          .small-box.bg-aqua
            = link_to group_messages_path(@group) do
              .inner
                %h3= @group.messages.count
                %p= t('groups.box.messages.text', count: @group.messages.count)
            .icon
              = icon 'fa fa-envelope-o'
            - if @group.can_send?(@logged_in)
              = link_to new_group_message_path(@group), class: 'small-box-footer' do
                = t('groups.box.messages.new_link')
                = icon 'fa fa-plus-circle'
      - if @group.prayer?
        = group_content_column do
          .small-box.bg-purple
            = link_to group_prayer_requests_path(@group) do
              .inner
                %h3= @group.prayer_requests.count
                %p= t('groups.box.prayer_requests.text', count: @group.prayer_requests.count)
            .icon
              = icon 'fa fa-heart-o'
            - if @group.can_add_prayer_request?(@logged_in)
              = link_to new_group_prayer_request_path(@group), class: 'small-box-footer' do
                = t('groups.box.prayer_requests.new_link')
                = icon 'fa fa-plus-circle'
      - if @group.pictures?
        = group_content_column do
          .small-box.bg-orange
            = link_to group_albums_path(@group) do
              .inner
                %h3= @group.album_pictures.count
                %p= t('groups.box.pictures.text', count: @group.album_pictures.count)
            .icon
              = icon 'fa fa-picture-o'
            - if @group.can_add_album?(@logged_in)
              = link_to new_group_album_path(@group), class: 'small-box-footer' do
                = t('groups.box.pictures.new_link')
                = icon 'fa fa-plus-circle'

    = group_avatar_tag(@group, size: :large)

    - if @group.description.present?
      .group-description= auto_link(preserve_breaks(@group.description))

    %table.table
      - if @group.created_at
        %tr
          %td= t('.details.created_at')
          %td= @group.created_at.to_s(:date)
      - if @group.creator
        %tr
          %td= t('.details.created_by')
          %td= link_to(@group.creator.name, @group.creator)
      - if @group.leader
        %tr
          %td= t('.details.leader')
          %td= link_to(@group.leader.name, @group.leader)
      - if @group.admins.any? and @group.admins.to_a != [@group.leader]
        %tr
          %td= t('.details.admins')
          %td= @group.admins.map { |p| link_to(p.try(:name), p) }.join(', ').html_safe
      %tr
        %td= t('.details.member_count_label')
        %td
          = link_to t('.details.member_count', count: @group.people.count), group_memberships_path(@group)
          = t('.details.birthdays_this_month_html', count: @group.people.with_birthday_month(Time.now.month).count, url: group_memberships_path(@group, birthdays: true))
          - if @group.attendance? and @group.admin?(@logged_in)
            %p
            = link_to t('.details.attendance.button'), group_attendance_index_path(@group), class: 'btn btn-xs btn-info'
      - if @group.meets.present?
        %tr
          %td= t('.details.meets')
          %td= preserve_breaks(@group.meets)
      - if @group.location.present?
        %tr
          %td= t('.details.location')
          %td= preserve_breaks(@group.location)

  .col-sm-6.col-sm-pull-6
    = timeline @stream_items

    -#- else
      -#- if @group.membership_requests.where(person_id: @logged_in.id).count > 0
        -#%p.very-strong= I18n.x('groups.join.pending')
      -#- elsif not @member_of
        -#%p= link_to I18n.x('groups.join.button'), group_memberships_path(@group, id: @logged_in), method: 'post', data: { confirm: @group.admin?(@logged_in) ? x('are_you_sure') : x('groups.join.confirm') }, class: 'add-icon'
      -#- elsif not @group.last_admin?(@logged_in)
        -#%p= link_to I18n.x('groups.leave.button'), group_membership_path(@group, @logged_in), method: 'delete', data: { confirm: x('are_you_sure') }, class: 'delete-icon'
    -#- if @group.attendance? and (@logged_in.can_edit?(@group) or @logged_in.admin?(:manage_attendance))
      -#%p
        -#= link_to x('groups.attendance.button'), group_attendance_index_path(@group), class: 'people-icon'
    -#- if @logged_in.can_edit?(@group)
      -#%p
        -#= link_to x('groups.birthdays.button'), birthdays_group_memberships_path(@group), class: 'people-icon'
    -#- if @group.attachments.count > 0
      -#%h3= x('attachments.files')
      -#%table.spaced
        -#- @group.attachments.order(:name).each do |attachment|
          -#%tr
            -#%td= link_to attachment.name, get_attachment_path(attachment)
            -#%td= attachment.created_at.to_s(:date)
    -#- cache(fragment: 'members') do
      -#%h3= x('groups.members')
      -#- @members.each do |member|
        -#= content_tag :a, href: person_path(member), class: 'styleless' do
          -#= render partial: 'people/thumbnail', locals: {person: member}
      -#- if @members.empty?
        -#%p
          -#%em= x('groups.nobody_yet')
    -#%p.margin-top
      -#- if @logged_in.can_edit?(@group)
        -#= link_to x('groups.edit_members'), group_memberships_path(@group), class: 'edit-icon discreet'
        -#%br/
        -#= link_to x('groups.edit_group'), edit_group_path(@group), class: 'edit-icon discreet'
      -#- else
        -#= link_to x('groups.view_members'), group_memberships_path(@group), class: 'discreet'
    -#- if @albums.any?
      -#%h3= x('albums.picture_albums')
      -#%p
        -#- @albums.each do |album|
          -#= link_to image_tag(album.cover ? album.cover.photo.url(:tn) : 'missing_tn.png', alt: album.name), |
            -#album, title: album.name                                                                         |

  -#.col-md-9
    -#- if !@group.approved? and @logged_in.admin?(:manage_groups)
      -#.alert
        -#%p= x('groups.this_group_is_pending_approval')
        -#= form_for @group do |form|
          -#= hidden_field_tag 'group[approved]', true
          -#= form.submit x('groups.approve_group')
    -#- if @group.private?
      -#%p.highlight= x('groups.this_group_is_private')
    -#- if @group.hidden?
      -#%p.highlight= x('groups.this_group_is_hidden')
    -#- if @show_map
      -##map-container{:style => "display:none;margin-bottom:30px;"}
        -##map{:style => "width:600px;height:250px;"}
        -##map-link
          -#= x('people.only_an_approximation')
          -#|
          -#\#{link_to x('people.show_full_screen'), "http://maps.yahoo.com/broadband/#mvt=m&q1=#{url_encode(@group.location)}", target: '_new'}
      -#= render partial: 'map_scripts'
    -#- if @show_cal
      -##cal-container
        -#%iframe{:frameborder => "0", :height => "400", :src => @group.gcal_url, :style => "border: 0", :width => "600"}
    -#- if @can_post and (@group.email? or @group.prayer? or @group.pictures?)
      -#.share
        -#= text_field_tag 'share-starter', '', size: 50, placeholder: x('share.group')
        -#%ul.share-details.share-selector{:style => "display:none;"}
          -#- if @group.email?
            -#%li= link_to_function x('share.email'), "selectShare('share-email')", class: 'email-icon', id: 'share-email-icon'
          -#- if @group.prayer?
            -#%li= link_to_function x('share.prayer_request'), "selectShare('share-prayer')", class: 'heart-icon', id: 'share-prayer-icon'
          -#- if @group.pictures?
            -#%li= link_to_function x('share.picture'), "selectShare('share-picture')", class: 'picture-icon', id: 'share-picture-icon'
          -#%li.cancel-link= link_to_function '', 'hideShare()', class:  'delete-icon'
        -#- if @group.email?
          -#= form_for Message.new(group: @group), html: {enctype: 'multipart/form-data', id: 'share-email', class: 'share-type', onsubmit: "if($('#message_subject').val() == '' || $('#message_body').val() == '') { alerx('Please fill in the subject and body.'); return false; }"} do |form|
            -#= form.hidden_field :group_id
            -#= form.text_field :subject, size: 50
            -#= form.text_area :body, rows: 5
            -#%br/
            -#%label.inline{:for => "file"}
              -#= x('messages.attachment_optional')
              -#\:
            -#%input#file{:multiple => "multiple", :name => "files[]", :type => "file"}/
            -#%br/
            -#= submit_tag x('messages.send_message')
