<%= render :partial => 'menu' %>

<% content_for :sidebar do %>

  <%= render :partial => 'photo' %>

  <h2><%= @group.name %></h2>

  <% if @group.description.to_s.any? %>
    <p><%= @group.description %></p>
  <% end %>

  <% if @group.meets.to_s.any? %>
    <p><%= @group.meets %></p>
  <% end %>

  <% if @group.location.to_s.any? %>
    <p><%= @group.location %></p>
  <% end %>

  <% cache do %>
    <h3><%= t('groups.members') %></h3>
    <% @members.each do |member| %>
      <% content_tag :a, :href => person_path(member) do %>
        <%= render :partial => 'people/thumbnail', :locals => {:person => member} %>
      <% end %>
    <% end %>
    <% if @members.empty? %>
      <p><em><%= t('groups.nobody_yet') %></em></p>
    <% end %>
  <% end %>

  <p class="double-margin-top">
    <% if @logged_in.can_edit?(@group) %>
      <%= link_to t('groups.edit_members'), group_memberships_path(@group), :class => 'edit-icon discreet' %>
    <% else %>
      <%= link_to t('groups.view_members'), group_memberships_path(@group), :class => 'discreet' %>
    <% end %>
  </p>

<% end %>

<% if @show_map %>
  <div id="map-container" style="display:none;margin-bottom:30px;">
    <div id="map" style="width:600px;height:250px;"></div>
    <div id="map-link">
      <%= t('people.only_an_approximation') %> |
      <%= link_to t('people.show_full_screen'), "http://maps.yahoo.com/broadband/#mvt=m&q1=#{url_encode(@group.location)}", :target => '_new' %>
    </div>
  </div>
  <%= render :partial => 'map_scripts' %>
<% end %>

<% if @show_cal %>
  <div id="cal-container">
    <iframe src="<%= @group.gcal_url %>" style="border: 0" width="600" height="400" frameborder="0"></iframe>
  </div>
<% end %>

<div class="group-stream">
  <%= render :partial => 'streams/stream_item', :collection => @stream_items %>
</div>

<% unless @show_map or @show_cal or @stream_items.any? %>
  <p><em><%= t('groups.no_activity_yet') %></em></p>
<% end %>
