<%= render :partial => 'menu' %>

<% content_for :sidebar do %>

  <%= render :partial => 'photo' %>

  <h2><%= @group.name %></h2>

  <% if @group.description.to_s.any? %>
    <p><%= @group.description %></p>
  <% end %>

  <% if @group.meets.to_s.any? %>
    <p><%= @group.meets %></p>
  <% end %>

  <% if @group.location.to_s.any? %>
    <p><%= @group.location %></p>
  <% end %>

  <% if @group.linked? or @group.parents_of %>
    <p><em><%= I18n.t('groups.this_group_maintained_by_staff') %></em></p>
  <% elsif not @group.approved %>
    <p class="very-strong"><%= I18n.t('groups.this_group_is_pending_approval') %></p>
  <% else %>
    <% if @group.membership_requests.count('*', :conditions => ['person_id = ?', @logged_in.id]) > 0 %>
      <p class="very-strong"><%= I18n.t('groups.you_requested_join_this_group') %></p>
    <% elsif not @member_of %>
      <p><%= link_to I18n.t('groups.join_this_group'), group_memberships_path(@group, :id => @logged_in), :method => 'post', :confirm => @group.admin?(@logged_in) ? I18n.t('are_you_sure') : I18n.t('groups.request_will_be_sent_to_admins'), :class => 'add-icon' %></p>
    <% elsif not @group.last_admin?(@logged_in) %>
      <p><%= link_to I18n.t('groups.leave_this_group'), group_membership_path(@group, @logged_in), :method => 'delete', :confirm => I18n.t('are_you_sure'), :class => 'delete-icon' %></p>
    <% end %>
  <% end %>

  <% if @group.attendance? and (@logged_in.can_edit?(@group) or @logged_in.admin?(:manage_attendance)) %>
    <p>
      <%= link_to t('groups.attendance'), group_attendance_index_path(@group), :class => 'people-icon' %>
    </p>
  <% end %>

  <% if @logged_in.can_edit?(@group) %>
    <p>
      <%= link_to t('groups.birthdays'), birthdays_group_memberships_path(@group), :class => 'people-icon' %>
    </p>
  <% end %>

  <% if @group.attachments.count > 0 %>
    <h3><%= t('attachments.files') %></h3>
    <table class="spaced">
      <% @group.attachments.all(:order => 'name').each do |attachment| %>
        <tr>
          <td><%= link_to attachment.name, get_attachment_path(attachment) %></td>
          <td><%= attachment.created_at.to_s(:date) %></td>
        </tr>
      <% end %>
    </table>
  <% end %>

  <% cache(:fragment => 'members') do %>
    <h3><%= t('groups.members') %></h3>
    <% @members.each do |member| %>
      <% content_tag :a, :href => person_path(member), :class => 'styleless' do %>
        <%= render :partial => 'people/thumbnail', :locals => {:person => member} %>
      <% end %>
    <% end %>
    <% if @members.empty? %>
      <p><em><%= t('groups.nobody_yet') %></em></p>
    <% end %>
  <% end %>

  <p class="margin-top">
    <% if @logged_in.can_edit?(@group) %>
      <%= link_to t('groups.edit_members'), group_memberships_path(@group), :class => 'edit-icon discreet' %><br/>
      <%= link_to t('groups.edit_group'), edit_group_path(@group), :class => 'edit-icon discreet' %>
    <% else %>
      <%= link_to t('groups.view_members'), group_memberships_path(@group), :class => 'discreet' %>
    <% end %>
  </p>

  <% if @albums.any? %>
    <h3><%= t('albums.picture_albums') %></h3>
    <p>
      <% @albums.each do |album| %>
        <%= link_to image_tag(album.cover ? album.cover.photo.url(:tn) : 'missing_tn.png', :alt => album.name),
          album, :title => album.name %>
      <% end %>
    </p>
  <% end %>
<% end %>

<% if !@group.approved? and @logged_in.admin?(:manage_groups) %>
  <div class="alert">
    <p><%= t('groups.this_group_is_pending_approval') %></p>
    <%= form_for @group do |form| %>
      <%= hidden_field_tag 'group[approved]', true %>
      <%= form.submit t('groups.approve_group') %>
    <% end %>
  </div>
<% end %>

<% if @group.private? %>
  <p class="highlight"><%= t('groups.this_group_is_private') %></p>
<% end %>

<% if @group.hidden? %>
  <p class="highlight"><%= t('groups.this_group_is_hidden') %></p>
<% end %>

<% if @show_map %>
  <div id="map-container" style="display:none;margin-bottom:30px;">
    <div id="map" style="width:600px;height:250px;"></div>
    <div id="map-link">
      <%= t('people.only_an_approximation') %> |
      <%= link_to t('people.show_full_screen'), "http://maps.yahoo.com/broadband/#mvt=m&q1=#{url_encode(@group.location)}", :target => '_new' %>
    </div>
  </div>
  <%= render :partial => 'map_scripts' %>
<% end %>

<% if @show_cal %>
  <div id="cal-container">
    <iframe src="<%=raw @group.gcal_url %>" style="border: 0" width="600" height="400" frameborder="0"></iframe>
  </div>
<% end %>

<% if @can_post and (@group.email? or @group.prayer? or @group.pictures?) %>
  <div class="share">
    <%= text_field_tag 'share-starter', '', :size => 50, :placeholder => t('share.group') %>
    <ul class="share-details share-selector" style="display:none;">
      <% if @group.email? %>
        <li><%= link_to_function t('share.email'), "selectShare('share-email')", :class => 'email-icon', :id => 'share-email-icon' %></li>
      <% end %>
      <% if @group.prayer? %>
        <li><%= link_to_function t('share.prayer_request'), "selectShare('share-prayer')", :class => 'heart-icon', :id => 'share-prayer-icon' %></li>
      <% end %>
      <% if @group.pictures? %>
        <li><%= link_to_function t('share.picture'), "selectShare('share-picture')", :class => 'picture-icon', :id => 'share-picture-icon' %></li>
      <% end %>
      <li class="cancel-link"><%= link_to_function '', 'hideShare()', :class =>  'delete-icon' %></li>
    </ul>
    <% if @group.email? %>
      <%= form_for Message.new(:group => @group), :html => {:enctype => 'multipart/form-data', :id => 'share-email', :class => 'share-type'} do |form| %>
        <%= form.hidden_field :group_id %>
        <%= form.text_field :subject, :size => 50 %>
        <%= form.text_area :body, :rows => 5 %><br/>
        <label for="file" class="inline"><%= t('messages.attachment_optional') %>:</label>
        <input type="file" id="file" name="files[]" multiple="multiple"/><br/>
        <%= submit_tag t('messages.send_message') %>
      <% end %>
    <% end %>
    <% if @group.prayer? %>
      <%= form_for PrayerRequest.new, :html => {:id => 'share-prayer', :class => 'share-type'} do |form| %>
        <%= hidden_field_tag :group_id, @group.id %>
        <%= form.text_area :request, :rows => 5 %><br/>
        <div id="prayer-answer" style="display:none">
          <%= form.text_area :answer, :rows => 5, :placeholder => t('share.prayer_answer') %><br/>
          <%= form.text_field :answered_at, :size => 10, :placeholder => t('share.prayer_answered_at') %>
        </div>
        <%= submit_tag t('share.share') %>
        <%= link_to_function t('share.prayer_share_answer'), "$('#prayer-answer').show();$(this).hide();", :class => 'discreet' %>
      <% end %>
    <% end %>
    <% if @group.pictures? %>
      <%= form_for Picture.new, :html => {:multipart => true, :id => 'share-picture', :class => 'share-type'} do |form| %>
        <%= hidden_field_tag :group_id, @group.id %>
        <%= file_field_tag 'pictures[]', :multiple => true %>
        <%= text_field_tag 'album', '', :size => 10, :placeholder => t('share.default_album_name') %>
        <%= submit_tag t('share.share') %>
      <% end %>
    <% end %>
  </div>
  <script type="text/javascript">
    $('#album').autocomplete({source: <%= raw @albums.map { |a| a.name }.inspect %>});
    function selectShare(share) {
      $('.share-type').hide();
      $('#'+share).show();
      $('#'+share+' :input[type!="hidden"]')[0].focus();
      $('.share-selector a').removeClass('active');
      $('#'+share+'-icon').addClass('active');
    }
    function showShare() {
      $('.share-details').show();
      $('#share-starter').hide();
      var first = $('.share .share-type:first').attr('id');
      selectShare(first);
    }
    function hideShare() {
      $('.share-type, .share-details').hide();
      $('#share-starter').show();
    }
    $('#share-starter').bind('focus', showShare);
  </script>
<% end %>

<div class="group-stream">
  <%= render :partial => 'streams/stream_item', :collection => @stream_items %>
</div>

<% unless @show_map or @show_cal or @stream_items.any? %>
  <p><em><%= t('groups.no_activity_yet') %></em></p>
<% end %>
