<h2><%= I18n.t('groups.change_email_settings') %></h2>

<form method="POST">
  <p>
    <%= I18n.t('groups.are_you_sure_option', { :option => @options.get_email? ? 'disable' : 'enable', :group => h(@group.name) } ) %>
  </p>
  <%= hidden_field_tag :person_id, params[:person_id] %>
  <%= hidden_field_tag :code, params[:code] %>
  <p><%= submit_tag I18n.t('groups.yes_do_it') %></p>
</form>
