<% if @families.any? %>
  <h2><%= t('admin.deleted_people.empty_families') %></h2>
  <p class="very-strong"><%= t('admin.deleted_people.empty_families_description') %>:</p>
  <%= form_tag batch_families_path do %>
    <table class="spaced">
      <tr>
        <th><input type="checkbox" onclick="$('.family_checkbox').attr('checked', this.checked)"/></th>
        <th><%= t('admin.syncs.id') %></th>
        <th><%= t('admin.syncs.legacy_id') %></th>
        <th><%= t('people.family') %></th>
      </tr>
      <% @families.each do |family| %>
        <tr>
          <td><%= check_box_tag 'ids[]', family.id, false, class: 'family_checkbox' %></td>
          <td><%= family.id %></td>
          <td><%= family.legacy_id %></td>
          <td><%= link_to family.name, family %></li>
        </tr>
      <% end %>
    </table>
    <p>
      <%= submit_tag t('Delete'), name: 'delete' %>
    </p>
  <% end %>
<% end %>

<h2><%= t('admin.deleted_people.deleted_people') %></h2>

<% if params[:search] %>
  <p><%= t('admin.deleted_people.search_results') %> <%= link_to t('groups.show_all'), administration_deleted_people_path %></p>
<% end %>

<%= will_paginate @people %>

<% if @people.any? %>
  <%= form_tag batch_administration_deleted_people_path, method: :put do %>
    <table class="spaced">
      <tr>
        <th><input type="checkbox" onclick="$('.person_checkbox').attr('checked', this.checked)"/></th>
        <th><%= sortable_column_heading(t('admin.syncs.id'), 'people.id') %></th>
        <th><%= sortable_column_heading(t('admin.syncs.legacy_id'),        'people.legacy_id'       ) %></th>
        <th><%= sortable_column_heading(t('accounts.last_name'),        'people.last_name'       ) %></th>
        <th><%= sortable_column_heading(t('accounts.first_name'),       'people.first_name'      ) %></th>
        <th><%= sortable_column_heading(t('families.family_id'),        'people.family_id'       ) %></th>
        <th><%= sortable_column_heading(t('families.legacy_family_id'), 'people.legacy_family_id') %></th>
        <th><%= sortable_column_heading(t('people.family'),      'families.name'          ) %></th>
        <th><%= sortable_column_heading(t('families.deleted_confirmation'),  'families.deleted'       ) %></th>
        <th><%= sortable_column_heading(t('admin.last_updated'),     'people.updated_at desc' ) %></th>
      </tr>
      <% @people.each do |person| %>
        <tr>
          <td><%= check_box_tag 'ids[]', person.id, false, class: 'person_checkbox' %></td>
          <td><%= person.id %></td>
          <td><%= person.legacy_id %></td>
          <td><%= person.last_name %></td>
          <td><%= person.first_name %></td>
          <% if person.family %>
            <td><%= person.family.id %></td>
            <td><%= person.family.legacy_id %></td>
            <td><%= person.family.name %></td>
            <td><%= person.family.deleted? ? t('admin.logs.deleted') : link_to(t('admin.active'), person.family) %></td>
          <% else %>
            <td colspan="4"><em><%= t('families.not_found') %></em></td>
          <% end %>
          <td><%= person.updated_at.to_s %></td>
        </tr>
      <% end %>
    </table>
    <p>
      <%= submit_tag t('admin.deleted_people.undelete'), name: 'undelete' %>
      <%= link_to_function raw(t('admin.deleted_people.purge') + ' &raquo;'), "$('#purge').show();$(this).remove();", class: 'discreet' %>
      <div id="purge" style="display:none;">
        <%= submit_tag t('admin.deleted_people.purge'), name: 'purge' %>
        <%= check_box_tag :purge_empty_families, true, false %>
        <%= label_tag :purge_empty_families, t('admin.deleted_people.purge_when_empty'), class: 'inline' %>
      </div>
    </p>
  <% end %>
<% else %>
  <p><em><%= t('admin.deleted_people.not_found') %></em></p>
<% end %>

<%= will_paginate @people %>
