<% if object['field'] == '(' %>
  <!-- start <%= object['operator'] %> -->
  <table style="margin-left:5px;"><tr><td class="criteria-joiner"><span><%=h object['operator'].sub(/^\$/, '') %></span></td><td>
  <%= hidden_field_tag 'report[selector][][field]', '(' %>
  <%= hidden_field_tag 'report[selector][][operator]', object['operator'] %>
<% elsif object['field'] == ')' %>
  <%= hidden_field_tag 'report[selector][][field]', ')' %>
  <%= hidden_field_tag 'report[selector][][operator]', object['operator'] %>
  </td></tr></table><!-- end <%= object['operator'] %> -->
<% else %>
  <div id="criteria<%= people_selector_counter %>" class="criteria">
    <span class="field">
      <%= select_tag 'report[selector][][field]',
        options_for_select(['']+Report::PEOPLE_FIELDS.map { |f| f.first }, object['field']),
        :onchange => "adjust_operator_and_value(this.parentNode.parentNode)" %>
    </span>
    <span class="operator">
      <%= select_tag 'report[selector][][operator]',
        options_for_select(Report.operators_for_field('people', object['field']), object['operator']),
        :onchange => "adjust_value(this.parentNode.parentNode)" %>
    </span>
    <span class="value">
      <% if Report.field_type(object['field']) == 'boolean' %>
        <%= select_tag 'report[selector][][value]', options_for_select([true, false], object['value']) %>
      <% elsif ['in', '!in'].include?(object['operator']) %>
        <%= text_field_tag 'report[selector][][value]', object['value'] %> <em><%= I18n.t('reporting.separate_values') %></em>
      <% elsif ['nil', '!nil'].include?(object['operator']) %>
        <!-- no value -->
      <% else %>
        <%= text_field_tag 'report[selector][][value]', object['value'] %>
      <% end %>
    </span>
    <span class="controls">
      <%= link_to_function image_tag('plus.png',       :class => 'icon', :alt => I18n.t('reporting.add_criteria')),    "add_criteria(#{people_selector_counter})"          %>
      <%= link_to_function image_tag('group_add.png',  :class => 'icon', :alt => I18n.t('reporting.add_group')),       "add_group(#{people_selector_counter})"             %>
      <%= link_to_function image_tag('arrow_down.png', :class => 'icon', :alt => I18n.t('reporting.move_down')),       "move_criteria(#{people_selector_counter}, 'down')" %>
      <%= link_to_function image_tag('arrow_up.png',   :class => 'icon', :alt => I18n.t('reporting.move_up')),         "move_criteria(#{people_selector_counter}, 'up')"   %>
      <%= link_to_function image_tag('delete.png',     :class => 'icon', :alt => I18n.t('reporting.remove_criteria')), "remove_criteria(#{people_selector_counter});"      %>
    </span>
  </div>
<% end %>
