- @title = t('admin.report.title')
- content_for :header do
  %section.content-header
    = breadcrumbs
    %h1
      = @title
.row
  .col-xs-12
    .box
      .box-header
        %h4.box-title= t('admin.report.list')
      .box-body.table-responsive.nopadding
        %table.table.table-hover
          %tr
            - @reports.each do |id, report|
              %tr
                %td
                  = link_to report[:title], report_path(id)
                %td.actions
                  = link_to t('admin.report.launch'), report_path(id), class: 'label label-info'
