<% content_for :subnav do %>
  <li><%= link_to image_tag('plus.png', :alt => t('reporting.new_report'), :class => 'icon') + ' ' + t('reporting.new_report'), new_administration_report_path %></li>
<% end %>

<% if @offline %>
  <div class="highlight"><%= t('reporting.report_database_offline') %></div>
<% end %>

<h1><%= t('reporting.Reports') %></h1>

<% if @reports.any? %>

  <table>
    <tr>
      <th><%= t('reporting.Name') %></th>
      <th><%= t('reporting.Creator') %></th>
      <th><%= t('reporting.Last_Modified') %></th>
      <th><%= t('reporting.Last_Run') %></th>
      <th><%= t('reporting.Total_Runs') %></th></tr>
    <% @reports.each do |report| %>
      <tr>
        <td><strong>
          <%= link_to report.name, administration_report_path(report) %>
        </strong></td>
        <td>
          <% if report.created_by %>
            <%= link_to report.created_by.name, report.created_by %>
          <% end %>
        </td>
        <td>
          <%= content_tag :span, :title => report.updated_at.to_s do %>
            <%= time_ago_in_words report.updated_at %> ago
          <% end %>
        </td>
        <td>
          <% if report.last_run_at %>
            <%= content_tag :span, :title => report.last_run_at.to_s do %>
              <%= time_ago_in_words report.last_run_at %> ago
            <% end %>
            <% if report.last_run_by %>
              by <%= link_to report.last_run_by.name, report.last_run_by %>
            <% end %>
          <% end  %>
        </td>
        <td><%= report.run_count %></td>
        <td>
          <%= link_to image_tag('eye.png', :alt => t('reporting.run'), :class => 'icon'), administration_report_path(report) %>
          <% if @logged_in.admin?(:manage_reports) %>
            <%= link_to image_tag('pencil.png', :alt => t('edit'), :class => 'icon'), edit_administration_report_path(report) %>
            <%= link_to image_tag('delete.png', :alt => t('delete'), :class => 'icon'), administration_report_path(report), :method => :delete, :confirm => t('are_you_sure') %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>

<% else %>

  <p><em><%= t(:none) %></em></p>

<% end %>

