<% content_for :subnav do %>
  <li><%= link_to image_tag('plus.png', :alt => 'New Report', :class => 'icon') + ' New Report', new_administration_report_path %></li>
<% end %>

<% if @offline %>
  <div class="highlight"><%= I18n.t('reporting.report_database_offline') %></div>
<% end %>

<h1><%= I18n.t('reporting.Reports') %></h1>

<% if @reports.any? %>

  <table>
    <tr>
      <th><%= I18n.t('reporting.Name') %></th>
      <th><%= I18n.t('reporting.Creator') %></th>
      <th><%= I18n.t('reporting.Last_Run') %></th>
      <th><%= I18n.t('reporting.Total_Runs') %></th></tr>
    <% @reports.each do |report| %>
      <tr>
        <td><strong>
          <%= link_to h(report.name), administration_report_path(report) %>
        </strong></td>
        <td>
          <% if report.created_by %>
            <%= link_to h(report.created_by.name), report.created_by %>
          <% end %>
        </td>
        <td>
          <% if report.last_run_at %>
            <%=h time_ago_in_words report.last_run_at %> ago
            <% if report.last_run_by %>
              by <%= link_to h(report.last_run_by.name), report.last_run_by %>
            <% end %>
          <% end  %>
        </td>
        <td><%= report.run_count %></td>
        <td>
          <% if @logged_in.admin?(:manage_reports) %>
            <%= link_to I18n.t('edit'), edit_administration_report_path(report) %>
            <%= link_to I18n.t('delete'), administration_report_path(report), :method => :delete, :confirm => I18n.t('are_you_sure') %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>

<% else %>

  <p><em><%= I18n.t(:none) %></em></p>

<% end %>

