<% content_for :subnav do %>
  <li><%= link_to t('reporting.Reports'), administration_reports_path %></li>
  <li><%= link_to image_tag('pencil.png', :class => 'icon') + ' ' + t('reporting.edit_report'), edit_administration_report_path(@report) %></li>
<% end %>

<h1><%=h @report.name %></h1>

<p><%= pluralize @results.count, 'result' %></p>

<table>
  <tr><th>id</th><th>first_name</th><th>last_name</th></tr>
  <% @results.each do |result| %>
    <tr>
      <td><%= link_to result['id'], person_path(result['id']) %></td>
      <td><%=h result['first_name'] %></td>
      <td><%=h result['last_name'] %></td>
    </tr>
  <% end %>
</table>

<% if params[:debug] and @logged_in.super_admin? %>
  <h2>Report Information</h2>
  <pre><%=h @report.selector_to_javascript %></pre>
<% end %>
