<h2 class="tab" id="note"><%= image_tag('note.png', :alt => t('notes.note'), :class => 'icon')%> <%= t('notes.note') %> </h2>
<div class="section">
  <%= form_for Note.new do |form| %>
    <%= hidden_field_tag :redirect_to, request.fullpath %>
    <%= form.hidden_field :group_id, :value => @group && @group.id %>
    <p>
      <%= t('notes.share_note_description') %>
      <%= form.text_area :body, :rows => 2, :cols => 80 %>
      <%= form.submit t('notes.share_note') %>
      <span class="small"><%= t('stream.create_blog_post', :url => @note && @note.group_id ? new_group_note_path(@note.group_id) : new_note_path) %></span>
    </p>
  <% end %>
  <% unless params[:controller] != 'streams' or @logged_in.share_activity? %>
    <%= render :partial => 'people/not_sharing_activity' %>
  <% end %>
</div>
