<h2 class="tab" id="news"><%= image_tag('newspaper.png', :alt => t('news.news'), :class => 'icon')%> <%= t('news.news') %></h2>
<div class="section">
  <%= form_for NewsItem.new do |form| %>
    <%= hidden_field_tag :redirect_to, request.fullpath %>
    <p>
      <%= form.label :title, t('news.title_description') %>
      <%= form.text_field :title %>
    </p>
    <p>
      <%= form.label :body, t('news.body_description') %>
      <%= form.text_area :body, :rows => 5, :cols => 80 %>
    </p>
    <p>
      <%= form.submit t('news.submit_news') %>
      <span class="small"><%= t('news.news_with_advanced_formatting_html', :url => new_news_item_path) %></span>
    </p>
  <% end %>
  <% unless params[:controller] != 'streams' or @logged_in.share_activity? %>
    <%= render :partial => 'people/not_sharing_activity' %>
  <% end %>
</div>
