<h2 class="tab" id="verse"><%= image_tag('verse.png', :alt => 'Verse', :class => 'icon') %> Verse</h2>
<div class="section">
  <% form_for :verse, :url => verses_path do |form| %>
    <%= hidden_field_tag :redirect_to, request.request_uri %>
    <p>
      Type a reference (e.g. John 3:16, Matthew 5:3-11) below and hit enter:<br/>
      <%= text_field_tag :id, nil, :style => 'border:1px solid #ccc;width:100px;' %>
      <%= submit_tag 'Add Verse', :style => 'width:100px;' %>
    </p>
  <% end %>
  <% unless params[:controller] != 'streams' or @logged_in.share_activity? %>
    <%= render :partial => 'people/not_sharing_activity' %>
  <% end %>
</div>
