<div id="share-note">
  <%= form_for Note.new do |form| %>
    <%= hidden_field_tag :redirect_to, request.fullpath %>
    <%= form.hidden_field :group_id, :value => @group && @group.id %>
    <p>
      <%= t('notes.share_note_description') %>
    </p>
    <p>
      <%= form.text_area :body, :rows => 4, :cols => 50, :style => 'width:500px;' %><br/>
      <%= form.submit t('notes.share_note') %>
    </p>
    <p class="small discreet">
      <%= t('stream.create_blog_post_html', :url => @note && @note.group_id ? new_group_note_path(@note.group_id) : new_note_path) %>
    </p>
  <% end %>
  <% unless params[:controller] != 'streams' or @logged_in.share_activity? %>
    <%= render :partial => 'people/not_sharing_activity' %>
  <% end %>
</div>
