<h2 class="tab" id="picture"><%= image_tag('picture.png', :alt => I18n.t('pictures.pictures'), :class => 'icon') %> <%= I18n.t("picture") %></h2>
<div class="section">
  <% form_for :picture, :url => pictures_path, :html => {:multipart => true, :onsubmit => "if($('album_id').value=='!') custom_select_val($('album_id'), '#{I18n.t('stream.enter_the_new_album_title')}')"} do |form| %>
    <%= hidden_field_tag :redirect_to, request.request_uri %>
    <% if @group %><%= hidden_field_tag :group_id, @group.id %><% end %>
    <%= label_tag :album_id, I18n.t('pictures.album'), :id => 'album_id_label' %>
    <%= select_tag :album_id, '', {:onChange => "if(this.value=='!') custom_select_val(this,'#{I18n.t('stream.enter_the_new_album_title')}')"} %>
    <span id="albums_loading" style="display:none;"><%= image_tag 'spinner_small.gif', :alt => I18n.t("loading"), :class => 'icon' %> <%= I18n.t("loading") %>...</span><br/>
    <label for="picture"><%= I18n.t('pictures.add_a_picture') %></label>
    <%= file_field_tag 'picture1' %><br/>
    <%= link_to_function I18n.t("upload_more") + "&raquo;", 'Element.show("more_upload");Element.hide(this)', :class => 'discreet' %>
    <span id="more_upload" style="display:none;">
      <%= file_field_tag 'picture2' %><br/>
      <%= file_field_tag 'picture3' %><br/>
      <%= file_field_tag 'picture4' %><br/>
      <%= file_field_tag 'picture5' %><br/>
      <%= file_field_tag 'picture6' %><br/>
      <%= file_field_tag 'picture7' %><br/>
      <%= file_field_tag 'picture8' %><br/>
      <%= file_field_tag 'picture9' %><br/>
      <%= file_field_tag 'picture10' %><br/>
    </span>
    <br/>
    <%= submit_tag I18n.t("upload") %>
  <% end %>
  <% unless params[:controller] != 'streams' or @logged_in.share_activity? %>
    <%= render :partial => 'people/not_sharing_activity' %>
  <% end %>
</div>
