<div id="share-verse">
  <%= form_for Verse.new do |form| %>
    <%= hidden_field_tag :redirect_to, request.fullpath %>
    <p>
      <%= t('verses.add_a_verse') %>
    </p>
    <p>
      <%= text_field_tag :id, nil, :placeholder => t('verses.example_verse') %>
      <%= submit_tag t('verses.add_verse') %>
    </p>
  <% end %>
  <% unless params[:controller] != 'streams' or @logged_in.share_activity? %>
    <%= render :partial => 'people/not_sharing_activity' %>
  <% end %>
</div>
