<h2 class="tab" id="picture"><%= image_tag('picture.png', :alt => 'Pictures', :class => 'icon') %> Picture</h2>
<div class="section">
  <% form_for Picture.new, :url => pictures_path, :html => {:multipart => true, :onsubmit => "if($('album_id').value=='!') custom_select_val($('album_id'), 'Enter the new album title.')"} do |form| %>
    <%= hidden_field_tag :redirect_to, request.request_uri %>
    <%= label_tag :album_id, 'Album:', :id => 'album_id_label' %>
    <%= select_tag :album_id, '', {:onChange => "if(this.value=='!') custom_select_val(this, 'Enter the new album title.')"} %>
    <span id="albums_loading" style="display:none;"><%= image_tag 'spinner_small.gif', :alt => 'Loading', :class => 'icon' %> Loading...</span><br/>
    <label for="picture">Add a Picture:</label>
    <%= file_field_tag 'picture1' %><br/>
    <%= link_to_function 'upload more &raquo;', 'Element.show("more_upload");Element.hide(this)', :class => 'discreet' %>
    <span id="more_upload" style="display:none;">
      <%= file_field_tag 'picture2' %><br/>
      <%= file_field_tag 'picture3' %><br/>
      <%= file_field_tag 'picture4' %><br/>
      <%= file_field_tag 'picture5' %><br/>
      <%= file_field_tag 'picture6' %><br/>
      <%= file_field_tag 'picture7' %><br/>
      <%= file_field_tag 'picture8' %><br/>
      <%= file_field_tag 'picture9' %><br/>
      <%= file_field_tag 'picture10' %><br/>
    </span>
    <br/>
    <%= submit_tag 'Upload!' %>
  <% end %>
  <% unless params[:controller] != 'streams' or @logged_in.share_activity? %>
    <%= render :partial => 'people/not_sharing_activity' %>
  <% end %>
</div>
