<h2 class="tab" id="more"><%= image_tag('bricks.png', :alt => 'More', :class => 'icon') %> <%= I18n.t("more") %> </h2>
<div class="section">
  <% if Setting.get(:features, :recipes) %>
    <p>
      <%= link_to image_tag('plus.png', :alt => I18n.t("stream.new_recipe"), :class => 'icon'), new_recipe_path %>
      <%= link_to I18n.t("stream.new_recipe"), new_recipe_path %>
    </p>
  <% end %>
  <% if Setting.get(:features, :publications) and @logged_in.admin?(:manage_publications) %>
    <p>
      <%= link_to image_tag('plus.png', :alt => I18n.t('publications.add_publication'), :class => 'icon'), new_publication_path %>
      <%= link_to I18n.t("new_publication"), new_publication_path %>
    </p>
  <% end %>
  <% unless params[:controller] != 'streams' or @logged_in.share_activity? %>
    <%= render :partial => 'people/not_sharing_activity' %>
  <% end %>
</div>
