<h2 class="tab" id="note"><%= image_tag('note.png', :alt => 'Note', :class => 'icon') %> Note</h2>
<div class="section">
  <% form_for :note, :url => notes_path do |form| %>
    <%= hidden_field_tag :redirect_to, request.request_uri %>
    <%= form.hidden_field :group_id %>
    <p>
      What are you doing? &middot; What's on your mind?
      <%= form.text_area :body, :rows => 2, :cols => 80 %>
      <%= form.submit 'Share Note' %>
      <span class="small">Or, create a <%= link_to 'blog post', new_note_path %> with a title and formatting...</span>
    </p>
  <% end %>
  <% unless params[:controller] != 'streams' or @logged_in.share_activity? %>
    <%= render :partial => 'people/not_sharing_activity' %>
  <% end %>
</div>