<div class="stream-item <%= stream_item.streamable_type.underscore.dasherize %> stream_<%= stream_item.streamable_type.underscore %> <% if stream_item.person == @person %>stream_mine<% end %>">
  <div class="stream-item-meta">
    <%= render partial: 'streams/person_thumbnail', locals: {stream_item: stream_item} %>
    <div style="clear:left;"></div>
  </div>
  <div class="stream-item-body">
    <% if stream_item.title %>
      <h3>
        <%= link_to stream_item.title, stream_item %>
      </h3>
    <% else %>
      <div class="stream-item-content">
        <%= stream_item_content(stream_item) %>
        <%= link_to t('comments.view') + '...', stream_item, class: 'small' %>
      </div>
    <% end %>
    <div class="nowrap stream-item-timestamp">
      <%= time_ago_in_words stream_item.created_at %> <%= t('comments.ago') %>
      <% if stream_item.person %>
        by <%= link_to stream_item.person.name, stream_item.person %>
      <% end %>
      <% if @group.nil? and stream_item.group %>
        <%= t('in') %> <%= link_to stream_item.group.name, stream_item.group %>
      <% elsif original_url = stream_item.context['original_url'] %>
        <%= t('from') %> <%= link_to domain_name_from_url(original_url), original_url %>
      <% end %>
    </div>
    <% if stream_item.title %>
      <%= stream_item_content stream_item %>
    <% end %>
    <% if stream_item.context['comments'].to_a.any? %>
      <table class="comments">
        <% stream_item.context['comments'].to_a.each do |comment| %>
          <% if comment['person'] %>
            <tr class="stream-item-comment">
              <td style="text-align:right;">
                <a href="<%= url_for comment['person'] %>">
                  <%= render partial: 'people/thumbnail', locals: {person: comment['person']} %>
                </a>
              </td>
              <td>
                <%= link_to comment['person'].name, comment['person'] %>:
                <%= comment['text'] %>
                <span class="stream-item-timestamp">
                  <%= time_ago_in_words(comment['created_at']) %> <%= t('comments.ago') %>
                </span>
              </td>
            </tr>
          <% end %>
        <% end %>
      </table>
    <% end %>
    <% if stream_item.can_have_comments? %>
      <div class="new-comment">
        <%= link_to_function t('comments.add_a_comment'),
          "$('#new-comment-for-#{stream_item.id}').show(); $(this.parentNode).css('visibility', 'visible');",
          class: 'discreet small comment-icon' %>
        <div id="new-comment-for-<%= stream_item.id %>" style="display:none;">
          <%= form_for Comment.new do |form| %>
            <% if stream_item.streamable_type == 'Album' %>
              <% if Array(stream_item.context['picture_ids']).length == 1 %>
                <%= hidden_field_tag 'picture_id', stream_item.context['picture_ids'].first[0] %>
              <% else %>
                <%= t('comments.which_picture') %><br/>
                <% stream_item.context['picture_ids'].to_a.each do |picture_id, fingerprint, extension| %>
                  <%= radio_button_tag :picture_id, picture_id, picture_id == stream_item.context['picture_ids'].first[0] %>
                  <%= label_tag "picture_id_#{picture_id}", image_tag(Picture.photo_url_from_parts(picture_id, fingerprint, extension, :tn), alt: '', class: 'icon'), class: 'inline' %>
                  &nbsp;
                <% end %>
              <% end %>
            <% else %>
              <%= hidden_field_tag stream_item.streamable_type.downcase + '_id', stream_item.streamable_id %>
            <% end %>
            <%= hidden_field_tag :return_to, stream_path %>
            <%= text_area_tag 'text', '', rows: 3, cols: 40, id: 'new_comment_textarea' %><br/>
            <%= form.submit t('comments.save') %>
          <% end %>
        </div>
      </div>
    <% else %>
      <div class="stream-item-spacer"></div>
    <% end %>
  </div>
</div>
