<ul>
  <% @stream_items.each do |stream_item| %>
    <li class="arrow">
      <a href="<%= stream_item_path(stream_item) %>">
        <div class="thumbnail">
          <% if stream_item.person %>
            <%= image_tag stream_item.person.has_photo? ? tn_person_photo_path(stream_item.person) : (stream_item.person.gender == 'Female' ? 'woman.tn.gif' : 'man.tn.gif'), :alt => stream_item.person.name %>
          <% else %>
            <%= image_tag 'man.tn.gif', :alt => '' %>
          <% end %>
        </div>
        <% if stream_item.title %>
          <%= stream_icon(stream_item) %>
          <%= h(stream_item.title) %>
        <% end %><br/>
        <span class="byline">
          <% if stream_item.person %><%=h stream_item.person.name %> &middot;<% end %>
          <%= time_ago_in_words stream_item.created_at %> <%= t('comments.ago') %><br/>
        </span>
      </a>
      <% if stream_item.context.any? %>
        <% stream_item.context['picture_ids'].to_a[0..5].each do |picture_id| %>
          <%= link_to \
            image_tag(small_album_picture_photo_path(stream_item.streamable_id, picture_id), :alt => t('pictures.click_to_enlarge'), :class => 'stream-pic'),
              album_picture_path(stream_item.streamable_id, picture_id), :title => t('pictures.click_to_enlarge'),
              :style => 'display:inline;' %>
        <% end %>
      <% end %>
      <% unless stream_item.title %>
        <% if stream_item.wall and (params[:controller] != 'people' or stream_item.wall_id != @person.id) %>
          <div style="float:left;margin:0 10px 0 -12px;height:37px;">
            <%= image_tag('arrow_right.png', :alt => '', :style => 'padding:10px 0 0 0;vertical-align:top;') %>
            <a href="<%= url_for stream_item.wall %>">
              <%= image_tag stream_item.wall.has_photo? ? tn_person_photo_path(stream_item.wall) : (stream_item.wall.gender == 'Female' ? 'woman.tn.gif' : 'man.tn.gif'),
                :alt => stream_item.wall.name %>
            </a>
          </div>
        <% end %>
        <%= link_to stream_icon(stream_item), stream_item %>
        <%= stream_item_content(stream_item) %>
        <% unless stream_item.wall %>
          <%= link_to t('comments.view') + '...', stream_item, :class => 'small' %>
        <% end %>
      <% end %>
    </li>
  <% end %>
</ul>
