<% last_stream_item = nil; grouped_items = [] %>

<% @stream_items.each do |stream_item| %>
  <% if last_stream_item and stream_item.person_id == last_stream_item.person_id and stream_item.streamable_type == last_stream_item.streamable_type and stream_item.streamable_type != 'NewsItem' and grouped_items.empty? %>
    <div class="stream-item stream_<%= stream_item.streamable_type.downcase %>">
    <div id="stream-item-group<%= stream_item.id %>" style="display:none;">
    <% grouped_items << stream_item.id %>
  <% end %>
  <% if grouped_items.any? and not (stream_item.person_id == last_stream_item.person_id and stream_item.streamable_type == last_stream_item.streamable_type) %>
    </div>
    <div class="stream-item-group-link">
      <%= link_to_function t('stream.and_more', { length: grouped_items.length, name: (last_stream_item.person.name rescue '') } ), "$(this.parentNode).hide(); $('#stream-item-group#{grouped_items.first}').show()" %>
    </div>
    </div>
    <% grouped_items = [] %>
  <% end %>
  <% if grouped_items.any? and not grouped_items.include?(stream_item.id); grouped_items << stream_item.id; end %>

  <%= render partial: 'stream_item', object: stream_item %>

  <% last_stream_item = stream_item %>
<% end %>

<% if grouped_items.any? %>
  </div>
  <div class="stream-item-group-link">
    <%= link_to_function t('stream.and_more', { length: grouped_items.length, name: (last_stream_item.person.name rescue '') } ), "$(this.parentNode).hide(); $('#stream-item-group#{grouped_items.first}').show()" %>
  </div>
  </div>
<% end %>

<% if @stream_items.empty? %>
  <p><%= t('stream.where_activity_appear') %></p>
  <p><em><%= t('stream.nothing_to_show') %></em></p>
<% end %>

