<div class="stream-item <%= stream_item.streamable_type.underscore.dasherize %> stream_<%= stream_item.streamable_type.underscore %> <% if stream_item.person == @person %>stream_mine<% end %>">
  <div class="stream-item-meta">
    <% if stream_item.person %>
      <span class="nowrap">
        <a href="<%= url_for stream_item.person %>">
          <%= image_tag stream_item.person.has_photo? ? tn_person_photo_path(stream_item.person) : (stream_item.person.gender == 'Female' ? 'woman.tn.gif' : 'man.tn.gif'),
            :alt => stream_item.person.name %>
        </a>
      </span>
    <% else %>
      <%= image_tag 'man.tn.gif', :alt => '' %>
    <% end %>
    <div style="clear:left;"></div>
  </div>
  <div class="stream-item-body">
    <% if stream_item.title %>
      <h2>
        <%= link_to stream_icon(stream_item), stream_item %>
        <%= link_to h(stream_item.title), stream_item %>
      </h2>
    <% else %>
      <% if stream_item.wall and (params[:controller] != 'people' or stream_item.wall_id != @person.id) %>
        <div style="float:left;margin:0 10px 0 -12px;height:37px;">
          <%= image_tag('arrow_right.png', :alt => '', :style => 'padding:10px 0 0 0;vertical-align:top;') %>
          <a href="<%= url_for stream_item.wall %>">
            <%= image_tag stream_item.wall.has_photo? ? tn_person_photo_path(stream_item.wall) : (stream_item.wall.gender == 'Female' ? 'woman.tn.gif' : 'man.tn.gif'),
              :alt => stream_item.wall.name %>
          </a>
        </div>
      <% end %>
      <%= link_to stream_icon(stream_item), stream_item %>
      <%= stream_item_content(stream_item) %>
      <% unless stream_item.wall %>
        <%= link_to 'View...', stream_item, :class => 'small' %>
      <% end %>
    <% end %>
    <div class="nowrap stream-item-timestamp">
      <%= time_ago_in_words stream_item.created_at %> ago
      <% if stream_item.person %>
        by <%= link_to h(stream_item.person.name), stream_item.person %>
      <% end %>
      <% if stream_item.wall %>
        to <%= link_to h(stream_item.wall.name), stream_item.wall %>
      <% end %>
      <% if stream_item.group %>
        in <%= link_to h(stream_item.group.name), stream_item.group %>
      <% elsif original_url = stream_item.context['original_url'] %>
        from <%= link_to h(domain_name_from_url(original_url)), original_url %>
      <% end %>
    </div>
    <% if stream_item.title %>
      <%= stream_item_content stream_item %>
    <% end %>
    <% if stream_item.context['comments'].to_a.any? %>
      <table class="comments">
        <% stream_item.context['comments'].to_a.each do |comment| %>
          <% if comment['person'] %>
            <tr class="stream-item-comment">
              <td style="text-align:right;">
                <a href="<%= url_for comment['person'] %>">
                  <%= render :partial => 'people/thumbnail', :locals => {:person => comment['person']} %>
                </a>
              </td>
              <td>
                <%= link_to h(comment['person'].name), comment['person'] %>:
                <%=h comment['text'] %>
                <span class="stream-item-timestamp">
                  <%= time_ago_in_words(comment['created_at']) %> ago
                </span>
              </td>
            </tr>
          <% end %>
        <% end %>
      </table>
    <% end %>
    <% if stream_item.can_have_comments? %>
      <div class="new-comment">
        <%= link_to_function image_tag('comment.gif', :alt => 'Add a Comment', :class => 'icon') + ' Add a Comment',
          "new Effect.Appear('new-comment-for-#{stream_item.id}'); this.parentNode.style.visibility = 'visible';",
          :class => 'discreet small' %>
        <div id="new-comment-for-<%= stream_item.id %>" style="display:none;">
          <% form_for Comment.new do |form| %>
            <% if stream_item.streamable_type == 'Album' %>
              <% if stream_item.context['picture_ids'].to_a.length == 1 %>
                <%= hidden_field_tag 'picture_id', stream_item.context['picture_ids'].first %>
              <% else %>
                Which picture are you commenting on?<br/>
                <% stream_item.context['picture_ids'].to_a.each_with_index do |picture_id, index| %>
                  <%= radio_button_tag :picture_id, picture_id, index == 0 %>
                  <%= label_tag "picture_id_#{picture_id}", image_tag(tn_album_picture_photo_path(stream_item.streamable_id, picture_id), :alt => '', :class => 'icon'), :class => 'inline' %>
                  &nbsp;
                <% end %>
              <% end %>
            <% else %>
              <%= hidden_field_tag stream_item.streamable_type.downcase + '_id', stream_item.streamable_id %>
            <% end %>
            <%= hidden_field_tag :return_to, stream_path %>
            <%= text_area_tag 'text', '', :rows => 3, :cols => 40, :id => 'new_comment_textarea' %>
            <%= form.submit 'Save Comment' %>
          <% end %>
        </div>
      </div>
    <% elsif stream_item.wall_id %>
      <div class="new-comment discreet small">
        <%= image_tag('comment.gif', :alt => 'Leave a Note', :class => 'icon') %>
        <% if stream_item.wall == @logged_in %>
          <%= link_to 'Leave a note for ' + h(stream_item.person.name), stream_item.person %>
        <% elsif stream_item.person == @logged_in %>
          <%= link_to 'Leave another note for ' + h(stream_item.wall.name), stream_item.wall %>
        <% else %>
          Leave a note for:
          <%= link_to h(stream_item.person.name), stream_item.person %>
          or
          <%= link_to h(stream_item.wall.name), stream_item.wall %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
