<% content_for :head do %>
  <link rel="alternate" type="application/atom+xml" title="Activity Feed" href="<%= url_for stream_path(:format => 'xml', :code => @logged_in.feed_code) %>"/>
<% end %>

<% content_for :subnav do %>
  <% if Setting.get(:features, :pictures    ) %><li><%= link_to image_tag('picture.png',   :alt => 'All Pictures',     :class => 'icon') + ' All Pictures',     albums_path       %></li><% end %>
  <% if Setting.get(:features, :verses      ) %><li><%= link_to image_tag('verse.png',     :alt => 'All Verses',       :class => 'icon') + ' All Verses',       verses_path       %></li><% end %>
  <% if Setting.get(:features, :recipes     ) %><li><%= link_to image_tag('recipe.png',    :alt => 'All Recipes',      :class => 'icon') + ' All Recipes',      recipes_path      %></li><% end %>
  <% if Setting.get(:features, :news_page   ) %><li><%= link_to image_tag('newspaper.png', :alt => 'All News',         :class => 'icon') + ' All News',         news_path         %></li><% end %>
  <% if Setting.get(:features, :publications) %><li><%= link_to image_tag('page.png',      :alt => 'All Publications', :class => 'icon') + ' All Publications', publications_path %></li><% end %>
<% end %>

<div style="width:200px;float:right;">
  <%= render :partial => 'people/photo', :locals => {:url => @person} %>
  <h1><%=h @person.name %></h1>
  <p>
    <% if @person.share_home_phone?   and @person.home_phone.to_s.any?            %><%= format_phone @person.home_phone            %> home  <br/><% end %>
    <% if @person.share_mobile_phone? and @person.mobile_phone.to_s.any?          %><%= format_phone @person.mobile_phone          %> mobile<br/><% end %>
    <% if @person.share_work_phone?   and @person.work_phone.to_s.any?            %><%= format_phone @person.work_phone            %> work  <br/><% end %>
    <% if @person.share_fax?          and @person.fax.to_s.any?                   %><%= format_phone @person.fax                   %> fax   <br/><% end %>
    <% if @person.share_address?      and @person.family.pretty_address.to_s.any? %><%= preserve_breaks @person.family.pretty_address %>    <br/><% end %>
  </p>

  <table class="cells-centered" style="margin-top:20px;">
    <tr>
      <td class="graphic" style="padding-bottom:20px;">
        <%= link_to_function image_tag('add.png', :alt => 'Share Something', :class => 'icon'),
          "new Effect.Appear('share'); location.hash = 'note'; Element.hide('share-something');" %>
      </td>
      <td style="padding-bottom:20px;">
        <%= link_to_function 'Share<br/>Something', "new Effect.Appear('share'); location.hash = 'note'; Element.hide('share-something');" %>
      </td>
    </tr>
    <tr>
      <td class="graphic">
        <%= link_to image_tag('feed.gif', :alt => 'Activity Feed', :class => 'icon'), stream_path(:format => 'xml', :code => @logged_in.feed_code) %>
      </td>
      <td>
        <%= link_to 'Feed', stream_path(:format => 'xml', :code => @logged_in.feed_code) %>
      </td>
    </tr>
  </table>
  
  <h2>Connect with...</h2>
  <p style="padding-left:10px;">
    <%= link_to image_tag('facebook.png', :alt => 'Link with your Facebook status updates...', :class => 'icon') + ' Facebook', new_person_feed_path(@logged_in, :type => 'facebook'), :style => 'text-decoration:none;' %><br/>
    <%= link_to image_tag('twitter.png', :alt => 'Link with your Twitter updates...', :class => 'icon') + ' Twitter', new_person_feed_path(@logged_in, :type => 'twitter'), :style => 'text-decoration:none;' %><br/>
    <%= link_to image_tag('flickr.png', :alt => 'Link with your Flickr photos...', :class => 'icon') + ' Flickr', new_person_feed_path(@logged_in, :type => 'flickr'), :style => 'text-decoration:none;' %><br/>
    <%= link_to image_tag('rss.png', :alt => 'Link with your RSS feed...', :class => 'icon') + ' RSS', new_person_feed_path(@logged_in, :type => 'rss'), :style => 'text-decoration:none;' %><br/>
  </p>
  
  <div id="stream-display-options">
    <h2>Show</h2>
    <ul style="padding-left:10px;">
      <% if Setting.get(:features, :notes       ) %><li><%= stream_type_checkmark('Notes',        'note'       ) %></li><% end %>
      <% if Setting.get(:features, :pictures    ) %><li><%= stream_type_checkmark('Pictures',     'album'      ) %></li><% end %>
      <% if Setting.get(:features, :verses      ) %><li><%= stream_type_checkmark('Verses',       'verse'      ) %></li><% end %>
      <% if Setting.get(:features, :recipes     ) %><li><%= stream_type_checkmark('Recipes',      'recipe'     ) %></li><% end %>
      <% if Setting.get(:features, :news_page   ) %><li><%= stream_type_checkmark('News',         'news_item'  ) %></li><% end %>
      <% if Setting.get(:features, :publications) %><li><%= stream_type_checkmark('Publications', 'publication') %></li><% end %>
      <li><%= stream_type_checkmark('Prayer Requests', 'prayer_request') %></li>
      <li><%= stream_type_checkmark('Messages', 'message') %></li>
      <li><%= stream_type_checkmark('My Activity', 'mine') %></li>
    </ul>
  </div>
</div>

<div style="display:none;margin:0 250px 25px 25px;" id="share">
  <%= render :partial => 'share' %>
</div>

<div style="margin-right:250px;padding-left:25px;">
  <p style="margin-bottom:20px;" id="share-something">
    <%= link_to_function image_tag('add_small.gif', :alt => 'Share Something', :class => 'icon'),
      "new Effect.Appear('share'); location.hash = 'note'; Element.hide('share-something');" %>
    You should
    <%= link_to_function 'share something here', "new Effect.Appear('share'); location.hash = 'note'; Element.hide('share-something');" %>.
  </p>
  <%= render :partial => 'stream_item', :collection => @stream_items %>
  <% if @stream_items.empty? %>
    <p>This is where activity from you, your friends, and your groups will appear.</p>
    <p><em>Right now, there's nothing to show.</em></p>
  <% end %>
</div>

<script type="text/javascript"> ALBUMS_JSON_PATH = '<%= person_albums_path(@logged_in.id) %>'; </script>
<%= javascript_include_tag 'stream' %> <%# do not move this line below the style block below #%>

<style type="text/css">
  /* show all in case browser has scripting disabled */
  .stream-item { display: block; }
</style>

<%= stylesheet_link_tag 'tabs.css' %>
<%= javascript_include_tag 'tabs.js' %>
<script type="text/javascript"> set_up_tabs(); </script>

<% if session[:touring] %><%= tour_popup('Home Tab', 'Tour Home', 450, 'right') %><% end %>
