<% content_for :head do %>
  <link rel="alternate" type="application/atom+xml" title="Activity Feed" href="<%= url_for stream_path(:format => 'xml', :code => @logged_in.feed_code) %>"/>
<% end %>

<% content_for :subnav do %>
  <% if Setting.get(:features, :pictures    ) %><li><%= link_to image_tag('picture.png',   :alt => 'All Pictures',     :class => 'icon') + ' All Pictures',     albums_path       %></li><% end %>
  <% if Setting.get(:features, :verses      ) %><li><%= link_to image_tag('verse.png',     :alt => 'All Verses',       :class => 'icon') + ' All Verses',       verses_path       %></li><% end %>
  <% if Setting.get(:features, :recipes     ) %><li><%= link_to image_tag('recipe.png',    :alt => 'All Recipes',      :class => 'icon') + ' All Recipes',      recipes_path      %></li><% end %>
  <% if Setting.get(:features, :news_page   ) %><li><%= link_to image_tag('newspaper.png', :alt => 'All News',         :class => 'icon') + ' All News',         news_path         %></li><% end %>
  <% if Setting.get(:features, :publications) %><li><%= link_to image_tag('page.png',      :alt => 'All Publications', :class => 'icon') + ' All Publications', publications_path %></li><% end %>
<% end %>

<div style="display:none;" id="share">
  
  <% if Setting.get(:features, :notes) %>
    <h2 class="tab" id="note"><%= image_tag('note.png', :alt => 'Note', :class => 'icon') %> Note</h2>
    <div class="section">
      <% form_for Note.new do |form| %>
        <%= hidden_field_tag :redirect_to, stream_path %>
        <p>
          What are you doing? &middot; What's on your mind?
          <%= form.text_area :body, :rows => 3, :cols => 80 %>
          <%= form.submit 'Share Note' %>
          Or, create a <%= link_to 'blog post with a title and formatting', new_note_path %>...
        </p>
      <% end %>
    </div>
  <% end %>
  
  <% if Setting.get(:features, :pictures) %>
    <h2 class="tab" id="picture"><%= image_tag('picture.png', :alt => 'Pictures', :class => 'icon') %> Pictures</h2>
    <div class="section">
      <% form_for Picture.new, :url => pictures_path, :html => {:multipart => true} do |form| %>
        <%= hidden_field_tag :redirect_to, stream_path %>
        <%= label_tag :album_id, 'Album:' %>
        <%= select_tag :album_id, '', {:onChange => "if(this.value=='!') custom_select_val(this, 'Enter the new album title.')"} %>
        <span id="groups_loading" style="display:none;"><%= image_tag 'spinner_small.gif', :alt => 'Loading', :class => 'icon' %> Loading...</span><br/>
        <label for="picture">Add a Picture:</label>
        <%= file_field_tag 'picture1' %><br/>
        <%= link_to_function 'upload more &raquo;', 'Element.show("more_upload");Element.hide(this)', :class => 'discreet' %>
        <span id="more_upload" style="display:none;">
          <%= file_field_tag 'picture2' %><br/>
          <%= file_field_tag 'picture3' %><br/>
          <%= file_field_tag 'picture4' %><br/>
          <%= file_field_tag 'picture5' %><br/>
          <%= file_field_tag 'picture6' %><br/>
          <%= file_field_tag 'picture7' %><br/>
          <%= file_field_tag 'picture8' %><br/>
          <%= file_field_tag 'picture9' %><br/>
          <%= file_field_tag 'picture10' %><br/>
        </span>
        <br/>
        <% if @logged_in.admin?(:manage_pictures) %>
          <%= check_box_tag 'remove_owner', true, false, :class => 'checkbox' %>
          <%= label_tag 'remove_owner', "These are general community pictures &mdash; don't show my name on them (admin-only option).", :class => 'inline' %>
          <br/>
        <% end %>
        <%= submit_tag 'Upload!' %>
      <% end %>
    </div>
  <% end %>
  
  <% if Setting.get(:features, :verses) %>
    <h2 class="tab" id="verse"><%= image_tag('verse.png', :alt => 'Verse', :class => 'icon') %> Verse</h2>
    <div class="section">
      <% form_for Verse.new do |form| %>
        <%= hidden_field_tag :redirect_to, stream_path %>
        <p>
          Type a reference (i.e. John 3:16, Matthew 5:3-11) below and hit enter:<br/>
          <%= text_field_tag :id, nil, :style => 'border:1px solid #ccc;width:100px;' %>
          <%= submit_tag 'Add Verse', :style => 'width:100px;' %>
        </p>
      <% end %>
    </div>
  <% end %>
  
  <% if Setting.get(:features, :news_by_users) or @logged_in.admin?(:manage_news) %>
    <h2 class="tab" id="news"><%= image_tag('newspaper.png', :alt => 'News', :class => 'icon') %> News</h2>
    <div class="section">
      <% form_for NewsItem.new, :url => news_path do |form| %>
        <p>
          <%= form.label :title, 'Give your post a concise title:' %>
          <%= form.text_field :title %>
        </p>
        <p>
          <%= form.label :body, 'Share your announcement, information, or news here:' %>
          <%= form.text_area :body, :rows => 5, :cols => 80 %>
        </p>
        <p>
          <%= form.submit 'Submit News' %>
          Or, create <%= link_to 'news with advanced formatting', new_news_item_path %>...
        </p>
      <% end %>
    </div>
  <% end %>
  
  <h2 class="tab" id="more"><%= image_tag('bricks.png', :alt => 'More', :class => 'icon') %> More</h2>
  <div class="section">
    <% if Setting.get(:features, :recipes) %>
      <p>
        <%= link_to image_tag('plus.png', :alt => 'Add Recipe', :class => 'icon'), new_recipe_path %>
        <%= link_to 'New Recipe', new_recipe_path %>
      </p>
    <% end %>
    <% if Setting.get(:features, :publications) and @logged_in.admin?(:manage_publications) %>
      <p>
        <%= link_to image_tag('plus.png', :alt => 'Add Publication', :class => 'icon'), new_publication_path %>
        <%= link_to 'New Publication', new_publication_path %>
      </p>
    <% end %>
  </div>
</div>

<div style="width:200px;float:right;">
  <%= render :partial => 'people/photo', :locals => {:url => @person} %>
  <h1><%=h @person.name %></h1>
  <p>
    <% if @person.share_home_phone?   and @person.home_phone.to_s.any?       %><%= format_phone @person.home_phone            %> home  <br/><% end %>
    <% if @person.share_mobile_phone? and @person.mobile_phone.to_s.any?     %><%= format_phone @person.mobile_phone          %> mobile<br/><% end %>
    <% if @person.share_work_phone?   and @person.work_phone.to_s.any?       %><%= format_phone @person.work_phone            %> work  <br/><% end %>
    <% if @person.share_fax?          and @person.fax.to_s.any?              %><%= format_phone @person.fax                   %> fax   <br/><% end %>
    <% if @person.share_address?      and @person.family.pretty_address.any? %><%= preserve_breaks @person.family.pretty_address %>    <br/><% end %>
  </p>

  <table class="cells-centered" style="margin-top:20px;">
    <tr>
      <td class="graphic" style="padding-bottom:20px;">
        <%= link_to_function image_tag('add.png', :alt => 'Share Something', :class => 'icon'),
          "" %>
      </td>
      <td style="padding-bottom:20px;">
        <%= link_to_function 'Share<br/>Something', "new Effect.Appear('share'); location.hash = 'note';" %>
      </td>
    </tr>
    <tr>
      <td class="graphic">
        <%= link_to image_tag('feed.gif', :alt => 'Activity Feed', :class => 'icon'), stream_path(:format => 'xml', :code => @logged_in.feed_code) %>
      </td>
      <td>
        <%= link_to 'Subscribe', stream_path(:format => 'xml', :code => @logged_in.feed_code) %>
      </td>
    </tr>
  </table>
  
  <div id="stream-display-options">
    <h2>Show</h2>
    <ul>
      <% if Setting.get(:features, :notes       ) %><li><%= stream_type_checkmark('Notes',        'note'       ) %></li><% end %>
      <% if Setting.get(:features, :pictures    ) %><li><%= stream_type_checkmark('Pictures',     'album'      ) %></li><% end %>
      <% if Setting.get(:features, :verses      ) %><li><%= stream_type_checkmark('Verses',       'verse'      ) %></li><% end %>
      <% if Setting.get(:features, :recipes     ) %><li><%= stream_type_checkmark('Recipes',      'recipe'     ) %></li><% end %>
      <% if Setting.get(:features, :news_page   ) %><li><%= stream_type_checkmark('News',         'news_item'  ) %></li><% end %>
      <% if Setting.get(:features, :publications) %><li><%= stream_type_checkmark('Publications', 'publication') %></li><% end %>
      <li><%= stream_type_checkmark('My Activity', 'mine') %></li>
    </ul>
  </div>
</div>

<div style="margin-right:250px;">
  <%= render :partial => 'stream_item', :collection => @stream_items %>
  <% if @stream_items.empty? %>
    <p>This is where activity from you, your friends, and your groups will appear.</p>
    <p><em>Right now, there's nothing to show.</em></p>
  <% end %>
</div>

<script type="text/javascript">
  $('stream-display-options').style.display = 'block';
  function enable_stream_item_type(type, enable) {
    document.cookie = 'stream_' + type + '=' + (enable ? 'true' : 'false');
    update_stream_display();
  }
  function update_stream_display() {
    $$('.stream-item').each(function(e){e.show()})
    document.cookie.split('; ').each(function(type){
      if(type.match(/^stream_/)) {
        var enabled = type.split('=')[1] == 'true';
        var type = type.split('=')[0];
        var imgs = $$("#enable-" + type + " img");
        if(imgs.length > 0) {
          imgs[0].writeAttribute('src', enabled ? '/images/checkmark.png' : '/images/remove.gif');
          $$('.' + type).each(function(e){ if(!enabled) Element.hide(e) });
        }
      }
    })
  }
  update_stream_display();
  albums = null;
  function load_tab(id) {
    if(id == 'picture' && !albums) {
      new Ajax.Request('<%= person_albums_path(@logged_in.id) %>', {
        method: 'get',
        onLoading: function(){
          Element.show('groups_loading')
        },
        onSuccess: function(transport){
          Element.hide('groups_loading')
          albums = transport.responseText.evalJSON();
          albums.each(function(a){
            var option = document.createElement('option');
            option.value = a.id;
            option.text = a.name;
            try {
              $('album_id').add(option, null);
            } catch(ex) {
              $('album_id').add(option);
            }
          })
          var option = document.createElement('option');
          option.value = '!';
          option.text = '[new]';
          try {
            $('album_id').add(option, null);
          } catch(ex) {
            $('album_id').add(option);
          }
        }
      });
    }
  }
  if(location.hash != '') Element.show('share');
</script>

<style type="text/css">
  /* show all in case browser has scripting disabled */
  .stream-item { display: block; }
  #share div.section { border: 1px solid #ccc; padding-left: 20px; }
</style>

<%= stylesheet_link_tag 'tabs.css' %>
<%= javascript_include_tag 'tabs.js' %>
<script type="text/javascript"> set_up_tabs() </script>
