<% content_for :subnav do %>
  <% if Setting.get(:features, :news_page   ) %><li><%= link_to image_tag('newspaper.png', :alt => 'All News',         :class => 'icon') + ' All News',         news_path         %></li><% end %>
  <% if Setting.get(:features, :publications) %><li><%= link_to image_tag('page.png',      :alt => 'All Publications', :class => 'icon') + ' All Publications', publications_path %></li><% end %>
  <% if Setting.get(:features, :verses      ) %><li><%= link_to image_tag('verse.png',     :alt => 'All Verses',       :class => 'icon') + ' All Verses',       verses_path       %></li><% end %>
  <% if Setting.get(:features, :pictures    ) %><li><%= link_to image_tag('picture.png',   :alt => 'All Pictures',     :class => 'icon') + ' All Pictures',     albums_path       %></li><% end %>
  <% if Setting.get(:features, :recipes     ) %><li><%= link_to image_tag('recipe.png',    :alt => 'All Recipes',      :class => 'icon') + ' All Recipes',      recipes_path      %></li><% end %>
<% end %>

<div style="width:200px;float:right;">
  <table class="cells-centered">
    <tr>
      <td class="graphic" style="padding-bottom:20px;">
        <%= link_to_function image_tag('add.png', :alt => 'Share Something', :class => 'icon'),
          "" %>
      </td>
      <td style="padding-bottom:20px;">
        <%= link_to_function 'Share<br/>Something',
          "" %>
      </td>
    </tr>
    <tr>
      <td class="graphic">
        <%= link_to image_tag('feed.gif', :alt => 'Activity Feed', :class => 'icon'), stream_path(:format => 'xml', :code => @logged_in.feed_code) %>
      </td>
      <td>
        <%= link_to 'Subscribe', stream_path(:format => 'xml', :code => @logged_in.feed_code) %>
      </td>
    </tr>
  </table>
  
  <div id="stream-display-options">
    <h2>Show</h2>
    <ul>
      <% if Setting.get(:features, :news_page   ) %><li><%= stream_type_checkmark('News',         'news_item'  ) %></li><% end %>
      <% if Setting.get(:features, :publications) %><li><%= stream_type_checkmark('Publications', 'publication') %></li><% end %>
      <% if Setting.get(:features, :notes       ) %><li><%= stream_type_checkmark('Notes',        'note'       ) %></li><% end %>
      <% if Setting.get(:features, :verses      ) %><li><%= stream_type_checkmark('Verses',       'verse'      ) %></li><% end %>
      <% if Setting.get(:features, :pictures    ) %><li><%= stream_type_checkmark('Pictures',     'album'      ) %></li><% end %>
      <% if Setting.get(:features, :recipes     ) %><li><%= stream_type_checkmark('Recipes',      'recipe'     ) %></li><% end %>
    </ul>
  </div>
</div>

<div style="margin-right:250px;">
  <%= render :partial => 'stream_item', :collection => @stream_items %>
  <% if @stream_items.empty? %>
    <p>This is where activity from you, your friends, and your groups will appear.</p>
    <p><em>Right now, there's nothing to show.</em></p>
  <% end %>
</div>

<script type="text/javascript">
  $('stream-display-options').style.display = 'block';
  function enable_stream_item_type(type, enable) {
    document.cookie = 'stream_' + type + '=' + (enable ? 'true' : 'false');
    update_stream_display();
  }
  function update_stream_display() {
    $$('.stream-item').each(function(e){e.hide()})
    document.cookie.split('; ').each(function(type){
      if(type.match(/^stream_/)) {
        var enabled = type.split('=')[1] == 'true';
        var type = type.split('=')[0];
        var imgs = $$("#enable-" + type + " img");
        if(imgs.length > 0) {
          imgs[0].writeAttribute('src', enabled ? '/images/checkmark.png' : '/images/remove.gif');
          $$('.' + type).each(function(e){enabled ? Element.show(e) : Element.hide(e)});
        }
      }
    })
  }
  update_stream_display();
</script>

<style type="text/css">
  /* show all in case browser has scripting disabled */
  .stream-item { display: block; }
</style>
