<% content_for :subnav do %>
  <li><%= link_to image_tag('newspaper.png', :alt => 'All News',         :class => 'icon') + ' All News',         news_path         %></li>
  <li><%= link_to image_tag('page.png',      :alt => 'All Publications', :class => 'icon') + ' All Publications', publications_path %></li>
  <li><%= link_to image_tag('verse.png',     :alt => 'All Verses',       :class => 'icon') + ' All Verses',       verses_path       %></li>
  <li><%= link_to image_tag('picture.png',   :alt => 'All Pictures',     :class => 'icon') + ' All Pictures',     albums_path       %></li>
<% end %>

<div id="elsewhere">
  <ul>
    <li>Show:</li>
    <li><%= stream_type_checkmark('News',         'news_item'  ) %></li>
    <li><%= stream_type_checkmark('Publications', 'publication') %></li>
    <li><%= stream_type_checkmark('Notes',        'note'       ) %></li>
    <li><%= stream_type_checkmark('Verses',       'verse'      ) %></li>
    <li><%= stream_type_checkmark('Pictures',     'album'      ) %></li>
  </ul>
</div>

<div style="width:200px;float:right;">
  <table class="cells-centered">
    <tr>
      <td class="graphic">
        <%= link_to_function image_tag('add.gif', :alt => 'Share Something', :class => 'icon'),
          "" %>
      </td>
      <td>
        <%= link_to_function 'Share<br/>Something',
          "" %>
      </td>
    </tr>
    <tr>
      <td class="graphic">
        <%= link_to image_tag('feed.gif', :alt => 'Activity Feed', :class => 'icon'), stream_path(:format => 'xml', :code => @logged_in.feed_code) %>
      </td>
      <td>
        <%= link_to 'Subscribe', stream_path(:format => 'xml', :code => @logged_in.feed_code) %>
      </td>
    </tr>
  </table>
  
  <hr style="margin:25px 0;"/>
  
  <%= render :partial => 'people/photo', :locals => {:url => @person} %>
  <h1><%= link_to h(@person.name), @person, :style => 'text-decoration:none;' %></h1>
  <p><%= link_to 'view profile', @person %></p>
  
  <% if Setting.get(:features, :friends) %>
    <%= render :partial => 'people/friends' %>
  <% end %>
  <% if Setting.get(:features, :sidebar_group_category) %>
    <%= render :partial => 'people/sidebar_people' %>
  <% end %>
  <% if Setting.get(:features, :groups) %>
    <%= render :partial => 'people/sidebar_groups' %>
  <% end %>
</div>

<div style="margin-right:250px;">
  <%= render :partial => 'stream_item', :collection => @stream_items %>
  <% if @stream_items.empty? %>
    <p>This is where activity from you, your friends, and your groups will appear.</p>
    <p><em>Right now, there's nothing to show.</em></p>
  <% end %>
</div>

<script type="text/javascript">
  function enable_stream_item_type(type, enable) {
    document.cookie = 'stream_' + type + '=' + (enable ? 'true' : 'false');
    update_stream_display();
  }
  function update_stream_display() {
    $$('.stream-item').each(function(e){e.hide()})
    document.cookie.split('; ').each(function(type){
      if(type.match(/^stream_/)) {
        var enabled = type.split('=')[1] == 'true';
        var type = type.split('=')[0];
        var imgs = $$("#enable-" + type + " img");
        if(imgs.length > 0) {
          imgs[0].writeAttribute('src', enabled ? '/images/checkmark.png' : '/images/remove.gif');
          $$('.' + type).each(function(e){enabled ? Element.show(e) : Element.hide(e)});
        }
      }
    })
  }
  update_stream_display();
</script>

<style type="text/css">
  /* show all in case browser has scripting disabled */
  .stream-item { display: block; }
  /* remove padding from top of content */
  #contentnorightbar {
    padding-top: 0;
  }
  #header {
    margin-bottom: 0;
  }
</style>
