<% form_for(@task,
  :url => @task.new_record? ? administration_scheduled_tasks_path : administration_scheduled_task_path(@task)) do |form| %>
  <%= form.error_messages %>
  <p>
    <%= form.label :name %>       <%= form.text_field :name %><br/>
    <%= form.label :interval %>   <%= form.select :interval, %w(nightly hourly minutely) %><br/>
    <%= form.check_box :runner %> <%= form.label :runner, 'Pass command to script/runner', :class => 'inline' %><br/>
    <%= form.label :command %>    <%= form.text_area :command, :rows => 2, :cols => 80, :style => 'width:800px;' %><br/>
    <%= form.submit 'Save' %>
    <%= form.check_box :active %> <%= form.label :active, nil, :class => 'inline' %>
  </p>
<% end %>
