<%= form_for @attachment, html: {multipart: true, style: 'width:400px;border:none;'} do |form| %>
  <%= form.hidden_field :page_id %>
  <%= form.hidden_field :group_id %>
  <p>
    <%= label_tag 'attachment_file', t('attachments.file') %> <%= file_field_tag 'attachment[file]', id: 'attachment_file' %><br/>
    <%= form.submit t('attachments.upload_file') %>
  </p>
<% end %>
