<%= render :partial => 'shares/subnav' %>

<% content_for :sidebar do %>
  <h1>Events</h1>
  <form style="border:none;padding:0;margin:0;">
    <p style="margin-top:25px;">
      Show Month: <%= image_tag 'spinner_small.gif', :alt => 'Loading...', :id => 'loading', :class => 'icon', :style => 'display:none;' %><br/>
      <%= select_tag :month, options_for_select(MONTHS, @month), :onchange => "update_calendar()" %>
      <%= select_tag :year, options_for_select(@years_to_show, @year), :onchange => "update_calendar()" %>
      <%= submit_tag 'Update', :id => 'calendar_update' %>
    </p>
  </form>
  <p style="margin-top:25px;"><%= link_to image_tag('add_small.gif', :alt => 'Create an Event', :class => 'icon') + ' Add an Event', new_event_path %></p>
  <p style="margin-top:25px;"><%= link_to 'List of All Events', event_list_path %></p>
  <h2 style="margin-top:25px;">What?</h2>
  <p>
    Events are simply groupings of pictures, verses, recipes, etc. by date.
    You could create an event to:
  </p>
  <ul>
    <li>Share some <%= link_to 'Pictures', :controller => 'pictures' %> of a recent community project, small group meeting, ministry event, etc.</li>
    <li>Get some <%= link_to 'Verses', :controller => 'verses' %> together for an upcoming small group you're leading.</li>
    <li>Collect good <%= link_to 'Recipes', :controller => 'recipes' %> from your friends for a backyard cookout.</li>
  </ul>
<% end %>

<div id="calendar">
  <%= render :partial => 'calendar' %>
</div>

<script type="text/javascript">
//<![CDATA[
  Element.hide('calendar_update')
  function update_calendar() {
    new Ajax.Updater('calendar', '/events/calendar', {
      parameters: "year=" + $F('year') + "&month=" + $F('month'),
      onLoading: function(){Element.show('loading')},
      onComplete: function(){Element.hide('loading')}
    });
  }
//]]>
</script>