<%= render :partial => 'shares/subnav' %>

<h1>Events</h1>

<p>
  showing most recent (or future) events on top
  |
  <%= link_to 'Calendar View', events_path %>
</p>

<p><%= link_to image_tag('add_small.gif', :alt => 'Create an Event', :class => 'icon') + ' Add an Event', new_event_path %></p>

<% if @pages.length > 1 %>
  <p class="page-nav">Page: <%= pagination_links @pages, :window_size => 5, :params => params %></p>
<% end %>

<table class="iconed">
  <% @events.each do |event| %>
    <tr>
      <td class="pic">
        <% if event.cover_picture %>
          <%= link_to image_tag(photo_with_size_path(event.cover_picture, :size => 'small', :type => 'picture'), :alt => event.name), event %>
        <% else %>
          <%= link_to image_tag('event.gif', :alt => event.name), event %>
        <% end %>
      </td>
      <td>
        <span class="list-heading">
          <a href="<%= url_for event %>"><%= event.name %></a>
          <%= event.when ? event.when.strftime('<span class="discreet">%m/%d/%Y</span>') : nil %>
        </span>
        <% if event.admin? @logged_in %>
          <%= link_to 'edit', edit_event_path(event), :class => 'discreet' %>
        <% end %>
        <br/>
        <%= link_to (count = event.pictures.count).to_s + (count == 1 ? ' picture' : ' pictures'), event_path(event, :anchor => "pictures") %>
        |
        <%= link_to (count = event.recipes.count).to_s + (count == 1 ? ' recipe' : ' recipes'), event_path(event, :anchor => "recipes") %>
        |
        <%= link_to (count = event.verses.count).to_s + (count == 1 ? ' verse' : ' verses'), event_path(event, :anchor => "verses") %>
        <% if event.description.to_s.any? %>
          <br/>
          <%=h event.description %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<% if @pages.length > 1 %>
  <p class="page-nav">Page: <%= pagination_links @pages, :window_size => 5, :params => params %></p>
<% end %>