<%= javascript_include_tag 'tiny_mce/tiny_mce.js' %>
<script type="text/javascript">
  tinyMCE.init({
  	mode: "exact",
  	elements: "news_item_body",
  	theme: "advanced",
  	convert_newlines_to_brs : true,
  	invalid_elements: "pre,font"
  });
</script>

<%= form_for @news_item, url: @news_item.new_record? ? news_path : news_item_path(@news_item) do |form| %>
  <p>
    <%= form.label :title, t('news.title_description') %>
    <%= form.text_field :title %>
  </p>
  <p>
    <%= form.label :body, t('news.body_description') %>
    <%= form.text_area :body, rows: 10, cols: 100, style: 'width:75%;' %>
  </p>
  <p>
    <%= form.submit @news_item.new_record? ? t('news.submit_news') : t('news.save_news') %>
  </p>
<% end %>
