<div class="news-item-meta">
  posted <%= news_item.published.to_s(:date) rescue '?' %>
  <% if news_item.person %>
    by <%= link_to news_item.person.name, news_item.person %>
  <% elsif news_item.link.to_s.any? %>
    from <%= link_to news_item.link.sub(/^http:\/\//, ''), news_item.link %>
  <% end %>
</div>

<% if controls and @logged_in.can_edit?(news_item) %>
  <div class="news-item-controls">
    <%= link_to 'Edit', edit_news_item_path(news_item), class: 'edit-icon' %>
    &nbsp;
    <%= link_to 'Delete', news_item, class: 'delete-icon', method: :delete, data: { confirm: t('are_you_sure') } %>
  </div>
<% end %>
