<% content_for :head do %>
  <link rel="alternate" type="application/atom+xml" title="News Feed" href="<%= url_for news_path(:format => 'xml', :code => @logged_in.feed_code) %>"/>
  <%= stylesheet_link_tag 'news' %>
<% end %>

<% content_for :subnav do %>
  <% if Setting.get(:features, :news_by_users) %>
    <li><%= link_to 'Submit News', new_news_item_path %></li>
  <% end %>
<% end %>

<h1>News</h1>

<p>
  Welcome to the place for community news.
  <% if Setting.get(:features, :news_by_users) %>
    If you have something newsworthy to share, <%= link_to 'submit it here', new_news_item_path %>.
  <% end %>
</p>

<p>
  <%= link_to image_tag('feed_small.png', :alt => 'News Feed', :class => 'icon'), news_path(:format => 'xml', :code => @logged_in.feed_code) %>
  <%= link_to 'Subscribe', news_path(:format => 'xml', :code => @logged_in.feed_code) %> to Community News with your feed reader.
</p>

<%= render :partial => 'news_item', :collection => @news_items %>

<% unless @news_items.any? %>
  <p><em>No news is available at this time.</em></p>
<% end %>
