<% content_for :sidebar do %>
  <h2><%= t('admin.emails.changed_addresses') %></h2>
  <p><em><%= t('admin.emails.alert') %></em></p>
  <p><%= t('admin.emails.description') %></p>
<% end %>

<% if @people.any? %>
  <%= form_tag batch_administration_emails_path, method: :put do %>
    <table class="spaced">
      <tr>
        <th><input type="checkbox" onclick="$('.person_checkbox').attr('checked', this.checked)"/></th>
        <th><%= t('admin.syncs.id') %></th>
        <th><%= t('admin.syncs.legacy_id') %></th>
        <th><%= t('accounts.last_name') %></th>
        <th><%= t('accounts.first_name') %></th>
        <th><%= t('people.email') %></th>
      </tr>
      <% @people.each do |person| %>
        <tr>
          <td><%= check_box_tag 'ids[]', person.id, false, class: 'person_checkbox' %></td>
          <td><%= link_to person.id, person %></td>
          <td><%= person.legacy_id %></td>
          <td><%= person.last_name %></td>
          <td><%= person.first_name %></td>
          <td><%= person.email %></td>
        </tr>
      <% end %>
    </table>
    <p><%= submit_tag t('admin.emails.clear_flags') %></p>
  <% end %>
<% else %>
  <p><strong><%= t('admin.emails.no_records') %></strong></p>
<% end %>
