- @title = t('giving.heading')

.row
  .col-md-8
    %p
      = link_to new_giving_transaction_path, class: 'btn btn-success' do
        = icon 'fa fa-plus-circle'
        = t('giving.transaction.create.button')

    .box.box-info
      .box-header
        %h3= t('giving.dashboard.transaction_header')
      .box-body
        %table.table
          %tr
            %th= t('giving.dashboard.table_headers.email')
            %th= t('giving.dashboard.table_headers.amount')
            %th= t('giving.dashboard.table_headers.date_given')
          - @transactions.each do |t|
            %tr
              %td
                %a{href: "mailto:#{t.transaction_email}"}
                  = t.transaction_email
              %td= t.amount_as_currency
              %td= t.formatted_created_at


