<h1><%= t('admin.logo.logo') %></h1>

<% if @filename.to_s.any? %>
  <p>
    <%= image_tag "/assets/site#{Site.current.id}/#{@filename}", :alt => t('admin.logo.logo') %><br/>
    <%= link_to t('admin.logo.delete'), administration_logo_path, :method => 'delete', :confirm => t('are_you_sure') %>
  </p>
<% end %>

<%= form_tag administration_logo_path, :method => 'post', :multipart => true do %>
  <p><%= t('admin.logo.size_information') %></p>
  <p><%= t('admin.logo.format_information') %></p>
  <p>
    <%= file_field_tag :file %>
    <%= submit_tag t('admin.logo.upload') %>
  </p>
<% end %>
