<h1><%= I18n.t('admin.logo.logo') %></h1>

<% if @filename.to_s.any? %>
  <p>
    <%= image_tag "/assets/site#{Site.current.id}/#{@filename}", :alt => I18n.t('admin.logo.logo') %><br/>
    <%= link_to I18n.t('admin.logo.delete'), administration_logo_path, :method => 'delete', :confirm => I18n.t('are_you_sure') %>
  </p>
<% end %>

<% form_tag administration_logo_path, :method => 'post', :multipart => true do %>
  <p><%= I18n.t('admin.logo.size_information') %></p>
  <p><%= I18n.t('admin.logo.format_information') %></p>
  <p>
    <%= file_field_tag :file %>
    <%= submit_tag I18n.t('admin.logo.upload') %>
  </p>
<% end %>
