<h2><%= t('admin.logo.logo') %></h2>

<% if Site.current.logo.exists? %>
  <p>
    <%= image_tag Site.current.logo.url(:layout), alt: t('admin.logo.logo') %><br/>
    <%= link_to t('admin.logo.delete'), administration_logo_path, method: :delete, data: { confirm: t('are_you_sure') } %>
  </p>
<% end %>

<%= form_tag administration_logo_path, method: 'post', multipart: true do %>
  <p><%= t('admin.logo.size_information') %></p>
  <p><%= t('admin.logo.format_information') %></p>
  <p>
    <%= file_field_tag :file %>
    <%= submit_tag t('admin.logo.upload') %>
  </p>
<% end %>
