<% @groups.each do |group| %>
  <table style="width:7.5in;height:10in;margin:0;padding:0;border-collapse:collapse;page-break-after:always;">
    <tr>
      <% if group[0] %>
        <td style="padding:1in;text-align:center;width:50%;">
           <strong style="font-size:.5in;"><%=h group[0].first_name %></strong><br/>
           <strong style="font-size:.3in;"><%=h group[0].last_name %></strong><br/>
           <img src="<%= url_for barcode_url(:id => group[0]) %>"/>
        </td>
      <% end %>
      <% if group[1] %>
        <td style="padding:1in;text-align:center;width:50%;">
           <strong style="font-size:.5in;"><%=h group[1].first_name %></strong><br/>
           <strong style="font-size:.3in;"><%=h group[1].last_name %></strong><br/>
           <img src="<%= url_for barcode_url(:id => group[1]) %>"/>
        </td>
      <% end %>
    </tr>
    <tr>
      <% if group[2] %>
        <td style="padding:1in;text-align:center;width:50%;">
           <strong style="font-size:.5in;"><%=h group[2].first_name %></strong><br/>
           <strong style="font-size:.3in;"><%=h group[2].last_name %></strong><br/>
           <img src="<%= url_for barcode_url(:id => group[2]) %>"/>
        </td>
      <% end %>
      <% if group[3] %>
        <td style="padding:1in;text-align:center;width:50%;">
           <strong style="font-size:.5in;"><%=h group[3].first_name %></strong><br/>
           <strong style="font-size:.3in;"><%=h group[3].last_name %></strong><br/>
           <img src="<%= url_for barcode_url(:id => group[3]) %>"/>
        </td>
      <% end%>
    </tr>
  </table>
<% end %>