<div id="attachments">

  <ul>
    <% @page.attachments.each do |attachment| %>
      <li>
        <%= link_to attachment.name, get_attachment_path(attachment) %>
        (<%= number_to_human_size(attachment.file.size) rescue 'file missing' %>)
        <% unless @page.path == 'template' %>
          <% if attachment.image? %>
            <%= link_to_function t('insert'), "insertImage('#{get_attachment_path(attachment)}', '#{h attachment.human_name}', #{attachment.width}, #{attachment.height})" %>
          <% else %>
            <%= link_to_function t('insert'), "insertLink('#{get_attachment_path(attachment)}', '#{h attachment.human_name}')" %>
          <% end %>
        <% end %>
        <%= link_to t('delete'), attachment, method: 'delete', data: { confirm: t('are_you_sure') }, class: 'discreet' %>
      </li>
    <% end %>
  </ul>

  <p>
    <%= link_to t('pages.upload_attachment'), new_attachment_path(page_id: @page), remote: true, method: 'get', id: 'new_attachment_link' %>
  </p>

</div>

<script type="text/javascript">
  function insertImage(src, name, width, height) {
    if(width > 400) width = 400;
    tinyMCE.execCommand('mceInsertContent', false, '<img alt=\'' + name + '\' src=\'' + src + '\' width=\'' + width + '\' />');
  }
  function insertLink(href, name) {
    tinyMCE.execCommand('mceInsertContent', false, '<a href=\'' + href + '\'>' + name + '</a>');
  }
</script>
