<% unless @page.path == 'template' or @page.raw? %>
  <%= javascript_include_tag 'tiny_mce/tiny_mce.js' %>
  <script type="text/javascript">
    tinyMCE.init({
      mode: "exact",
      elements: "page_body",
      theme: "advanced",
      extended_valid_elements: "style[type]"
    });
  </script>
<% end %>

<%= form_for @page do |form| %>
  <%= error_messages_for(form) %>
  <div>
    <%= form.label :title, t('pages.title') %>
    <%= form.text_field :title, :onkeyup => "slug = ''; this.value.toLowerCase().scan(/[a-z_]/, function(m){slug += m}); $('page_slug').value=slug" %><br/>
    <% if @page.home? %>

    <% else %>
      <%= form.label :parent_id, t('pages.path') %>
      <%= form.select :parent_id, [['(root)', nil]] + @page_paths_and_ids, {}, :style => 'width:auto;' %> /
      <%= form.text_field :slug, :size => 10 %><br/>
    <% end %>
    <%= form.label :body, t('pages.body') %>      <%= form.text_area :body, :rows => 20, :cols => 80, :style => 'width:80%;font-family:monaco,monospace;' %><br/>
    <%= form.submit t('save') %>
    <%= form.submit t('pages.save_and_continue_editing') %>
    <%= form.check_box :published, :class => 'checkbox', :onclick => "$('page_navigation').checked=this.checked" %>
    <%= form.label :published, t('pages.published'), :class => 'inline' %>
    <%= form.check_box :navigation, :class => 'checkbox' %>
    <%= form.label :navigation, t('pages.visible_in_navigation'), :class => 'inline' %>
    <%= form.check_box :raw, :class => 'checkbox' %>
    <%= form.label :raw, t('pages.raw'), :class => 'inline' %>
  </div>
<% end %>
