<% if @pages.any? %>
  <ul class="page-listing">
    <% @pages.each do |page| %>
      <li>
        <span style="<%= page.children.count == 0 ? 'visibility:hidden' : nil %>">
          <%= link_to_remote   image_tag('plus.gif',  :alt => I18n.t('pages.expand'),   :class => 'icon'), :url => pages_path(:parent_id => page), :method => 'get', :html => {:id => "page#{page.id}_expand_link"}, :loading => "Element.show('loading#{page.id}')", :complete => "Element.hide('loading#{page.id}')" %>
          <%= link_to_function image_tag('minus.gif', :alt => I18n.t('pages.collapse'), :class => 'icon'), "Element.show('page#{page.id}_expand_link');Element.hide('page#{page.id}_collapse_link');Element.update('page#{page.id}_children', '')", :id => "page#{page.id}_collapse_link", :style => 'display:none;' %>
          <%= image_tag('spinner_small.gif', :alt => I18n.t('pages.loading'), :id => "loading#{page.id}", :style => 'display:none;', :class => 'icon') %>
        </span>
        <%= link_to h(page.title), page %>
        <%= link_to I18n.t('edit'), edit_page_path(page), :class => 'discreet' %>
        <% unless page.system? %>
          <%= link_to I18n.t('delete'), page, :method => 'delete', :confirm => I18n.t('pages.are_you_sure'), :class => 'discreet' %>
        <% end %>
        <%= link_to I18n.t('pages.new_page'), new_page_path(:parent_id => page), :class => 'discreet' %>
        <div id="page<%= page.id %>_children"></div>
      </li>
    <% end %>
  </ul>
<% end %>
