<h1>
  <% if @parent %><%= @parent.title %><% end %>
  <%= t('pages.pages') %>
</h1>

<%= render :partial => 'list' %>

<p style="margin-left:35px;"><%= link_to t('pages.new_root_page'), new_page_path, :class => 'discreet' %></p>

<p><%= t('pages.help_and_system_pages') %></p>
