<% content_for :subnav do %>
  <% unless @page.home? %>
    <li><%= link_to 'Home', home_path %></li>
  <% end %>
  <% (@page.home? ? Page.root_pages : @page.children).each do |page| %>
    <li><%= link_to page.title, page_path(page) %></li>
  <% end %>
  <% if @logged_in and @logged_in.admin?(:edit_pages) %>
    <li><%= link_to 'Index', pages_path, :style => 'color:#ff6;font-weight:bold;' %></li>
  <% end %>
<% end %>

<p id="breadcrumbs"><%= breadcrumbs_for @page %></p>

<h1>
  <% unless @page.published? %>
    <span class="discreet" style="font-size:14pt;">(unpublished)</span><br/>
  <% end %>
  <%=h @page.title %>
  <% if @logged_in and @logged_in.can_edit?(@page) %>
    <span style="font-size:10pt" class="discreet"><%= link_to 'edit', edit_page_path(@page) %></span>
  <% end %>
</h1>

<%= @page.body %>

