= form_for @document, multipart: true do |form|
  = error_messages_for(form)
  = form.hidden_field :folder_id
  - if parent_document_folder_options.any?
    .form-group
      = form.label :folder_id
      = form.select :folder_id, parent_document_folder_options, { include_blank: true }, class: 'form-control'
  .form-group
    = form.label :name
    = form.text_field :name, class: 'form-control'
  .form-group
    = form.label :description
    = form.text_area :description, class: 'form-control'
  .form-group
    = form.label :file
    = form.file_field :file
  .form-group
    = form.button t('save'), class: 'btn btn-success'
