- @title = @parent_folder.try(:name) || t('.heading')

%p
  = @parent_folder.try(:description) || t('.intro')

- if @folders.any? or @documents.any?
  %table.table
    %tr
      %th
      %th= t('.table.name')
      %th= t('.table.updated_at')
      %th= t('.table.size')
      %th
    - @folders.each do |folder|
      %tr{ class: folder.hidden? ? 'hidden-folder' : nil }
        %td
          = link_to documents_path(folder_id: folder.id) do
            = icon 'fa fa-folder'
        %td
          = link_to documents_path(folder_id: folder.id) do
            = folder.name
            = t('documents.hidden_name') if folder.hidden?
        %td
          = folder.updated_at.to_s(:full)
        %td
          = t('.table.item_count', count: folder.item_count)
        %td.actions
          - if @logged_in.admin?(:manage_documents)
            = link_to edit_document_path(folder, folder: true), class: 'btn btn-info btn-xs' do
              = icon 'fa fa-pencil'
            = link_to document_path(folder, folder: true), data: { method: 'delete', confirm: t('documents.delete_folder.confirmation') }, class: 'btn btn-delete btn-xs' do
              = icon 'fa fa-trash-o'
      %tr.description
        %td
        %td{ colspan: 4 }
          = folder.description
    - @documents.each do |document|
      %tr
        %td
          = link_to document_path(document.id) do
            = icon document_icon_class(document)
        %td
          = link_to document_path(document.id) do
            = document.name
        %td
          = document.updated_at.to_s(:full)
        %td
          = number_to_human_size(document.file.try(:size) || 0)
        %td.actions
          - if @logged_in.admin?(:manage_documents)
            = link_to edit_document_path(document), class: 'btn btn-info btn-xs' do
              = icon 'fa fa-pencil'
            = link_to document_path(document), data: { method: 'delete', confirm: t('are_you_sure') }, class: 'btn btn-delete btn-xs' do
              = icon 'fa fa-trash-o'
      %tr.description
        %td
        %td{ colspan: 4 }
          = document.description
- else
  %em= t('none')

- if @logged_in.admin?(:manage_documents)
  .page-controls.push-down
    = link_to new_document_path(folder: true, folder_id: @parent_folder), class: 'btn btn-success' do
      = icon 'fa fa-folder'
      = t('.new_folder.button')
    = link_to new_document_path(folder_id: @parent_folder), class: 'btn btn-success' do
      = icon 'fa fa-file'
      = t('.new_document.button')
