- @title = @document.name

- if @document.parent_folder_groups.any?
  .alert.alert-warning
    = icon('fa fa-lock')
    = t('documents.restricted_document.alert_html', |
      groups: @document.parent_folder_groups.map { |g| link_to(g.name, g) }.join(', ').html_safe)

- if @document.hidden?
  .alert.alert-warning
    = icon('fa fa-eye-slash')
    = t('documents.hidden_document.alert')

%p
  = @document.description

.text-center.well
  - if @document.image?
    = link_to download_document_path(@document, inline: true) do
      = image_tag(download_document_path(@document, inline: true))
  - else
    = link_to download_document_path(@document) do
      = icon document_icon_class(@document) + ' icon-huge'

%table.table
  %tr
    %td= t('.table.filename')
    %td= @document.file_file_name
  %tr
    %td= t('.table.content_type')
    %td= @document.file.content_type
  %tr
    %td= t('.table.size')
    %td= number_to_human_size @document.file.size
  %tr
    %td= t('.table.updated_at')
    %td= @document.updated_at.to_s(:full)
%p
  = link_to download_document_path(@document), class: 'btn btn-info' do
    = icon 'fa fa-download'
    = t('.download.button')
