<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	<title><%= Setting.get(:name, :site) %></title>
	<link rel="stylesheet" href="/stylesheets/basic.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="/stylesheets/solucija_ib.css" type="text/css" media="screen" />
	<%= javascript_include_tag 'all.shrunk.js' %>
  <%= yield :head %>
</head>
<body>
  <% if message = Setting.get(:features, :banner_message) %>
    <div id="banner"><%= message %></div>
  <% end %>
	<div id="content">
		<div id="top_info">
			<% if @logged_in %>
        <% if @logged_in.admin? %>
          <%= link_to 'admin', admin_path, :style => 'padding-left:5px;padding-right:5px;' %>
        <% end %>
        <%= link_to 'sign out', session_path, :method => 'delete', :style => 'padding-left:5px;padding-right:5px;' %>
	    <% else %>
        <%= link_to 'sign in', new_session_path %>
	    <% end %>
		</div>
		
		<div id="logo">
			<h1>
			  <% if (logo = Setting.get(:appearance, :logo)).to_s.any? %>
			    <a href="/"><%= image_tag logo, :alt => Setting.get(:name, :site), :class => 'no-border', :style => 'float:left;margin-right:10px;' %></a>
			  <% elsif !@page or @page.for_members? %>
			    <a href="/people"><%= Setting.get(:name, :site) %></a>
			  <% else %>
			    <a href="/"><%= Setting.get(:name, :church) %></a>
			  <% end %>
			</h1>
			<% if Setting.get(:appearance, :show_subheading) %>
        <p id="slogan">
          <% if !@page or @page.for_members? %>
            <%= simple_url(Setting.get(:url, :site)) %>
          <% else %>
            <%= simple_url(Setting.get(:url, :visitor)) %>
          <% end %>
          <% if Setting.get(:name, :slogan).to_s.any? %>
            |
            <span id="news_headlines" style="position:relative;background-color:#fff;"><%=h Setting.get(:name, :slogan) %></span>
          <% end %>
        </p>
      <% end %>
		</div>
		<div class="clear"/>
				
		<ul id="tablist">
      <% if Setting.get(:features, :content_management_system) %><li style="padding-right:8px;border-right:1px dotted #fff;"><%= link_to 'Home', '/', :class => (params[:controller] == 'pages' and @page and @page.home? ? 'active' : nil) %></li><% end %>
	    <li><%= link_to 'Profile', people_path, :class => (params[:controller] == 'people' and @person == @logged_in ? 'active' : nil) %></li>
	    <li><%= link_to 'Directory', new_search_path, :class => (%w(searches printable_directories).include?(params[:controller]) ? 'active' : nil) %></li>
	    <% if Setting.get(:features, :groups) and (Site.current.max_groups.nil? or Site.current.max_groups > 0) %><li><%= link_to 'Groups', groups_path, :class => (params[:controller] == 'groups' ? 'active' : nil) %></li><% end %>
	    <li><%= link_to 'More', shares_path, :class => (['shares', 'events', 'pictures', 'verses', 'recipes'].include?(params[:controller]) ? 'active' : nil) %></li>	
		</ul>
		
		<div id="topics">
		  <ul>
        <% if subnav = yield(:subnav) %>
          <%= subnav %>
        <% end %>
      </ul>
		</div>
		<div id="search">
		  <%= form_tag(search_path, :id => 'search_form', :method => 'get', :style => @logged_in.nil? && 'visibility:hidden;') %>
  		  <p><input name="name" id="search_name" onfocus="if(this.value == 'People Search') this.value = ''" onblur="if(this.value == '') this.value = 'People Search'"/> <input type="submit" value="Search" class="button" /></p>
        <div id="search_name_auto_complete" class="autocomplete"></div>
			</form>
			  
			<script type="text/javascript">
			  $('search_name').value = 'People Search';
			  new Ajax.Autocompleter('search_name', 'search_name_auto_complete', '<%= url_for search_path(:auto_complete => true) %>', {paramName: 'name', minChars: 3, afterUpdateElement:function(li){$('search_name').form.submit()}});
			</script>
		</div>
		
		<% sidebar = yield(:sidebar) %>
							
		<div id="left" <% if sidebar.to_s.empty? %>style="width:950px;"<% end %>>
		  <% if flash[:warning] or flash[:notice] %>
        <div class="subheader <% if flash[:warning] %>warning<% end %>"><%= flash[:warning] || flash[:notice] %></div>
        <script type="text/javascript">
          setTimeout("new Effect.Fade('notice');", 15000)
        </script>
      <% end %>
      <%= yield %>
		</div>	
		
		<% if sidebar %>
  		<div id="right">
    		<%= sidebar %>
  		</div>
		<% end %>
		
		<div id="footer">
      &copy; <%=h Date.today.year %>, <%=h Setting.get(:name, :church) %> |
      <a href="/pages/help/privacy_policy">Privacy Policy</a> |
      <%= link_to 'Credits', '/pages/system/credits' %> |
      Powered by <a href="http://beonebody.org">OneBody</a>
		</div>
	</div>
	
  <% if @logged_in %>
    <script type="text/javascript" src="/news.js"></script>
  <% end %>
  
  <% if RAILS_ENV == 'production' %><%= Setting.get(:services, :analytics) %><% end %>
</body>
</html>
