<% if notice = @wall_notice || flash[:wall_notice] %><p class="very-strong"><%=h notice %></p><% end %>
<p>
  <% if me? %>
    <em><%= I18n.t('wall.description') %></em>
  <% else %>
    <%= render :partial => 'walls/wall_post' %>
  <% end %>
</p>
<% if @messages.any? %>
  <%= render :partial => 'walls/messages' %>
  <p>
    <%= link_to I18n.t('wall.view_all_wall_messages'), person_wall_path(@person) %>
  </p>
<% else %>
  <p><em><%= I18n.t("no_messages_yet") %></em></p>
<% end %>
