<%= link_to_function 'Post a message', "Element.show('wall_message'); $('message_body').focus();" %>
on <%=h @person.name_possessive %> wall.

<div id="wall_message">
  <% remote_form_for Message.new(:wall => @person), :html => {:style => 'border:none;'}, :update => 'wall_content' do |form| %>
    <%= form.hidden_field :wall_id %>
    <em>All users will see your message; to send a private
    message, <%= link_to 'click here', new_message_path(:to_person_id => @person) %>.</em><br/>
    <%= form.text_area :body, :rows => 3, :cols => 40 %>
    <strong>Please respect the privacy of others. Abusing the wall will get you banned from the site.</strong><br/>
    <%= submit_tag 'Save Message' %>
  <% end %>
</div>

<script type="text/javascript">Element.hide('wall_message');</script>
