<h1><%= t("wall.wall_to_wall") %></h1>

<p style="font-size:150%;">
  <strong><%= link_to @person1.name, person_path(@person1) %></strong> +
  <strong><%= link_to @person2.name, person_path(@person2) %></strong>
</p>

<p><em><%= t("wall.newest_messages_appear_first") %></em></p>

<%= render :partial => 'messages', :locals => {:messages => @messages} %>
