<h1><%= I18n.t('import.error_importing') %></h1>

<p>
  <%= I18n.t('import.error_updating_message', :url => administration_updates_path) %>
</p>

<h2><%= pluralize @update.errors.length, I18n.t('import.error') %></h2>

<ul>
  <% @update.errors.full_messages.each do |error| %>
    <li><%=h error %></li>
  <% end %>
</ul>

<h2><%= I18n.t('import.errors') %></h2>

<ul>
  <li><%= I18n.t('person') %>: <%= link_to "#{@update.person.name}",        @update.person        %></li>
  <li><%= I18n.t('people.family') %>: <%= link_to "#{@update.person.family.name}", @update.person.family %></li>
</ul>
