<h1>Error Updating Record</h1>

<p>
  There was at least one error while attempting to update records in the database. Please correct the errors,
  then return to the <%= link_to 'Pending Updates', administration_updates_path %> interface to complete the process.
</p>

<h2><%= pluralize @update.errors.length, 'Error' %></h2>

<ul>
  <% @update.errors.full_messages.each do |error| %>
    <li><%=h error %></li>
  <% end %>
</ul>

<h2>Records</h2>

<ul>
  <li>Person: <%= link_to "#{@update.person.name}",        @update.person        %></li>
  <li>Family: <%= link_to "#{@update.person.family.name}", @update.person.family %></li>
</ul>
