<h2><%= t('import.error_updating') %></h2>

<p>
  <%= t('import.error_updating_message_html', url: administration_updates_path) %>
</p>

<h3><%= pluralize @update.errors.length, t('import.error') %></h3>

<ul class="list">
  <% @update.errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>
</ul>

<h3><%= t('import.records') %></h3>

<ul class="list">
  <li><%= t('person') %>: <%= link_to "#{@update.person.name}",        @update.person        %></li>
  <li><%= t('people.family') %>: <%= link_to "#{@update.person.family.name}", @update.person.family %></li>
</ul>
