<% content_for :sidebar do %>
  <h2>
    <% if @complete %>
      <%= t('admin.updates.completed_title') %>
    <% else %>
      <%= t('admin.updates.pending_title') %>
    <% end %>
  </h2>
  <p><%= link_to t('admin.updates.show_status', status: @complete ? t('admin.updates.pending_title') : t('admin.updates.complete')), complete: !@complete %></p>

  <% if @logged_in.admin?(:manage_groups) %>
    <h3><%= t('admin.updates.groups_pending') %></h3>
    <% if not @complete and @unapproved_groups.any? %>
      <p>
        <%= t('groups.following_are_pending_approval', count: @unapproved_groups.length) %>
        <%= raw @unapproved_groups.map { |g| link_to(g.name, g) }.join(', ') %>
      </p>
    <% else %>
      <p><%= t('admin.updates.none') %></p>
    <% end %>
  <% end %>
<% end %>

<h3><%= t('admin.updates.profile_updates') %></h3>

<%= will_paginate @updates, params: {complete: !@complete} %>

<table class="spaced">
  <% @updates.each do |update| %>
    <tr>
      <td>
        <%= render partial: 'people/thumbnail', locals: {person: update.person} %>
      </td>
      <td class="update">
        <p>
          <% if update.person %>
            <%= link_to update.person.name, update.person %>
          <% else %>
            (<%= t('admin.updates.person_deleted') %>)
          <% end %>
          <%= t('admin.updates.updated') %>
          <%= update.created_at.to_s %>
        </p>
        <%= form_for update, url: administration_update_path(update) do |form| %>
          <%= hidden_field_tag 'update[apply]', true %>
          <table>
            <% update.diff[:person].each do |key, (before, after)| %>
              <%= update_row(update.person, key, before, after) %>
            <% end %>
            <% update.diff[:family].each do |key, (before, after)| %>
              <%= update_row(update.family, key, before, after) %>
            <% end %>
            <% if update.require_child_designation? %>
              <tr>
                <td colspan="4">
                  <p><%= t('admin.updates.child_alert', years: Setting.get(:system, :adult_age)) %></p>
                  <p>
                    <label for="update_child" class="inline"><%= t('admin.updates.child') %></label>
                    <%= select_tag 'update[child]', options_for_select(t('admin.updates.child_select_options').invert) %>
                  </p>
                </td>
              </tr>
            <% end %>
            <tr class="actions">
              <td colspan="4">
                <% if update.complete %>
                  <%= link_to t('admin.updates.mark_incomplete'), administration_update_path(update, 'update[complete]' => false), method: 'put', class: 'button' %>
                <% else %>
                  <%= link_to_function t('admin.updates.apply'), "$(this).parents('form')[0].submit()", class: 'button primary' %>
                  <%= link_to t('admin.updates.mark_complete'), administration_update_path(update, 'update[complete]' => true), method: 'put', class: 'button' %>
                <% end %>
                <%= link_to t('Delete'), administration_update_path(update), method: 'delete', data: { confirm: t('are_you_sure') }, class: 'button' %>
              </td>
            </tr>
          </table>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<%= will_paginate @updates, params: {complete: !@complete} %>

<% if @updates.empty? %>
  <p><em><%= t('admin.updates.no_updates') %>!</em></p>
<% end %>
