<% content_for :subnav do %>
  <li><%= link_to 'Admin Home', admin_path %></li>
<% end %>

<h1>
  <% if params[:complete] %>Completed<% else %>Pending<% end %>
  Updates
</h1>

<h2>Profile Updates</h2>

<p><%= link_to "Show #{params[:complete] ? 'Pending' : 'Complete'}", :complete => params[:complete].nil? %></p>

<table>
  <% @updates.each do |update| %>
    <tr>
      <td>
        <% if update.person %>
          <a href="<%= person_path(update.person) %>">
            <%= render :partial => 'people/thumbnail', :locals => {:person => update.person} %>
          </a>
        <% else %>
          <%= image_tag 'man.tn.gif', :alt => '(person deleted)', :class => 'icon thumbnail' %>
        <% end %>
      </td>
      <td>
        <% if update.person %>
          <%= link_to h(update.person.name), person_path(:id => update.person) %>
        <% else %>
          '(person deleted)'
        <% end %>
        updated
        <%= update.created_at.to_s %>
        <% if update.complete %>
          <%= link_to 'Mark Incomplete', administration_update_path(update, :complete => false), :method => 'put' %>
        <% else %>
          <%= link_to 'Update', administration_update_path(update, :complete => true, :update => true), :method => 'put' %> |
          <%= link_to 'Update and Review', administration_update_path(update, :complete => true, :update => true, :review => true), :method => 'put' %> |
          <%= link_to 'Mark Complete', administration_update_path(update, :complete => true), :method => 'put' %> |
          <%= link_to 'Delete', administration_update_path(update), :method => 'delete', :confirm => 'Are you sure?' %>
        <% end %>
        <table>
          <% if update.first_name %><tr><td>First Name:</td><td><%=h update.first_name %></td></tr><% end %>
          <% if update.last_name %><tr><td>Last Name:</td><td><%=h update.last_name %></td></tr><% end %>
          <% if update.home_phone %><tr><td>Home Phone:</td><td><%= format_phone update.home_phone %></td></tr><% end %>
          <% if update.mobile_phone %><tr><td>Mobile Phone:</td><td><%= format_phone update.mobile_phone, mobile=true %></td></tr><% end %>
          <% if update.work_phone %><tr><td>Work Phone:</td><td><%= format_phone update.work_phone %></td></tr><% end %>
          <% if update.fax %><tr><td>Fax:</td><td><%= format_phone update.fax %></td></tr><% end %>
          <% if update.address1 %><tr><td>Address 1:</td><td><%=h update.address1 %></td></tr><% end %>
          <% if update.address2 %><tr><td>Address 2:</td><td><%=h update.address2 %></td></tr><% end %>
          <% if update.city %><tr><td>City:</td><td><%=h update.city %></td></tr><% end %>
          <% if update.state %><tr><td>State:</td><td><%=h update.state %></td></tr><% end %>
          <% if update.zip %><tr><td>Zip:</td><td><%=h update.zip %></td></tr><% end %>
          <% if update.birthday %>
            <tr>
              <td>Birthday:</td>
              <td>
                <% unless update.birthday.year == 1800 %>
                  <%= update.birthday.to_s(:date) %>
                <% end %>
              </td>
            </tr>
          <% end %>
          <% if update.anniversary %>
            <tr>
              <td>Anniversary:</td>
              <td>
                <% unless update.anniversary.year == 1800 %>
                  <%= update.anniversary.to_s(:date) %>
                <% end %>
              </td>
            </tr>
          <% end %>
          <% update.custom_fields_as_hash.each do |key, val| %>
            <% if val %>
              <tr>
                <td><%=h key %>:</td>
                <td>
                  <%=h val %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </table>
      </td>
    </tr>
  <% end %>
</table>

<% if @updates.empty? %>
  <p><em>No updates!</em></p>
<% end %>

<% if @logged_in.admin?(:manage_groups) %>
  <h2>Groups Pending Approval</h2>
  <% if not params[:complete] and @unapproved_groups.any? %>
    <p>The following <%= @unapproved_groups.length == 1 ? 'group is' : 'groups are' %>
    pending approval: <%= @unapproved_groups.map { |g| link_to(h(g.name), group_path(:id => g)) }.join(', ') %></p>
  <% else %>
    <p>None at this time.</p>
  <% end %>
<% end %>
