<% content_for :subnav do %>
  <li><%= link_to 'Admin Home', admin_path %></li>
<% end %>

<h1>
  <% if params[:complete] %>Completed<% else %>Pending<% end %>
  Updates
</h1>

<h2>Profile Updates</h2>

<p><%= link_to "Show #{params[:complete] ? 'Pending' : 'Complete'}", :complete => params[:complete].nil? %></p>

<table>
  <% @updates.each do |update| %>
    <tr>
      <td>
        <% if update.person %>
          <a href="<%= person_path(update.person) %>">
            <%= render :partial => 'people/thumbnail', :locals => {:person => update.person} %>
          </a>
        <% else %>
          <%= image_tag 'man.tn.gif', :alt => '(person deleted)', :class => 'icon thumbnail' %>
        <% end %>
      </td>
      <td>
        <% if update.person %>
          <%= link_to update.person.name, person_path(:id => update.person) %>
        <% else %>
          '(person deleted)'
        <% end %>
        updated
        <%= update.created_at.strftime 'on %m/%d/%Y at %I:%M %p' %>
        <% if update.complete %>
          <%= link_to 'Mark Incomplete', administration_update_path(update, :complete => false), :method => 'put' %>
        <% else %>
          <%= link_to 'Update', administration_update_path(update, :complete => true, :update => true), :method => 'put' %> |
          <%= link_to 'Update and Review', administration_update_path(update, :complete => true, :update => true, :review => true), :method => 'put' %> |
          <%= link_to 'Mark Complete', administration_update_path(update, :complete => true), :method => 'put' %> |
          <%= link_to 'Delete', administration_update_path(update), :method => 'delete', :confirm => 'Are you sure?' %>
        <% end %>
        <table>
          <% if update.first_name %><tr><td>First Name:</td><td><%= update.first_name %></td></tr><% end %>
          <% if update.last_name %><tr><td>Last Name:</td><td><%= update.last_name %></td></tr><% end %>
          <% if update.home_phone %><tr><td>Home Phone:</td><td><%= number_to_phone update.home_phone, :area_code => true %></td></tr><% end %>
          <% if update.mobile_phone %><tr><td>Mobile Phone:</td><td><%= number_to_phone update.mobile_phone, :area_code => true %></td></tr><% end %>
          <% if update.work_phone %><tr><td>Work Phone:</td><td><%= number_to_phone update.work_phone, :area_code => true %></td></tr><% end %>
          <% if update.fax %><tr><td>Fax:</td><td><%= number_to_phone update.fax, :area_code => true %></td></tr><% end %>
          <% if update.address1 %><tr><td>Address 1:</td><td><%= update.address1 %></td></tr><% end %>
          <% if update.address2 %><tr><td>Address 2:</td><td><%= update.address2 %></td></tr><% end %>
          <% if update.city %><tr><td>City:</td><td><%= update.city %></td></tr><% end %>
          <% if update.state %><tr><td>State:</td><td><%= update.state %></td></tr><% end %>
          <% if update.zip %><tr><td>Zip:</td><td><%= update.zip %></td></tr><% end %>
          <% if update.birthday %>
            <tr>
              <td>Birthday:</td>
              <td>
                <% unless update.birthday.year == 1800 %>
                  <%= update.birthday.strftime '%m/%d/%Y' %>
                <% end %>
              </td>
            </tr>
          <% end %>
          <% if update.anniversary %>
            <tr>
              <td>Anniversary:</td>
              <td>
                <% unless update.anniversary.year == 1800 %>
                  <%= update.anniversary.strftime '%m/%d/%Y' %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </table>
      </td>
    </tr>
  <% end %>
</table>

<% if @updates.empty? %>
  <p><em>No updates!</em></p>
<% end %>

<% unless params[:complete] or @unapproved_groups.empty? %>
  <h2>Groups Pending Approval</h2>
  <p>The following <%= @unapproved_groups.length == 1 ? 'group is' : 'groups are' %>
  pending approval: <%= @unapproved_groups.map { |g| link_to(g.name, group_path(:id => g)) }.join(', ') %></p>
<% end %>
