<% content_for :sidebar do %>
  <p><%= link_to '&laquo; all ministries', :action => 'index' %></p>
  <h2>Servers</h2>
  <p>
    <% @ministry.people.find(:all).uniq.each do |person| %>
      <%= link_to person.name, :controller => 'people', :action => 'view', :id => person %>
      <br/>
    <% end %>
    <% if @ministry.people.count == 0 %><em>none yet</em><% end %>
  </p>
  <% if @logged_in.can_edit? @ministry %>
    <%= form_remote_tag :url => search_directory_path(:select_person => true) %>
      <label for="name">Add a Server:</label>
      <%= text_field_tag :name %><br/>
      <%= submit_tag 'Search' %>
    </form>
    <div id="add_member" style="display:none;">
      <%= form_tag :action => 'add_servers_simple', :id => @ministry %>
        <a name="results"></a>
        <div id="results"></div>
        <p>
          <label for="date">Date:</label>
          <%= text_field_tag :date, 'MM/DD/YYYY', :onfocus => "if(this.value=='MM/DD/YYYY')this.value=''", :onblur => "if(this.value=='')this.value='MM/DD/YYYY'" %><br/>
          <label for="start_time">Start:</label>
          <%= text_field_tag :start_time, 'HH:MM AM', :onfocus => "if(this.value=='HH:MM AM')this.value=''", :onblur => "if(this.value=='')this.value='HH:MM AM'" %><br/>
          <label for="end_time">End:</label>
          <%= text_field_tag :end_time, 'HH:MM AM', :onfocus => "if(this.value=='HH:MM AM')this.value=''", :onblur => "if(this.value=='')this.value='HH:MM AM'" %><br/>
          <label for="reminder">One-Week Reminder:</label>
          <%= check_box_tag :reminder, true, false, :class => 'checkbox' %>
          send a reminder<br/>
          <%= submit_tag 'Add Selected' %>
        </p>
      </form>
    </div>
    <p><%= link_to 'Add Several Servers &raquo;', :action => 'add_servers', :id => @ministry %></p>
  <% end %>
<% end %>

<h1><%=h @ministry.name %></h1>
<p class="below-h1"><%= link_to 'Delete Ministry', {:action => 'delete', :id => @ministry}, :confirm => 'Are you sure? This will delete the ministry and all the '%>

<p><%=h @ministry.description %></p>

<table cellspacing="0">
  <% @ministry.dates.each do |date, workers| %>
    <tr><td colspan="13"><h2><%= date.strftime '%A, %B %d' %></h2></td></tr>
    <tr>
      <td style="text-align:center;padding:0 2px 0 2px;width:25px;">&laquo;</td>
      <% %w(8 9 10 11 12 1 2 3 4 5 6 7 8).each do |hour| %>
        <td style="text-align:center;padding:0 2px 0 2px;width:25px;"><%=h hour %></td>
      <% end %>
      <td style="text-align:center;padding:0 2px 0 2px;width:25px;">&raquo;</td>
    </tr>
    <% workers.each do |worker| %>
      <tr>
        <% if worker.start.hour < 8 %>
          <td class="extended-time-block">&laquo;</td>
        <% else %>
          <td></td>
        <% end %>
        <% %w(8 9 10 11 12 13 14 15 16 17 18 19 20).to_a.each do |hour| %>
          <% h = DateTime.new(date.year, date.month, date.day, hour.to_i) %>
          <% if worker.start <= h and h < worker.end %>
            <td class="time-block" title="<%= worker.start.strftime '%I:%M %p' %> - <%= worker.end.strftime '%I:%M %p' %>">&nbsp;</td>
          <% else %>
            <td></td>
          <% end %>
        <% end %>
        <% if worker.end.hour > 20 %>
          <td class="extended-time-block">&raquo;</td>
        <% else %>
          <td></td>
        <% end %>
        <td style="padding-left:10px;">
          <%=h worker.person.name %>
          <% if worker.remind_on %><%= image_tag 'reminder.gif', :alt => "A reminder will be sent on #{worker.remind_on.strftime '%m/%d/%Y'}.", :class => 'icon' %><% end %>
        </td>
        <% if @logged_in.can_edit? @ministry %>
          <td>
            <%= link_to 'x', {:action => 'remove_worker', :id => @ministry, :worker_id => worker}, :class => 'discreet', :confirm => 'Are you sure?', :method => 'post' %>
          </td>
        <% end %>
      </tr>
    <% end %>
  <% end %>
</table>