<% content_for :sidebar do %>
  <% form_tag :remote => true, :url => bible_path, :method => :get,
    :loading => "Element.show('loading')", :complete => "Element.hide('loading')",
    :html => {:method => :get, :id => 'bible-lookup'} do %>
    <%= text_field_tag :reference, @reference, :size => 10 %><br/>
    <%= submit_tag 'Lookup' %><br/>
    <span id="loading" style="display:none;"><%= image_tag 'spinner_small.gif', :alt => 'Loading...', :class => 'icon' %> Loading</span>
  <% end %>
  <div id="scratchpad"></div>
  <div id="selected_verses"></div>
<% end %>

<noscript>
  <div id="notice" class="warning">
    JavaScript must be enabled for this page to work.
  </div>
</noscript>

<div id="bible-content">
  <%= render :file => @chapter_filename %>
</div>

<script type="text/javascript">
  book_name = <%= @book.inspect %>
</script>

<%= stylesheet_link_tag 'bible.css' %>
<%= javascript_include_tag 'bible.js' %>

<% if nil %>
<span id="verse<%= verse.id %>" class="verse"
  title="<%= verse.reference %> - Click to select. Shift+Click to select multiple."
  onmouseover="if(selecting_from_verse)toggle_highlight_between(selecting_from_verse,<%= verse.id %>);"
  onmouseup="done_selecting(<%= verse.id %>)"><span class="reference" id="reference<%= verse.id %>"><%=h verse.chapter_and_verse %></span><span id="text<%= verse.id %>"><%= verse.html %></span></span>
<% end %>
