<li id="group_<%= group.id %>">
  <%=h group.name %>
  <%= check_box_tag "nametag", true, group.print_nametag?, :id => "nametag_#{group.group_time_id}", :onclick => "new Ajax.Request('#{administration_checkin_group_path(group)}', {method:'PUT',parameters:'group_time_id=#{group.group_time_id}&print_nametag='+this.checked})", :class => "checkbox" %><%= label_tag "nametag_#{group.group_time_id}", 'Nametag', :class => 'inline', :id => "nametag_label_#{group.group_time_id}" %>
  <%= image_tag('reorder.png', :alt => 'Reorder Group (click and drag)', :class => 'handle icon') %>
  <%= link_to_remote image_tag('delete.png', :alt => 'Remove from this time.', :class => 'icon'), :url => administration_checkin_group_path(group, :time_id => time.id), :method => 'delete', :confirm => 'Are you sure?' %>
</li>