- @title = t('checkin.groups.index.heading', time: @time.to_s, campus: @time.campus)

.row
  .col-md-8
    - if @group_times.any?
      %table.table.group-times
        %thead
          %tr
            %th= t('checkin.groups.index.table.group')
            %th= t('checkin.groups.index.table.print_nametag')
            %th= t('checkin.groups.index.table.print_extra_nametag')
            %th= t('checkin.groups.index.table.section')
            %th
        %tbody
          - @group_times.each do |group_time|
            %tr.row-with-actions{ id: dom_id(group_time) }
              %td
                = group_time.group.name
              %td
                %input{ type: 'checkbox', name: "print_nametag_for#{group_time.id}", checked: group_time.print_nametag?, onchange: "$.ajax('#{administration_checkin_time_group_path(@time, group_time.group_id)}', {data: {print_nametag: this.checked}, method: 'put'})", class: 'simple' }
              %td
                %input{ type: 'checkbox', name: "print_extra_nametag_for#{group_time.id}", checked: group_time.print_extra_nametag?, onchange: "$.ajax('#{administration_checkin_time_group_path(@time, group_time.group_id)}', {data: {print_extra_nametag: this.checked}, method: 'put'})", class: 'simple' }
              %td
                = select_tag "section_for_#{group_time.id}", options_for_select(checkin_group_sections, group_time.section), include_blank: true, onchange: "if(this.value != '!') $.ajax('#{administration_checkin_time_group_path(@time, group_time.group_id)}', {data: {section: this.value}, method: 'put'})", class: 'form-control can-create'
              %td.actions
                = link_to reorder_administration_checkin_group_path(group_time, direction: 'up'), data: { method: 'put' }, class: 'btn bg-gray text-blue up', style: group_time.ordering == 1 ? 'display:none' : '' do
                  = icon 'fa fa-arrow-circle-up'
                = link_to reorder_administration_checkin_group_path(group_time, direction: 'down'), data: { method: 'put' }, class: 'btn bg-gray text-blue down', style: group_time.ordering == @group_times.length ? 'display:none' : '' do
                  = icon 'fa fa-arrow-circle-down'
                = link_to administration_checkin_time_group_path(@time, group_time.group_id), data: { method: 'delete', confirm: t('are_you_sure') }, class: 'btn btn-delete' do
                  = icon 'fa fa-trash-o'

    - else
      %p= t('none')

  .col-md-4
    .box.box-info
      .box-header
        %h3.box-title= t('checkin.groups.index.add_group.heading')
      .box-body
        = form_tag groups_path, remote: true, method: 'get' do
          = hidden_field_tag :select_group, true
          .form-group
            = label_tag :name, t('name')
            = text_field_tag :name, '', class: 'form-control'
          .form-group
            = button_tag t('checkin.groups.index.add_group.search'), class: 'btn btn-info'
        #add_group{ style: "display:none" }
          = form_tag(administration_checkin_time_groups_path(@time)) do
            #group_results
            .form-group.push-down
              = button_tag t('checkin.groups.index.add_group.button'), class: 'btn btn-success'

    .box.box-warning
      .box-header
        %h3.box-title= t('checkin.times.edit.heading')
      .box-body
        = form_for @time, url: administration_checkin_time_path(@time) do |form|
          - if @time.weekday
            .form-group
              = form.select :weekday, Date::DAYNAMES.each_with_index.to_a, {}, class: 'form-control'
            .form-group
              = form.text_field :time, value: @time.time_to_s, size: 8, class: 'form-control', placeholder: t('checkin.times.recurring.time')
          - else
            .form-group
              = form.text_field :the_datetime, value: @time.to_s, size: 15, class: 'form-control', placeholder: t('checkin.times.single.datetime')
          .form-group
            = form.select :campus, options_for_select([[t('checkin.times.edit.campus.new'), '!']] + CheckinTime.campuses, @time.campus), {}, class: 'form-control can-create'
          .form-group
            = form.button t('checkin.times.edit.save.button'), class: 'btn btn-success'
            .pull-right
              = link_to administration_checkin_time_path(@time), data: { method: 'delete', confirm: t('are_you_sure') }, class: 'btn btn-delete' do
                = icon 'fa fa-trash-o'
