- @title = t('admin.syncs.syncs')

= pagination @syncs

%table.table
  %tr
    %th= t('admin.syncs.id')
    %th= t('admin.syncs.start')
    %th= t('admin.syncs.duration')
    %th= t('by')
    %th= t('admin.syncs.complete')
    %th= t('admin.syncs.success')
    %th= t('admin.syncs.error')
    %th= t('admin.syncs.rate')
  - @syncs.each do |sync|
    %tr
      %td= link_to sync.id, administration_sync_path(sync)
      %td= sync.created_at.to_s(:full)
      %td= sync.complete? ? distance_of_time_in_words(sync.updated_at, sync.created_at) : nil
      %td= link_to sync.person.try(:name), sync.person
      %td= sync.complete? ? 'complete' : nil
      %td.good= sync.success_count
      %td.bad= sync.error_count
      %td= sync.success_rate ? '%.1f%%' % sync.success_rate : nil
- unless @syncs.any?
  %p
    %em= t('admin.syncs.none')

= pagination @syncs
