<h1><%= I18n.t('admin.syncs.syncs') %></h1>

<%= will_paginate @syncs %>

<table>
  <tr>
    <th><%= I18n.t('admin.syncs.id') %></th>
    <th><%= I18n.t('admin.syncs.start') %></th>
    <th><%= I18n.t('admin.syncs.duration') %></th>
    <th><%= I18n.t('by') %></th>
    <th><%= I18n.t('admin.syncs.complete') %></th>
    <th><%= I18n.t('admin.syncs.success') %></th>
    <th><%= I18n.t('admin.syncs.error') %></th>
    <th><%= I18n.t('admin.syncs.rate') %></th>
  </tr>
  <% @syncs.each do |sync| %>
    <tr>
      <td><%= link_to sync.id, administration_sync_path(sync) %></td>
      <td><%= sync.created_at.to_s %></td>
      <td><%= sync.complete? ? distance_of_time_in_words(sync.updated_at, sync.created_at) : nil %></td>
      <td><%= link_to h(sync.person.name), sync.person %></td>
      <td><%= sync.complete? ? 'complete' : nil %></td>
      <td class="good"><%= sync.success_count %></td>
      <td class="bad"><%= sync.error_count %></td>
      <td><%= sync.success_rate ? '%.1f%%' % sync.success_rate : nil %></td>
    </tr>
  <% end %>
</table>

<% unless @syncs.any? %>
  <p><em><%= I18n.t('admin.syncs.none') %></em></p>
<% end %>

<%= will_paginate @syncs %>
