- @title = t('admin.syncs.show.heading', at: @sync.created_at.to_s(:full))

= pagination @items

%table.table
  %tr
    %th= sortable_column_heading t('admin.syncs.type'),      'sync_items.syncable_type'
    %th= sortable_column_heading t('admin.syncs.name'),      'sync_items.name'
    %th= sortable_column_heading t('admin.syncs.legacy_id'), 'sync_items.legacy_id'
    %th= sortable_column_heading t('admin.syncs.operation'), 'sync_items.operation'
    %th= sortable_column_heading t('admin.syncs.status'),    'sync_items.status'
    %th Errors
  - @items.each do |item|
    %tr
      %td= item.syncable_type
      - name = item.name || '(blank)'
      %td= item.syncable_id ? link_to(name, syncable_path(item)) : name
      %td= item.legacy_id
      %td= item.operation
      %td= item.status
      %td.very-strong= item.error_messages.is_a?(Array) ? item.error_messages.join('; ') : item.error_messages

= pagination @items
