<h2><%= t('admin.syncs.sync') %> <%= @sync.created_at.to_s %></h2>

<% if @counts %>
  <%= image_tag pie_chart_url(@counts, width: 400, height: 200, title: t('admin.syncs.results')), alt: t('admin.syncs.results') %>
<% end %>

<%= will_paginate @items %>

<table class="spaced">
  <tr>
    <th><%= sortable_column_heading t('admin.syncs.type'),      'sync_items.syncable_type' %></th>
    <th><%= sortable_column_heading t('admin.syncs.name'),      'sync_items.name'          %></th>
    <th><%= sortable_column_heading t('admin.syncs.legacy_id'), 'sync_items.legacy_id'     %></th>
    <th><%= sortable_column_heading t('admin.syncs.operation'), 'sync_items.operation'     %></th>
    <th><%= sortable_column_heading t('admin.syncs.status'),    'sync_items.status'        %></th>
    <th>Errors</th>
  </tr>
  <% @items.each do |item| %>
    <tr>
      <td><%= item.syncable_type %></td>
      <% name = item.name || '(blank)' %>
      <td><%= item.syncable_id ? link_to(name, syncable_path(item)) : name %></td>
      <td><%= item.legacy_id %></td>
      <td><%= item.operation %></td>
      <td><%= item.status %></td>
      <td class="very-strong"><%= item.error_messages.is_a?(Array) ? item.error_messages.join('; ') : item.error_messages %></td>
    </tr>
  <% end %>
</table>

<%= will_paginate @items %>
