<% form_for @album do |form| %>
  <%= form.error_messages %>
  <p>
    <%= form.label :name %>         <%= form.text_field :name %>        <br/>
    <%= form.label :description %> <%= form.text_area :description, :rows => 3 %><br/>
    <%= form.submit 'Save Album' %>
  </p>
<% end %>
