<%= form_for @album do |form| %>
  <%= error_messages_for(form) %>
  <%= form.hidden_field :group_id %>
  <p>
    <%= form.label I18n.t('albums.name') %>         <%= form.text_field :name %><br/>
    <%= form.label I18n.t('albums.description') %>  <%= form.text_area :description, :rows => 3 %><br/>
    <% if @album.new_record? %>
      <% if @logged_in.admin?(:manage_pictures) %>
        <%= check_box_tag 'remove_owner', true, false, :class => 'checkbox', :onclick => "$('album_is_public_true').disabled = $('album_is_public_false').disabled = this.checked; if(this.checked) $('album_is_public_true').checked = true;" %>
        <%= label_tag 'remove_owner', I18n.t('albums.dont_show_my_name'), :class => 'inline' %>
        <br/>
      <% end %>
      <%= form.radio_button :is_public, true %><%= form.label :is_public_true, I18n.t('albums.public'), :class => 'inline' %><br/>
      <%= form.radio_button :is_public, false %><%= form.label :is_public_false, I18n.t('albums.profile'), :class => 'inline' %><br/>
    <% end %>
    <%= form.submit I18n.t('albums.save') %>
  </p>
  <p class="discreet">
    <%= I18n.t('albums.pictures_may_show_on_feed') %>
  </p>
<% end %>
