<% form_for @album do |form| %>
  <%= form.error_messages %>
  <%= form.hidden_field :group_id %>
  <p>
    <%= form.label :name %>         <%= form.text_field :name %><br/>
    <%= form.label :description %>  <%= form.text_area :description, :rows => 3 %><br/>
    <%= form.radio_button :is_public, true %><%= form.label :is_public_true,  'Public  - show this album on the "All Pictures" page and on my profile.', :class => 'inline' %><br/>
    <%= form.radio_button :is_public, false %><%= form.label :is_public_false, 'Profile - show this album on my profile only.*', :class => 'inline' %><br/>
    <%= form.submit 'Save Album' %>
  </p>
  <p class="discreet">
    *Pictures may still show on the activity feed of your friends and fellow group members.
  </p>
<% end %>
