<p id="add_verse_link" style="display:none;"><%= link_to_function image_tag('add_small.gif', :alt => 'Add a verse.', :class => 'icon') + (@verse ? ' Add Another Verse' : ' Add a Verse'), "Element.show('add_verse');Element.hide('add_verse_link');$('reference').focus();" %></p>
<div id="add_verse">
  <%= form_tag(params.merge({:action => 'add_verse'}), :method => 'post') %>
   <% if @event %>
     <%= hidden_field_tag :event_id, @event.id %>
   <% end %>
    <p>
      Type a reference (i.e. John 3:16, Matthew 5:3-11) below and hit enter:<br/>
      <%= text_field_tag :reference, nil, :style => 'border:1px solid #ccc;width:100px;' %>
      <%= submit_tag 'Add Verse', :style => 'width:100px;' %>
    </p>
  </form>
</div>
<script type="text/javascript">
  if(location.hash == '#add') {
    $('reference').focus();
  } else {
    Element.hide('add_verse');
    Element.show('add_verse_link');
  }
</script>
