<div class="verse">
  <div class="verse-heading">
    <strong><%= link_to h(verse.reference), verse %></strong>
    <% unless @person or (people_count = verse.people.count) == 0 %>
      saved by <%= people_count %> <%= people_count == 1 ? 'person' : 'people' %>
    <% end %>
    ::
    <%= render :partial => 'tags/tags_with_delete', :locals => {:object => verse} %>
  </div>
  <div class="verse-body">
    <%=h verse.text %>
  </div>
  <div class="comment-summary">
    <%= render :partial => 'comments/comment_summary', :locals => {:object => verse} %>
  </div>
</div>
