<h2><%= t('verses.verses') %></h2>

<p><%= t('verses.intro', community: Setting.get(:name, :community)) %></p>

<% content_for :sidebar do %>

  <%= render partial: 'add_verse' %>

  <h3><%= t('tags.tags') %></h3>

  <p><%= t('verses.about_tags') %></p>

  <div class="tag-cloud">
    <% tag_cloud @tags, %w(size1 size2 size3 size4) do |tag, css_class| %>
      <%= link_to tag.name, tag, class: css_class %>
    <% end %>
    <% if @tags.empty? %>
      <em><%= t('tags.no_tags_yet') %></em>
    <% end %>
  </div>

<% end %>

<% if @verses.any? %>
  <%= render partial: @verses %>
<% else %>
  <p><em><%= t('verses.no_verses_yet') %></em></p>
<% end %>

<%= will_paginate @verses %>
