<% content_for :sidebar do %>

  <p><%= link_to t('verses.all_verses'), verses_path, class: 'left-icon' %></p>

  <% if @verse.people.count > 0 %>
    <h3><%= t('verses.people_who_like_this_verse') %></h3>
    <table class="spaced">
      <% @verse.people.each do |person| %>
        <tr>
          <td>
            <a href="<%= person_url(person) %>">
              <%= render partial: 'people/thumbnail', locals: {person: person} %>
            </a>
          </td>
          <td><%= link_to person.name, person_path(person) %></td>
        </tr>
      <% end %>
    </table>
  <% end %>

  <% if @logged_in.verses.include? @verse %>
    <p>
      <%= link_to t('verses.remove_this_verse'), @verse, method: 'delete', data: { confirm: t('are_you_sure') }, class: 'delete-icon' %>
    </p>
  <% else %>
    <p>
      <%= link_to t('verses.add_this_verse_to_my_list'), verses_path(id: @verse), method: 'post', class: 'add-icon' %>
    </p>
  <% end %>

  <h3><%= t('verses.tools') %></h3>
  <p>
    <%= link_to 'YouVersion', @verse.youversion_url %><br/>
    <%= link_to 'eBible', @verse.ebible_url %><br/>
    <%= link_to 'Bible Gateway', "http://www.biblegateway.com/passage/?search=#{u(@verse.reference)}" %>
  </p>

<% end %>

<h2><%= @verse.reference %> <span style="font-size:60%;color:#999;">(<%= @verse.translation %>)</span></h2>

<p>
  <span style="font-size:<%= @verse.text.length > 200 ? '1.6' : '2.4' %>em;line-height:1.2em;"><%= @verse.text %></span>
</p>
<p>
  <%= link_to t('verses.read_this_passage_at_youversion'), @verse.youversion_url, class: 'small' %>
</p>

<% if @verse.translation == 'WEB' %>
  <p class="small discreet">
   <%= t('verses.disclaimer') %>
  </p>
<% end %>

<h3><%= t('tags.tags') %></h3>
<p><%= t('verses.about_tags') %></p>
<%= form_tag(@verse, method: 'put', style: 'border:none;padding:0;') %>
  <%= render partial: 'tags/tags_with_delete', locals: {object: @verse} %>
  <p>
    <%= t('tags.add_tags') %>: <%= text_field_tag :add_tags, nil, style: 'width:125px;' %>
  </p>
</form>

<h3><%= t('Comments') %></h3>
<%= render partial: 'comments/comments', locals: {object: @verse, intro: t('verses.about_this_verse')} %>
