<% content_for :sidebar do %>
  <% if @logged_in.verses.include? @verse %>
    <p>
      <%= link_to image_tag('remove.gif', :alt => 'Remove this verse from my list.', :class => 'icon') + ' Remove this verse', @verse, :method => 'delete', :confirm => 'Are you sure?' %><br/>
      from my list.
    </p>
  <% else %>
    <p>
      <%= link_to image_tag('add_small.gif', :alt => 'Add this verse to my list.', :class => 'icon') + ' Add this verse', @verse, :method => 'post' %><br/>
      to my list.
    </p>
  <% end %>
  
  <h2>Tags</h2>

  <%= form_tag(@verse, :method => 'put', :style => 'border:none;padding:0;') %>
    <p>
      <%= render :partial => 'tags/tags_with_delete', :locals => {:object => @verse} %><br/>
      Add tags: <%= text_field_tag :add_tags, nil, :style => 'width:125px;' %>
    </p>
  </form>
  
  <h2>People</h2>

  <table>
    <% @verse.people.each do |person| %>
      <tr>
        <td>
          <a href="<%= person_url(person) %>">
            <%= render :partial => 'people/thumbnail', :locals => {:person => person} %>
          </a>
        </td>
        <td><%= link_to h(person.name), person_path(person) %></td>
      </tr>
    <% end %>
  </table>
  
  <h2>Tools</h2>
  <%= link_to 'Bible Gateway', "http://www.biblegateway.com/passage/?search=#{u(@verse.reference)}" %>

<% end %>

<%= render :partial => 'shares/subnav' %>

<h1><%=h @verse.reference %> <span style="font-size:60%;color:#999;">(<%=h @verse.translation %>)</span></h1>

<p>
  <span style="font-size:<%= @verse.text.length > 200 ? '1.6' : '2.4' %>em;line-height:1.2em;"><%=h @verse.text %></span>
  <%= link_to 'Read more...', "http://www.biblegateway.com/passage/?search=#{u(@verse.reference.split(/:/).first)}", :class => 'discreet' %>
</p>

<% if @verse.translation == 'WEB' %>
  <p style="font-size:90%;color:#999;">
    Scripture quotations marked "WEB" are taken from the World English Bible, a Modern English update of the American Standard Version of the Holy Bible. WEB is in the public domain. Copy and publish it freely.
  </p>
<% end %>

<h2>Comments</h2>
<%= render :partial => 'comments/comments', :locals => {:comments => @verse.comments, :params => {:verse_id => @verse}, :intro => 'about this verse. Share what it means to you, how it has helped you, or simply why you like it.'} %>
