<% content_for :sidebar do %>
  <%= render partial: 'people/photo' %>
  <h2><%= @person.name %></h2>
<% end %>

<p>
  <% if @person.donortools_id %>
    <%= link_to image_tag('donortools_logo_small.png', alt: t('contributions.view_in_donor_tools'), class: 'icon'), @donor.admin_url, target: '_blank' %>
    <%= link_to t('contributions.view_in_donor_tools'), @donor.admin_url, target: '_blank' %>
    (<%= t('contributions.synced') %>
    <%= @person.synced_to_donortools? ? t('answer_yes') : t('answer_no') %>
    &middot;
    <%= link_to t('contributions.update_donor_tools_now'), sync_person_contributions_path(@person), method: :post %>)
  <% else %>
    <em><%= t('contributions.not_in_donor_tools') %></em>
    <%= link_to t('contributions.add_to_donor_tools_now'), sync_person_contributions_path(@person), method: :post %>
  <% end %>
</p>

<h3><%= t('contributions.Contributions') %></h3>

<%= render partial: 'donations' %>
