<h2><%=I18n.t("highrise")%></h2>

<p><%=I18n.t("to_get_the_token_for_your")%> <a href="http://highrisehq.com"><%=I18n.t("highrise")%></a> <%=I18n.t("account_sign_in_click_top_right")%></p>

<p><%= image_tag 'highrise_my_info.png', :alt => I18n.t("my_info") %></p>

<p><%=I18n.t("on_the_following_click_reveal_token")%></p>

<p><%= image_tag 'highrise_reveal.png', :alt => I18n.t("reveal_token") %></p>
