<h1>Edit Account</h1>

<% form_for :remote_account, @remote_account, :url => edit_remote_account_path(:person_id => params[:person_id], :id => params[:id]) do |form| %>
  <p><%= form.label :account_type %> <%= form.select :account_type, RemoteAccount::ACCOUNT_TYPES %></p>
  <p><%= form.label :username %>     <%= form.text_field :username %></p>
  <p><%= form.label :token %>        <%= form.text_field :token %></p>
  <p><%= submit_tag 'Save Account' %></p>
<% end %>

<h2>Highrise</h2>

<p>To get the "token" for your <a href="http://highrisehq.com">Highrise</a> account, sign in and click the "My Info" link in the top-right of the screen:</p>

<p><%= image_tag 'highrise_my_info.png', :alt => 'My Info' %></p>

<p>On the following screen, click the "Reveal authentication token" link:</p>

<p><%= image_tag 'highrise_reveal.png', :alt => 'Reveal Token' %></p>