<h1>Access to <%= Setting.get(:name, :site) %></h1>

<h2><%= Setting.get(:url, :visitor) %></h2>
<p>
  You should be able to view information about classes, download sermons,
  find out what our church believes, practices, and so much more from
  our main site: <%= link_to Setting.get(:url, :visitor), Setting.get(:url, :visitor) %>.
  You can do all this without being signed in.
</p>

<h2><%= Setting.get(:url, :site) %></h2>

<p>
  This site is for <strong>members and regular attenders</strong>
  to connect as a family. If you have been attending <%= Setting.get(:name, :church) %>
  recently, and you've filled out an attendance tear strip, then you have
  access to sign into this site.
</p>

<%= render :partial => 'accounts/how_to_verify' %>
