<h2><%= t('privacies.privacy') %></h2>

<p><%= t('privacies.modify_the_privacy_settings_html', url: help_path('privacy_policy')) %></p>

<div id="edit-privacy">
  <%= form_for @family, url: person_privacy_path(@family.people.first), html: {method: 'put', style: 'border:none;padding:0;'} do |form| %>

    <table class="spaced margin-top">
      <tr>
        <th></th>
        <th><%= t('privacies.visible') %><sup>1</sup></th>
      </tr>
      <tr>
        <td><strong><%= t('privacies.family_privacy') %></strong></td>
        <td><%= form.check_box :visible, class: 'visible-checkbox' %></td>
      </tr>
      <tr class="people-header-row">
        <th></th>
        <th><%= t('privacies.visible') %><sup>1</sup></th>
        <th><%= t('privacies.activity') %><sup>2</sup></th>
        <th><%= t('privacies.anniversary') %></th>
        <th><%= t('privacies.address') %></th>
        <th><%= t('privacies.home_phone') %></th>
        <th><%= t('privacies.mobile_phone') %></th>
        <th><%= t('privacies.work_phone') %></th>
        <th><%= t('privacies.fax') %></th>
        <th><%= t('privacies.email') %><sup>3</sup></th>
        <th><%= t('privacies.birthday') %></th>
      </tr>
      <% @family.people.undeleted.each do |person| %>
        <%= form.fields_for :people, person do |person_form| %>
          <tr class="person-row">
            <td>
              <%= image_tag 'plus.gif', class: 'expand-link', id: "expand-link-#{person.id}" %>
              <strong><%= person.first_name %></strong>
            </td>
            <% if person.adult_or_consent? %>
              <td><%= person_form.check_box :visible, class: 'visible-checkbox' %></td>
              <td><%= person_form.check_box :share_activity %></td>
              <td><%= person_form.check_box :share_anniversary,  class: "share-checkbox", 'data-share-type' => 'share-anniversary',  'data-person-id' => person.id %></td>
              <td><%= person_form.check_box :share_address,      class: "share-checkbox", 'data-share-type' => 'share-address',      'data-person-id' => person.id %></td>
              <td><%= person_form.check_box :share_home_phone,   class: "share-checkbox", 'data-share-type' => 'share-home-phone',   'data-person-id' => person.id %></td>
              <td><%= person_form.check_box :share_mobile_phone, class: "share-checkbox", 'data-share-type' => 'share-mobile-phone', 'data-person-id' => person.id %></td>
              <td><%= person_form.check_box :share_work_phone,   class: "share-checkbox", 'data-share-type' => 'share-work-phone',   'data-person-id' => person.id %></td>
              <td><%= person_form.check_box :share_fax,          class: "share-checkbox", 'data-share-type' => 'share-fax',          'data-person-id' => person.id %></td>
              <td><%= person_form.check_box :share_email,        class: "share-checkbox", 'data-share-type' => 'share-email',        'data-person-id' => person.id %></td>
              <td><%= person_form.check_box :share_birthday,     class: "share-checkbox", 'data-share-type' => 'share-birthday',     'data-person-id' => person.id %></td>
            <% else %>
              <td>
                <%= check_box_tag :visible, true, false, disabled: true %>
                <span class="lock-icon"></span>
              </td>
            <% end %>
          </tr>
        <% end %>
        <% person.memberships.includes(:group).where('groups.hidden' => false).order('groups.name').each do |membership| %>
          <%= fields_for "memberships[#{membership.id}]", membership do |membership_form| %>
            <%= content_tag :tr, style: 'display:none;', class: "membership-row membership-for-#{person.id}" do %>
              <td style="padding-left:15px;"><%= membership.group.name %></td>
              <td></td>
              <td></td>
              <td><%= membership_form.check_box :share_anniversary,  class: 'share-anniversary'  %></td>
              <td><%= membership_form.check_box :share_address,      class: 'share-address'      %></td>
              <td><%= membership_form.check_box :share_home_phone,   class: 'share-home-phone'   %></td>
              <td><%= membership_form.check_box :share_mobile_phone, class: 'share-mobile-phone' %></td>
              <td><%= membership_form.check_box :share_work_phone,   class: 'share-work-phone'   %></td>
              <td><%= membership_form.check_box :share_fax,          class: 'share-fax'          %></td>
              <td><%= membership_form.check_box :share_email,        class: 'share-email'        %></td>
              <td><%= membership_form.check_box :share_birthday,     class: 'share-birthday'     %></td>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </table>

    <p class="discreet margin-top"><sup>1</sup><%= t('privacies.visible_note') %></p>
    <p class="discreet margin-top"><sup>2</sup><%= t('privacies.hide_your_activity') %></p>
    <p class="discreet margin-top"><sup>3</sup><%= t('privacies.people_can_still_send_html') %></p>

    <p class="double-margin-top"><%= form.submit t('save_changes') %></p>

  <% end %>

  <h3><%= t('privacies.children') %></h3>
  <% @children.each do |person| %>
    <%= form_for @family, url: person_privacy_path(person), html: {method: 'put', style: 'border:none;padding:0;'} do |form| %>
      <h4 class="strong"><%= person.name %></h4>
      <% if person.parental_consent %>
        <p><%= t('privacies.child_profile_has_parental_consent', name: person.parental_consent) %></p>
      <% elsif @logged_in.family == @family %>
        <p><%= t('privacies.child_under_age_you_have_not_consent', years: Setting.get(:system, :adult_age)) %></p>
        <p>
          <%= t('privacies.to_show_on_this_site', name: h(person.name)) %>
        </p>
        <ol class="list">
          <li><%= t('privacies.read_safeguarding_children_html', url: help_path('safeguarding_children')) %></li>
          <li><%= t('privacies.read_privacy_policy_html', url: help_path('privacy_policy')) %></li>
          <li><%= t('privacies.read_statement_below') %></li>
          <li><%= t('privacies.click_the_agree') %></li>
        </ol>
        <p>
          <%= check_box_tag 'agree', I18n.t('privacies.i_agree') + ".", false, class: 'checkbox' %>
          <%= t('privacies.as_a_parent_agree_html', { name: h(person.name), url: help_path('privacy_policy') } ) %><br/>
          <%= submit_tag I18n.t('privacies.i_agree') %>
        </p>
      <% else %>
        <p><%= t('privacies.child_under_age_you_have_not_consent', years: Setting.get(:system, :adult_age)) %></p>
      <% end %>
    <% end %>
  <% end %>

</div>

<%# precache image %>
<%= image_tag 'minus.gif', style: 'display:none;' %>

<script type="text/javascript">
  $('#family_visible').change(function(){
    if(this.checked) {
      $('.people-header-row, .person-row').show();
    } else {
      $('.people-header-row, .person-row, .membership-row').hide();
    }
  }).trigger('change');

  $('.visible-checkbox').change(function(){
    var c = $(this).closest('tr').find('input[type=checkbox]:not(.visible-checkbox)');
    if(this.checked) c.attr('disabled', false).each(function(){ var c=$(this).data('was-checked'); if(c!=null) this.checked = c });
    else c.attr('disabled', true).each(function(){ $(this).data('was-checked', this.checked) }).attr('checked', false);
  }).trigger('change');

  $('.share-checkbox').change(function(event, triggered){
    var id = $(this).attr('data-person-id');
    var type = $(this).attr('data-share-type');
    var c = $('.membership-for-' + id + ' .' + type)
    if(this.checked) {
      c.attr('disabled', true).attr('checked', true);
    } else {
      c.attr('disabled', false);
      if(!triggered) {
        c.attr('checked', false);
      }
    }
  }).trigger('change', 'triggered');

  $('.expand-link').toggle(function(){
    $(this).attr('src', '/images/minus.gif');
    $('.' + $(this).attr('id').replace(/expand\-link\-/, 'membership-for-')).show('slow');
  }, function(){
    $(this).attr('src', '/images/plus.gif');
    $('.' + $(this).attr('id').replace(/expand\-link\-/, 'membership-for-')).hide('hide');
  });
</script>
