<h1><%= I18n.t('privacies.sharing_with', { :url => @group, :name => h(@group.name) }) %></h1>

<%= form_for @membership, :url => group_membership_privacy_path(@group, @membership), :html => {:method => 'put'} do |form| %>
  <%= error_messages_for(form) %>
  <p><%= I18n.t('privacies.the_items_are_visible', :url => privacy_path) %></p>
  <ul>
    <% @visible_to_everyone.each do |attribute| %>
      <li><%= attribute.humanize %></li>
    <% end %>
  </ul>
  
  <p><%= I18n.t('privacies.the_items_may_be_shared', :name => h(@group.name)) %></p>
  <table>
    <tr><th><%= I18n.t('privacies.detail') %></th><th><%= I18n.t('privacies.visible') %></th><th><%= I18n.t('privacies.hidden') %></th></tr>
    <% @sharable_with_group.each do |attribute| %>
      <tr>
        <td><%= attribute.humanize %></td>
        <td><%= form.radio_button "share_#{attribute}", true,  :class => 'checkbox' %></td>
        <td><%= form.radio_button "share_#{attribute}", false, :class => 'checkbox' %></td>
      </tr>
    <% end %>
  </table>
  <p><%= form.submit I18n.t('save_changes') %></p>
<% end %>
