<% if @logged_in.super_admin? or @logged_in.admin?(:manage_access) %>
  <% content_for :sidebar do %>
    <% if @logged_in.admin?(:manage_access) %>
      <%= render :partial => 'administrators' %>
    <% end %>
    <% if @logged_in.super_admin? %>
      <h2>Customization</h2>
      <ul style="list-style:none;">
        <li><%= link_to 'Settings', administration_settings_path %></li>
        <li><%= link_to 'Community Logo', administration_logo_path %></li>
        <li><%= link_to 'Custom Theme', edit_administration_theme_path %></li>
        <li><%= link_to 'Pages', pages_path %></li>
      </ul>
    <% end %>
  <% end %>
<% end %>

<p>
  Welcome, <%=h @logged_in.name %>.
  <% if @logged_in.super_admin? %>
    You are a super administrator (configured in <%= link_to 'settings', administration_settings_path %>).
  <% else %>
    You have been an administrator since <%= @logged_in.admin.created_at.to_time.to_s :date %>.
      You have the privileges: <%=h @privileges.any? ? @privileges.to_sentence : 'none' %>.
  <% end %>
</p>

<% if @logged_in.admin?(:manage_updates) %>
  <h2>Updates</h2>
  
  <p <% if @update_count > 0 %>class="very-strong"<% end %>>
    <%= @update_count %> <%= @update_count == 1 ? 'update' : 'updates' %>
  </p>
  
  <p><%= link_to 'Click here', administration_updates_path %> to review updates.</p>
<% end %>

<% if @logged_in.admin?(:manage_groups) %>
  <h2>Groups</h2>
  
  <p <% if @group_count > 0 %>class="very-strong"<% end %>>
    <%= @group_count %> pending <%= pluralize @group_count, 'group' %>
  </p>
  
  <p><%= link_to 'Click here', administration_updates_path %> to review pending groups.</p>
  
  <h2>Group Memberships</h2>
  
  <p <% if @membership_request_count > 0 %>class="very-strong"<% end %>>
    <%= @membership_request_count %> pending <%= pluralize @membership_request_count, 'membership request' %>
  </p>
  
  <p><%= link_to 'Click here', administration_membership_requests_path %> to review pending membership requests.</p>
<% end %>

<% if @logged_in.admin?(:manage_attendance) %>
  <h2>Attendance</h2>
  
  <p><%= link_to 'Click here', administration_attendance_index_path %> to manage and export attendance.</p>
<% end %>

<% if Setting.get(:features, :checkin_modules) and (@logged_in.admin?(:manage_checkin) or @logged_in.admin?(:assign_checkin_cards)) %>
  <h2>Checkin</h2>
  
  <p><%= link_to 'Click here', administration_checkin_path %> to assign cards and manage checkin.</p>
<% end %>

<% if @logged_in.admin?(:view_log) %>
  <h2>Log</h2>
  
  <p><%= link_to 'Click here', administration_log_items_path %> to review the log.</p>
<% end %>

<% if Site.current.import_export_enabled? %>

  <% if @logged_in.admin?(:import_data) %>
    <h2>Import Data</h2>
    
    <p><%= link_to 'Click here', import_people_path %> to import people data from a Comma Separated Values (CSV) file.</p>
  <% end %>

  <% if @logged_in.admin?(:export_data) %>
    <h2>Export Data</h2>
    
    <table>
      <tr>
        <th>People</th>
        <td><%= link_to 'XML', people_path(:format => 'xml', :page => 1) %></td>
        <td><%= link_to 'CSV', people_path(:format => 'csv', :page => 1) %></td>
      </tr>
      <tr>
        <th>Families</th>
        <td><%= link_to 'XML', families_path(:format => 'xml', :page => 1) %></td>
        <td><%= link_to 'CSV', families_path(:format => 'csv', :page => 1) %></td>
      </tr>
      <% if Setting.get(:features, :groups) %>
        <tr>
          <th>Groups</th>
          <td><%= link_to 'XML', groups_path(:format => 'xml', :page => 1) %></td>
          <td><%= link_to 'CSV', groups_path(:format => 'csv', :page => 1) %></td>
        </tr>
      <% end %>
    </table>
    <p>
      Only <%= MAX_EXPORT_AT_A_TIME %> records will be exported at a time.
      If you have more than <%= MAX_EXPORT_AT_A_TIME %> records,
      you may append <code>?page=2</code> and so on to the export URL you click above.
    </p>
  <% end %>
  
<% end %>
