<% content_for :sidebar do %>
  <% if @logged_in.admin?(:manage_access) %>
    <%= render :partial => 'administrators' %>
  <% end %>
<% end %>

<h2>You</h2>

<% if @logged_in.super_admin? %>
  <p>You are a super administrator (configured in <%= link_to 'settings', administration_settings_path %>).</p>
<% else %>
  <p>You have been an administrator since <%= @logged_in.admin.created_at.to_time.to_s :date %>,
    with the privileges: <%= @privileges.to_sentence %>.</p>
<% end %>

<% if @logged_in.super_admin? %>
  <h2>Settings</h2>
  <p><%= link_to 'Edit settings', administration_settings_path %> for this site.</p>
<% end %>

<% if @logged_in.admin?(:view_log) %>
  <h2>Log</h2>
  
  <p <% if @flag_count > 0 %>class="very-strong"<% end %>>
    <%= @flag_count %> flagged <%= @flag_count == 1 ? 'item' : 'items' %>
  </p>
  
  <p><%= link_to 'Click here', administration_log_items_path %> to review the log.</p>
<% end %>

<% if @logged_in.admin?(:manage_updates) %>
  <h2>Updates</h2>
  
  <p <% if @update_count > 0 %>class="very-strong"<% end %>>
    <%= @update_count %> <%= @update_count == 1 ? 'update' : 'updates' %>
  </p>
  
  <p><%= link_to 'Click here', administration_updates_path %> to review updates.</p>
<% end %>

<% if @logged_in.admin?(:manage_groups) %>
  <h2>Groups</h2>
  
  <p <% if @group_count > 0 %>class="very-strong"<% end %>>
    <%= @group_count %> pending <%= @group_count == 1 ? 'group' : 'groups' %>
  </p>
  
  <p><%= link_to 'Click here', administration_updates_path %> to review pending groups.</p>
  
  <h2>Group Memberships</h2>
  
  <p <% if @membership_request_count > 0 %>class="very-strong"<% end %>>
    <%= @membership_request_count %> pending <%= @membership_request_count == 1 ? 'membership request' : 'membership requests' %>
  </p>
  
  <p><%= link_to 'Click here', administration_membership_requests_path %> to review pending membership requests.</p>
<% end %>

<% if @logged_in.admin?(:import_data) %>
  <h2>Import Data</h2>
  
  <p><%= link_to 'Click here', import_people_path %> to import people data from a Comma Separated Values (CSV) file.</p>
<% end %>

<% if @logged_in.admin?(:export_data) %>
  <h2>Export Data</h2>
  
  <% onclick = "page = prompt('Enter a page number. If there are 50 records or less, then all records will be retrieved with page 1.', '1'); if(page) this.href = this.href.replace(/page=\d+/, 'page='+page)" %>
  <table>
    <tr>
      <th>People</th>
      <td><%= link_to 'XML', formatted_people_path('xml', :page => 1), :onclick => onclick %></td>
      <td><%= link_to 'CSV', formatted_people_path('csv', :page => 1), :onclick => onclick %></td>
    </tr>
    <tr>
      <th>Families</th>
      <td><%= link_to 'XML', formatted_families_path('xml', :page => 1), :onclick => onclick %></td>
      <td><%= link_to 'CSV', formatted_families_path('csv', :page => 1), :onclick => onclick %></td>
    </tr>
    <% if Setting.get(:features, :groups) %>
      <tr>
        <th>Groups</th>
        <td><%= link_to 'XML', formatted_groups_path('xml', :page => 1), :onclick => onclick %></td>
        <td><%= link_to 'CSV', formatted_groups_path('csv', :page => 1), :onclick => onclick %></td>
      </tr>
    <% end %>
  </table>
  <p>
    Only 50 records will be exported at a time. If you have more than 50 records,
    you may append <code>?page=2</code> and so on to the export URL you click above.
  </p>
<% end %>
