<% content_for :sidebar do %>
  <h2><%= t('You') %></h2>
  <p>
    <%= t('admin.welcome_message', :name => h(@logged_in.name)) %>
    <% if @logged_in.super_admin? %>
      <%= t('admin.you_are_super') %>
    <% else %>
      <%= t('admin.you_are_admin') %>:
      <%=h @privileges.any? ? @privileges.to_sentence : 'none' %>.
    <% end %>
  </p>
  
  <% if @logged_in.admin?(:manage_access) %>
    <h2><%= t('admin.administrators') %></h2>
    <p>
      <%= t('admin.admin_count', :count => @admin_count) %>
    </p>
    <p>
      <%= link_to t('admin.manage_admins'), administration_admins_path %>
    </p>
  <% end %>

  <% if @logged_in.super_admin? %>
    <h2><%= t('admin.customization') %></h2>
    <ul style="list-style:none;">
      <li><%= link_to t('admin.settings.settings'), administration_settings_path %></li>
      <li><%= link_to t('admin.logo.logo'), administration_logo_path %></li>
      <li><%= link_to t('admin.themes.theme'), edit_administration_theme_path %></li>
      <li><%= link_to t('admin.pages'), pages_path %></li>
    </ul>
  <% end %>
  
  <%= render_plugin_hook :admin_dashboard_sidebar_bottom %>
  
  <% if @logged_in.super_admin? %>
    <br/><hr/>
    <p class="small"><%= link_to t('admin.settings.reload'), reload_administration_settings_path, :method => 'put', :title => t('admin.settings.reload_message') %></p>
  <% end %>
<% end %>

<div class="dashboard">
  
  <div id="alerts_container"></div>

  <%= render_plugin_hook :admin_dashboard_top %>
  
  <% if Setting.get(:features, :reporting) and (@logged_in.admin?(:manage_reports) or @logged_in.admin?(:run_reports)) %>
    <h2><%= t('reporting.Reports') %></h2>
    <% if @logged_in.admin?(:manage_reports) %>
      <p><%= link_to t('reporting.manage_and_run'), administration_reports_path %></p>
    <% else %>
      <p><%= link_to t('reporting.run_reports'), administration_reports_path %></p>
    <% end %>
  <% end %>
  
  <% if @logged_in.admin?(:manage_messages) and @daily_message_counts %>
    <h2><%= t('messages.messages') %></h2>
    <%= image_tag bar_chart_url(@daily_message_counts, :set_count => 3, :set_labels => [t('messages.private'), t('messages.group'), t('messages.wall')], :width => 550, :height => 250, :title => t('messages.sent_per_day')), :alt => t('messages.sent_per_day') %>
  <% end %>

  <% if @logged_in.admin?(:manage_updates) %>
    <h2><%= t('admin.updates.updates') %></h2>
    
    <% if @daily_update_counts %>
      <%= image_tag bar_chart_url(@daily_update_counts, :width => 450, :height => 150, :title => t('admin.updates.per_day'), :interval => 1), :alt => t('admin.updates.per_day') %>
    <% end %>
    
    <%= display_metric @update_count > 0 do %>
      <%= link_to t('admin.updates.pending', :count => @update_count), administration_updates_path %>
    <% end %>
    
    <%= display_metric @email_changed_count > 0 do %>
      <%= link_to t('admin.updates.changed_email', :count => @email_changed_count), administration_emails_path %>
    <% end %>
  <% end %>

  <% if @logged_in.admin?(:manage_groups) %>
    <h2><%= t('nav.groups') %></h2>
    
    <% if @group_type_counts %>
      <%= image_tag pie_chart_url(@group_type_counts, :width => 400, :height => 200, :title => t('groups.types')), :alt => t('groups.types') %>
    <% end %>

    <% if @linked_group_counts %>
      <%= image_tag pie_chart_url(@linked_group_counts, :width => 400, :height => 200, :title => t('groups.linked')), :alt => t('groups.linked') %>
    <% end %>
    
    <%= display_metric @groups_pending_approval_count > 0 do %>
      <%= link_to t('groups.pending_approval_count', :count => @groups_pending_approval_count), administration_updates_path %>
    <% end %>
    
    <%= display_metric @membership_request_count > 0 do %>
      <%= link_to t('groups.pending_membership_request_count', :count => @membership_request_count), administration_membership_requests_path %>
    <% end %>

    <p><%= link_to t('admin.manage_group_administrators'), administration_admins_path(:groups => true) %></p>
  <% end %>

  <% if @logged_in.admin?(:manage_attendance) %>
    <h2><%= t('attendance.attendance') %></h2>
    
    <% if @daily_attendance_counts %>
      <%= image_tag bar_chart_url(@daily_attendance_counts, :width => 550, :height => 250, :title => t('attendance.records_per_day')), :alt => t('attendance.records_per_day') %>
    <% end %>
    
    <% if @attendance_records_count %>
      <p>
        <%= t('attendance.last_date') %>:
        <%= t('attendance.records_from_count', :count => @attendance_records_count) %> <%= link_to day_word(@attendance_last_date), administration_attendance_index_path(:attended_at => @attendance_last_date) %>.
      </p>
    <% end %>
    
    <p><%= link_to t('attendance.manage_and_export'), administration_attendance_index_path %></p>
  <% end %>

  <% if Donortools::Persona.can_sync? and @logged_in.admin?(:manage_contributions) %>
    <h2><%= t('contributions.Contributions') %></h2>
    <p><%= link_to t('admin.view_contributions'), contributions_path %></p>
    <p><%= link_to t('admin.people_not_synced_to_donortools_count', :count => @unsynced_to_donortools), sync_contributions_path %></p>
  <% end %>
  
  <%= render_plugin_hook :admin_dashboard_middle %>

  <% if @logged_in.admin?(:manage_sync) %>
    <h2><%= t('admin.syncs.sync') %></h2>
    
    <% if @sync_counts %>
      <%= image_tag pie_chart_url(@sync_counts, :width => 400, :height => 200, :title => t('admin.syncs.results')), :alt => t('admin.syncs.results') %>
    <% end %>
    
    <p>
      <%= t('admin.syncs.last') %>:
      <% if @last_sync %>
        <%= link_to @last_sync.created_at.to_s, administration_sync_path(@last_sync) %>
        <% if @last_sync.complete? %>
          (<%= t('admin.syncs.complete') %>,
          <%= display_metric @last_sync.error_count > 0, :content_tag => :span do %><%= link_to pluralize(@last_sync.error_count, t('admin.syncs.sync_error')), administration_sync_path(@last_sync) %><% end %>)
        <% else %>
          (<%= t('admin.syncs.incomplete') %>)
        <% end %>
      <% else %>
        <em><%= t('admin.syncs.none') %></em>
      <% end %>
    </p>
    
    <p><%= link_to t('admin.syncs.review_results'), administration_syncs_path %></p>
  <% end %>

  <% if @logged_in.admin?(:view_log) %>
    <h2><%= t('admin.log') %></h2>
    
    <p><%= link_to t('admin.log_review'), administration_log_items_path %></p>
  <% end %>

  <% if Site.current.import_export_enabled? %>

    <% if @logged_in.admin?(:import_data) %>
      <h2><%= t('admin.import_data') %></h2>
      
      <p><%= link_to t('admin.import_data_description'), import_people_path %></p>
    <% end %>

    <% if @logged_in.admin?(:export_data) %>
      <h2><%= t('admin.export_data') %></h2>
      
      <table>
        <tr>
          <th><%= t('people.people') %> (<%= @person_count %>)</th>
          <td><%= link_to_with_page_prompt 'XML', people_path(:format => 'xml') %></td>
          <td><%= link_to_with_page_prompt 'CSV', people_path(:format => 'csv') %></td>
        </tr>
        <tr>
          <th><%= t('families.families') %> (<%= @family_count %>)</th>
          <td><%= link_to_with_page_prompt 'XML', families_path(:format => 'xml') %></td>
          <td><%= link_to_with_page_prompt 'CSV', families_path(:format => 'csv') %></td>
        </tr>
        <% if Setting.get(:features, :groups) %>
          <tr>
            <th><%= t('nav.groups') %> (<%= @group_count %>)</th>
            <td><%= link_to_with_page_prompt 'XML', groups_path(:format => 'xml') %></td>
            <td><%= link_to_with_page_prompt 'CSV', groups_path(:format => 'csv') %></td>
          </tr>
        <% end %>
      </table>
      <p>
        <%= t('admin.page_number_when_prompted', :count => MAX_EXPORT_AT_A_TIME) %>
      </p>
    <% end %>
    
  <% end %>
  
  <% if @logged_in.admin?(:edit_profiles) %>
    <h2><%= t('admin.deleted_records') %></h2>
  
    <p><%= link_to t('admin.deleted_records_manage'), administration_deleted_people_path %>
  <% end %>

  <%= render_plugin_hook :admin_dashboard_bottom %>
  
  <% if @alerts.any? %>
    <div id="alerts">
      <h2><%= t('admin.alerts') %></h2>
      <div class="very-strong">
        <%= metric_alerts %>
      </div>
    </div>
    <script type="text/javascript">
      var elm = $('alerts');
      elm.parentNode.removeChild(elm);
      $('alerts_container').appendChild(elm);
    </script>
  <% end %>
  
</div>
