<% content_for :sidebar do %>
  <h2>You</h2>
  <p>
    Welcome, <%=h @logged_in.name %>.
    <% if @logged_in.super_admin? %>
      You are a super administrator (configured in <%= link_to 'settings', administration_settings_path %>).
    <% else %>
      You are an administrator with the privileges:
      <%=h @privileges.any? ? @privileges.to_sentence : 'none' %>.
    <% end %>
  </p>
  
  <% if @logged_in.admin?(:manage_access) %>
    <h2>Administrators</h2>
    <p>
      There are currently <%= link_to pluralize(@admin_count, 'administrator'), administration_admins_path, :class => 'nowrap' %>
      and <span class="nowrap"><%= pluralize Setting.get(:access, :super_admins).length, 'super admin' %></span>.
    </p>
  <% end %>

  <% if @logged_in.super_admin? %>
    <h2>Customization</h2>
    <ul style="list-style:none;">
      <li><%= link_to 'Settings', administration_settings_path %></li>
      <li><%= link_to 'Logo', administration_logo_path %></li>
      <li><%= link_to 'Theme', edit_administration_theme_path %></li>
      <li><%= link_to 'Pages', pages_path %></li>
    </ul>
  <% end %>
  
  <%= render_plugin_hook :admin_dashboard_sidebar_bottom %>
  
  <% if @logged_in.super_admin? %>
    <br/><hr/>
    <p class="small"><%= link_to 'Reload Settings', reload_administration_settings_path, :method => 'put', :title => 'If you have made modifications to the system from the command line, you may need to reload all settings to see the changes take effect.' %></p>
  <% end %>
<% end %>

<div class="dashboard">
  
  <div id="alerts_container"></div>

  <%= render_plugin_hook :admin_dashboard_top %>
  
  <% if @logged_in.admin?(:manage_messages) and @daily_message_counts %>
    <h2>Messages</h2>
    <%= image_tag bar_chart_url(@daily_message_counts, :set_count => 3, :set_labels => ['Private', 'Group', 'Wall'], :width => 550, :height => 250, :title => 'Messages Sent Per Day'), :alt => 'Messages Sent Per Day' %>
  <% end %>

  <% if @logged_in.admin?(:manage_updates) %>
    <h2>Updates</h2>
    
    <% if @daily_update_counts %>
      <%= image_tag bar_chart_url(@daily_update_counts, :width => 450, :height => 150, :title => 'Updates Per Day', :interval => 1), :alt => 'Updates Per Day' %>
    <% end %>
    
    <% display_metric @update_count > 0 do %>
      <%= link_to pluralize(@update_count, 'pending update'), administration_updates_path %>
    <% end %>
    
    <% display_metric @email_changed_count > 0 do %>
      <%= link_to pluralize(@email_changed_count, 'changed email address'), administration_emails_path %>
    <% end %>
  <% end %>

  <% if @logged_in.admin?(:manage_groups) %>
    <h2>Groups</h2>
    
    <% if @group_type_counts %>
      <%= image_tag pie_chart_url(@group_type_counts, :width => 400, :height => 200, :title =>'Types of Groups'), :alt => 'Types of Groups' %>
    <% end %>

    <% if @linked_group_counts %>
      <%= image_tag pie_chart_url(@linked_group_counts, :width => 400, :height => 200, :title => 'Linked Groups'), :alt => 'Linked Groups' %>
    <% end %>
    
    <% display_metric @groups_pending_approval_count > 0 do %>
      <%= link_to "#{pluralize @groups_pending_approval_count, 'group'} pending approval", administration_updates_path %>
    <% end %>
    
    <% display_metric @membership_request_count > 0 do %>
      <%= link_to pluralize(@membership_request_count, 'pending membership request'), administration_membership_requests_path %>
    <% end %>
  <% end %>

  <% if @logged_in.admin?(:manage_attendance) %>
    <h2>Attendance</h2>
    
    <% if @daily_attendance_counts %>
      <%= image_tag bar_chart_url(@daily_attendance_counts, :width => 550, :height => 250, :title => 'Attendance Records Per Day'), :alt => 'Attendance Records Per Day' %>
    <% end %>
    
    <% if @attendance_records_count %>
      <p>
        Last date:
        <%= pluralize @attendance_records_count, 'attendance record' %> from <%= link_to day_word(@attendance_last_date), administration_attendance_index_path(:attended_at => @attendance_last_date) %>.
      </p>
    <% end %>
    
    <p><%= link_to 'Manage and export attendance.', administration_attendance_index_path %></p>
  <% end %>
  
  <%= render_plugin_hook :admin_dashboard_middle %>

  <% if @logged_in.admin?(:manage_sync) %>
    <h2>Sync</h2>
    
    <% if @sync_counts %>
      <%= image_tag pie_chart_url(@sync_counts, :width => 400, :height => 200, :title =>'Sync Results'), :alt => 'Sync Results' %>
    <% end %>
    
    <p>
      Last sync:
      <% if @last_sync %>
        <%= link_to @last_sync.created_at.to_s, administration_sync_path(@last_sync) %>
        <% if @last_sync.complete? %>
          (complete,
          <% display_metric @last_sync.error_count > 0, :content_tag => :span do %><%= pluralize @last_sync.error_count, 'sync error' %><% end %>)
        <% else %>
          (incomplete)
        <% end %>
      <% else %>
        <em>none</em>
      <% end %>
    </p>
    
    <p><%= link_to 'Review previous synchronization results.', administration_syncs_path %></p>
  <% end %>

  <% if @logged_in.admin?(:view_log) %>
    <h2>Log</h2>
    
    <p><%= link_to 'Review the log.', administration_log_items_path %></p>
  <% end %>

  <% if Site.current.import_export_enabled? %>

    <% if @logged_in.admin?(:import_data) %>
      <h2>Import Data</h2>
      
      <p><%= link_to 'Import people data from a Comma Separated Values (CSV) file.', import_people_path %></p>
    <% end %>

    <% if @logged_in.admin?(:export_data) %>
      <h2>Export Data</h2>
      
      <table>
        <tr>
          <th>People (<%= @person_count %>)</th>
          <td><%= link_to_with_page_prompt 'XML', people_path(:format => 'xml') %></td>
          <td><%= link_to_with_page_prompt 'CSV', people_path(:format => 'csv') %></td>
        </tr>
        <tr>
          <th>Families (<%= @family_count %>)</th>
          <td><%= link_to_with_page_prompt 'XML', families_path(:format => 'xml') %></td>
          <td><%= link_to_with_page_prompt 'CSV', families_path(:format => 'csv') %></td>
        </tr>
        <% if Setting.get(:features, :groups) %>
          <tr>
            <th>Groups (<%= @group_count %>)</th>
            <td><%= link_to_with_page_prompt 'XML', groups_path(:format => 'xml') %></td>
            <td><%= link_to_with_page_prompt 'CSV', groups_path(:format => 'csv') %></td>
          </tr>
        <% end %>
      </table>
      <p>
        Enter the page number when prompted (<%= pluralize MAX_EXPORT_AT_A_TIME, 'record' %> per page).
      </p>
    <% end %>
    
  <% end %>

  <%= render_plugin_hook :admin_dashboard_bottom %>
  
  <% if @alerts.any? %>
    <div id="alerts">
      <h2>Alerts</h2>
      <div class="very-strong">
        <%= @alerts.map { |a| "<p>#{a}</p>" } %>
      </div>
    </div>
    <script type="text/javascript">
      var elm = $('alerts');
      elm.parentNode.removeChild(elm);
      $('alerts_container').appendChild(elm);
    </script>
  <% end %>
  
</div>