.row
  .col-lg-4
    .form-group
      = form.label :name, t('admin.donation.name')
      = form.text_field :name, class: 'form-control'
  .col-lg-4
    .form-group
      = form.label :donation_type, t('admin.donation.type')
      = form.select :donation_type, DONATION_TYPE, {}, class: 'form-control'
  .col-lg-4
    .form-group
      = form.label :amount_cents, t('admin.donation.amount')
      = form.text_field :amount_cents, class: 'form-control'