- @title = t('admin.donation.report')

.row
  .col-lg-6
    %p
      = t("admin.donation.report_date") + @date.strftime("%A, %e %B %Y")
  .col-lg-6
    = link_to 'Summary', summary_administration_donations_path, class: 'btn btn-info pull-right'

%table.table.search-results
  %tr
    %th= t('admin.donation.number')
    %th= t('admin.donation.name')
    - DONATION_TYPE.each do |type|
      %th= type
  - @donations.each do |donation|
    %tr
      %td= donation.id
      %td= donation.person.try(:name) || donation.name
      - DONATION_TYPE.each do |type|
        - if donation.donation_type == type
          %td= donation.amount
        - else
          %td -