- @title = t('admin.donation.summary')

.row
  .col-lg-12
    %p
      = t("admin.donation.report_date") + @date.strftime("%A, %e %B %Y")

.row
  .col-lg-6
    %table.table.search-results
      %tr
        %th= t('admin.donation.type')
        %th= t('admin.donation.amount')
      - DONATION_TYPE.each do |type|
        %tr
          %td= type
          %td= @summary[type]