= form_for([:administration, @field]) do |form|
  = hidden_field_tag :tab_id, @field.tab_id
  = error_messages_for(form)
  .form-group
    = form.label :name
    = form.text_field :name, class: 'form-control'
  = react_component 'CustomFieldFormat', |
    name_label: CustomField.human_attribute_name(:name), |
    format_label: CustomField.human_attribute_name(:format), |
    format_options: options_from_i18n('admin.custom_fields.formats').to_a, |
    options_label: t('admin.custom_fields.options.heading'), |
    new_option_label: t('admin.custom_fields.options.new.button'), |
    field: @field, |
    options: @field.custom_field_options
  .form-group
    = form.button t('save'), class: 'btn btn-success'
