= form_for([:administration, @field]) do |form|
  = error_messages_for(form)
  .form-group
    = form.label :name
    = form.text_field :name, class: 'form-control'
  .form-group
    = form.label :format
    = form.select :format, options_from_i18n('admin.custom_fields.formats'), {}, class: 'form-control'
  .form-group
    = form.button t('save'), class: 'btn btn-success'
