= form_for([:administration, @field]) do |form|
  = error_messages_for(form)
  .form-group
    = form.label :name
    = form.text_field :name, class: 'form-control'
  = react_component 'CustomFieldFormat', |
    name_label: CustomField.human_attribute_name(:name), |
    format_label: CustomField.human_attribute_name(:format), |
    format_options: options_from_i18n('admin.custom_fields.formats').to_a, |
    field: @field
  .form-group
    = form.button t('save'), class: 'btn btn-success'
