- @title = t('admin.custom_fields.heading')

%p= t('admin.custom_fields.intro')

- if @fields.any?
  %table.table
    %thead
      %tr
        %th
        %th= CustomField.human_attribute_name(:name)
        %th= CustomField.human_attribute_name(:format)
    %tbody.sortable
      - @fields.each do |field|
        %tr{ data: { update_position_path: update_position_administration_custom_field_path(field) } }
          %td.handle{ style: 'width: 25px' }
            = icon 'fa fa-reorder', style: 'color: #999'
          %td= field.name
          %td= options_from_i18n('admin.custom_fields.formats').invert[field.format.to_sym]
          %td.actions
            = link_to edit_administration_custom_field_path(field), class: 'btn btn-info btn-xs' do
              = icon 'fa fa-pencil'
            = link_to administration_custom_field_path(field), class: 'btn btn-delete btn-xs', data: { method: 'delete', confirm: t('are_you_sure') } do
              = icon 'fa fa-trash-o'

.page-controls.push-down
  = link_to t('admin.custom_fields.new.button'), new_administration_custom_field_path, class: 'btn btn-success'
