<% content_for :subnav do %>
  <li><%= link_to image_tag('eye.png', :alt => t('groups.view_group'), :class => 'icon') + ' ' + t('groups.view_group'), @group %></li>
<% end %>

<p>
  <%= label_tag :attended_at, t('attendance.date') + ':', :class => 'inline' %>
  <%= text_field_tag :attended_at, @attended_at.to_s(:date), :onchange => "location.href='?attended_at='+encodeURIComponent(this.value)" %>
</p>

<%= form_tag batch_group_attendance_index_path(@group), :id => 'attendance_form' do %>
  <%= hidden_field_tag :attended_at, @attended_at %>
  <ul style="list-style:none;">
    <% @records.each do |person, record| %>
      <li>
        <%= check_box_tag 'ids[]', person.id, record ? true : false, :id => "ids_#{person.id}" %>
        <%= label_tag "ids_#{person.id}", person.name, :class => 'inline' %>
      </li>
    <% end %>
  </ul>
  <p><%= submit_tag t('attendance.save') %></p>
<% end %>

<%= form_tag search_path, :remote => true, :style => 'border:none;' do %>
  <%= hidden_field_tag :select_person, true %>
  <p>
    <label for="add_person_name"><%= t('attendance.add_somebody_not_in_group') %>:</label>
    <%= text_field_tag 'name', nil, :id => 'add_person_name' %>
    <%= submit_tag t('search.search_by_name') %>
  </p>
<% end %>

<div id="add_member" style="display:none;">
  <%= form_tag group_attendance_index_path(@group), :method => 'post',
    :id => 'add_people_form', :style => 'border:none;' do %>
    <%= hidden_field_tag :attended_at, @attended_at %>
    <div id="results"></div>
    <p><%= submit_tag t('search.add_selected') %></p>
  <% end %>
</div>

<script type="text/javascript">
  $('#attended_at' ).datepicker();
</script>
