- @title = t('attendance.heading_without_date', group: @group.name)

%p

= form_tag batch_group_attendance_index_path(@group), id: 'attendance_form' do
  = hidden_field_tag :public, true
  = hidden_field_tag :token, params[:token]
  .form-group
    = label_tag :attended_at, t('attendance.date')
    .input-group
      .input-group-btn
        %button{ type: 'button', class: 'btn btn-info date-picker-btn' }
          = icon 'fa fa-calendar'
      = date_field_tag :attended_at, @attended_at.to_s(:date), class: 'form-control'
  .form-group
    %ul.list-unstyled
      - @records.each do |person, record|
        %li
          = check_box_tag 'ids[]', person.id, false, id: "ids_#{person.id}"
          = label_tag "ids_#{person.id}", person.name, class: 'inline'
  .form-group
    = button_tag t('attendance.save'), class: 'btn btn-success'
