<h1><%= t('admin.api') %></h1>

<% if @key %>

  <p><%= t('admin.api_login_details') %>:</p>
  <table>
    <tr>
      <th style="text-align:right;"><%= t('admin.username') %>:</th>
      <td><%= @logged_in.email %></td>
    </tr>
    <tr>
      <th style="text-align:right;"><%= t('admin.key') %>:</th>
      <td><code id="key" style="display:none;"><%= @key %></code><%= link_to_function t('admin.display'), "$('#key').show();$('#key_link').hide();", id: 'key_link' %></td>
    <tr/>
  </table>
  
  <p><%= link_to t('admin.generate'), administration_api_key_path, method: 'post', data: { confirm: t('admin.invalidate_confirmation') } %>
  <%= t('admin.new_api_or') %> <%= link_to 'disable', administration_api_key_path, method: 'delete', data: { confirm: t('are_you_sure') } %> <%= t('admin.your_key') %>.</p>
  
  <h2><%= t('Help') %></h2>
  
  <p>
    <%= t('admin.rest_api_information') %>:
  </p>
  
  <pre>
    require 'rubygems'
    require 'activeresource'
    
    class Person < ActiveResource::Base
      self.site = 'https://beonebody.com/api/<%= Site.current.host %>/'
      self.user = 'user@example.com'
      self.password = 'api-key-goes-here'
    end
    
    Person.find(1)
    # => &lt;Person ...&gt;
  </pre>

<% else %>

  <p><%= t('admin.no_api_key') %>
  <%= link_to t('admin.enable'), administration_api_key_path, method: 'post', data: { confirm: t('admin.enable_api_confirmation') } %>
  <%= t('admin.your_key') %>.</p>

<% end %>
