<h1>
  <%= @attended_at.to_time.to_s(:date) %>
  Attendance
  <% if @group %>for <%=h @group.name %><% end %>
</h1>

<p>
  <%= pluralize @record_count, 'record' %>
</p>

<p class="no-print">
  <%= label_tag :attended_at, 'Date:', :class => 'inline' %>
  <%= date_field_tag :attended_at, @attended_at, :onchange => "location.href='?attended_at='+encodeURIComponent(this.value)" %>
  <%= label_tag :group_name, 'Group:', :class => 'inline' %>
  <%= select_tag :group_name, options_for_select(['']) + options_from_collection_for_select(@groups, :id, :name, params[:group_id].to_i), :onchange => "location.href='?attended_at='+encodeURIComponent($('attended_at').value)+'&group_id='+this.value" %>
</p>

<%= will_paginate @records, :params => {:sort => params[:sort], :group_id => params[:group_id]} %>

<table>
  <tr>
    <th>ID</th>
    <th><%= sortable_column_heading 'Name',          'attendance_records.last_name,attendance_records.first_name' %></th>
    <th>Adult</th>
    <th><%= sortable_column_heading 'Group',         'groups.name'                                                %></th>
    <th><%= sortable_column_heading 'Class Time',    'attendance_records.attended_at'                             %></th>
    <th><%= sortable_column_heading 'Recorded Time', 'attendance_records.created_at'                              %></th>
  </tr>
  <% @records.each do |record| %>
    <tr id="record<%= record.id %>">
      <td>
        <%=h record.person_id %>
      </td>
      <td>
        <% if record.person %>
          <%= link_to h(record.person.name), record.person %>
        <% else %>
          <%= record.first_name %> <%= record.last_name %>
        <% end %>
      </td>
      <td>
        <% if record.person && record.person.adult? %>adult<% end %>
      </td>
      <td>
        <% if record.group %>
          <%= link_to h(record.group.name), record.group %>
        <% else %>
          <em>group missing</em>
        <% end %>
      </td>
      <td>
        <%= record.attended_at.to_s(:time) %>
      </td>
      <td>
        <%= record.created_at.to_s(:time) %>
      </td>
      <td>
        <%= link_to_remote image_tag('delete.png', :alt => 'Delete', :class => 'icon no-print'), :url => administration_attendance_path(record), :method => 'delete', :confirm => 'Are you sure you want to delete this record?' %>
      </td>
    </tr>
  <% end %>
</table>

<%= will_paginate @records, :params => {:sort => params[:sort], :group_id => params[:group_id], :attended_at => params[:attended_at]} %>

<% if @records.any? %>
  <p>
    <%= link_to 'Export to File', administration_attendance_index_path(:format => 'csv', :attended_at => @attended_at) %>
  </p>
<% else %>
  <p><em>no records to display</em></p>
<% end %>

<%= calendar_date_select_includes 'silver' %>
