<h1>
  <%= @attended_at.to_time.to_s(:date) %>
  <%= I18n.t('attendance.attendance') %>
  <% if @group %><%= I18n.t('for') %> <%=h @group.name %><% end %>
</h1>

<p>
  <%= pluralize @record_count, I18n.t('import.record') %>
</p>

<p class="no-print">
  <%= label_tag :attended_at, I18n.t('attendance.date') + ':', :class => 'inline' %>
  <%= date_field_tag :attended_at, @attended_at, :onchange => "location.href='?attended_at='+encodeURIComponent(this.value)" %>
  <%= label_tag :group_name, I18n.t('attendance.group') + ':', :class => 'inline' %>
  <%= select_tag :group_name, options_for_select(['']) + options_from_collection_for_select(@groups, :id, :name, params[:group_id].to_i), :onchange => "location.href='?attended_at='+encodeURIComponent($('attended_at').value)+'&group_id='+this.value" %>
</p>

<%= will_paginate @records, :params => {:sort => params[:sort], :group_id => params[:group_id]} %>

<table>
  <tr>
    <th><%= I18n.t('attendance.id') %></th>
    <th><%= sortable_column_heading I18n.t('attendance.name'),          'attendance_records.last_name,attendance_records.first_name' %></th>
    <th><%= I18n.t('attendance.adult') %></th>
    <th><%= sortable_column_heading I18n.t('attendance.group'),         'groups.name'                                                %></th>
    <th><%= sortable_column_heading I18n.t('attendance.class_time'),    'attendance_records.attended_at'                             %></th>
    <th><%= sortable_column_heading I18n.t('attendance.recorded_time'), 'attendance_records.created_at'                              %></th>
  </tr>
  <% @records.each do |record| %>
    <tr id="record<%= record.id %>">
      <td>
        <%=h record.person_id %>
      </td>
      <td>
        <% if record.first_name.to_s.any? %>
          <% if record.person %>
            <%= link_to h("#{record.first_name} #{record.last_name}"), record.person %>
          <% else %>
            <%=h record.first_name %> <%=h record.last_name %>
          <% end %>
        <% elsif record.person %>
          <%= link_to h(record.person.name), record.person %>
        <% else %>
          <%= '(' + I18n.t('attendance.name_unknown') + ')' %>
        <% end %>
      </td>
      <td>
        <% if record.person && record.person.adult? %><%= I18n.t('attendance.adult') %><% end %>
      </td>
      <td>
        <% if record.group %>
          <%= link_to h(record.group.name), record.group %>
        <% else %>
          <em><%= I18n.t('attendance.group_missing') %></em>
        <% end %>
      </td>
      <td>
        <%= record.attended_at.to_s(:time) %>
      </td>
      <td>
        <%= record.created_at.to_s(:time) %>
      </td>
      <td>
        <%= link_to image_tag('delete.png', :alt => I18n.t('Delete'), :class => 'icon no-print'), :remote => true, :url => administration_attendance_path(record), :method => 'delete', :confirm => I18n.t('are_you_sure') %>
      </td>
    </tr>
  <% end %>
</table>

<%= will_paginate @records, :params => {:sort => params[:sort], :group_id => params[:group_id], :attended_at => params[:attended_at]} %>

<% if @records.any? %>
  <p>
    <%= link_to I18n.t('attendance.export'), administration_attendance_index_path(:format => 'csv', :attended_at => @attended_at) %>
  </p>
<% else %>
  <p><em><%= I18n.t('attendance.no_records') %></em></p>
<% end %>

<p>
  <% form_tag administration_attendance_index_path, :method => :get do %>
    <%= hidden_field_tag :attended_at, @attended_at %>
    <%= label_tag :person_name, I18n.t('attendance.search_person') + ':', :class => 'inline' %>
    <%= text_field_tag :person_name, params[:person_name], :size => 15 %>
    <%= submit_tag I18n.t('attendance.Search') %>
    <% if params[:person_name] %><%= link_to I18n.t('attendance.clear_search'), administration_attendance_index_path(:attended_at => @attended_at) %><% end %>
  <% end %>
</p>

<p>
  <%= link_to '&laquo; ' + I18n.t('attendance.prev_date'), prev_administration_attendance_path(:attended_at => @attended_at) %> |
  <%= link_to I18n.t('attendance.next_date') + ' &raquo;', next_administration_attendance_path(:attended_at => @attended_at) %>
</p>

<%= calendar_date_select_includes 'silver' %>
