<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <title><%= Setting.get(:name, :site) %></title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta http-equiv="Pragma" content="no-cache"/>
  <meta http-equiv="no-cache"/>
  <meta http-equiv="Expires" content="-1"/>
  <meta http-equiv="Cache-Control" content="no-cache"/> 
  <link rel="stylesheet" href="/stylesheets/aqueouslight.css" type="text/css" media="screen,projection" />
  <link rel="stylesheet" href="/stylesheets/print.css" type="text/css" media="print" />
  <link rel="search" type="application/opensearchdescription+xml" href="<%= formatted_opensearch_search_path(:format => 'xml') %>" title="<%= Setting.get(:name, :site) %> Search" />
  <%= javascript_include_tag :defaults %>
  <%= yield :head %>
</head>
 
<body>

<% if message = Setting.get(:features, :banner_message) %>
  <div id="banner"><%= message %></div>
<% end %>

<div id="wrapper">
<div id="innerwrapper">

		<div id="header">
		
			  <%= form_tag(search_path, :method => 'get', :style => @logged_in.nil? && 'visibility:hidden;') %>
			    Type a name and hit enter:<br/>
				  <input name="quick_name" id="search_name" onfocus="if(this.value == 'People Search') this.value = ''" onblur="if(this.value == '') this.value = 'People Search'"/>
			  </form>
				
				<script type="text/javascript"> $('search_name').value = 'People Search' </script>
				
				<h1>
				  <a href="/"><%= Setting.get(:name, :site) %></a><% if BETA %><sup style="font-size:40%">[beta]</sup><% end %>
				</h1>
        <div style="float:left;clear:left;font-size:10pt;margin-left:5px;margin-top:-10px;width:300px;white-space:nowrap;">
          <%= simple_url(Setting.get(:url, :site)) %> | <span id="news_headlines" style="position:relative;background-color:#fff;"><%= link_to simple_url(Setting.get(:url, :visitor)), Setting.get(:url, :visitor), :style => 'text-decoration:none;' %></span>
        </div>

        <% if Setting.get(:features, :prayer) %>
          <div style="padding-top:5px;font-size:9pt;">
            <%= link_to image_tag('prayer_signup.png', :alt => 'Prayer Week', :class => 'no-border'), prayer_event_path %>
          </div>
        <% end %>

				<ul id="nav">
				
				    <% if @logged_in %>
				      <li style="float:right;font-size:smaller;color:#fff;text-align:right;">
				        <%= link_to 'sign out', session_path, :method => 'delete', :style => 'padding-left:5px;padding-right:5px;' %>
				      </li>
              <% if @logged_in.admin? %>
                <li style="float:right;font-size:smaller;color:#fff;text-align:right;margin-right:10px;">
                  <%= link_to 'admin', admin_path, :style => 'padding-left:5px;padding-right:5px;' %>
                </li>
              <% end %>
				    <% end %>
				    
            <li><%= link_to 'Home', home_path, :class => (params[:controller] == 'pages' and @page and @page.home? ? 'active' : nil) %></li>
				    <li><%= link_to 'Profile', people_path, :class => (params[:controller] == 'people' and @person == @logged_in ? 'active' : nil) %></li>
				    <li><%= link_to 'Directory', new_search_path, :class => (%w(searches printable_directories).include?(params[:controller]) ? 'active' : nil) %></li>
				    <li><%= link_to 'Groups', groups_path, :class => (params[:controller] == 'groups' ? 'active' : nil) %></li>
				    <li><%= link_to 'More', shares_path, :class => (['shares', 'events', 'pictures', 'verses', 'recipes'].include?(params[:controller]) ? 'active' : nil) %></li>

				</ul>

        <% if subnav = yield(:subnav) %>
          <div id="subnav">
            <%= subnav %>
          </div>
        <% end %>
		</div>

    <% if flash[:warning] or flash[:notice] %>
      <div id="notice" <% if flash[:warning] %>class="warning"<% end %>><%= flash[:warning] || flash[:notice] %></div>
      <script type="text/javascript">
       setTimeout("new Effect.Fade('notice');", 15000)
     </script>
    <% end %>
    
    <% if flash[:refresh] %>
      <script type="text/javascript">
        location.reload();
      </script>
      <noscript>
        <p><strong>You may need to click the Refresh button on your browser.</strong></p>
      </noscript>
    <% end %>
		
		<% if wide = yield(:wide) %>
  		<div id="wide">
	  	  <%= wide %>
		  </div>
		<% end %>
		
		<% if sidebar = yield(:sidebar) %>
  		<div id="sidebar">
    		<%= sidebar %>
		  </div>
		<% end %>
				
		<div id="contentnorightbar" <% if sidebar.to_s.empty? %>style="margin-left:0px;padding-left:0px;"<% end %>>
		  <%= yield %>
		</div>
		
		<div id="footer">
      &copy; <%= session[:copyright_year] ||= Date.today.year %>, <%= Setting.get(:name, :church) %> |
      <a href="/help/privacy_policy">Privacy Policy</a> |
      <%= link_to 'Credits', '/help/credits' %> |
      Powered by <a href="http://beonebody.org">OneBody</a>
		</div>
		
</div>
</div>

<% unless @logged_in.nil? or RAILS_ENV != 'production' %>
  <script type="text/javascript" src="/news.js"></script>
<% end %>

<% if RAILS_ENV == 'production' %><%= Setting.get(:services, :analytics) %><% end %>

</body>
</html>
