<% content_for :sidebar do %>
  <h2><%= @album.name %> <% if @album.group %><%= t('in') %> <%= link_to @album.group.name, @album.group %><% end %></h2>

  <p><%= @album.description %></p>

  <% if @album.person %>
    <p><%= t('by') %> <%= link_to @album.person.name, @album.person %></p>
  <% end %>

  <% if @logged_in.can_edit?(@album) %>
    <%= render partial: 'upload' %>
    <p class="double-margin-top discreet">
      <%= link_to t('pictures.edit_album'), edit_album_path(@album), class: 'edit-icon' %><br/>
      <%= link_to t('pictures.delete_album'), @album, method: :delete, data: { confirm: t('are_you_sure') }, class: 'delete-icon' %>
    </p>
  <% end %>
<% end %>

<%= will_paginate @pictures %>

<% @pictures.each do |picture| %>
  <%= link_to image_tag(picture.photo.url(:medium), alt: t('pictures.click_to_enlarge'), class: 'picture'),
      [@album, picture], title: t('pictures.click_to_enlarge') %>
<% end %>

<% if @pictures.empty? %>
  <p><%= image_tag('missing_large.png', alt: t('none')) %></p>
<% end %>

<br clear="both"/>

<%= will_paginate @pictures %>

