- @title = @album.name

%p= @album.description

= pagination @pictures

.pictures
  - @pictures.each do |picture|
    = link_to image_tag(picture.photo.url(:small), alt: t('pictures.click_to_enlarge'), class: 'picture thumbnail'), |
      [@album, picture], title: t('pictures.click_to_enlarge')                                              |

- if @pictures.empty?
  %p= t('pictures.none')

= pagination @pictures

- if @logged_in.can_create?(@album.pictures.new)
  .box.box-success
    .box-header
      %h2.box-title Upload
    .box-body
      = form_for [@album, @album.pictures.new], html: { multipart: true } do
        = picture_upload(@album)

- if @logged_in.can_edit?(@album)
  %p
    = link_to edit_album_path(@album), class: 'btn btn-info' do
      = icon 'fa fa-pencil'
      = t('albums.edit.button')
    = link_to @album, data: { method: :delete, confirm: t('are_you_sure') }, class: 'btn btn-delete' do
      = icon 'fa fa-trash-o'
      = t('albums.delete.button')
