<% content_for :sidebar do %>
  <h2><%= link_to @picture.album.name, @picture.album %></h2>
  <% if @picture.album.group %>
    <p>in <%= link_to @picture.album.group.name, @picture.album.group %></p>
  <% end %>
  <% if @picture.person %>
    <p>
      <%= t('pictures.picture_uploaded_by', when: @picture.created_at.to_s(:full)) %><br/>
      <%= render partial: 'people/thumbnail', locals: {person: @picture.person} %>
      <%= link_to @picture.person.name, @picture.person %><br/>
    </p>
  <% end %>
  <% if @picture.original_url %>
    <p>
      <%= t('From') %> <%= link_to domain_name_from_url(@picture.original_url), @picture.original_url %>
    </p>
  <% end %>
  <% if @logged_in.can_edit?(@picture) %>
    <h3><%= t('Modify') %></h3>
    <p>
      <%= link_to t('pictures.rotate_left'), album_picture_path(@album, @picture, degrees: -90), data: { confirm: t('are_you_sure') }, method: 'put', class: 'rotate-ccw-icon' %><br/>
      <%= link_to t('pictures.rotate_right'), album_picture_path(@album, @picture, degrees: 90), data: { confirm: t('are_you_sure') }, method: 'put', class: 'rotate-cw-icon' %><br/>
      <%= link_to t('pictures.set_as_cover'), album_picture_path(@album, @picture, cover: true), data: { confirm: t('are_you_sure') }, method: 'put', class: 'heart-icon' %>
    </p>
    <p>
      <%= link_to t('Delete'), album_picture_path(@album, @picture), data: { confirm: t('are_you_sure') }, method: 'delete', class: 'delete-icon' %><br/>
    </p>
  <% end %>
<% end %>

<p>
  <%= link_to t('pictures.prev'), prev_album_picture_path(@album, @picture) %>
  |
  <%= link_to t('pictures.next'), next_album_picture_path(@album, @picture) %>
</p>

<p>
  <%= link_to image_tag(@picture.photo.url(:large), alt: t('pictures.click_to_see_original')), @picture.original_url || @picture.photo.url %>
</p>
<% if Setting.get(:privacy, :allow_picture_comments) %>
<h3><%= t('Comments') %></h3>
<%= render partial: 'comments/comments', locals: {object: @picture, intro: t('pictures.comment_on_this_picture')} %>
<% end %>
