<%= render :partial => 'shares/subnav' %>

<% content_for :sidebar do %>
  <h1><%= link_to h(@picture.event.name), @picture.event %></h1>
  <% if @picture.event.when %>
    <p class="below-h1"><%= @picture.event.when.strftime '%B %d, %Y %I:%M %p' %></p>
  <% end %>
  <% if @picture.person %>
    <p>
      Picture uploaded by:<br/>
      <%= link_to h(@picture.person.name), person_path(@picture.person) %><br/>
      <%= @picture.created_at.strftime '%m/%d/%Y %I:%M %p' %>
    </p>
  <% end %>
  <% if @picture.event.admin?(@logged_in) %>
    <p>
      Rotate:
      <%= link_to 'Left', rotate_picture_path(@picture, :degrees => -90), :confirm => 'Are you sure?', :method => 'post' %> |
      <%= link_to 'Right', rotate_picture_path(@picture, :degrees => 90), :confirm => 'Are you sure?', :method => 'post' %><br/>
      <%= link_to 'Make Cover for Event', select_event_cover_path(@picture), :method => 'post' %><br/>
      <%= link_to 'Delete Picture', delete_picture_path(@picture), :confirm => 'Are you sure?', :method => 'post' %>
    </p>
  <% end %>
<% end %>

<p>
  <%= link_to '&laquo; prev', previous_picture_path(@picture) %>
  |
  <%= link_to 'next &raquo;', next_picture_path(@picture) %>
</p>

<p>
  <%= link_to image_tag(picture_photo_path("#{@picture.id}.large.jpg"), :alt => 'click to see full size'), picture_photo_path("#{@picture.id}.jpg") %>
</p>

<!-- updates all the sizes on a refresh -->
<div style="display:none;">
  <%= image_tag picture_photo_path("#{@picture.id}.medium.jpg"), :alt => 'refresh' %>
  <%= image_tag picture_photo_path("#{@picture.id}.small.jpg"), :alt => 'refresh' %>
  <%= image_tag picture_photo_path("#{@picture.id}.tn.jpg"), :alt => 'refresh' %>
</div>
