<% content_for :sidebar do %>
  <h1><%=h @event.name %></h1>
  <% if @event.description.to_s.any? %>
    <p><%=h @event.description %></p>
  <% end %>
  <% if @event.when %>
    <p>
      <%=h @event.when.strftime '%m/%d/%Y' %>
      <% unless (time = @event.when.strftime '%I:%M %p') == '12:00 AM' %><%= time %><% end %>
    </p>
  <% end %>
  <p>
    Event created by:<br/>
    <%= render :partial => 'people/link', :locals => {:person => @event.person} %>
  </p>
<% end %>

<% content_for :subnav do %>
  <li><%= link_to 'List of Events', :action => 'index' %></li>
  <% if @event.admin?(@logged_in) %>
    <li><%= link_to 'Edit Event', :action => 'edit', :id => @event %></li>
  <% end %>
<% end %>

<div style="float:left;">

  <% @event.pictures.each do |picture| %>
    <div class="picture">
      <%= link_to image_tag(url_for(:action => 'photo', :id => "#{picture.id}.medium.jpg"), :alt => 'click to enlarge'),
        {:action => 'view', :id => picture}, :title => 'click to enlarge' %>
    </div>
  <% end %>

  <% if @event.pictures.count == 0 %>
    <p><em>This event doesn't have any pictures yet.</em></p>
  <% end %>

  <% if @event.open? or @event.admin? @logged_in %>
    <p style="clear:left;">
      <%= form_tag({:action => 'add_picture', :id => @event}, :multipart => true) %>
        <label for="picture">Add a Picture:</label>
        <%= file_field_tag 'picture1' %><br/>
        <%= link_to_function 'upload more &raquo;', 'Element.show("more_upload");Element.hide(this)', :class => 'discreet' %>
        <span id="more_upload" style="display:none;">
          <%= file_field_tag 'picture2' %><br/>
          <%= file_field_tag 'picture3' %><br/>
          <%= file_field_tag 'picture4' %><br/>
          <%= file_field_tag 'picture5' %><br/>
          <%= file_field_tag 'picture6' %><br/>
          <%= file_field_tag 'picture7' %><br/>
          <%= file_field_tag 'picture8' %><br/>
          <%= file_field_tag 'picture9' %><br/>
          <%= file_field_tag 'picture10' %><br/>
        </span>
        <br/>
        <% if @logged_in.admin? %>
          <%= check_box_tag 'remove_owner', true, false, :class => 'checkbox' %>
          Don't show this upload set on my profile.
          <br/>
        <% end %>
        <%= submit_tag 'Upload!' %>
      </form>
    </p>
  <% end %>
  
</div>