<%= render :partial => 'shares/subnav' %>

<% content_for :sidebar do %>
  <h1><%= link_to h(@picture.event.name), @picture.event %></h1>
  <% if @picture.event.when %>
    <p class="below-h1"><%= @picture.event.when.strftime '%B %d, %Y %I:%M %p' %></p>
  <% end %>
  <% if @picture.person %>
    <p>
      Picture uploaded by:<br/>
      <%= link_to h(@picture.person.name), person_path(@picture.person) %><br/>
      <%= @picture.created_at.strftime '%m/%d/%Y %I:%M %p' %>
    </p>
  <% end %>
  <% if @picture.event.admin?(@logged_in) %>
    <p>
      Rotate:
      <%= link_to 'Left', rotate_picture_path(@picture, :degrees => -90), :confirm => 'Are you sure?', :method => 'post' %> |
      <%= link_to 'Right', rotate_picture_path(@picture, :degrees => 90), :confirm => 'Are you sure?', :method => 'post' %><br/>
      <%= link_to 'Make Cover for Event', select_event_cover_path(@picture), :method => 'post' %><br/>
      <%= link_to 'Delete Picture', delete_picture_path(@picture), :confirm => 'Are you sure?', :method => 'post' %>
    </p>
  <% end %>
<% end %>

<p>
  <%= link_to '&laquo; prev', previous_picture_path(@picture) %>
  |
  <%= link_to 'next &raquo;', next_picture_path(@picture) %>
</p>

<p>
  <%= link_to image_tag(photo_with_size_path(@picture, :size => 'large', :type => 'picture'), :alt => 'click to see full size'),
   photo_path(@picture, :type => 'picture') %>
</p>

<!-- updates all the sizes on a refresh -->
<% if params[:refresh] %>
  <div style="display:none;">
    <%= image_tag photo_with_size_path(@picture, :size => 'medium', :type => 'picture'), :alt => 'refresh' %>
    <%= image_tag photo_with_size_path(@picture, :size => 'small',  :type => 'picture'), :alt => 'refresh' %>
    <%= image_tag photo_with_size_path(@picture, :size => 'tn',     :type => 'picture'), :alt => 'refresh' %>
  </div>
<% end %>