<h2><%= I18n.t("search_results") %></h2>

<% if @families and @families.any? %>

  <p>
    <%= pluralize @count, I18n.t("family")%> <%= I18n.t("found") %>
    <%= will_paginate @families %>
  </p>

  <table>
    <tr>
      <th><%= I18n.t("family_name") %></th>
    </tr>
    <% @families.each do |family| %>
      <tr>
        <td>
          <%=h family.name %>
        </td>
      </tr>
    <% end %>
  </table>

  <%= will_paginate @families %>

<% else %>

  <p><em><%= I18n.t("your_search_didnt_match_any_families") %></em></p>

<% end %>
