<h2><%= I18n.t('global.search_results') %></h2>

<p><%= I18n.t("search.families_found", :count => @count) %></p>

<%= will_paginate @families %>

<% if @families and @families.any? %>
  <table>
    <tr>
      <th><%= I18n.t('search.family_name') %></th>
    </tr>
    <% @families.each do |family| %>
      <tr>
        <td>
          <%=h family.name %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>

<%= will_paginate @families %>
