<h2><%= t('search_results') %></h2>

<p><%= t("search.families_found", count: @search.count) %></p>

<%= will_paginate @families %>

<% if @families and @families.any? %>
  <table>
    <tr>
      <th><%= t('search.family_name') %></th>
    </tr>
    <% @families.each do |family| %>
      <tr>
        <td>
          <%= family.name %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>

<%= will_paginate @families %>
