<%= form_tag(search_path, method: 'post', id: 'search-form') do %>
  <%= hidden_field_tag :advanced, true %>
  <h2><%= t('search.advanced_search') %></h2>
  <label for="name_search"><%= t('search.name') %>:</label>
  <%= text_field_tag 'name', params[:name], id: 'name_search' %><br/>
  <label for="birthday_month"><%= t('search.birthday') %>:</label>
  <select name="birthday[month]" id="birthday_month">
    <option value=""></option>
    <%= options_for_select MONTHS_FOR_SELECT, params[:birthday].try(:[], :month).to_i %>
  </select>
  <select name="birthday[day]" id="birthday_day">
    <option value=""></option>
    <%= options_for_select 1..31, params[:birthday].try(:[], :day).to_i %>
  </select><br/>
  <label for="anniversary_month"><%= t('search.anniversary') %>:</label>
  <select name="anniversary[month]" id="anniversary_month">
    <option value=""></option>
    <%= options_for_select MONTHS_FOR_SELECT, params[:anniversary].try(:[], :month).to_i %>
  </select>
  <select name="anniversary[day]" id="anniversary_day">
    <option value=""></option>
    <%= options_for_select 1..31, params[:anniversary].try(:[], :day).to_i %>
  </select><br/>
  <label for="gender"><%= t('search.gender') %>:</label>
  <select name="gender" id="gender">
    <option value=""></option>
    <%= options_for_select ([[t('search.male'), 'Male'], [t('search.female'), 'Female']]), params[:gender] %>
  </select>
  <label for="address_city"><%= t('search.city') %>:</label>
  <%= text_field_tag 'address[city]', params[:address].try(:[], :city) %><br/>
  <label for="address_state"><%= t('search.state') %>:</label>
  <%= text_field_tag 'address[state]', params[:address].try(:[], :state) %><br/>
  <label for="address_zip"><%= t('search.zip') %>:</label>
  <%= text_field_tag 'address[zip]', params[:address].try(:[], :zip) %><br/>
  <label for="type"><%= t('type') %>:</label>
  <select name="type" id="type">
    <option value=""><%= t('search.all') %></option>
    <%= options_for_select ([[t('search.member'), 'member'], [t('search.staff'), 'staff'], [t('search.deacon'), 'deacon'], [t('search.elder'), 'elder']]) + (Setting.get(:features, :custom_person_type) ? Person.custom_types : []), params[:type] %>
  </select><br/>
  <%= check_box_tag :show_hidden, true, params[:show_hidden], class: 'checkbox' %> <label for="show_hidden" class="inline"><%= t('search.show_hidden') %></label><br/>
  <br/>
  <%= submit_tag t('search.search') %>
<% end %>

<script type="text/javascript">
  $('#name_search').get(0).focus();
  function search() {
    if(window.searchRequest) searchRequest.abort();
    $('#searching').show();
    $('#results').html('');
    searchRequest = $.post(
      "<%= search_path(format: 'js') %>",
      $('#search-form').serialize(),
      function(){ $('#searching').hide() },
      'script'
    );
  }
</script>
