<% form_tag(search_path, :method => 'get', :id => 'search-form') do %>
  <h2>Advanced Search</h2>
  <label for="name">Name:</label>
  <%= text_field_tag 'name', params[:name] %><br/>
  <label for="birthday_month">Birthday:</label>
  <select name="birthday_month" id="birthday_month">
    <option value=""></option>
    <%= options_for_select MONTHS_FOR_SELECT, params[:birthday_month].to_i %>
  </select>
  <select name="birthday_day" id="birthday_day">
    <option value=""></option>
    <%= options_for_select 1..31, params[:birthday_day].to_i %>
  </select><br/>
  <label for="anniversary_month">Anniversary:</label>
  <select name="anniversary_month" id="anniversary_month">
    <option value=""></option>
    <%= options_for_select MONTHS_FOR_SELECT, params[:anniversary_month].to_i %>
  </select>
  <select name="anniversary_day" id="anniversary_day">
    <option value=""></option>
    <%= options_for_select 1..31, params[:anniversary_day].to_i %>
  </select><br/>
  <label for="gender">Gender:</label>
  <select name="gender" id="gender">
    <option value=""></option>
    <%= options_for_select %w(Male Female), params[:gender] %>
  </select>
  <label for="city">City:</label>
  <%= text_field_tag :city, params[:city] %><br/>
  <label for="state">State:</label>
  <%= text_field_tag :state, params[:state] %><br/>
  <label for="zip">Zip:</label>
  <%= text_field_tag :zip, params[:zip] %><br/>
  <label for="type">Type:</label>
  <select name="type" id="type">
    <option value="">All</option>
    <%= options_for_select %w(Member Staff Deacon Elder) + (Setting.get(:features, :custom_person_type) ? Person.custom_types : []), params[:type] %>
  </select><br/>
  <%= check_box_tag :show_hidden, true, params[:show_hidden], :class => 'checkbox' %> Show Hidden
  <input type="submit" value="Search"/>
<% end %>

<script type="text/javascript">
//<![CDATA[
  $('name').focus();
  function search() {
    new Ajax.Request('<%= search_path %>', {asynchronous:true, evalScripts:true, parameters:Form.serialize($('search-form')), onLoading:function(){$('results').innerHTML='';Element.show('searching')}, onComplete:function(){Element.hide('searching')}});
  }
//]]>
</script>

<%= observe_field :name,              :url => search_path, :function => 'search()', :frequency => 2 %>
<%= observe_field :birthday_month,    :url => search_path, :function => 'search()' %>
<%= observe_field :birthday_day,      :url => search_path, :function => 'search()' %>
<%= observe_field :anniversary_month, :url => search_path, :function => 'search()' %>
<%= observe_field :anniversary_day,   :url => search_path, :function => 'search()' %>
<%= observe_field :gender,            :url => search_path, :function => 'search()' %>
<%= observe_field :city,              :url => search_path, :function => 'search()', :frequency => 2 %>
<%= observe_field :state,             :url => search_path, :function => 'search()', :frequency => 2 %>
<%= observe_field :zip,               :url => search_path, :function => 'search()', :frequency => 2 %>
<%= observe_field :type,              :url => search_path, :function => 'search()', :frequency => 2 %>
<%= observe_field :show_hidden,       :url => search_path, :function => 'search()', :frequency => 2 %>

