<% @people.each do |person| %>
  <li class="arrow">
    <a href="<%= person_url(:id => person) %>">
      <div class="thumbnail">
        <% if person.has_photo? %>
          <%= image_tag tn_person_photo_path(person), :alt => person.name, :class => 'no-border' %>
        <% elsif person.family and person.family.has_photo? %>
          <%= image_tag tn_family_photo_path(person.family), :alt => person.family.name, :class => 'no-border' %>
        <% else %>
          <% if person.gender.to_s == 'Female' %>
            <%= image_tag 'woman.tn.gif', :alt => person.name, :class => 'icon thumbnail' %>
          <% else %>
            <%= image_tag 'man.tn.gif', :alt => person.name, :class => 'icon thumbnail' %>
          <% end %>
        <% end %>
      </div>
      <%=h person.name %>
    </a>
  </li>
<% end %>
<% if @people.current_page < @people.total_pages %>
  <li id="more_link">
    <%= link_to_function 'Load more...', "load_results(#{@people.current_page + 1})" %>
  </li>
<% end %>
