<%= will_paginate @people, params: params_without_action %>

<% if @people and @people.any? %>

  <table class="search-results">
    <tr>
      <th></th>
      <% if @search.business %>
        <th><%= t('search.business') %></th>
        <th><%= t('search.category') %></th>
      <% else %>
        <th><%= t('search.name') %></th>
        <th><%= t('search.family_name') %></th>
      <% end %>
      <% if show_birthdays? %>
        <th><%= t('search.birthday') %></th>
      <% end %>
    </tr>
    <% @people.each do |person| %>
      <tr>
        <td>
          <a href="<%= person_url(id: person) %>">
            <% if person.photo.exists? %>
              <%= image_tag person.photo.url(:tn), alt: person.name, class: 'no-border' %>
            <% elsif person.family and person.family.photo.exists? %>
              <%= image_tag person.family.photo.url(:tn), alt: person.family.name, class: 'no-border' %>
            <% else %>
              <%= image_tag person.gender == 'Female' ? 'clean/womanoutline.tn.png' : 'clean/manoutline.tn.png', alt: person.name %>
            <% end %>
          </a>
        </td>
        <% if @search.business %>
          <td><%= link_to person.business_name, person_path(person, business: true) %></td>
          <td>
            <% if person.business_category.to_s.any? %>
              <%= link_to person.business_category, search_path(business: true, category: person.business_category) %>
            <% end %>
          </td>
        <% else %>
          <td>
            <%= link_to person.name, person_path(id: person) %>
            <% unless person.visible? %>
              <span class="lock-icon">&nbsp;</span>
            <% end %>
          </td>
          <td><%= person.family ? person.family.name : t('search.no_family') %></td>
        <% end %>
        <% if show_birthdays? %>
          <td><%= person.birthday ? person.birthday.strftime('%B %d') : nil %></td>
        <% end %>
        <td>
          <%= render partial: 'people/person_type', locals: {person: person} %>
        </td>
      </tr>
    <% end %>
  </table>

<% end %>

<%= will_paginate @people, params: params %>
