<% content_for :toolbar do %>
  <%= iphone_back_button(new_search_path) %>
  <h1><%= t('search_results') %></h1>
<% end %>

<div class="info">
  <%= t("search.people_found", :count => @count) %>
  <% if @logged_in.admin?(:view_hidden_profiles) and params[:show_hidden].nil? %>
    <%= t("search.not_showing_hidden_people") %>
  <% end %>
</div>

<% if @people and @people.any? %>

  <!--
  <% if @search.show_businesses %>
    <p>
      <label for="category"><%= t('search.business_category') %></label>
      <select id="category" onchange="location.href='?business=true&category='+value">
        <option value=""><%= t('search.show_all') %></option>
        <%= options_for_select @business_categories, params[:category] %>
      </select>
    </p>
  <% end %>
  -->

  <ul>
    <%= render :partial => 'result_items_iphone' %>
  </ul>
<% end %>

<script type="text/javascript">
  function load_results(page) {
    $.get("<%= search_path(params_without_action.merge(:iphoneAjax => true, :format => 'js')) %>&page=" + page, null, function(data){
      $('#more_link').after(data).remove();
    });
  }
</script>
