<% if songs.any? %>
  <table>
    <% songs.each do |song| %>
      <tr>
        <td style="padding-bottom:5px;">
          <% if song.image_small_url.to_s.any? %>
            <%= link_to image_tag(song.image_small_url, :alt => song.title, :class => 'no-border', :width => 75), song %>
          <% end %>
        </td>
        <td style="padding-bottom:5px;">
          <strong><%= link_to h(song.title), song %></strong><br/>
          <%=h song.artists %> | 
          Tags: <%= render :partial => 'tags/tags', :locals => {:object => song} %><br/>
          <%= count = song.attachments.count %>
          <%= count == 1 ? 'attachment' : 'attachments' %><br/>
          <%= render :partial => 'comments/comment_summary', :locals => {:object => song} %>
        </td>
      </tr>
    <% end %>
  </table>
<% else %>
  <p><em>None yet!</em></p>
<% end %>
