<% content_for :subnav do %>
  <%= link_to 'List of Songs', music_path %>
  <%= link_to 'View', @song %>
  <%= link_to 'Delete', delete_song_path(@song), :confirm => 'Are you sure?', :method => 'post' %>
<% end %>

<h1>Edit Song</h1>

<% form_for :song, @song, :html => {:id => 'song'} do |form| %>
  <table>
    <tr>
      <td>
        <label for="song_album">Album:</label>
        <%= form.text_field :album %><br/>
        <label for="song_artists">Artist(s):</label>
        <%= form.text_field :artists %><br/>
        <label for="song_title">Title:</label>
        <%= form.text_field :title %><br/>
        <label for="song_amazon_asin">Amazon ASIN:</label>
        <%= form.text_field :amazon_asin %><br/>
        <label for="song_notes">Notes:</label>
        <%= form.text_area :notes, :rows => 3 %><br/>
        <%= submit_tag 'Save Changes' %>
      </td>
      <td style="padding-left:20px;">
        <%= image_tag 'spinner.gif', :alt => 'Loading', :class => 'no-border', :style => 'display:none;', :id => 'loading' %>
        <div id="search_results">
          <% if @song.image_medium_url.to_s.any? %>
            <%= image_tag @song.image_medium_url, :alt => '' %>
          <% end %>
        </div>
      </td>
    </tr>
  </table>
<% end %>

<%= observe_field :song_title, :url => amazon_search_path %>

<script type="text/javascript">
//<![CDATA[
  function search_amazon() {
    if($('song_amazon_asin').value.strip() != '') return;
    if($('song_album').value.strip() == '' || $('song_artists').value.strip() == '' || $('song_title').value.strip() == '') {
      $('search_results').innerHTML = '';
    }
    new Ajax.Request('<%= amazon_search_path %>', {asynchronous:true, evalScripts:true, parameters:Form.serialize($('song')), onLoading:function(){Element.show('loading')}, onComplete:function(){Element.hide('loading')}});
  }
//]]>
</script>

<%= observe_field :song_album, :url => amazon_search_path, :function => 'search_amazon()', :frequency => 5 %>
<%= observe_field :song_artists, :url => amazon_search_path, :function => 'search_amazon()', :frequency => 5 %>
<%= observe_field :song_title, :url => amazon_search_path, :function => 'search_amazon()', :frequency => 5 %>
<%= observe_field :song_amazon_asin, :url => amazon_grab_path, :with => 'song_amazon_asin', :frequency => 5 %>

<% unless @song.new_record? %>
  <h2>Attachments</h2>
  <% if @song.attachments.any? %>
    <% @song.attachments.each do |attachment| %>
      <%= link_to image_tag('attachment.gif', :alt => 'Attachment', :class => 'icon'), view_song_attachment_path(attachment) %>
      <%= link_to h(attachment.name), view_song_attachment_path(attachment) %>
      (<%= number_to_human_size attachment.file_size %>)
      <%= link_to '[delete]', delete_song_attachment_path(attachment), :class => 'discreet', :confirm => 'Are you sure?', :method => 'post' %>
      <br/>
    <% end %>
  <% else %>
    <p><em>None yet!</em></p>
  <% end %>
  <%= form_tag(add_song_attachment_path(@song), :method => 'post', :multipart => true) %>
    <%= file_field_tag :file %><br/>
    <%= submit_tag 'Upload Attachment' %>
  </form>
<% end %>
