<p>
  <%= form_tag url, :multipart => true, :method => 'put' do %>
    <%= render :partial => 'photo_fields' %>
    <br/>
    <%= I18n.t('photos.please_choose_photo') %><br/>
    <input type="submit" value="<%= I18n.t('photos.upload', :name => name) %>" class="submit">
    <% if defined? delete and delete %>
      <br/>
      <%= link_to I18n.t('photos.remove', :name => h(name)), url, :method => 'delete', :confirm => I18n.t('are_you_sure') %>
    <% end %>
  <% end %>
</p>
