.photo-upload{ data: { 'upload-url' => url, 'upload-verb' => defined?(verb) ? verb : 'PUT', 'upload-field-name' => field_name, 'object-id' => object_id } }
  .form-group.file-upload-group
    %input{ type: 'file', name: html_field_name, class: 'file', accept: 'image/png,image/x-png,image/gif,image/jpeg,image/*', multiple: defined?(multiple) && multiple }
  .photo-error.callout.callout-danger{ style: 'display:none' }
    %h3= t('photos.upload.error')
    .body
    .wrong-type{ style: 'display:none' }
      = t('photos.upload.wrong_type')
  .photo-selected{ style: 'display:none' }
    = icon 'fa fa-arrow-circle-up'
    = t('photos.ready_filename', filename: "<span class='filename'></span>").html_safe
  .progress.progress-striped.active{ style: 'display:none' }
    .progress-bar{ role: 'progressbar', style: 'width: 0%' }
  .form-group.buttons
    = link_to '#', class: 'btn btn-info photo-browse', style: 'display:none' do
      = icon 'fa fa-folder-open-o'
      = t('photos.browse')
    = button_tag class: 'btn btn-success upload-button' do
      = icon 'fa fa-upload'
      = t('photos.upload.button')
    = link_to url, data: { 'confirm-message' => t('are_you_sure') }, class: 'photo-delete btn bg-gray text-red pull-right', style: (defined?(delete) and delete) ? '' : 'display:none' do
      = icon 'fa fa-trash-o'
      = t('photos.remove')
