<h1>Checkin Report</h1>

<p>Pick a date and section:</p>

<% form_tag checkin_report_path, :method => :get do %>
  <p>
    <label for="date">Date:</label>
    <%= text_field_tag :date, @last_sunday_or_wednesday.strftime('%m/%d/%Y'), :size => 10 %> <em>MM/DD/YYYY</em>
  </p>
  <p>
    <label for="time">Time (optional):</label>
    <%= select_tag :time_relevance, options_for_select(%w(before after)) %>
    <%= text_field_tag :time, nil, :size => 10 %>
    <em>HH:MM AM</em>
  </p>
  <p>
    <label for="section">Section:</label>
    <%= select_tag :section, options_for_select(@sections) %>
  </p>
  <p>
    <label for="order">Order:</label>
    <%= select_tag :order, options_for_select(@orders, "`in`") %>
  </p>
  <p><%= submit_tag 'View Report' %></p>
<% end %>