<% if (count = @info.people_count) > 0 %>
  <h2 class="status">Data: <strong class="go">Synchronized</strong> <%= image_tag 'checkmark.png', :alt => 'Up-to-date', :class => 'icon' %></h2>
  <p>There are currently <%= count %> <%= count == 1 ? 'person' : 'people' %>
    in the database (across all sites).</p>
  <% if sync_date = @info.date_of_last_sync %>
    <p>It appears your <%= link_to 'Connector', 'http://beonebody.org/trac/wiki/OneBodyConnector' %>
      last synchronized the database <%= sync_date.strftime('%m/%d/%Y %I:%M %p') %>.</p>
  <% else %>
    <p>Note: There is no recorded "sync date" which could indicate that your
      <%= link_to 'Connector', 'http://beonebody.org/trac/wiki/OneBodyConnector' %> isn't
      working properly (OK if you are synchronizing data by some other means).</p>
  <% end %>
<% else %>
  <h2 class="status">Data: <strong class="stop">None</strong></h2>
  <p>Your database is empty. Please visit
    <%= link_to 'OneBodyConnector', 'http://beonebody.org/trac/wiki/OneBodyConnector' %>
    on the wiki for help setting up a Connector and getting data in your database.</p>
  <p>Note: if you really just want to play with OneBody, you can go to the
    <%= link_to 'Database tab', setup_database_url %> and click "Load Sample Data."</p>
<% end %>