<% form_tag setup_edit_multisite_url do %>
  <p><label for="multisite">Multisite Enabled?</label>
    <%= select_tag :multisite, options_for_select({'Yes' => true, 'No' => false}, Setting.get(:features, :multisite)) %>
    <%= submit_tag 'Save' %></p>
<% end %>

<p>With the Multisite feature disabled, OneBody will always display the default site
  (the site with ID number 1 below).</p>
  
<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Host</th>
    <th>Email Domain</th>
    <th>Virtual Host</th>
    <th>Name From Settings</th>
    <th>People</th>
  </tr>
  <% @sites.each do |site| %>
    <tr <% unless site.enabled? %>class="disabled"<% end %>>
      <td><%= site.id %></td>
      <td><%= site.name %></td>
      <td><%= site.host %></td>
      <td>@<%= site.host %></td>
      <td><%= site.multisite_host %></td>
      <td><%= site.visible_name %></td>
      <td><%= site.count_people %></td>
      <td><%= link_to 'edit', setup_edit_site_url(:id => site) %></td>
      <td><%= link_to 'settings', setup_settings_url(:id => site) %></td>
      <td><%= link_to 'delete', setup_delete_site_url(:id => site, :sure => true), :confirm => 'There is no undo and this will delete ALL data for the entire site!', :method => :post %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to_function image_tag('add_small.gif', :alt => 'Add Site', :class => 'icon') + ' Add Site', "Element.toggle('add_site')" %></p>
<div id="add_site" style="display:none;">
  <% form_for :site, @new_site, :url => setup_edit_site_url do |form| %>
    <%= form.label :name %> <%= form.text_field :name %><br/>
    <%= form.label :host %> <%= form.text_field :host %><br/>
    <%= submit_tag 'Add Site' %>
  <% end %>
</div>