<% @items.each do |item| %>
  <p style="clear:left;">
    <%= image_tag photo_with_size_path(item.record.id, :size => 'small', :type => item.record.class.name.downcase), :style => 'float:left;margin-right:10px;' %>
    <% if item.record.is_a? Person %>
      <%= link_to item.record.name, person_path(item.record) %>
    <% elsif item.record.respond_to? :person %>
      <%= link_to item.record.person.name, person_path(item.record.person) %>
    <% else %>
      <%= link_to item.record.name, person_path(item.record.people.first) %>
    <% end %>
    uploaded a 
    <% if item.record.class.name == 'Picture' %>
      <%= link_to 'picture', picture_path(item.record) %>
    <% else %>
      <%= item.record.class.name %> photo.
    <% end %>
  </p>
<% end %>
