<% unless Setting.get(:features, :ssl) %>
  <% content_for :head do %>
    <%= javascript_include_tag 'md5' %>
    <script type="text/javascript">salt = <%= @salt.inspect %></script>
  <% end %>
<% end %>

<p>
  <strong>Welcome to the site for
  <span style="color:#f00;">members and regular attenders</span>
  of <%= Setting.get(:name, :church) %>.</strong>
  For information about classes, to download sermons, find out what our church believes,
  practices, and so much more, visit our main website:
  <%= link_to Setting.get(:url, :visitor), Setting.get(:url, :visitor) %>.
</p>

<h2>Please sign in.</h2>

<form method="post"
  <% unless Setting.get(:features, :ssl) %>
    onsubmit="$('password_encrypted').value = hex_md5(hex_md5($('password').value) + salt);$('password').value = ''"
  <% end %>
  >
  <%= hidden_field_tag :password_encrypted, nil %>
  <div style="width:150px;float:right;margin:10px;text-align:center;">
    <%= link_to image_tag('help.gif', :alt => 'Help Signing In', :class => 'no-border'), help_path %><br/>
    <%= link_to 'I need help.', :controller => 'help' %>
  </div>
  <p><%= link_to 'Click here', :controller => 'help' %> if you don't know your password.</p>
  <table>
    <tr>
      <td><label for="email">Email Address:</label></td>
      <td><%= text_field_tag :email, @email, :size => 30 %></td>
    </tr>
    <tr>
      <td><label for="password">Password:</label></td>
      <td>
        <%= password_field_tag :password %>
        <%= image_tag 'lock.gif', :alt => 'Secured', :class => 'no-border' %>
        Secured with <% if Setting.get(:features, :ssl) %>SSL<% else %>JavaScript<% end %>.
      </td>
    </tr>
    <tr><td></td>
    <td>
      <span style="color:#f00;">Never share your password with anyone!</span><br/>
      Sharing your password with other people will get you banned from the site.<br/>
      <input type="submit" value="Sign In"/><br/>
      <br/>
      <strong>You may read our Privacy Policy <%= link_to 'here', privacy_policy_path %>.</strong>
    </td></tr>
  </table>
</form>

<script type="text/javascript"> $("<%= @email.to_s.any? ? 'password' : 'email' %>").focus(); </script>
