= form_for @custom_report do |form|

  = error_messages_for(form)
  .form-group
    = form.label :title, t('reports.custom_reports.fields.title')
    = form.text_field :title, class: 'form-control'
  .form-group
    = form.label :category, t('reports.custom_reports.fields.category')
    = form.select :category, [['', nil], [t('reports.custom_reports.fields.category.people'), '1'], [t('reports.custom_reports.fields.category.family'), '2'], [t('reports.custom_reports.fields.category.groups'), '3']], {}, class: 'form-control'
  .form-group
    = form.label :header, t('reports.custom_reports.fields.header')
    = form.text_area :header, rows: 10, cols: 80, class: 'form-control' 
  .form-group
    = form.label :body, t('reports.custom_reports.fields.body')
    = form.text_area :body, rows: 10, cols: 80, class: 'form-control'
  .form-group
    = form.label :footer, t('reports.custom_reports.fields.footer')
    = form.text_area :footer, rows: 5, cols: 80, class: 'form-control'
  .form-group
    = form.label :filters, t('reports.custom_reports.fields.filters')
    = form.text_field :filters, class: 'form-control'
  .form-group
    = form.button t('save'), class: 'btn btn-success'

- content_for :css do
  = stylesheet_link_tag 'editor'

- content_for :js do
  = javascript_include_tag 'editor'
