<%= render :partial => 'administration/checkin_dashboards/subnav' %>

<%= javascript_include_tag 'dragdrop.js' %>

<div style="width:40%;float:right;margin-left:50px;">

  <h1>All Groups</h1>
  
  <p>Expand a group category below to see the groups under it. Drag a group over and drop in a box to the left to add the group to that time.</p>

  <% index = 1 %>
  <% @groups.each do |category, groups| %>
    <h3><%= link_to_function h(category), "Element.toggle('category_#{index}')" %></h3>
    <p style="display:none;" id="category_<%= index %>">
      <% groups.each do |group| %>
        <span id="group_<%= group.id %>" class="draggable"><%=h group.name %></span><br/>
        <%= draggable_element "group_#{group.id}", :revert => true %>
      <% end %>
    </p>
    <% index += 1 %>
  <% end %>
  
</div>

<div style="margin-right:45%;position:relative;" id="times">

  <h1>Checkin Groups</h1>

  <% @times.each_with_index do |time, time_index| %>
  
    <h2><%= link_to_function h(time), "Element.toggle('time_box_#{time_index}')" %></h2>
    
    <div id="time_box_<%= time_index %>">
  
      <ol id="groups_for_time_<%= time.id %>" style="border:1px solid #ccc;min-height:50px;padding:10px 10px 10px 30px;">
        <%= render :partial => 'group', :collection => time.groups.all(:select => 'group_times.id as group_time_id, group_times.print_nametag, groups.*'), :locals => {:time => time} %>
      </ol>
      <%= drop_receiving_element "groups_for_time_#{time.id}",
        :url  => administration_checkin_groups_path,
        :with => "'time_id=#{time.id}&id=' + element.id" %>
      <%= sortable_element "groups_for_time_#{time.id}",
        :url => reorder_administration_checkin_groups_path(:time_id => time.id) %>
        
    </div>
  
  <% end %>

</div>

<script type="text/javascript">
  //times_elm = $('times');
  //Event.observe(window, 'scroll', function() {
  //  var y = document.viewport.getScrollOffsets()[1];
  //  times_elm.style.top = y+'px';
  //});
</script>