<%= form_for @admin, url: administration_admin_path(@admin) do |form| %>
  <table class="members">
    <% unless @admin.template? or !@logged_in.super_admin? %>
      <tr class="detail">
        <td><%= check_box_tag "super_admin", true, @admin.super_admin? %></td>
        <td><%= label_tag 'super_admin', t('admin.super_admin') %></td>
      </tr>
      <tr class="description">
        <td></td>
        <td><%= t('admin.super_admin_about') %></td>
      </tr>
    <% end %>
    <% Admin.privileges_for_show.each do |priv| %>
      <tr class="detail standard">
        <td><%= check_box_tag "privileges[#{priv[:name]}]", true, @admin.flags[priv[:name]], id: priv[:name] %></td>
        <td><%= label_tag priv[:name], priv[:title] %></td>
      </tr>
      <tr class="description standard">
        <td></td>
        <td><%= priv[:about] %></td>
      </tr>
    <% end %>
  </table>
  <p><%= form.submit t('save_changes') %></p>
<% end %>

<script type="text/javascript">
  function checkSuperAdmin(){
    if($('#super_admin').length == 0) return;
    $('.members tr[class~="standard"]').css('display', $('#super_admin').attr('checked') ? 'none' : '');
  };
  $('#super_admin').click(checkSuperAdmin);
  checkSuperAdmin();
</script>
