<% content_for :sidebar do %>
  <%= t('admin.group_administrators_help') %>
<% end %>

<h2><%= t('admin.group_administrators') %></h2>

<table class="spaced">
  <tr>
    <th><%= link_to 'Admin', administration_admins_path(groups: true, sort: 'admin') %></th>
    <th><%= link_to 'Group', administration_admins_path(groups: true, sort: 'group') %></th>
  </tr>
  <% @group_admins.each do |person, group| %>
    <tr>
      <td><%= link_to person.name, person %></td>
      <td><%= link_to group.name, group %></td>
      <td><%= link_to t('edit'), group_memberships_path(group) %></td>
    </tr>
  <% end %>
</table>
