<% content_for :sidebar do %>
  <h2><%= t('admin.administrators') %></h2>
  <% if Site.current.max_admins and Admin.people_count >= Site.current.max_admins %>
    <p><%= t('admin.max_admins_html') %></p>
  <% else %>
    <%= form_tag search_path, remote: true %>
      <%= hidden_field_tag :select_person, true %>
      <p>
        <%= t('admin.add_individual') %><br/>
        <label for="name"><%= t('name') %>:</label> <%= text_field_tag 'name' %>
        <br/>
        <%= submit_tag t('admin.add_person') %>
      </p>
    </form>

    <div id="add_member" style="display:none;">
      <%= form_tag(administration_admins_path) do %>
        <%= select_tag :template_id, options_for_select([['Individual', 0]] + @templates.map { |t| [t.template_name, t.id] }) %>
        <div id="results"></div>
        <p><%= submit_tag t('admin.add_selected') %></p>
      <% end %>
    </div>

    <h3><%= t('admin.templates') %></h3>
    <p><%= t('admin.admin_template_description') %></p>
    <ul class="list">
      <% @templates.each do |template| %>
        <li>
          <%= link_to template.template_name, edit_administration_admin_path(template.id) %>
          (<%= template.people_count %>)
          <%= link_to '', administration_admin_path(template.id), method: :delete, data: { confirm: t('are_you_sure') }, class: 'delete-icon' %>
        </li>
      <% end %>
    </ul>

    <p><%= link_to_function t('admin.new_admin_template'), "$('#new-template-form').show();$('#template_name')[0].focus();$(this).parent().hide();", class: 'add-icon' %></p>
    <%= form_tag administration_admins_path, id: 'new-template-form', style: 'display:none;' do %>
      <p>
        <%= t('admin.new_admin_template') %><br/>
        <label for="template_name"><%= t('name') %>:</label> <%= text_field_tag 'template_name' %>
        <br/>
        <%= submit_tag t('admin.add_template') %><br/>
      </p>
    <% end %>
  <% end %>

  <h3><%= t('admin.group_administrators') %></h3>
  <p><%= t('admin.group_administrators_description') %></p>
  <p><%= link_to t('admin.manage_group_administrators'), administration_admins_path(groups: true), class: 'right-icon' %></p>

<% end %>

<h3><%= t('admin.admin_count', count: @people.length) %></h3>

<table class="members">
  <tr>
    <th></th>
    <th><%= link_to t('name'), '?order=name' %></th>
    <th><%= link_to t('admin.template'), '?order=template' %></th>
  </tr>
  <% @people.each do |person| %>
    <tr class="admin" id="person<%= person.id %>">
      <td class="icon">
        <%= content_tag :a, href: person_path(person) do %>
          <%= render partial: 'people/thumbnail', locals: {person: person} %>
        <% end %>
      </td>
      <td><%= link_to person.name, edit_administration_admin_path(person.admin_id) %></td>
      <td>
        <% if person.admin.super_admin? %>
          <%= t('admin.super_admin') %>
        <% elsif person.admin.template_name %>
          <%= person.admin.template_name %>
        <% end %>
      </td>
      <td class="action">
        <%= link_to '', administration_admin_path(person.admin, person_id: person.id), remote: true, method: :delete, data: { confirm: t('are_you_sure') }, class: 'delete-icon' %>
      </td>
    </tr>
  <% end %>
</table>
