<% if @item.person %><p><%= t('Who') %>: <%= link_to @item.person.name, @item.person %></p><% end %>
<table>
  <% @item.object_changes.to_a.each do |key, value| %>
  <tr>
      <td><%= key %>:</td>
      <td>
        <% if value.is_a?(Array) %>
          <%= t('Was') %>: <%= log_item_change_value(@item, key, value.first) %><br/>
          <%= t('Now') %>: <%= log_item_change_value(@item, key, value.last) %>
        <% else %>
          <%= value %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
