<% content_for :subnav do %>
  <li><%= link_to 'Admin Home', admin_path %></li>
<% end %>

<h1>Log</h1>

<p><%= link_to_function 'Filtering Options &raquo;', "Element.toggle('log_options')" %></p>

<form id="log_options" style="display:none;">
  <strong>Show:</strong>
  <select name="reviewed"><%= options_for_select [['New Only', 'hidden'], ['New and Reviewed', 'visible']], session[:admin_log] ? session[:admin_log][:reviewed] : nil %></select>
  <select name="nonflagged"><%= options_for_select [['Flagged Only', 'hidden'], ['Flagged and Not Flagged', 'visible']], session[:admin_log] ? session[:admin_log][:nonflagged] : nil %></select><br/>
  <strong>Date Range</strong>
  (date format:
  <span style="background-color:#ffc;"><%= DateTime.now.to_s(:date) %></span> or
  <span style="background-color:#ffc;"><%= DateTime.now.to_s %></span>)
  <label for="date_from">From:</label>
  <input name="date[from]" id="date_from" size="15" value="<%= session[:admin_log] && session[:admin_log][:date] ? session[:admin_log][:date][:from] : nil %>"/>
  <label for="date_to">To:</label>
  <input name="date[to]" id="date_to" size="15" value="<%= session[:admin_log] && session[:admin_log][:date] ? session[:admin_log][:date][:to] : nil %>"/>
  <br/>
  <%= submit_tag 'Update Display' %>
</form>

<%= will_paginate @items %>

<% if @items.any? %>
  <%= form_tag batch_administration_log_items_path, :method => 'put' %>
    <table style="width:100%;">
      <tr>
        <th><input type="checkbox" onclick="var checked=$('check_all').checked;$$('.log_item_checkbox').each(function(e){e.checked=checked});" class="checkbox" id="check_all"/></th>
        <th></th>
        <th>Type</th>
        <th>What</th>
        <th>When</th>
        <th>Changes</th>
      </tr>
      <% @items.each do |item| %>
        <tr>
          <td style="font-size:smaller;line-height:13px;">
            <% if item.reviewed_on %>
              <%= link_to 'reviewed', person_path(item.reviewed_by_id) %>
              on <%= item.reviewed_on.to_s %>
            <% else %>
              <%= check_box_tag 'log_items[]', item.id, nil, :class => 'checkbox log_item_checkbox' %>
            <% end %>
          </td>
          <td>
            <% if item.flagged_on %>
              <%= image_tag('flag_red.gif', :alt => 'Flagged', :class => 'icon') %>
            <% end %>
          </td>
          <td><%=h item.loggable_type %></td>
          <td>
            <% if item.deleted? %>
              <span style="text-decoration:line-through;"><%=h item.name %></span>
              (deleted)
            <% else %>
              <%= link_to h(item.name), log_item_path(item), :confirm => item.loggable_type == 'Message' ? 'This message may be private. Are you sure you want to view it?' : nil %>
            <% end %>
          </td>
          <td><%= item.created_at.to_s %></td>
          <td><%= link_to_remote 'changes', :url => administration_log_item_path(item), :method => :get %></td>
        </tr>
        <tr id="changes<%= item.id %>" style="display:none;" class="changes">
          <td colspan="5" id="changes<%= item.id %>_content"></td>
        </tr>
      <% end %>
    </table>
    <p><%= submit_tag 'Mark Selected as Reviewed' %></p>
  </form>
<% else %>
  <p><em>There is nothing to show. Check the Filtering Options to expand your query.</em></p>
<% end %>
