<% content_for :subnav do %>
  <li><%= link_to 'Admin Home', admin_path %></li>
<% end %>

<h1>Log</h1>

<p><%= link_to_function 'Filtering Options &raquo;', "Element.toggle('log_options')" %></p>

<form id="log_options" style="display:none;">
  <strong>Show:</strong>
  <select name="reviewed"><%= options_for_select [['New Only', 'hidden'], ['New and Reviewed', 'visible']], session[:admin_log] ? session[:admin_log][:reviewed] : nil %></select>
  <select name="nonflagged"><%= options_for_select [['Flagged Only', 'hidden'], ['Flagged and Not Flagged', 'visible']], session[:admin_log] ? session[:admin_log][:nonflagged] : nil %></select><br/>
  <strong>Date Range</strong>
  (date format:
  <span style="background-color:#ffc;"><%= DateTime.now.to_s(:date) %></span> or
  <span style="background-color:#ffc;"><%= DateTime.now.to_s %></span>)
  <label for="date_from">From:</label>
  <input name="date[from]" id="date_from" size="15" value="<%= session[:admin_log] && session[:admin_log][:date] ? session[:admin_log][:date][:from] : nil %>"/>
  <label for="date_to">To:</label>
  <input name="date[to]" id="date_to" size="15" value="<%= session[:admin_log] && session[:admin_log][:date] ? session[:admin_log][:date][:to] : nil %>"/>
  <br/>
  <%= submit_tag 'Update Display' %>
</form>

<%= will_paginate @items %>

<% if @items.any? %>
  <%= form_tag batch_administration_log_items_path, :method => 'put' %>
    <table style="width:100%;">
      <tr>
        <th><input type="checkbox" onclick="var checked=$('check_all').checked;$$('.log_item_checkbox').each(function(e){e.checked=checked});" class="checkbox" id="check_all"/></th>
        <th></th>
        <th></th>
        <th>Type</th>
        <th>What</th>
        <th>When</th>
        <th>Who</th>
        <th></th>
        <th><%= link_to_function 'Changes', "$$('.changes').each(function(e){Element.toggle(e)})"%>
      </tr>
      <% @items.each do |item| %>
        <tr>
          <td style="font-size:smaller;line-height:13px;">
            <% if item.reviewed_on %>
              reviewed by <%= link_to h(item.reviewed_by.name), person_path(:id => item.reviewed_by) %>
              on <%= item.reviewed_on.to_s %>
            <% else %>
              <%= check_box_tag 'log_items[]', item.id, nil, :class => 'checkbox log_item_checkbox' %>
            <% end %>
          </td>
          <td>
            <% if item.flagged_on %>
              <%= image_tag('flag_red.gif', :alt => 'Flagged', :class => 'icon') %>
            <% end %>
          </td>
          <td>
            <% if image_url = item.object_image_url %>
              <img src="<%= image_url %>" class="no-border"/>
            <% end %>
          </td>
          <td><%=h item.loggable_type %></td>
          <td>
            <% if item.object_description %>
              <%= link_to item.object_description, item.object_url, :confirm => (item.object.is_a? Message and item.object.to ? 'This is a private message. Do not invade the privacy of others unless you believe this message to be inappropriate.' : nil) %><br/>
              <%=h item.object_excerpt %>
            <% elsif item.object %>
              <%=h item.name %>
            <% else %>
              <span style="text-decoration:line-through;"><%=h item.name %></span>
              <% if item.deleted? %>(deleted)<% end %>
            <% end %>
          </td>
          <td><%= item.created_at.to_s %></td>
          <td style="width:32px;">
            <% if item.person %>
              <a href="<%= person_path(item.person) %>">
                <%= render :partial => 'people/thumbnail', :locals => {:person => item.person} %>
              </a>
            <% end %>
          </td>
          <td>
            <% if item.person %>
              <%= link_to h(item.person.name), person_path(:id => item.person) %>
              <% if item.person.admin? %>(admin)<% end %>
            <% end %>
          </td>
          <td><%= link_to_function '[changes]', ((item.object.is_a? Message and item.object.to) ? "if(confirm('This is a private message. Do not invade the privacy of others unless you believe this message to be inappropriate.'))Element.toggle('changes#{item.id}')" : "Element.toggle('changes#{item.id}')") %></td>
        </tr>
        <tr id="changes<%= item.id %>" style="display:none;background-color:#eee;" class="changes">
          <td colspan="7">
            <table>
              <% item.object_changes.to_a.each do |key, value| %>
                <% unless key =~ /_id$/ %>
                  <tr><td><%=h key %>:</td><td><%=h value %></td></tr>
                <% end %>
              <% end %>
            </table>
          </td>
        </tr>
      <% end %>
    </table>
    <p><%= submit_tag 'Mark Selected as Reviewed' %></p>
  </form>
<% else %>
  <p><em>There is nothing to show. Check the Filtering Options to expand your query.</em></p>
<% end %>
