= render partial: 'title'
.row
  .col-md-9
    %table.table
      %thead
        %tr
          - @report.headings.each do |heading|
            %th= heading
          = render partial: 'body'
  .col-md-3
    .box.box-info.hidden-print
      .box-heading
      .box-body
        = form_for @report, as: :options, url: url_for, html: {method: :get} do |f|
          .form-group
            = f.label :from_date, t('reports.from_date')
            = report_date_field f, :from_date, @report.from_date
          .form-group
            = f.label :thru_date, t('reports.thru_date')
            = report_date_field f, :thru_date, @report.thru_date
          .form-group
            = f.label t('reports.group')
            = f.collection_select :group_id, Group.approved.order(:name), :id, :name, { prompt: t('reports.group_select') }, { class: 'form-control' }
          .form-group
            = f.submit t('reports.submit'), class: 'btn btn-info'
            = render partial: 'submit'

= render partial: 'count'
