.alert.alert-danger
  %h4
    = icon 'fa fa-exclamation-circle'
    = t('admin.dashboard.tls_config_alert.heading')
  %p= t('admin.dashboard.tls_config_alert.intro')
  - if email_setup
    %p
      %strong= t('admin.dashboard.tls_config_alert.email_setup_note')
  - if proxy_missing_protocol_header
    %p
      %em= t('admin.dashboard.tls_config_alert.proxy_missing_protocol_header_note_html')
  %p= link_to t('admin.dashboard.tls_config_alert.button'), 'https://github.com/seven1m/onebody/wiki/SSL-Setup'
