!!!
%html.lockscreen.full-height
  %head
    %meta{charset: "UTF-8"}
    %title
      OneBody
      - if @title.present?
        == | #{@title}
    %meta{content: "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", name: "viewport"}
    = yield(:meta)
    = stylesheet_link_tag 'application'
    = yield(:css)
    = csrf_meta_tags
    = render partial: 'layouts/favicons'
    %link{href: "//fonts.googleapis.com/css?family=Roboto:400,100,300", rel: "stylesheet"}
    /[if lt IE 9]
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    = yield(:head)
  %body.checkin
    = yield
    - content_for :js do
      :javascript
        $(function() {
          $(".center").center();
          $(window).resize(function() {
            $(".center").center();
          });
        });
    = javascript_include_tag 'checkin'
    = yield(:js)
    = analytics_js
