!!!
%html
  %head
    %meta{charset: "UTF-8"}
    %title
      CHURCH.IO
      - if @title.present?
        == | #{@title}
    %meta{content: "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", name: "viewport"}
    = stylesheet_link_tag 'application'
    %link{href: "//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,300italic,400italic,600italic|Abel", rel: "stylesheet"}
    /[if lt IE 9]
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  %body.skin-blue
    / header logo: style can be found in header.less
    %header.header
      %a.logo{href: "#"} CHURCH.IO
      / Header Navbar: style can be found in header.less
      %nav.navbar.navbar-static-top{role: "navigation"}
        / Sidebar toggle button
        %a.navbar-btn.sidebar-toggle{"data-toggle" => "offcanvas", href: "#", role: "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        .navbar-right
          = render 'layouts/navbar_right'
        %h3.hidden-sm.hidden-xs{style: "float:right;font-size: 18px; line-height: 50px; padding: 0 10px; font-family: Abel, Helvetica, Arial, sans-serif; font-weight: normal; height: 50px; display: block; margin: 0; color: #fff;"} Cedar Ridge Christian Church
    .wrapper.row-offcanvas.row-offcanvas-left
      / Left side column. contains the logo and sidebar
      %aside.left-side.sidebar-offcanvas
        / sidebar: style can be found in sidebar.less
        %section.sidebar
          / Sidebar user panel
          .user-panel
            .pull-left.image
              = avatar_tag @logged_in, class: 'img-circle'
            .pull-left.info
              %p Hello, Tim
              %a{href: "#"}
                %i.fa.fa-circle.text-success
                Online
          / search form
          %form.sidebar-form{action: "#", method: "get"}
            .input-group
              %input.form-control{name: "q", placeholder: "Search...", type: "text"}
              %span.input-group-btn
                %button#search-btn.btn.btn-flat{name: "seach", type: "submit"}
                  %i.fa.fa-search
          / /.search form
          / sidebar menu: : style can be found in sidebar.less
          %ul.sidebar-menu
            %li
              %a{href: "#"}
                %i.fa.fa-home
                %span Home
                %small.badge.pull-right.bg-green 12 new
            %li
              = link_to @logged_in do
                %i.fa.fa-user
                %span Profile
            %li
              %a{href: "#"}
                %i.fa.fa-group
                %span Groups
                %small.badge.pull-right.bg-green 2 new
            %li.treeview
              %a{href: "#"}
                %i.fa.fa-archive
                %span Directory
                %i.fa.fa-angle-left.pull-right
              %ul.treeview-menu
                %li
                  %a{href: "#"}
                    %i.fa.fa-angle-double-right
                    Business Directory
                %li
                  %a{href: "#"}
                    %i.fa.fa-angle-double-right
                    Printed Directory
                %li
                  %a{href: "#"}
                    %i.fa.fa-angle-double-right
                    Advanced Search
            %li
              %a{href: "#"}
                %i.fa.fa-cogs
                %span Admin
                %small.badge.pull-right.bg-orange 2 alerts
        / /.sidebar
      / Right side column. Contains the navbar and content of the page
      %aside.right-side
        - if header = yield(:header).presence
          = header
        - else
          %section.content-header
            = breadcrumbs
            %h1= @title
            -#Tim Morgan
            -#%small
              -#%a{href: "#"} Tim &amp; Jennie Morgan
        %section.content
          = yield
    = javascript_include_tag 'application'
