<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <title><%=h Setting.get(:name, :site) %></title>
  <script type="text/javascript" src="http://www.google.com/jsapi"></script>
  <script type="text/javascript"> google.load("jquery", "1.3.2"); </script>
  <script src="/javascripts/jqtouch/jqtouch.min.js" type="application/x-javascript" charset="utf-8"></script>
  <style type="text/css" media="screen">@import "/stylesheets/jqtouch/jqtouch.min.css";</style>
  <style type="text/css" media="screen">@import "/stylesheets/jqtouch/themes/apple/theme.min.css";</style>
  <%= stylesheet_link_tag 'iphone' %>
  <%= yield :head %>
  <script type="application/x-javascript" charset="utf-8">
    $.jQTouch({
      icon: 'jqtouch.png',
      statusBar: 'black-translucent'//,
      //preloadImages: [
      //  '/stylesheets/jqtouch/themes/apple/img/chevron_white.png',
      //  '/stylesheets/jqtouch/themes/apple/img/bg_row_select.gif',
      //  '/stylesheets/jqtouch/themes/apple/img/back_button_clicked.png',
      //  '/stylesheets/jqtouch/themes/apple/img/button_clicked.png'
      //]
    });
  </script>
</head>
<body>
  <div class="current" id="home">
    <div class="toolbar"><%= yield :toolbar %></div>
    <%= notice %>
    <%= yield %>
  </div>
</body>
</html>
