<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <title><%=h Setting.get(:name, :site) %></title>
  <%= javascript_include_tag 'jquery-1.3.2.min.js', 'jqtouch/jqtouch.min.js' %>
  <%= stylesheet_link_tag 'jqtouch/jqtouch.min.css', 'jqtouch/themes/apple/theme.min.css', 'iphone' %>
  <%= yield :head %>
  <script type="application/x-javascript" charset="utf-8">
    $.jQTouch({
      icon: 'jqtouch.png',
      statusBar: 'black-translucent'//,
      //preloadImages: [
      //  '/stylesheets/jqtouch/themes/apple/img/chevron_white.png',
      //  '/stylesheets/jqtouch/themes/apple/img/bg_row_select.gif',
      //  '/stylesheets/jqtouch/themes/apple/img/back_button_clicked.png',
      //  '/stylesheets/jqtouch/themes/apple/img/button_clicked.png'
      //]
    });
  </script>
</head>
<body>
  <div class="current" id="home">
    <div class="toolbar"><%= yield :toolbar %></div>
    <%= notice %>
    <%= yield %>
  </div>
</body>
</html>
