<% if content = render_page_content('system/sign_up_verify') %>
  <%= content %>
<% else %>
  <p>
    <%= t('accounts.verify_who_you_are') %>
  </p>

  <ul class="list">
    <li>
      <%= link_to t('accounts.verify_by_email'), new_account_path(email: true) %><br/>
      <%= t('accounts.verify_by_email_message') %>
    </li>
    <li>
      <%= link_to t('accounts.verify_by_phone'), new_account_path(phone: true) %><br/>
      <%= t('accounts.verify_by_phone_message') %>
    </li>
    <li>
      <%= t('accounts.call_office', office_phone: Setting.get(:contact, :community_office_phone)) %>
    </li>
  </ul>
<% end %>
