<h2><%= @person.name %></h2>
<%= form_for @person, url: person_account_path(@person) do |form| %>
  <%= error_messages_for(form) %>
  <p>
    <%= form.label :person_email, t('session.email_address') %>
    <%= form.text_field :email, style: 'border:1px solid #ccc;font-size:20pt;width:500px;' %><br/>
    <strong class="very-strong"><%= t('accounts.change_email_warning', person: @person == @logged_in ? t('accounts.you_use') : @person.name + ' ' + t('accounts.uses')) %></strong>
    <br/>
    <%= form.label :person_password, t('session.password') %>
    <%= form.password_field :password %><br/>
    <% if @person.encrypted_password %>
      <%= t('accounts.leave_blank') %><br/>
    <% end %>
    <%= form.label :password_confirmation, t('session.password_confirm') %>
    <%= form.password_field :password_confirmation %><br/>
    <%= submit_tag t('save_changes') %>
  </p>
<% end %>
