<%= javascript_include_tag('rsa/jsbn', 'rsa/prng4', 'rsa/rng', 'rsa/rsa', 'rsa/base64', :cache => 'rsa') %>

<script type="text/javascript">
  function encrypt_passwords() {
    var rsa = new RSAKey();
    rsa.setPublic('<%= @public_modulus %>', '<%= @public_exponent %>');
    $('encrypted_password').value = hex2b64(rsa.encrypt($('password').value));
    $('password').value = '';
    $('encrypted_password_confirmation').value = hex2b64(rsa.encrypt($('password_confirmation').value));
    $('password_confirmation').value = '';
    return true
  }
</script>

<% content_for :subnav do %>
  <li><%= link_to image_tag('eye.png', :alt => 'View Profile', :class => 'icon') + ' View Profile', person_path(@person) %></li>
<% end %>

<h1><%=h @person.name %></h1>
<% form_for @person, :url => person_account_path(@person), :html => {:onsubmit => "return encrypt_passwords()"} do |form| %>
  <%= hidden_field_tag :encrypted_password %>
  <%= hidden_field_tag :encrypted_password_confirmation %>
  <%= form.error_messages %>
  <p>
    <label for="person_email">Email Address:</label>
    <%= form.text_field :email, :style => 'border:1px solid #ccc;font-size:20pt;width:500px;' %><br/>
    <strong class="very-strong">After this change, all email from this site will be
    sent to this address. It will also be the address
    <%= @person == @logged_in ? 'you use' : @person.name + ' uses' %> to
    sign into this site.</strong>
    <br/>
    <label for="password">Password:</label>
    <%= password_field_tag :password, nil %><br/>
    Leave these fields blank if you don't want to change your password.<br/>
    <label for="password_confirmation">Password (confirm):</label>
    <%= password_field_tag :password_confirmation, nil %><br/>
    <%= submit_tag 'Save Changes' %>
  </p>
<% end %>
