<h2><%= @person.name %></h2>
<%= form_for @person, url: person_account_path(@person) do |form| %>
  <%= error_messages_for(form) %>
  <p>
    <label for="person_email"><%= t('session.email_address') %></label>
    <%= form.text_field :email, style: 'border:1px solid #ccc;font-size:20pt;width:500px;' %><br/>
    <strong class="very-strong"><%= t('accounts.change_email_warning', person: @person == @logged_in ? t('accounts.you_use') : @person.name + ' ' + t('accounts.uses')) %></strong>
    <br/>
    <label for="password"><%= t('session.password') %></label>
    <%= password_field_tag :password, nil %><br/>
    <% if @person.encrypted_password %>
      <%= t('accounts.leave_blank') %><br/>
    <% end %>
    <label for="password_confirmation"><%= t('session.password_confirm') %></label>
    <%= password_field_tag :password_confirmation, nil %><br/>
    <%= submit_tag t('save_changes') %>
  </p>
<% end %>
