<% if Setting.get(:features, :sign_up) %>
  <h2>Create Account</h2>
  <% form_for Person.new, :url => account_path, :method => 'post' do |form| %>
    <%= form.error_messages %>
    <p>
      <%= form.label :email %>        <%= form.text_field :email %><br/>
      <%= form.label :first_name %>   <%= form.text_field :first_name %><br/>
      <%= form.label :last_name %>    <%= form.text_field :last_name %><br/>
      <%= form.label :gender %>       <%= form.select :gender, [''] + %w(Male Female) %><br/>
      <%= text_field_tag :phone, nil, :id => 'dummy_phone' %>
      <%= form.submit 'Create Account' %>
    </p>
  <% end %>
<% else %>
  <p>This site does not allow people to sign up. Instead, you must either verify your
  already-existing account information or contact <%= Setting.get(:contact, :community_office_phone) %>.</p>
<% end %>

<h2>Verify Account</h2>

<%= render :partial => 'how_to_verify' %>

<style type="text/css" media="screen">
  #dummy_phone { display: none; }
</style>
