<h1><%= t('accounts.verify_by_email') %></h1>
<p>
  <%= t('accounts.enter_your_email') %>
</p>
<%= form_tag account_path, :method => 'post' do %>
  <p>
    <label for="email"><%= t('accounts.type_your_email') %>:</label>
    <%= text_field_tag :email, params[:email] == 'true' ? '' : params[:email] %>
  </p>
  <p><%= submit_tag t('accounts.verify_email') %></p>
<% end %>

