<%= form_tag account_path, :method => 'post' do %>
  <p>
    <label for="name"><%= t('accounts.your_full_name') %>:</label>
    <%= text_field_tag :name %><br/>
    <label for="email"><%= t('accounts.your_email') %>:</label>
    <%= text_field_tag :email %><br/>
    <label for="phone"><%= t('accounts.your_phone') %>:</label>
    <em><%= t('accounts.your_phone_description') %></em><br/>
    <%= text_field_tag :phone %><br/>
    <label for="birthday"><%= t('accounts.your_birthday') %>:</label>
    <%= text_field_tag :birthday, t('accounts.date_format'), :onfocus => "if(this.value=='" + t('accounts.date_format') + "')this.value=''", :onblur => "if(this.value=='')this.value='" + t('accounts.date_format') + "'"%>
    <em>Year required</em><br/>
    <label for="notes"><%= t('accounts.your_situation') %>:</label>
    <%= t('accounts.your_situation_description') %><br/>
    <%= text_area_tag :notes, nil, :rows => 3 %><br/>
    <%= submit_tag t('submit') %>
<% end %>
