<% form_tag account_path, :method => 'post' do %>
  <p>
    <label for="name"><%= I18n.t('accounts.your_full_name') %>:</label>
    <%= text_field_tag :name %><br/>
    <label for="email"><%= I18n.t('accounts.your_email') %>:</label>
    <%= text_field_tag :email %><br/>
    <label for="phone"><%= I18n.t('accounts.your_phone') %>:</label>
    <em><%= I18n.t('accounts.your_phone_description') %></em><br/>
    <%= text_field_tag :phone %><br/>
    <label for="birthday">Birthday with Year (required):</label>
    <%= text_field_tag :birthday, I18n.t('accounts.date_format'), :onfocus => "if(this.value=='" + I18n.t('accounts.date_format') + "')this.value=''", :onblur => "if(this.value=='')this.value='" + I18n.t('accounts.date_format') + "'"%>
    <em>Year required</em><br/>
    <label for="notes"><%= I18n.t('accounts.your_situation') %>:</label>
    <%= I18n.t('accounts.your_situation_description') %><br/>
    <%= text_area_tag :notes, nil, :rows => 3 %><br/>
    <%= submit_tag I18n.t('submit') %>
<% end %>
