<p>
  <%= t('accounts.code_be_careful') %>
</p>

<form method="post">
  <%= hidden_field_tag :id, params[:id] %>
  <p><label for="code"><%= t('accounts.enter_code') %>:</label>
  <%= text_field_tag :code, params[:code] %></p>
  <p><%= submit_tag t('accounts.check_code') %></p>
</form>
