<%= render :partial => 'administration/checkin/dashboards/subnav' %>

<% content_for :sidebar do %>
  <h1>Check-In Admin</h1>
  <% form_remote_tag :url => search_path,
    :before  => "$('family').update('');$('barcode').update('');$('notice').hide();",
    :success => "results_updated()" do |form| %>
    <%= hidden_field_tag :select_family, true %>
    <p>
      <%= label_tag :family_name, 'Type all or part of the family name:' %>
      <%= text_field_tag :family_name %>
    </p>
    <p>
      <%= submit_tag 'Search' %>
      <%= link_to 'clear', administration_checkin_dashboard_path %>
    </p>
  <% end %>
  <p>
    <%= link_to image_tag('add_small.gif', :alt => 'Add Family', :class => 'icon'), new_family_path(:compact => true, :people => true, :barcode => true) %>
    <%= link_to 'Add Family', new_family_path(:compact => true, :people => true, :barcode => true) %>
  </p>
<% end %>

<div style="width:250px;float:left;">
  <div id="results"></div>
  <div id="no_families_found" style="display:none;"><em>no families found</em></div>
  <div id="barcode"></div>
</div>

<div style="margin-left:300px;">
  <div id="notice" style="display:none;"></div>
  <div id="family"></div>
</div>

<div id="select_family_form"></div> <%# not really used - just there so the rjs doesn't error #%>

<script type="text/javascript">
  function results_updated() {
    setTimeout("var fams = $$('#results input'); if(fams.length == 1) select_family(fams[0].value)", 1);
  }
  function select_family(id) {
    new Ajax.Request(<%= families_path.inspect %> + '/' + id + '?barcode_entry=true&include_people=true&include_contact_details=true&include_alerts=true&include_location=true', {method: 'get'});
  };
  $('family_name').value = '';
  $('family_name').focus();
</script>
